.gnb_bg {
	display: none;
}
.gnb {
	position: relative;
	display: flex;
    width: calc(100% - 243px);
	> ul {
		display: none;
		@include breakpoint($lg){
			display: flex;
			max-width: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 0 50px;
			> li {
				// flex: 1;
				> a {
					display: block;
					width: 100%;
					white-space:nowrap;
					width: 100%;
					// color: #fff;
					color: #1a1a1a;
					text-align: center;
					height: 72px;
					line-height: 72px;
					font-size: rem(24);
					font-weight: 500;
					// padding: 0 .75em;
					&.on {
						& + .depth2 {
							display: flex;
							justify-content: space-between;
							// background-color: rgba(19, 21, 71, 0.95);
							background: #fff;
							&::before,
							&::after {
								content: "";
								display: block;
								width: 50%;
								height: 100%;
								// background-color: rgba(19, 21, 71, 0.95);
								background-color: #fff;
								position: absolute;
								top: 0;
							}
							&::before {
								left: -50%;
							}
							&::after {
								right: -50%;
							}
						}
					}
				}
				&:hover,
				&.on,
				&.active {
					> a {
						color: #005596;
						span {
							display: inline-block;
							position: relative;
							height: 60px;
							&::before {
								content: "";
								display: block;
								position: absolute;
								bottom: 0;
								left: 0;
								background-color: #005596;
								width: 100%;
								height: 3px;
							}
						}
					}
				}
				&.menu01 {
					.depth2 {
						> ul {
							flex-wrap: inherit;
							> li {
								flex-basis: calc(100% / 6);
							}
						}
					}
				}
				&.menu02 {
					> ul {
						width: calc(100% - 240px - 50px);
					}
				}
			}
			.depth2 {
				display: none;
				position: absolute;
				//top: 60px;
				top: 72px;
				left: 0;
				width: 100%;
				z-index: 99;								
				> ul {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					padding-left: 12%;
					margin: 15px 0;
					> li {
						flex-basis: calc(100% / 5);
						padding: 15px 0;
						> a {
							display: inline-block;
							font-size: rem(20);
							font-weight: 500;
							// color: #fff;
							color: #17294D;
						}
						&:hover,
						&.on,
						&.active {
							> a {
								//color: $point;
							}
						}
					}
				}
				.e {
					width: 376px;
					padding: 35px 48px;
					// background-color: rgba(177, 193, 231, 0.1);
					background: #F3F7F9;
					.img {
						padding-top: 56.2%;
						display: block;
						height: 1px;
						background-repeat: no-repeat;
						background-position: 50%;
						background-size: cover;
					}
					.txt {
						width: 100%;
						@include ellipsis;
						color: #fff;
						margin-top: 8px;
						text-align: center;
					}
					a {
						display: block;
						// & + a {
						// 	margin-top: 20px;
						// }
					}
				}
			}
			.depth3 {
				padding-top: 5px;
				> ul {
					> li {
						> a {
							position: relative;
							display: inline-block;
							// color: #B1C1E7;
							color: #4d4d4d;
							font-weight: 400;
							padding: 1px 0;
							&:hover,
							&.on,
							&.active {
								// color: #fff;
								color: #005596;
								text-decoration: underline;
							}
						}
						&.active {
							> a {
								// color: #fff;
								color: #005596;
								font-weight: 500;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.gnb-btn-wrap {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;
		gap: 0 24px;
		margin-top: 12px;
		@include breakpoint($smd) {
			margin-top: -24px;
			gap: 0 16px;
		}
		@include breakpoint($sm) {
			margin-top: -18px;
		}
		> .search {
			width: 48px;
			height: 48px;
			background: #005596;
			border-radius: 50%;
			@include breakpoint($sm) {
				width: 36px;
				height: 36px;
			}
		}
	}
	button.all-nav-toggle {
		// padding-left: 8%;
		// @include breakpoint($md) {
		// 	padding-left: 4%;
		// }
		width: 48px;
		height: 48px;
		@include breakpoint($smd) {
			width: 36px;
			height: 36px;
		}
	}
	.all-nav-toggle {
		&::before {
			@include font-ico-outline('\e5d2');
			color: #005596;
			font-size: 36px;
		}
		@include breakpoint($smd){
			//display: none;
		}
	}
	
}

@include breakpoint($lg 1500px){
	.gnb > ul {
		//width: 540px;
		> li > a {
			font-size: rem(20);
		}
	}
	#header {
		.g-info {
			.global {
				// margin-left: 30px;
				padding-left: 20px;
			}
		}
	}
}
// .mobileGnb {
// 	@include breakpoint($lg){
// 		display: none;
// 	}
// 	.m-all-nav-toggle {
// 		position: absolute;
// 		top: 0;
// 		right: 60px;
// 		width: $m-header-height;
// 		height: $m-header-height;
// 		&::before {
// 			@include font-ico-outline('\e5d2');
// 			color: #fff;
// 			font-size: 32px;
// 		}
// 	}
// 	&__set {
// 		display: none;
// 		.mobileGnb-close {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			// width: $m-header-height;
// 			width: $m-header-height;
// 			height: $m-header-height;
// 			line-height: $m-header-height;
// 			&::before {
// 				@include font-ico('\e5cd');
// 				font-size: 34px;
// 				color: #fff;
// 				margin-top: 12px;
// 			}
// 		}
// 		&.active {
// 			position: fixed;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 			width: 100%;
// 			height: 100vh;
// 			background-color: $point;
// 			z-index: 99;
// 			.top {
// 				height: $m-header-height;
// 				line-height: $m-header-height;
// 				span {
// 					font-size: 20px;
// 					display: block;
// 					padding-left: 10px;
// 				}
// 			}
// 		}
// 	}	
// 	&__nav {
// 		position: relative;
// 		> ul {
// 			width: 140px;
// 			> li {
// 				> a {
// 					display: block;
// 					color: #fff;
// 					padding: 16px 24px;
// 					font-size: rem(18);
// 					border-bottom: 1px solid #233B76;
// 				}
// 				.depth2 {
// 					display: none;
// 					.e {
// 						display: none;
// 					}
// 				}
// 				&.active {
// 					> a {
// 						color: $point;
// 						background-color: #fff;
// 						border-bottom: none;
// 					}
// 					.depth2 {
// 						display: block;
// 						position: absolute;
// 						top: 0;
// 						right: 0;
// 						width: calc(100% - 140px);
// 						height: calc(100vh - 60px);
// 						overflow-y: auto;
// 						z-index: 9;
// 						padding: 24px;
// 						background-color: #fff;
// 						> ul {
// 							> li {
// 								margin-bottom: 15px;
// 								> a {
// 									display: block;
// 									font-weight: 500;
// 									color: $point;
// 									padding: 2px 0;
// 								}
// 							}
// 						}
// 					}
// 					.depth3 {
// 						> ul {
// 							li {
// 								a {
// 									color: #666;
// 									font-size: rem(14);
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }