//navigation
.navigation {
	.nav-stiky & {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 100;
		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background-color: $black;
			position: absolute;
			bottom: -1px;
			left: 0;
			
		}
	}
	.top-page-toolbar {
		// display: none;
		.nav-stiky & {
			// display: block;
			float: right;
		}
		.page-toolbar {
			border: 1px solid #E5E5E5;
			border-width: 0 1px;
			a,
			button {
				&::before {
					font-size: 30px;
					margin-bottom: -4px;
				}
			}
			.sns-toggle {
				border: none;
			}
			.page-print {
				background-size: 30px 30px;
				border: 1px solid #E5E5E5;
				border-width: 0 1px;
				margin: 0;
			}
			.page-rss {
				&::before {
					margin-left: 9px;
				}
			}
		}
	}
	position: relative;
	z-index: 2;
	height: 48px;
	line-height: 48px;
	background-color: #FCFCFC;
	border-bottom: 1px solid #E5E5E5;
	@include breakpoint($sm){
		height: 36px;
		line-height: 36px;
	}
	nav {		
		@include breakpoint($lg){
			display: flex;
			justify-content: space-between;
		}
		> ul {
			display: flex;
			border-left: 1px solid #E5E5E5;
			> li {
				position: relative;
				border-right: 1px solid #E5E5E5;
				color: #666;
				@include breakpoint($sm){
					width: 100%;
					&:last-child {
						border-right: none;
					}
				}
				&.home {
					color: #000;
					padding: 0 16px;
					@include breakpoint($lg){
						padding: 0 26px;
					}
					@include breakpoint($smd){
						width: 36px;
						text-align: center;
						span {
							display: none;
						}
					}
					&::before {
						content: "";
						display: inline-block;
						width: 18px;
						height: 18px;
						background: url(/static/portal/img/ico/ico-home.svg) 50% no-repeat;
						//@include font-ico('\e88a');
						//vertical-align: bottom;
						//font-size: 26px;
						//color: $point;
						margin-right: 6px;
						margin-bottom: -2px;
						@include breakpoint($smd){
							position: absolute;
							top: 0;
							left: 0;
							z-index: 9;
							text-align: center;
							width: 36px;
							height: 36px;
							margin-right: 0;
						}
					}	
				}
				> a {
					display: block;	
					padding: 0 10px;
					@include breakpoint($lg){
						padding: 0 26px;
					}
					&::after {
						@include font-ico-outline('\e5c6');
						color: #666;
						font-size: 22px;
						margin-left: 10px;
						@include breakpoint($sm){
							position: absolute;
							top: 50%;
							right: 8px;
							margin-top: -11px;
						}
					}
				}
				.depth2 {
					display: none;
					position: absolute;
					top: 47px;
					left: -1px;
					z-index: 9;
					width: calc(100% + 2px);
					background-color: #fff;
					@include breakpoint($sm){
						top: 36px;
					}
					ul {
						width: 100%;
						padding: 10px 15px;
						line-height: 1.8;
						border: 1px solid #E5E5E5;
						border-radius: 0 0 4px 4px;
						box-shadow: 0 4px 2px rgba(127, 24, 24, 0.15);
						li {
							a {
								color: #666;
								display: block;
								&:hover {
									text-decoration: underline;
								}	
							}
							&.on {
								a {
									color: $black;
									font-weight: 600;
									&::after {
										@include font-ico-outline('\e5cc');
										font-size: 18px;
										margin-bottom: 2px;
									}
								}
							}
						}
					}
					&.active {
						display: block;
					}
				}
			}
		}
	}
}

@include breakpoint($sm) {
	.navigation nav > ul > li {
		&.last-of-type {
			display: none;
		}
		&.home {
			display: none;
		}
	}
}


//목차형
.lnb-nav{
	position: sticky;
	top: 48px;
	padding-top: 30px;
	// &.sticky {
	// 	position: sticky;
	// 	top: 78px;
	// 	padding-top: 0;
	// }
	@include breakpoint($lg){
		//position: relative;
		display: block;
		float: left;
		// width: per(240px + 35px, $pc-wide);
		width: 275px;
		padding-right: 36px;
		background-color: #fff;
		height: auto;
		// &::after {
		// 	content: "";
		// 	display: inline-block;
		// 	background-color: #d9d9d9;
		// 	position: absolute;
		// 	top: 0;
		// 	right: -1px;
		// 	width: 1px;
		// 	height: 100%;
		// }
	}
	// @include breakpoint($smd){ 
	// 	order: 2;
	// }
	h1 {
		padding-bottom: 6px;
		font-size: rem(16);
		font-weight: 500;
		color: #222;
		&::before {
			@include font-ico-outline('\e0ee');
			font-size: 24px;
			color: #1C1B1F;
			margin-right: 5px;
		}
	}	
	.lnb  {
		@include breakpoint($smd) {
			display: none;
		}
		ul {
			> li {
				> a {
					display: block;
					padding: 6px 0;
					color: #333;
				}
				&.on {
					> a {
						display: flex;
						font-weight: 500;
						align-items: center;
						justify-content: space-between;
						color: $black;
					}
				}
				> ul {
					li {
						a {
							display: block;
							padding: 4px 14px;
							color: #666;
							font-size: rem(14);
						}
						&.on {
							a {
								position: relative;
								color: #2F4F9D;
								font-weight: 500;
								background-color: #F2F6FA;
								border-radius: 4px;
								&::after {
									@include font-ico('\e315');
									font-size: 18px;
									color: #2F4F9D;
									position: absolute;
									top: 2px;
									right: 8px;
								}
							}
						}
					}
				}
			}
		}
	}
}
.lnb-nav + .content {
	border-left: 1px solid #d9d9d9;
}
//연관자료
// .lnb-reference {
// 	padding: 24px 0;
//     margin: 18px 0;
// 	border-top: 1px solid #E5E5E5;
// 	@include breakpoint($smd) {
// 		margin: 0 0 18px;
// 		border-top: none;
// 	}
// 	h1 {
// 		&::before {
// 			@include background-image-retina("/static/museum/img/ico/ico-relate", png, auto, 100%);
// 		}
// 	}
// 	ul {
// 		margin-bottom: 12px;
// 		li {
// 			margin: 4px 0;
// 			a {
// 				position: relative;
// 				display: flex;
// 				align-items: center;
// 				padding: 8px 8px 8px 36px;
// 				background: #F2F6FA;
// 				border-radius: 8px;
// 				word-break: initial;
// 				&::before {
// 					content: "";
// 					display: inline-block;
// 					position: absolute;
// 					top: 10px;
// 					left: 8px;
// 					width: 20px;
// 					height: 20px;
// 				}
// 				&.reference-m {
// 					&::before {
// 						@include background-image-retina("/static/museum/img/ico/ico-relateM", png, auto, 100%);
// 					}
// 				}
// 				&.reference-c {
// 					&::before {
// 						@include background-image-retina("/static/museum/img/ico/ico-relateC", png, auto, 100%);
// 					}
// 				}
// 				&.reference-h {
// 					&::before {
// 						@include background-image-retina("/static/museum/img/ico/ico-relateH", png, auto, 100%);
// 					}
// 				}
// 			}
// 		}
// 	}
// }