<div class="lnb-nav">
	<h1>목차</h1>	
	<ul>
		<li class="on">
			<a href="">금융안정 개요</a>
			<ul>
				<li class="on">
					<a href="">정의</a>
				</li>
				<li>
					<a href="">금융시스템 불안의 요인</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="">금융안정 정책수단</a>
			<ul>
				<li>
					<a href="">개요</a>
				</li>
				<li>
					<a href="">예방적 정책수단</a>
				</li>
				<li>
					<a href="">금융불균형 확대방지 정책수단</a>
				</li>
				<li>
					<a href="">금융위기 관리 및 치유를 위한 정책수단</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="">정책당국간 역할분담</a>
		</li>
		<li>
			<a href="">중앙은행과 금융안정</a>
		</li>
		<li>
			<a href="">FSB와 BCBS</a>
			<ul>
				<li>
					<a href="">참여 현황</a>
				</li>
				<li>
					<a href="">금융안정위원회(FSB)</a>
				</li>
				<li>
					<a href="">바젤은행감독위원회(BCBS)</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="">금융안정 관련 해외사이트</a>
		</li>
	</ul>
</div>

<div class="content">

	<h2>h2.금융안정 개요</h2>
	<h3>h3.정의</h3>

	<h3>h3.금융시스템 불안의 요인</h3>

	<h4>h4.금융시스템 불안의 요인</h4>

	<h5>h5.금융시스템 불안의 요인</h5>

	<h2 class="bu2">텍스트형 컨텐츠 heding</h2>

	<h3 class="h3">테이블 제목</h3>


	<h3 class="h-caption">강남본부 대량주화 1인당 교환 한도 및 교환 가능 요일</h3>
	<h4 class="h-caption">강남본부 대량주화 1인당 교환 한도 및 교환 가능 요일</h4>
	<h5 class="h-caption">강남본부 대량주화 1인당 교환 한도 및 교환 가능 요일</h5>



<br><hr><br>




<p>
	<span class="icon icon-xls">
		<span class="sr-only">첨부파일 있음</span>
	</span>
	<span class="icon icon-ppt">
		<span class="sr-only">첨부파일 있음</span>
	</span>
	<span class="icon icon-hwp">
		<span class="sr-only">첨부파일 있음</span>
	</span>
	<span class="icon icon-pdf">
		<span class="sr-only">첨부파일 있음</span>
	</span>
	<span class="icon icon-img">
		<span class="sr-only">첨부파일 있음</span>
	</span>

</p>


<div class="top-txt">
	<dl>
		<dt>한국은행의 감시대상이 되는 지급결제시스템은...</dt>
		<dd>한국은행의 감시대상 지급결제시스템은 금융결제원이 운영하는 소액결제시스템, 유가증권시장결제시스템 등의 금융투자상품 결제시스템, CLS 시스템, 신용카드결제시스템, 외화자금이체시스템 <br>그리고 서민금융기관 중앙조직이 운영하는 지급결제시스템 등이다</dd>
	</dl>
</div>



<br><hr><br>


<p>
	<a href="" class="b-go xs">명절 제조화폐 지급 바로가기</a>
</p>
<p>
	<a class="a-link" href="">금요강좌 VOD 바로가기</a>
</p>


<div class="select-go">
	<select id="areaSeCd" name="areaSeCd" title="구분을 선택하세요">
		<option  value="z00" selected="selected">본부(서울)</option>
		<option  value="z01" >강남본부</option>	
	</select>
	<button type="button" class="go">이동</button>
</div>





<br><hr><br>



	<div class="boxTop">
		<p>새 은행권의 위조방지장치는 <a href="">새 은행권 안내 페이지</a>를 참고하시기 바랍니다.</p>
	</div>


	<div class="boxTop"> 
		<p><strong class="type db">중소기업 금융지원제도는</strong> 중소기업 진흥과 이를 통한 국민경제의 발전을 뒷받침하는데 주목적이 있다.</p>
	</div>

	<br><br>



	<p class="fc1">금융시스템은 금융시장과 금융기관 및 금융인프라를 모두 포괄하는 광범위한 개념이므로 금융시스템의 불안을 유발하는 요인도 다양하다.</p>
	<p>먼저 근본적인 금융시스템의 잠재적인 불안요인은 금융거래 계약이 차후에 이행되지 못할 수 있는 위험성을 언제나 내포하고 있다는 데에 있다. 예를 들어 은행이 예금을 받아 어떤 기업에 대출을 해주었는데 기업이 상환약속을 불이행하는 일이 일어날 수 있으며 이에 따라 은행도 예금자에게 예금을 돌려줄 수 없을 만큼 부실해질 수도 있다. 이와 같은 상황은 현금을 주고 물건을 사게 되면 거래가 안전하게 종료되는 상황과 비교될 수 있다. 즉 금융시스템은 자금이 공급자로부터 수요자로 흘러가도록 함으로써 중앙은행이 공급한 현금보다 더 많은 유동성을 창출하여 경제활동을 촉진하는 기능을 수행하는데 동 기능의 이면에는 금융불안 요인도 내재하고 있는 것이다. </p>
	<p>그러나 특정한 금융거래 계약이 불이행되었거나 혹은 어떤 금융기관이 도산하였다고 해서 금융불안이 발생하였다고 하지는 않는다. 하지만 이러한 상황이 경제활동을 상당 수준 위축시킬 정도로 금융시스템 전반에 영향을 미치게 되는 경우에는 금융불안 상황이라고 할 수 있다. 따라서 금융불안의 원인을 이해하기 위해서는 특정 금융기관이 어떤 연유에서 도산하고 또 이것이 어떻게 파급되는 지에 대한 이해가 필요하다. </p>
	<p>어떤 금융시스템 내에서는 금융기관간 상호대출이 복잡한 네트워크 형태로 이루어져 있을 수 있다. 이 경우 특정 금융기관의 도산은 여타 금융기관의 도산으로 이어져 금융시스템 전반의 불안을 야기할 수 있다. 그런데 금융기관간 대출규모가 크지 않은 상황에서도 특정 금융기관의 부실화가 금융불안으로 이어질 수 있다. 이는 금융기관에 대한 정보가 불충분한 상황에서 어떤 금융기관이 도산하면 예금자가 여타 금융기관도 유사한 상황이라고 판단하여 자금을 회수할 수 있기 때문이다. 그런데 이와 같은 금융불안이 발생하는 보다 근원적인 이유는 은행이 예금인출에 대비해 일부 자금만 보유(=부분지급준비금제도)하고 있어 일시에 몰리는 예금인출 요구를 감당하지 못한다는 데에 있다</p>
	<p>이와는 달리 금융시스템의 불안을 경기순환 과정에서 발생하는 현상으로 이해하는 거시적인 시각도 있다. 이러한 시각으로 보면 특정 금융기관의 도산과 그에 따른 파급효과보다 금융시스템에 공통적으로 영향을 미치는 거시경제적 충격이 중요하다.</p>
	<p>거시적 충격으로는 먼저 통화 공급량이 감소하여 실물경제가 위축되면서 금융불안이 발생하는 상황을 들 수 있다. 다음으로는 경제주체가 경기확장기에 투기적으로 자금을 차입 혹은 대출하였다가 경기의 흐름이 바뀌면 차입자의 자금사정이 악화되는 상황에서 대출자는 자금상환을 요구함으로써 금융시스템 불안이 유발되는 경우가 있다. 이는 경기확장기에 다수의 경제주체들이 미래에 대해 낙관적인 기대를 하면서 위험을 과소평가하였다가 경기가 반전되면 급격히 기대를 바꾸는 근시안적인 군집행태를 보이는 데에 그 원인이 있다. 이외에도 통화 및 재정정책 금융감독정책 등 경제정책의 실패가 금융불안을 유발하는 한 요인이 되기도 한다.</p>


	<div class="h-group"> 
		<h4>임직원수</h4> 
		<p class="fr">(연도말 기준, 명)</p>
	</div>

	<div class="table tac scrollX"> 
		<table class="fixed"> 
			<caption>직급별 현황</caption>
			<colgroup>
				<col>
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">임원<sup title="테이블 하단 각주 2 설명 참고">2)</sup></th>
					<th scope="col">1급<sup title="테이블 하단 각주 3 설명 참고">3)</sup></th>
					<th scope="col">2급</th>
					<th scope="col">3급</th>
					<th scope="col">4급</th>
					<th scope="col">5급</th>
					<th scope="col">6급</th>
					<th scope="col">기타</th>
					<th scope="col">합계</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">인원</th>
					<td>13</td>
					<td>97</td>
					<td>201</td>
					<td>383</td>
					<td>612</td>
					<td>376</td>
					<td>204</td>
					<td>491</td>
					<td>2,377</td>
				</tr>
			</tbody>
		</table>
	</div>




</div>