<div class="lnb-nav">
	<h1>목차</h1>	
	<ul>
		<li class="on">
			<a href="">금융안정 개요</a>
			<ul>
				<li class="on">
					<a href="">정의</a>
				</li>
				<li>
					<a href="">금융시스템 불안의 요인</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="">금융안정 정책수단</a>
			<ul>
				<li>
					<a href="">개요</a>
				</li>
				<li>
					<a href="">예방적 정책수단</a>
				</li>
				<li>
					<a href="">금융불균형 확대방지 정책수단</a>
				</li>
				<li>
					<a href="">금융위기 관리 및 치유를 위한 정책수단</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="">정책당국간 역할분담</a>
		</li>
		<li>
			<a href="">중앙은행과 금융안정</a>
		</li>
		<li>
			<a href="">FSB와 BCBS</a>
			<ul>
				<li>
					<a href="" target="_blank" title="새창열림">참여 현황</a>
				</li>
				<li>
					<a href="">금융안정위원회(FSB)</a>
				</li>
				<li>
					<a href="">바젤은행감독위원회(BCBS)</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="" target="_blank" title="새창열림">금융안정 관련 해외사이트</a>
		</li>
		<li>
			<a href="" class="inbu">내부링크</a>
			<ul>
				<li>
					<li>
						<a href="" class="inbu">내부링크</a>
					</li>
				</li>
			</ul>
		</li>
	</ul>
	<p class="mobile__button">
		<button type="button" aria-label="목차 레이어 열기" class="mobile__nav__open"></button>
		<button type="button" aria-label="목차 레이어 닫기" class="mobile__nav__close"></button>
	</p>
</div>

<div class="content">



	<p>
		<a href="/static/guide/portal/popup/certifi.html" data-size="1000, 1100, yes" class="b-pop" target="_blank" title="새창열림">
			수료증
		</a>
	</p>

	<div class="formBox">
		<ul class="step">
			<li class="active ic-choice">
				<div class="s">
					<strong class="title">STEP 1</strong>
					<span>강좌 선택<span class="hidden">(현재단계)</span></span>
				</div>
			</li>
			<li class="ic-agree">
				<div class="s ">
					<strong class="title">STEP 2</strong>
					<span>수집 및 이용동의 </span>
				</div>
			</li>
			<li class="ic-app">
				<div class="s ">
					<strong class="title">STEP 3</strong>
					<span>강좌 신청</span>
				</div>
			</li>
			<li class="ic-end">
				<div class="s ">
					<strong class="title">STEP 4</strong>
					<span>신청 완료</span>
				</div>
			</li>
		</ul>
	</div>

	<div class="formBox">
		<ul class="step">
			<li class="ic-choice">
				<div class="s">
					<strong class="title">STEP 1</strong>
					<span>강좌 선택</span>
				</div>
			</li>
			<li class="active ic-agree">
				<div class="s ">
					<strong class="title">STEP 2</strong>
					<span>수집 및 이용동의<span class="hidden">(현재단계)</span></span>
				</div>
			</li>
			<li class="ic-app">
				<div class="s ">
					<strong class="title">STEP 3</strong>
					<span>강좌 신청</span>
				</div>
			</li>
			<li class="ic-end">
				<div class="s ">
					<strong class="title">STEP 4</strong>
					<span>신청 완료</span>
				</div>
			</li>
		</ul>
	</div>

	<div class="formBox">
		<ul class="step">
			<li class="ic-choice">
				<div class="s">
					<strong class="title">STEP 1</strong>
					<span>강좌 선택</span>
				</div>
			</li>
			<li class="ic-agree">
				<div class="s ">
					<strong class="title">STEP 2</strong>
					<span>수집 및 이용동의</span>
				</div>
			</li>
			<li class="active ic-app">
				<div class="s ">
					<strong class="title">STEP 3</strong>
					<span>강좌 신청<span class="hidden">(현재단계)</span></span>
				</div>
			</li>
			<li class="ic-end">
				<div class="s ">
					<strong class="title">STEP 4</strong>
					<span>신청 완료</span>
				</div>
			</li>
		</ul>
	</div>

	<div class="formBox">
		<ul class="step">
			<li class="ic-choice">
				<div class="s">
					<strong class="title">STEP 1</strong>
					<span>강좌 선택</span>
				</div>
			</li>
			<li class="ic-agree">
				<div class="s ">
					<strong class="title">STEP 2</strong>
					<span>수집 및 이용동의</span>
				</div>
			</li>
			<li class="ic-app">
				<div class="s ">
					<strong class="title">STEP 3</strong>
					<span>강좌 신청</span>
				</div>
			</li>
			<li class="active ic-end">
				<div class="s ">
					<strong class="title">STEP 4</strong>
					<span>신청 완료<span class="hidden">(현재단계)</span></span>
				</div>
			</li>
		</ul>
	</div>


	<br><hr><br>

	
	<p>기타 아이콘 참조</p>
	<div class="formBox">
		<ul class="step">
			<li class="active ic-time">
				<div class="s">
					<strong class="title">STEP 1</strong>
					<span>예약날짜 및 시간선택<span class="hidden">(현재단계)</span></span>
				</div>
			</li>
			<li class="active ic-info">
				<div class="s">
					<strong class="title">STEP 0</strong>
					<span>안내문</span>
				</div>
			</li>
			<li class="active ic-certi">
				<div class="s">
					<strong class="title">STEP 3</strong>
					<span>본인인증</span>
				</div>
			</li>
			<li class="active ic-app">
				<div class="s">
					<strong class="title">STEP 4</strong>
					<span>정보입력</span>
				</div>
			</li>
		</ul>
	</div>


	<br><hr><br>


	<div class="i-no-data pad">
		<p>데이터가 없습니다.</p>
	</div>



	<br><hr><br>



	<div class="btnSet">
		<a href="" class="b-confirm lg" >확인</a>		
		<a href="" class="b-reg"><span>신청</span></a>
		<a href="" class="b-cancel">취소</a>
	</div>




	<p>
		<a href="" class="b-edit">신고하기</a>
	</p>

	<p>
		<a href="" class="b-download">다운로드</a>
	</p>
	<p>
		<a href="" class="b-download2">다운로드</a>
	</p>


	<div class="">
		<p><a href="javascript:void(0);" class="tooltipOp" data-toggle="modal" data-target="#modalBox1" onclick="schdulPop('5781')" title="" data-original-title="툴팁 2023년 자금순환(잠정)">툴팁 2023년 자금순환(잠정)</a></p>
		<script>
			$(".tooltipOp").tooltip();
		</script>

		<p>
			<a href="javascript:void(0);" data-toggle="modal" data-target="#modalBox1" onclick="schdulPop('296', '03', '22')">모달팝업</a>
		</p>

		<!--  layer Popup  -->
		<div class="modal fade" id="modalBox1" tabindex="-1" role="dialog" aria-labelledby="modalBox1">
			<div class="lpop modal-dialog" role="document">
				<div class="set modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><i class="ti-close"></i><span class="sr-only">레이어 창닫기</span></button>
						<h4 class="modal-title" id="modal-label1">
							<i class="i-mon"></i>
							행사일정<small id="selectDate"></small>
						</h4>
					</div>
					<div class="modal-body">
						<!-- <div class="calView"></div> -->
						<div class="calView">
							<h5>2024년 2월 22일</h5>
							<ul>	
								<li>
									<div class="con">
										<p class="tit">통화정책방향 회의</p>
										<span class="date">02월 22일(목)</span>
									</div>
									<div class="view-btn">
										<a href="" target="_blank" title="새창열림" class="b-view">상세보기</a>
									</div>
								</li>
								<li>
									<div class="con">
										<p class="tit">통화정책방향 회의</p>
										<span class="date">02월 22일(목)</span>
									</div>
									<div class="view-btn">
										<a href="" target="_blank" title="새창열림" class="b-view">상세보기</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="modal-bottom">
							<button type="button" class="b-btn b-close lg" data-dismiss="modal">닫기</button>
							<button type="button" class="b-print lg">프린트</button>
						</div>
					</div>			
				</div>
			</div>
		</div>
		<!--  //layer Popup  -->

	</div>


	<h2>h2.금융안정 개요</h2>
	<h3>h3.정의</h3>

	<h3>h3.금융시스템 불안의 요인</h3>

	<h4>h4.금융시스템 불안의 요인</h4>

	<h5>h5.금융시스템 불안의 요인</h5>

	<h2 class="bu2">텍스트형 컨텐츠 heding</h2>

	<h3 class="h3">테이블 제목</h3>


	<h3 class="h-caption">강남본부 대량주화 1인당 교환 한도 및 교환 가능 요일</h3>
	<h4 class="h-caption">강남본부 대량주화 1인당 교환 한도 및 교환 가능 요일</h4>
	<h5 class="h-caption">강남본부 대량주화 1인당 교환 한도 및 교환 가능 요일</h5>



<br><hr><br>




<p>
	<span class="icon icon-xls">
		<span class="sr-only">첨부파일 있음</span>
	</span>
	<span class="icon icon-ppt">
		<span class="sr-only">첨부파일 있음</span>
	</span>
	<span class="icon icon-hwp">
		<span class="sr-only">첨부파일 있음</span>
	</span>
	<span class="icon icon-pdf">
		<span class="sr-only">첨부파일 있음</span>
	</span>
	<span class="icon icon-img">
		<span class="sr-only">첨부파일 있음</span>
	</span>

</p>


<div class="top-txt">
	<dl>
		<dt>한국은행의 감시대상이 되는 지급결제시스템은...</dt>
		<dd>한국은행의 감시대상 지급결제시스템은 금융결제원이 운영하는 소액결제시스템, 유가증권시장결제시스템 등의 금융투자상품 결제시스템, CLS 시스템, 신용카드결제시스템, 외화자금이체시스템 <br>그리고 서민금융기관 중앙조직이 운영하는 지급결제시스템 등이다</dd>
	</dl>
</div>



<br><hr><br>


<p>
	<a href="" class="b-go xs">명절 제조화폐 지급 바로가기</a>
</p>
<p>
	<a class="a-link" href="">금요강좌 VOD 바로가기</a>
</p>


<div class="select-go">
	<select id="areaSeCd" name="areaSeCd" title="구분을 선택하세요">
		<option  value="z00" selected="selected">본부(서울)</option>
		<option  value="z01" >강남본부</option>	
	</select>
	<button type="button" class="go">이동</button>
</div>



<div class="btnSet tac">
	<a href="" class="a-link">뉴스레터 신청</a>
	<a href="" class="a-link2">뉴스레터 변경</a>
</div>


<br><hr><br>



	<div class="boxTop">
		<p>새 은행권의 위조방지장치는 <a href="">새 은행권 안내 페이지</a>를 참고하시기 바랍니다.</p>
	</div>


	<div class="boxTop"> 
		<p><strong class="type db">중소기업 금융지원제도는</strong> 중소기업 진흥과 이를 통한 국민경제의 발전을 뒷받침하는데 주목적이 있다.</p>
	</div>

	<br><br>



	<p class="fnote">현재 19.1조원 규모로 이 중 13조원은 코로나19 피해기업 지원을 위해, 6조원은 소상공인 지원을 위해 운용중</p>



	<p class="fc1">금융시스템은 금융시장과 금융기관 및 금융인프라를 모두 포괄하는 광범위한 개념이므로 금융시스템의 불안을 유발하는 요인도 다양하다.</p>
	<p>먼저 근본적인 금융시스템의 잠재적인 불안요인은 금융거래 계약이 차후에 이행되지 못할 수 있는 위험성을 언제나 내포하고 있다는 데에 있다. 예를 들어 은행이 예금을 받아 어떤 기업에 대출을 해주었는데 기업이 상환약속을 불이행하는 일이 일어날 수 있으며 이에 따라 은행도 예금자에게 예금을 돌려줄 수 없을 만큼 부실해질 수도 있다. 이와 같은 상황은 현금을 주고 물건을 사게 되면 거래가 안전하게 종료되는 상황과 비교될 수 있다. 즉 금융시스템은 자금이 공급자로부터 수요자로 흘러가도록 함으로써 중앙은행이 공급한 현금보다 더 많은 유동성을 창출하여 경제활동을 촉진하는 기능을 수행하는데 동 기능의 이면에는 금융불안 요인도 내재하고 있는 것이다. </p>
	<p>그러나 특정한 금융거래 계약이 불이행되었거나 혹은 어떤 금융기관이 도산하였다고 해서 금융불안이 발생하였다고 하지는 않는다. 하지만 이러한 상황이 경제활동을 상당 수준 위축시킬 정도로 금융시스템 전반에 영향을 미치게 되는 경우에는 금융불안 상황이라고 할 수 있다. 따라서 금융불안의 원인을 이해하기 위해서는 특정 금융기관이 어떤 연유에서 도산하고 또 이것이 어떻게 파급되는 지에 대한 이해가 필요하다. </p>
	<p>어떤 금융시스템 내에서는 금융기관간 상호대출이 복잡한 네트워크 형태로 이루어져 있을 수 있다. 이 경우 특정 금융기관의 도산은 여타 금융기관의 도산으로 이어져 금융시스템 전반의 불안을 야기할 수 있다. 그런데 금융기관간 대출규모가 크지 않은 상황에서도 특정 금융기관의 부실화가 금융불안으로 이어질 수 있다. 이는 금융기관에 대한 정보가 불충분한 상황에서 어떤 금융기관이 도산하면 예금자가 여타 금융기관도 유사한 상황이라고 판단하여 자금을 회수할 수 있기 때문이다. 그런데 이와 같은 금융불안이 발생하는 보다 근원적인 이유는 은행이 예금인출에 대비해 일부 자금만 보유(=부분지급준비금제도)하고 있어 일시에 몰리는 예금인출 요구를 감당하지 못한다는 데에 있다</p>
	<p>이와는 달리 금융시스템의 불안을 경기순환 과정에서 발생하는 현상으로 이해하는 거시적인 시각도 있다. 이러한 시각으로 보면 특정 금융기관의 도산과 그에 따른 파급효과보다 금융시스템에 공통적으로 영향을 미치는 거시경제적 충격이 중요하다.</p>
	<p>거시적 충격으로는 먼저 통화 공급량이 감소하여 실물경제가 위축되면서 금융불안이 발생하는 상황을 들 수 있다. 다음으로는 경제주체가 경기확장기에 투기적으로 자금을 차입 혹은 대출하였다가 경기의 흐름이 바뀌면 차입자의 자금사정이 악화되는 상황에서 대출자는 자금상환을 요구함으로써 금융시스템 불안이 유발되는 경우가 있다. 이는 경기확장기에 다수의 경제주체들이 미래에 대해 낙관적인 기대를 하면서 위험을 과소평가하였다가 경기가 반전되면 급격히 기대를 바꾸는 근시안적인 군집행태를 보이는 데에 그 원인이 있다. 이외에도 통화 및 재정정책 금융감독정책 등 경제정책의 실패가 금융불안을 유발하는 한 요인이 되기도 한다.</p>



	<p class="help3 red">[참고] 권종별로 많이 발견되는 위폐 기번호</p>



<br><hr><br>



	<div class="info-txt">
		<p class="tit ico1">이 게시판은 <em>경제교육 프로그램에 대한 문의</em>를 위한 곳입니다.</p>	
		<p class="mt40 mb40">
			<a href="/portal/bbs/B0000215/forInsert.do?menuNo=200140&pageIndex=1" class="b-edit">경제교육 프로그램 문의</a>
		</p>	
		<p><span class="help3">문의 사항에 대한 답변은 <em>홈페이지 우측 상단 > 사용자 로그인 > 마이페이지 > 내가 작성한 글 > 정보게시판(경제교육)</em> 에서 확인하실 수 있습니다.</span></p>
	</div>
	
	<p class="info-add">
		경제교육 이외에 <span class="fb"><u>한국은행 업무에 관해 궁금하신 점이 있으실 경우</u></span>에는<br>
		한국은행 대표번호(☎759-4114)나 <a href="/portal/main/contents.do?menuNo=200661"><span class="fb"><u>민원신청</u></span></a>을 통해 해당 부서에 문의하시기 바랍니다.
	</p>


<br><hr><br>


	<div class="h-group"> 
		<h4>임직원수</h4> 
		<p class="fr">(연도말 기준, 명)</p>
	</div>

	<div class="table tac scrollX"> 
		<table class="fixed"> 
			<caption>직급별 현황</caption>
			<colgroup>
				<col>
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
				<col style="width: 10%;">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">임원<sup title="테이블 하단 각주 2 설명 참고">2)</sup></th>
					<th scope="col">1급<sup title="테이블 하단 각주 3 설명 참고">3)</sup></th>
					<th scope="col">2급</th>
					<th scope="col">3급</th>
					<th scope="col">4급</th>
					<th scope="col">5급</th>
					<th scope="col">6급</th>
					<th scope="col">기타</th>
					<th scope="col">합계</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">인원</th>
					<td>13</td>
					<td>97</td>
					<td>201</td>
					<td>383</td>
					<td>612</td>
					<td>376</td>
					<td>204</td>
					<td>491</td>
					<td>2,377</td>
				</tr>
			</tbody>
		</table>
	</div>


	<br><hr><br>



	<h1>table th_tac table-view</h1>
	<div class="table th_tac table-view">
		<table>
			<caption>노동조합 관련 현황</caption>
			<colgroup>
				<col style="width: 15%;">
				<col style="width: 15%;">
				<col>
			</colgroup>
			<tbody>		
				<tr>
					<th colspan="2" scope="row">노조가입범위</th>
					<td>		
						<ul>
							<li>한국은행 직원은 자유롭게 노동조합에 가입할 수 있음</li>
							<li>다만, 1급·G1~2급·G2&nbsp;직원 및 팀·반장 이상 직원과 본부의 인사·급여·노무·비서·감사·경영전략·조직관리·예산 담당직원은 노동조합 가입 대상에서 제외</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th colspan="2" scope="row">노조가입률</th>
					<td>57.3% (2023년말 기준)</td>
				</tr>
				<tr>
					<th colspan="2" scope="row">전임자수</th>
					<td>4명</td>
				</tr>
				<tr>
					<th colspan="2" scope="row">상급 노조</th>
					<td>미가입</td>
				</tr>
				<tr>
					<th colspan="2" scope="row">근로시간면제제도<br> 도입여부</th>
					<td>도입</td>
				</tr>
				<tr>
					<th rowspan="2" scope="row">근로시간<br>
						면제한도</th>
					<th scope="row">법정한도</th>
					<td>10,000시간 이내</td>
				</tr>
				<tr>
					<th scope="row">체결내용</th>
					<td>8,000시간</td>
				</tr>
			</tbody>
		</table>
	</div>


<br><hr><br>


<h1>table tac scrollX</h1>
	<div class="table tac scrollX"> 
		<table> 
			<caption></caption>
			<thead>
				<tr>
					<th>a</th>
					<th>b</th>
					<th>c</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>f</th>
					<td>f</td>
					<td>f</td>
				</tr>
			</tbody>
		</table>
	</div>



	<br><hr><br>


<h1>bdList</h1>
	<div class="bdList">
		<table>
			<caption></caption>
			<thead>
				<tr>
					<th class="no">번호</th>
					<th>강좌구분</th>
					<th>강좌명</th>
					<th>강사명</th>
					<th>강좌일자</th>
					<th>신청기간</th>
					<th>상태</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="no">1</td>
					<td>시사</td>
					<td class="title">
						<a href="">금융시장 발전과 기술 혁신</a>
					</td>
					<td>성원 과장(경제연구원 미시제도연구실)</td>
					<td>2024-03-29 14시</td>
					<td>
						2024-03-22 ~<br>
						2024-03-29
					</td>
					<td>신청중</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="7">
						<div class="i-no-data pad">
							<p>데이터가 없습니다.</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


<br><hr><br>


<h1>table table-striped</h1>
	<div class="table table-striped">
		<table> 
			<caption>2024년 전략목표</caption>
			<thead>
				<tr> 
					<th scope="col">2024년 전략목표(6개)</th> 
				</tr> 
			</thead> 
			<tbody> 
				<tr> 
					<td>1. 물가 등 거시경제 안정 도모</td> 
				</tr> 
				<tr> 
					<td>2. 금융안정 기반 강화</td> 
				</tr> 
				<tr> 
					<td>3. 화폐·지급결제 인프라 고도화</td> 
				</tr> 
				<tr> 
					<td>4. 내부경영의 발전적 변화</td> 
				</tr> 
				<tr> 
					<td>5. 커뮤니케이션 강화</td> 
				</tr> 
				<tr> 
					<td>6. 경제구조 변화 대응 강화</td> 
				</tr> 
			</tbody> 
		</table>
	</div>


	<br><hr><br>

	
	<ol class="fnote"> 
		<li><span class="title">주 : <sup title="각주 1)의 대한 설명">1) </sup></span><span class="desc">한국은행이 취득한 날로부터 1년 이내에 만기가 도래하는 것에 한함</span></li> 
	</ol>

	<br><hr><br>

	<div class="imgSet"> 
		<p class="visible-md"><img alt="" src="/static/portal/img/sub/img_200356.png"></p> 
		<p class="visible-sm"><a title="확대보기" href="/static/portal/img/sub/img_200356.png" data-rel="prettyPhoto"><img alt="금융정보화추진협의회(30명) 아래로 사무국과 실무협의회로 나뉘며, 실무협의회는 다시 표준화위원회, 안전대책위원회, 동전없는사회WG, 핀테크금융정보화WG로 나뉨. 금융정보화추진협의회 구성 - 의장 : 한국은행 부총재, 위원 : 부행장(상무)급 임원, 의사담당자 : 사무국장 / 사무국 구성 - 사무국장 : 한국은행 금융결제국장 / 실무협의회 구성 - 의장 : 사무국장, 위원 : 참여기관 정보화 또는 전자 금융업무 담당부서장 / 표준화위원회 구성 - 위원장 : 한국은행 전자금융팀장, 금융기관 차 과장급 / 안전대책위원회 구성 - 위원장 : 한국은 전자금융팀장, 위원 : 금융기관 차 과장급 / 동전없는사회WG : 카드사, IT기업, 교수 등 / 핀테크금융정보화WG : 금융기관, 비금융기관, 핀테크업체 등." src="/static/portal/img/sub/img_200356.png"></a></p> 
	</div>

	<br><hr><br>


	<div class="ico-box ico1">
		<p>한국은행 부산본부의 화폐전시실은 우리나라의 고대&middot;근대&middot;현용 화폐 및 기념주화, 외국의 기념주화 및 지폐 등 약 1000여점의 국내외 화폐가 전시되어 있으며 근대 주화 압인기, 나도 화폐속 주인공 등 다양한 체험학습 시설을 구비하고 있습니다.</p>
	</div>

	<div class="info-txt"> 
		<p class="tit"><em>중소기업 금융지원제도는</em><br>
		중소기업 진흥과 이를 통한 국민경제의 발전을 뒷받침하는데 주목적이 있다.</p>
	</div>



	<div class="info-box2 mt40">
		<div class="ico-box2 ico2">
			<p>
				<strong>한국은행 역사</strong><br>
				<span>한국은행은 우리 경제와 항상 고락을 함께하여 왔습니다.</span>
			</p>
		</div>
	</div>



	<div class="info-box3">
		<div class="icoBox ico1">
			<p class="title">한국은행의 사회공헌 활동</p>
			<p>한국은행은 전직원이 자발적으로 참여하는 사회공헌을 적극 실천함으로써 중앙은행의 사회적 책임을 다하고 국민과 함께하는 중앙은행상을 확립하고자 노력하고 있습니다. 이를 위해 한국은행은 다음과 같은 다양한 형태의 사회공헌활동을 전개하고 있습니다.</p>	
		</div>
	</div>



	<div class="info-btn">
		<ul class="bu-dot">
			<li>자주하는 질문 FAQ <a href="/portal/bbs/P0001949/list.do?menuNo=200658" class="b-go">바로가기</a></li>
			<li>민원사무처리기준표	<a href="/portal/bbs/B0000234/list.do?menuNo=200662" class="b-go">바로가기</a></li>
			<li>민원사무편람 <a href="/portal/cmmn/file/fileDown.do?atchFileId=FILE_000000000001530&amp;fileSn=1" class="b-download">다운로드</a></li>
		</ul>
	</div>


	<br><hr><br>


	<div class="category">
		<ul>
			<li class="on">
				<a href="">전체</a>
			</li>
			<li>
				<a href="">통화정책</a>
			</li>
			<li>
				<a href="">외환</a>
			</li>
			<li>
				<a href="">기업금융</a>
			</li>
			<li>
				<a href="">발권출납</a>
			</li>
			<li>
				<a href="">국고증권</a>
			</li>
			<li>
				<a href="">경제통계</a>
			</li>
			<li>
				<a href="">공통일반</a>
			</li>
			<li>
				<a href="">지급결제</a>
			</li>
			<li>
				<a href="">"지역화폐"</a>
			</li>
		</ul>
		<div class="categoryOnOff fr">
			<button class="b-btn">
				<span class="ti-menu" aria-hidden="true"></span>
				<span class="hidden">카테고리 열고 닫기</span>
			</button>
		</div>
	</div>



	<p>
		<a href="/static/guide/portal/popup/thmePop.html" data-size="800, 500, yes" class="page-rss b-pop" target="_blank" title="새창열림">
			주제선택
		</a>
	</p>




	<div class="info-txt">
		<p class="tit ico1">뉴스레터를 <em>신청한 내역</em>이 없습니다.</p>
		<p class="info-link">
			<a href="/portal/singl/newsLetter/reqAgre.do?menuNo=200174" class="a-link">뉴스레터 신청하기</a>
		</p>
		<p class="t-line">
			<span class="help3">뉴스레터 수신을 원하실 경우 <em>‘뉴스레터 신청하기’</em> 버튼을 클릭하시면 신청화면으로 이동합니다.</span>
		</p>
	</div>




	


	<h1>list</h1>

	<h3>bu-dot</h3>

	<ul class="bu-dot">
		<li>전행적 운영리스크 및 업무연속성 관리 전담조직으로 기획협력국 내 운영리스크팀을 설치하여 부서별 운영리스크 관리 활동을 지원하고 있습니다.</li>
		<li>또한, 유관 부서장 등으로 구성된  <span class="point">리스크위원회</span>를 통해 리스크 관리 체계를 강화하고 최고 경영진의 리스크 관련 의사결정을 지원하고 있습니다.</li>
		<li><span class="point">비상대책위원회</span>를 소집하여 전행적 대응을 총괄하고 있습니다.</li>
	</ul>



	<h3>list-num</h3>
	<ul class="list-num">
		<li>
			1. 
			리스크 레지스터는 리스크 유형별로 식별된 리스크 목록을 의미하며, 각 부서는 주기적으로 업무 프로세스 분석을 통해 발생가능한 리스크를 식별하여 리스크 레지스터를 업데이트합니다.
		</li>
	</ul>



	<h3>list-num type2</h3>
	<ul class="list-num type2">
		<li>
			<strong>1. 리스크 레지스터 관리</strong><br>
			리스크 레지스터는 리스크 유형별로 식별된 리스크 목록을 의미하며, 각 부서는 주기적으로 업무 프로세스 분석을 통해 발생가능한 리스크를 식별하여 리스크 레지스터를 업데이트합니다.
		</li>
		<li>
			<strong>2. 리스크 통제 자가진단(RCSA)</strong><br>
			리스크 통제 자가진단(RCSA)을 통해 조직 내 리스크 및 통제활동의 현 수준에 대해 부서 자체적으로 평가하고 통제활동의 유효성을 점검하여 업무목표를 효과적으로 달성할 수 있습니다.
		</li>
		<li>
			<strong>3. 핵심운영리스크지표(KORI) 모니터링</strong><br>
			핵심운영리스크지표(KORI) 모니터링을 통해 업무중단, 재무적 손실 또는 평판훼손을 야기하였거나 초래할 가능성이 있는 주요 리스크 요인을 정기적으로 살펴봄으로써 관련 사건의 발생을 예방하고, 경영진의 의사결정 시 참고자료로 활용하고 있습니다.
		</li>
		<li>
			<strong>4. 리스크 보고서</strong><br>
			한국은행의 전반적인 리스크 관리 현황 및 평가를 담고 있는 리스크 보고서를 주기적으로 작성하여 한국은행이 직면하고 있는 리스크에 대한 효율적인 대응방안을 모색하고 있습니다.
		</li>
	</ul>

</div>