
<div class="content">
	<p>컨텐츠 영역</p>
</div>

 

<div class="reference">
	<div class="reference-data">
		<dl>
			<dt>연관자료</dt>
			<dd>
				<ul>
					<li>
						<a href="">
							<i class="m"></i><span class="sr-only">메뉴</span>
							한국의 통화정책
						</a>
					</li>
					<li>
						<a href="">
							<i class="c"></i><span class="sr-only">게시물</span>
							통화신용정책보고서
						</a>
					</li>
					<li>
						<a href="">
							<i class="c"></i><span class="sr-only">게시물</span>
							2024통화신용정책보고서
						</a>
					</li>
					<li>
						<a href="">
							<i class="h"></i><span class="sr-only">외부링크</span>
							2024연차보고서
						</a>
					</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="reference-news">
		<dl>
			<dt>관련 뉴스 및 자료</dt>
			<dd>
				<ul>
					<li>
						<a href="">
							<span class="t">CDBC자료실 > 보도자료</span>
							<span class="title">[보도자료] 한국은행 총재, 「2023 MOEF-BOK-FSC-IMF 국제컨퍼런스」연설 및 패널토론 참석</span>
							<span class="date">2024.01.03</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="t">CDBC자료실 > 보도자료</span>
							<span class="title">[보도자료] 한국은행 총재, 「2023 MOEF-BOK-FSC-IMF 국제컨퍼런스」연설 및 패널토론 참석</span>
							<span class="date">2024.01.03</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="t">CDBC자료실 > 보도자료</span>
							<span class="title">[보도자료] 한국은행 총재, 「2023 MOEF-BOK-FSC-IMF 국제컨퍼런스」연설 및 패널토론 참석</span>
							<span class="date">2024.01.03</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="t">CDBC자료실 > 보도자료</span>
							<span class="title">[보도자료] 한국은행 총재, 「2023 MOEF-BOK-FSC-IMF 국제컨퍼런스」연설 및 패널토론 참석</span>
							<span class="date">2024.01.03</span>
						</a>
					</li>
				</ul>
			</dd>
		</dl>
	</div>
	
	<div class="reference-media">
		<dl>
			<dt>관련 미디어 자료</dt>
			<dd>
				<ul>
					<li>
						<a href="">							
							<span class="img" style="background-image: url(/static/portal/img/img_card05.png);"></span>
							<span class="t">카드뉴스</span>
							<span class="tit">CBDC 활용성 테스트 관련 시스템 개발 계약 체결</span>
							<span class="date">2024.01.03</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="img" style="background-image: url(/static/portal/img/img_card06.png);"></span>
							<span class="t">보도자료설명회</span>
							<span class="tit">2023년 12월 국제수지(잠정) 기자설명회</span>
							<span class="date">2024.01.03</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="img" style="background-image: url(/static/portal/img/img_card07.png);"></span>
							<span class="t">주요 행사 및 강연</span>
							<span class="tit">Cecilia Skingsley BIS 혁신허브 국장 CBDC 활용성 테스트 추진 계획 공동 기자설명회 축하 메시지</span>
							<span class="date">2024.01.03</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="img media" style="background-image: url(/static/portal/img/img_card08.png);"></span>
							<span class="t">홍보기획영상</span>
							<span class="tit">알쓸신화 10화 | 기념주화 속 국립공원 2부</span>
							<span class="date">2024.01.03</span>
						</a>
					</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>