.bd-line {
	ul {		
		li {
			position: relative;
			padding: 15px 15px 10px 15px;
			border-bottom: 1px solid #D9D9D9;
			@include breakpoint($sm){
				padding: 15px 8px 10px;
			}
			.i {
				font-size: 14px;
				display: block;
				margin-bottom: 8px;
				>span {
					display: inline-block;
					border-radius: 3px;	
					border: 1px solid #3656A3;
					padding: 1px 7px;
				}
			}
			span.t1 {
				color: #fff;
				background: #3B63C4;
			}
			span.t2 {
				color: #3B63C4;
				background: #fff;
			}
			.set {
				display: flex;
				justify-content: space-between;
				@include breakpoint($sm){
					display: block;
				}
				.title {
					width: calc(100% - 250px);
					@include ellipsis;
					color: #222;
					font-size: rem(20);
					@include breakpoint($sm){
						font-size: rem(16);
						width: 100%;
						margin-bottom: 8px;
						@include line-clamp(3);
						white-space: inherit;
					}
				}
				.btns {
					@include breakpoint($sm){
						position: absolute;
						bottom: 10px;
						right: 8px;
					}
					a {
						color: #666;
						display: inline-block;
						&::before {
							font-size: 19px;
							margin-right: 5px;
						}
						& + a {
							position: relative;
							margin-left: 15px;
							padding-left: 15px;
							&::after {
								content: "";
								position: absolute;
								top: 7px;
								left: 0;
								background: #666;
								width: 1px;
								height: 10px;
							}
						}
					}					
					.i-download {
						&::before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							background: url(/static/portal/img/common/ico-download.png);
							width: 20px;
							height: 20px;
							//@include font-ico-outline("\f824");
						}
					}
					.i-view {
						&::before {
							@include font-ico-outline("\e666");
						}
					}
				}
			}
			.date {
				color: #767676;
			}
			&:hover {
				background-color: #F2F6FA;				
				&::before {
					background: url(/static/portal/img/common/arr01_on.png) 50% no-repeat;
				}
				.btns {
					a {
						color: $point;
						&::before {
							background: #F2F6FA;
						}
					}
					.i-download {
						&::before {		
							background: url(/static/portal/img/common/ico-download_on.png);
						}
					}
				}
			}		
		}
	}
	&.b-type {
		ul {		
			li {
				position: relative;
				padding: 15px 90px 10px 15px;
				@include breakpoint($sm){
					padding: 15px 8px 10px;
				}
				a {
					&::before {
						content: "";
						display: inline-block;
						width: 48px;
						height: 48px;
						position: absolute;
						top: 50%;
						right: 15px;
						margin-top: -24px;
						background: url(/static/portal/img/common/arr01_off.png) 50% no-repeat;
						@include breakpoint($sm){
							display: none;
						}
					}
					&:hover {
						&::before {
							background: url(/static/portal/img/common/arr01_on.png) 50% no-repeat;
						}
					}
				}				
			}
		}
	}	
}

/* 여기까지 */



/* 아래는 아직 사용무 */


.bd-list {
	table {
		thead {
			@include breakpoint($sm) {
				display: none;
			}
		}
		tbody {
			@include breakpoint($sm) {
				display: block;
			}
		}
		img {
			vertical-align: middle;
		}
	}
}
thead th {
	&.no {
		width: 55px;
		@include breakpoint($lg) {
			width: 75px;
		}
	}
	&.date {
		width: 90px;
		@include breakpoint($lg) {
			width: 100px;
		}
	}
	&.file {
		width: 80px;
		@include breakpoint($lg) {
			width: 105px;
		}
	}
	&.count,
	&.hits {
		width: 90px;
		@include breakpoint($lg) {
			width: 100px;
		}
	}
	&.ckek {
		width: 50px;
	}
	&.depart {
		width: 110px;
	}
	&.time {
		width: 110px;
	}
}


// 게시물 카운트
.count-total {
	margin-top: 15px;
	line-height: 0.8rem;
	display: flex;
	font-size: 14px;
	em {
		color: #5772e8;
		font-weight: 600;
		font-style: normal;
		display: inline-block;
		margin-left: 4px;
	}
}

.bd-list {
	margin-top: 10px;
	border-top: 2px solid $bd-top-color;	
	a {
		&:hover,
		&.focus, 
		&:active {
			color: $point;
			text-decoration: underline;
		}
		&[class^="b-"] {
			color: #fff;
		}
	}
	.nodata {
		padding: 40px;
		text-align: center;
		border-bottom: 1px solid $bd-color;
	}
	table {
		width: 100%;
		text-align: center;		
        table-layout: fixed;
		@include breakpoint($sm) {
			text-align: left;
			display: block;
		}
		thead {
			color: $bd-list-head-color;
			@include breakpoint($sm) {
				display: none;
			}
		}
		tr {
			height: 60px;
		}
		th {
			height: 60px;
			background-color: $bd-list-th-bg-color;
			border-bottom: 1px solid #ccc;
			font-weight: 400;
			font-size: 18px;
		}
		tbody {
			@include breakpoint($sm) {
				display: block;
			}
			tr {
				@include breakpoint($sm) {
					position: relative;
					padding: 10px 0;
					height: auto;
					display: block;
					border-top: 1px solid $bd-color;
				}
				&:first-child {
					border-top: none;
				}
			}
			&.notice {
				.no i {
					color: $red;
					font-size: 1.375rem;
					display: inline-block;
					padding-top: 0.3125em;
				}
			}
			td {
				color: #757575;
				padding-bottom: 3px;
				@include breakpoint($md) {
					border-bottom: 1px solid $bd-color;
				}
				@include breakpoint($sm) {
					display: flex;
					align-items: center;
					&.no {
						display: none;
					}
				}
				&.tal {
					@include breakpoint($md) {
						padding-left: 20px;
					}
				}
				&.title {
					text-align: left;
					span + a {
						width: calc(100% - 70px);
						vertical-align: middle;
						padding-left: 5px;
					}
					a {
						color: #757575;
						@include ellipsis;
						width: 100%;				
						@include breakpoint($sm) {
							display: block;
							margin: 0;
							padding: 0 4px;
						}
						@include breakpoint($md) {
							padding-left: 20px;
						}
						&:hover {
							text-decoration: underline;
						}
					}
				}
				a.link {
					text-decoration: underline;
				}
				.only-m {
					display: none;
					@include breakpoint($sm) {
						color: #000;
						font-weight: 400;
						margin-right: 10px;
						display: block;
						font-size: 14px;
						line-height: 1;
						height: auto;
						padding: 4px;
						border-radius: 3px;
						flex-basis: 32%;
						max-width: 70px;
					}
				}				
			}
			.a.file {
				width: 30px;
				height: 30px;
				display: block;
				background: url(/static/fss/img/common/ico-file.png) 0 0 no-repeat;
				margin: 0 auto;
			}
		}
	}
	[class^=tag] {
		display: inline-block;
		color: #fff;
		font-size: 13px;
		padding: 1px 5px;
		border-radius: 30px;
	}
	.tag1 {
		background-color: #8b3793;
	}
	.tag2 {
		background-color: #344ba1;
	}
}