.req-infor {
	text-align: right;
	font-size: 14px;
}
.req {
	font-size: 15px;
	font-weight: 400;
	color: #525d64;
	&::before {
		content: "";
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #e24b44;
		font-weight: 600;
		vertical-align: middle;
		transform: translateY(-2px);
		margin-right: 2px;	
		.reg & {
			position: absolute;
			top: 50%;
			left: 20px;
			@include breakpoint($sm){
				position: static;
			}
		}
	}
	span {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
}

@mixin dl-table {
	clear: both;
	border-top: 2px solid $bd-top-color;
	margin-top: 10px;
	margin-bottom: 20px;
	> dl {
		border-bottom: 1px solid $bd-color;
		font-size: 16px;
		@include breakpoint($md) {
			display: table;
			width: 100%;
			table-layout: fixed;
			> * {
				display: table-cell;
				vertical-align: middle;
			}
		}
		> dt {
			position: relative;
			font-weight: 400;
			background-color: $bd-list-th-bg-color;
			padding: 0 10px 0 20px;
			@include breakpoint($sm) {
				padding: 10px 0 2px;
				text-align: left;
				background-color: transparent;			
			}
			@include breakpoint($md) {
				width: 130px;
				height: 50px;
			}			
		}
		> dd {
			color: #757575;
			position: relative;
			padding: 10px 20px;
			@include breakpoint($sm) {
				padding: 0 0 10px;
				& + dt {
					border-top: 1px solid $bd-color;
				}
			}
		}
	}
	& + .btn-set {
		margin: 20px 0 40px;
	}
}

.bd-view {
	@include dl-table;
	.subject {
		font-weight: 400;
		font-size: 18px !important;
		//text-align: center;
		padding: 16px 20px;
		margin-bottom: 0 !important;
		border-bottom: 1px solid $bd-color;
		background-color: $bd-list-th-bg-color;
	}
	&.type-dt-length-2 {
		> dl {
			> dt {
				@include breakpoint($md){
					width: 200px;
				}				
			}
		}
	}
}

// 뷰 네비게이션
.bd-view-nav {
	border-top: $bd-top-line;
	border-bottom: $bd-top-line;
	@include clearfix;
	dl + dl {
		border-top: 1px solid $bd-color;
	}
	dl {
		height: 50px;
		display: table;
		table-layout: fixed;
		width: 100%;
		> * {
			display: table-cell;
			vertical-align: top;
			line-height: 36px;
		}
		dt {
			position: relative;
			width: 130px;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: -0.24px;
			text-align: center;
			padding: 7px 0;
			border-right: 1px solid $bd-color;
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 9px;
				height: 5px;
				margin-right: 7px;
				background: url(/static/aieth/img/ico/bu-bd-view-nav.png);
			}
			@include breakpoint($sm) {
				width: 90px;
			}
		}
		dd {
			color: 
			#757575;
			letter-spacing: -0.24px;
			padding: 7px 0 7px 20px;
			span {
				@include ellipsis;
				width: 100%;
				vertical-align: middle;
				font-weight: 300;
			}
			a {
				color: #000;
				@include ellipsis;
				display: block;
				width: calc(100% - 20px);
			}
		}
		&:last-child {
			dt::before {
				transform: rotate(180deg);
			}
		}
	}
}

.reg {
	@include dl-table;
	> dl {
		> dt {
			height: 70px;
			padding: 0 10px 0 30px;
			@include breakpoint($sm){
				height: auto;
				padding: 6px 0 0 10px;
			}
		}
		> dd {
			@include breakpoint($sm){
				padding: 6px 10px;
			}
		}
	}
	.b-add {
		min-width: 40px;
		height: 40px;
		background: url(/static/aieth/img/ico/b-add.png);
	}
	.b-del {
		min-width: 40px;
		height: 40px;
		background: url(/static/aieth/img/ico/b-del.png);
	}
	.txt {
		margin-bottom: 10px;
	}
}

//파일 첨부, 삭제 set
.file_box {
	display: flex;
	justify-content: space-between;
	width: 100%;
	.input-file {
		display: flex;
		justify-content: space-between;
		width: calc(100% - 45px);
		label.b-file {
			display: inline-block;
			height: 40px;
			line-height: 40px;
			position: relative;
			padding: 0 20px;
			border-radius: 5px;
			background-color: #000;
			color: #fff;
			&::before {
				content: "";
				display: inline-block;
				width: 13px;
				height: 16px;
				background: url(/static/aieth/img/ico/ico-file.png);
				margin-right: 4px;
			}			
		}
	}
	.input-file input[type='text'] {
		width: calc(100% - 125px);
		background-color: #fff;
	}
	.input-file input[type='file'] {
		opacity: 0;
		position: absolute;
		left: 0;
		z-index: -1;
		min-width: 0;
		width: 120px;
		height: 40px;
		padding: 13px 15px;
		&:focus {
			opacity: 1;
			outline: 1px dashed #000;
			outline-offset: 1px
		}
	}
	button {
		&:focus {
			outline: 1px dashed #000;
			outline-offset: 1px
		}
	}
	& + .file_box {
		margin-top: 10px;
	}
}