.popupOpened {
	overflow: hidden;
	.popwrap {
		display: block;
	}
}
body > .popwrap {
	display: block;
	.set {
		display: block;
		&__wrap {
			width: 100%;
			border-radius: 0;
		}
	}
	&__body {
		max-height: inherit;
	}
}
.popwrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.7);
	.set {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		&__wrap {
			position: relative;
			width: 600px;
			max-width: 100%;
			background-color: #fff;
			border: 1px solid #d5d5d5;
			border-radius: 10px;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
		}
	}
	&__header {
		h1 {}
		.b-close {
			position: absolute;
			top: 0;
			right: 0;
			background-color: transparent;
			min-width: 50px;
			height: 50px;
			&::before {
				@include font-ico-outline('\e5cd');
				font-size: 30px;
				color: $point;
			}
		}
	}
	&__body {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	&__footer {}
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;
    display: none;
    overflow: hidden;
	&.fade.in {
		&::before {
			content: "";
			display: block;
			background: rgba(0, 0, 0, 0.7);
			position: fixed;
			width: 100%;
			z-index: 501;
			top: 0;
			left: 0;
			height: 100%;
		}
		
	}
	&-dialog {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 999;
		border-radius: 16px;
	}
	&-header {
		color: #fff;
		background-color: $point;
		h4 {
			color: #fff;
			margin: 0;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			&::before {
				color: #fff;		
			}
		}
	}
	&-content {
		width: 720px;
		max-width: 90%;
		position: relative;
		background-color: #fff;
		border: 1px solid $point;
		border-radius: 16px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}