@media print {
	@page {
		size: auto; // 프린트 사이즈
		margin: 15mm 10mm; // 프린트 여백
		size: A4;
		//margin: 30mm 45mm 30mm 45mm; /* margin: auto auto; 로 자동 여백 설정도 가능 */
	}
	#header,
	.page-toolbar,
	.page-print,
	.location,
	#footerSet  {
		display: none !important;
	}
	html {
		zoom: 90%;
	}
	#wrap {
		width: auto;
		padding: 0 !important;
	}
	.lnb {
		display: none;
	}
	// #container > main {
	// 	font: none;
	// 	width: 100%;
	// 	border-left: none;
	// 	padding-left: 0;
	// 	> .hgroup {
	// 		height: auto;
	// 		padding: 10px 0 !important;
	// 		line-height: 1.2;
	// 	}
	// }
	.navigation {
		color: #141414;
		background-color: #fff;
	}
	.popwrap {
		height: 100%;
		overflow: auto;
		position: static;
		display: block !important;
		&__header {
			display: none;
		}
		.set {
			box-shadow: none;
			width: 100%;
			max-width: 100%;
			//transform: 0;
		}
		&__body {
			overflow: inherit;
			padding: 0;
			max-height: 100% !important;
		}
	}
	*, .map, button {
		-webkit-print-color-adjust: exact !important; /*Chrome, Safari */
		color-adjust: exact !important; /*Firefox*/
	}
	.view > dl > dt {
		background-color: #EBF3F7 !important;
	}
	#main-container .h-caption::before {
		background-image: url(/static/portal/img/ico/ico-caption.png) !important;
	}
	
	table {
		display: table !important;
		table-layout: fixed !important;
		width: 100% !important;
		thead {
			display: table-header-group !important;
		}
		tbody {
			display: table-row-group !important;
		}
	}
	tr {
		display: table-row !important;
	}
	th, td {
		display: table-cell !important;
	}
	.bd-list table tbody td .only-m {
		display: none !important;
	}


	.pdf {
		overflow-y: hidden;
		height: auto !important;
	}


	#wrap {
		padding-top: 0;
	}
	.sh-db, 
	.admin-set,
	.my_memo, 
	.goTop {
		display: none;
	}
	#main-container .sh-db + .content {
		width: 100%;
		padding-left: 0;
		border-left: none;
	}

	.scrollX {
		overflow: hidden;
	}
}

//프린트용 표지
#print-cover {
	text-align: center;
	height: 100vh;
	.title {
		font-size: 18px;
		.board & {
			font-size: rem(36);
			font-weight: 600;
			padding-top: 20%;
			margin-bottom: 30px;
			@media print {
				padding-top: 30%;
			}
		}
	}
	.menu {
		font-size: rem(36);
		font-weight: 600;
		padding-top: 20%;
		margin-bottom: 30px;
		@media print {
			padding-top: 30%;
		}
		.board & {
			font-size: 18px;
			font-weight: 400;
			padding-top: 0;
			margin-bottom: 0;
		}
	}
}
.page-break {
	page-break-after: always;
}

#print-body {
	.lnb-nav,
	.admin-set,
	.my_memo,
	.goTop {
		display: none;
	}
	#btn_print a {color: #666; border: 1px solid #666;display: inline-block;padding: 0 15px;height: 35px;line-height: 35px;}
	.b-print::before {content: "";display: inline-block;vertical-align: middle; width: 25px;height: 25px;background: url(/static/portal/img/ico/ico-print.svg) 50% no-repeat;background-size: 25px;margin-right: 5px;margin-bottom: 2px;}

	#main-container .lnb-nav + .content {
		padding-left: 0;
		width: 100%;
		&::after {
			display: none;
		}
	}
}

.popup {	
	.page-print {
		background-color: #eee;
		padding: 10px 0;
		text-align: center;
		[class^=b-] {
			height: 33px;
			line-height: 33px;
			font-size: 14px;
		}
		.b-print {
			background-color: $color-point;
		}
		.b-close {
			background-color: #666;
		}
	}
}
