table {	
	word-break: break-all;
	width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
	font-size: rem(18);
	color: #1A1A1A;
}
.table {
	clear: both;
	border-top: 2px solid #182252;
	@include breakpoint($md){
		&.pcweb {
			display: block !important;
		}
		&.moble {
			display: none !important;
		}
	}
	@include breakpoint($sm){
		&.pcweb {
			display: none !important;
		}
		&.moble {
			display: block !important;
			thead {
				th {
					color: #fff !important;
					background-color: #076bcc !important;
					border-bottom: none !important;
				}
			}
			tbody {
				th {
					color: #757575;
					background-color: #fff;
					border: 1px solid #ccc;
				}
			}			
		}
	}
	table {
		width: 100%;
		thead {
			th {
				border-bottom: none;
			}
		}
		th {
			color: $black;
			font-weight: 400;
			background-color: #F2F6FA;			
			border: 1px solid $bd-color;
			padding: 14px 0;
			// & + th {
			// 	border-left: 1px solid $bd-color;
			// }
		}
		tbody {
			th {
				color: #233B76;
				background-color: #fff;
			}
		}
		td {
			padding: 12px 15px;
			min-height: 55px;
			border: 1px solid $bd-color;
			background-color: #fff;
		}
	}
}
.td {
	&-tal table tbody td {
		text-align: left;
	}
	&-tac table tbody td {
		text-align: center;
	}
	&-vt table tbody td {
		vertical-align: top;
	}
}

.table-view {
	border-top: 2px solid #182252;
	&.table {		
		th {
			text-align: left;
			font-weight: 400;
			color: $black;
			background-color: #F2F6FA;
			font-size: rem(18);
			border: 1px solid #dee0e6;
			padding-left: 15px;
			padding-right: 15px
		}	
		td {
			min-height: 55px;
			border-bottom: 1px solid $bd-color;
			padding: 7px 15px;
		}
	}
	[class^=b-] {
		font-size: rem(16);
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
	}
	label {
		display: inline-block;
	}
}