@mixin bu-dot() {
	position: relative;
	padding-left: 10px;
	&::before {
		position: absolute;
		top: 12px;
		left: 0;
		width: 3px;
		height: 3px;
		background-color: #b0b0b0;
		border-radius: 50%;
		content: '';		
	}
}

@mixin bu-dash() {
	position: relative;
	padding-left: 8px;
	&::before{
		position: absolute;
		top: 16px;
		left: 0;
		width: 4px;
		height: 1px;
		background-color: #000;
		content: '';
	}
}

.bu-dash {
	@include bu-dash;
}
.bu-dot {
	@include bu-dot;
}
.list {
	li {
		@include bu-dot;
		ul {
			color: #757575;
			li {
				@include bu-dash;
				&:before {
					color: #757575;
				} 
			}
		}
	}
}

#content h2 {
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 12px;
	&:first-child {
		margin-top: 0;
	}
}