.fc1 {
	// color: #118DB4;
	color: #3B63C4;
	font-weight: 500;
}
.fc2 {
	color: #3B63C4;
	font-weight: 500;
}
.first {
	color: #666;
}
.fade {
	opacity: 0;
	transition: opacity 0.15s linear;
	&.in {
		opacity: 1;
	}
}

.fnote {
	margin-top: 20px;
	margin-bottom: 30px;
	.title {
		.ml25 {
			margin-left: 29px !important;
		}
	}
}
.cont {
	p, li {
		margin-bottom: 4px;
		color: #1A1A1A;
	}
}
.top-txt {
    padding: 26px;
    text-align: center;
    background-color: #F2F6FA;
}
.btns {
	position: relative;
	display: inline-flex;
	@include breakpoint($sm){
		position: absolute;
		bottom: 10px;
		right: 8px;
	}
	> a {
		color: #666;
		display: inline-block;
		&::before {
			font-size: 19px;
			margin-right: 5px;
		}
		& + a {
			position: relative;
			margin-left: 11px;
			padding-left: 13px;
			&::after {
				content: "";
				position: absolute;
				top: 7px;
				left: 0;
				background: #666;
				width: 1px;
				height: 10px;
			}
		}
		&.i-download {
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				background: url(/static/portal/img/common/ico-download.png);
				width: 20px;
				height: 20px;
			}
		}
		&.i-download2 {
			display: inline-flex;
			height: 32px;
			align-items: center;
			justify-content: center;
			gap: 0 8px;
			padding: 0 12px;
			color: #3B63C4;
			border: 1px solid #3B63C4;
			background: #fff;
			border-radius: 4px;
		}
		&.i-view {
			&::before {
				@include font-ico-outline("\e666");
				background-color: transparent;
			}
		}
		.icon {
			display: inline-block;
		}
	}
}




/* 콘텐츠 내부 래프트메뉴 */
.content-row {
	.cont-nav {
		width: 240px;
		margin-right: 4.28571%;
		@include breakpoint($sm) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
		ul {
			position: sticky;
			top: 48px;
			@include breakpoint($sm){
				margin-top: 8px;
				display: none;
			}
			> li {
				margin-bottom: 4px;
				> a {
					display: block;
					padding: 6px 0;
					color: #333;
					scroll-behavior: smooth;
					i {
						display: none;
					}
				}
				&.on {
					background: #F2F6FA;
					border-radius: 8px;
					> a {
						display: flex;
						padding: 6px;
						font-weight: 500;
						align-items: center;
						justify-content: space-between;
						color: #1A1A1A;
						i {
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.cont-right {
		width: calc(100% - 240px - 4.28571%);
		@include breakpoint($sm) {
			width: 100%;
		}
		h3 {
			margin: 0 auto 16px;
		}
		.cont  {
			margin-bottom: 80px;
		}
		.tab-list {
			position: relative;
			margin-top: 20px;
			a {
				padding: 8px;
				min-width: 228px;
				width: auto;
				min-height: 40px;
				box-sizing: border-box;
				@include breakpoint($sm) {
					min-width: 128px;
				}
			}
		}

	}
}
@include breakpoint($sm) {
	.content-row  .js-tab {
		display: block;
		background: #fff;
		border: 1px solid #E5E5E5;
		border-radius: 0;
		button {
			display: flex;
			width: 100%;
			padding: 8px 6px;
			font-weight: 500;
			align-items: center;
			justify-content: space-between;
			color: #000;
			i {
				transform: rotate(90deg);
			}
		}
	}

	.content-row .js-tab.on {
		button {
			i {
				transform: rotate(270deg);
				transition: transform .4s;
			}
		}
		+ ul {
			display: block;
		}
	}

	.content-row .cont-nav ul {
		display: none;
		> li {
			margin-bottom: 0;
			margin-top: -1px;
			border: 1px solid #E5E5E5;
			> a {
				padding: 8px 6px;
			}
			&.on {
				border-radius: 0;
				> a {
					padding: 8px 6px;
					font-weight: 400;
					i {
						display: none;
					}
				}
			}
		}
	}
}

/* 컨퍼런스 */
.conference {
	.top-txt {
		margin-bottom: 30px;
		text-align: left;
		.subject {
			span {
				display: block;
				font-size: rem(18);
				font-weight: 400;
				color: #1A1A1A;
			}
		}
		.address {
			display: inline-block;
			background: linear-gradient(to right, #728bc2, #305e96);
			padding: 10px 15px;
			color: #fff;
			font-size: rem(16);
			margin-top: 20px;
		}
		& + p {
			margin: 30px 0;
		}
	}
	> h3 {
		&:first-of-type {
			margin-top: 0 !important;
		}
	}
	.schList {
		margin-top: 30px;
		li {
			display: flex;
			align-items: flex-start;
			border-bottom: 1px solid #e8e8e8;
			padding-bottom: 16px;
			margin-bottom: 16px;
			// margin-bottom: 8px;			
			flex-wrap: wrap;
			span {
				display: block;
				font-weight: 500;
			}
			.schTxt1 {
				width: 180px;
				padding: 0 20px;
				color: #1A1A1A;
				box-sizing: border-box;
				@include breakpoint($sm) {
					width: 110px;
					padding: 0 0;
				}
			}
			.schTxt2 {
				width: calc(100% - 180px);
				color: #1A1A1A;
				padding: 0 20px;
				box-sizing: border-box;
				@include breakpoint($sm) {
					width: calc(100% - 110px);
					padding: 0 0;
				}
				& + .schTxt1 {
					margin-top: 30px;
					& + .schTxt2 {
						margin-top: 30px;
					}
				}
			}
		}
		& + h3 {
			margin-top: 60px !important;
		}
	}
	.nodata {
		padding: 40px 24px 56px;
		background: #F2F6FA;
		border-radius: 16px;
		text-align: center;
		i {
			display: block;
			width: 76px;
			height: 56px;
			margin: 0 auto 24px;
			@include background-image-retina("/static/imer/img/ico/ico-noData", png, auto, 100%);
		}
		p {
			font-size: rem(36);
			font-weight: 300;
			color: #131547;
			@include breakpoint ($sm) {
				font-size: rem(24);
			}		
		}
	}
	> img {
		width: 100%;
	}
}