table {	
	//word-break: break-all;
	width: 100% !important;
	border-collapse: collapse;
    border-spacing: 0;
	// font-size: rem(18);
	color: #1A1A1A;
	p {
		margin-bottom: 0 !important;
	}	
}
:not(.dbData) {
	.table {
		clear: both;
		// margin: 10px -10px 0;
		@include breakpoint($md){
			&.pcweb {
				display: block !important;
			}
			&.moble {
				display: none !important;
			}
		}
		&.noBorder {
			border-top: 0;
		}
		table {
			width: 100%;
			table-layout: fixed;
			thead {
				th {
					border-bottom: none;
					background: #E8EBED;
					color: $black;
					border-right: 1px solid #BDBCBC;
					&:first-of-type {
						border-radius: 8px 0 0 8px;
					}
					&:last-of-type {
						border-radius: 0 8px 8px 0;
						border-right: 0;
					}
				}
			}
			th {
				color: $black;
				font-weight: 400;
				background-color: #F2F6FA;
				color: $black;			
				border-right: 1px solid $tb-border-color;
				border-bottom: 1px solid $tb-border-color;
				// border-right: 1px solid $bd-color;
				padding: 14px 16px;
				font-size: rem(16);
				@include breakpoint($sm) {
					padding: 10px 12px;
				}
				// & + th {
				// 	border-left: 1px solid $bd-color;
				// }
			}
			tbody {
				th {
					color: $black;
					background-color: $tb-bg-color;
				}
				tr {
					&:nth-of-type(even) {
						td, th {
							background-color: $tb-bg-color;
						}
					}
				}
			}
			td {
				color: $body-font-color;
				padding: 14px 16px;
				min-height: 52px;
				font-size: rem(16);
				border-right: 1px solid $tb-border-color;
				border-bottom: 1px solid $tb-border-color;
				background-color: #fff;
				&[rowspan] {
					border-left: 1px solid $tb-border-color;
				}
				@include breakpoint($sm) {
					padding: 10px 12px;
				}
				&:last-of-type {
					border-right: 0;
				}
				&.title {
					text-align: left;
					a {
						&:hover {
							color: $color-point;;
							text-decoration: underline;
						}
					}				
				}
				// .a-hover {
				// 	color: #1454FF;
				// }
				.a-hover2 {
					strong {
						color: #1a1a1a;
						margin-bottom: 4px;
					}
					span {
						font-size: rem(16);
						color: #808080;
					}
				}
			}
		}
		&.onlyThBg {
			table {
				border-spacing: 8px;
				border-collapse: separate;
				th, td {
					// border-collapse: collapse;
					// border: 8px solid #fff;
				}
				tbody {
					th {
						background: #E8EAED !important;
						border-radius: 8px;
						border: 0;
					}
					td {
						// background-color: #fff !important;
						background: #FAFAFA;
						border-radius: 8px;
						border: 0;
					}
				}
			}
		}
		&.bgWhite {
			tbody {
				th {
					background-color: #fff !important;
				}
				td {
					background-color: #fff !important;
				}
			}
		}
		&.type2 {
			font-size: rem(18);
			border-top: 2px solid #182252;
			th {
				padding: 14px 0;
			}
			tbody {
				th {
					padding: 14px 0;
					color: #233B76;
					background-color: #fff;
				}
			}
			td {
				padding: 12px 15px;
			}
		}
		&.m {
			@include breakpoint($smd){
				thead {
					display: none;
				}
				tr {
					display: block;
					padding: 12px 0;			
					border-bottom: 1px solid $bd-color;
				}
				th, td {
					display: block;
					border: 0;
					text-align: left;
					
					min-height: auto;
				}
				th {
					padding: 0;
				}
				td {
					padding: 1px 0;
				}
			}
		}
	}
	.td {
		&-tal table tbody td {
			text-align: left;
		}
		&-tac table tbody td {
			text-align: center;
		}
		&_tac table tbody td {
			text-align: center;
		}
		&-vt table tbody td {
			vertical-align: top;
		}
	}
}

// .table-striped tbody > tr:nth-child(even) td{ 
// 	background:#FAFAFA; 
// }

.table-view {
	border-top: 2px solid #182252;
	&.table {		
		th {
			text-align: left;
			font-weight: 400;
			color: $black;
			background-color: #F2F6FA;
			font-size: rem(18);
			border: 1px solid #dee0e6;
			padding-left: 15px;
			padding-right: 15px
		}	
		td {
			min-height: 55px;
			border-bottom: 1px solid $bd-color;
			padding: 7px 15px;
		}
	}
	[class^=b-] {
		font-size: rem(16);
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
	}
	label {
		display: inline-block;
	}
}
@include breakpoint($smd){
	.scrollX {
		overflow: hidden;
		overflow: auto;
		clear: both;
		width: 100%;
		table {
			min-width: 1023px;
		}
	}
}

table {
	.referList {
		margin-left: 0;
		li {
			padding-left: 0;
			text-indent: -14px;
			margin-left: 14px;
			&::before {
				display: none;
			}
		}
	}
	li {
		position: relative;
		padding-left: 10px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 11px;
			left: 0;
			background-color: #1A1A1A;
			width: 4px;
			height: 4px;
			border-radius: 50%;
		}
	}	
}



