
// font Spoqa
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	src: url('/static/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	src: url('/static/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	src: url('/static/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	src: url('/static/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


@import '../../commons/scss/common.scss';
@import '../../commons/scss/breakpoint'; //반응형 플러그인
@import 'base/variables'; //환경 설정
@import 'base/color'; // colors

@import 'base/util'; //mixins
@import 'mixins/layerfixed'; //mixins
@import 'mixins/underline'; //mixins
@import 'base/heading'; //해딩스타일
@import 'base/font-material';

/* 스프라이트 */
@import "components/sprite";
@mixin retina-sprites($retina-groups) {
	@each $retina-group in $retina-groups {
		$sprite-name: nth($retina-group, 1);
		.#{$sprite-name} {
			@include retina-sprite($retina-group);
		}	
	}
}
[class^='ico-'] {
	display: inline-block;
	vertical-align: middle;
}
@include retina-sprites($retina-groups);

@import 'base/layout'; //레이아웃
@import 'base/gnb'; //메뉴
@import 'base/footer'; //푸터

@import 'components/visible'; //반응형 스타일
@import 'components/popup'; //전체메뉴


a {
	color: $link-color;
}
html {
	font-size: $html-font-size;
	// @include breakpoint($sm){
	// 	font-size: rem(16);
	// }
}
body {
	overflow-x: hidden !important;
	color: $body-font-color;
	line-height: 1.5;
	font-family: $font-set;
	letter-spacing: -0.015rem;
	word-break: keep-all;
	font-weight: 400;
	@include breakpoint($sm) {
		word-break: keep-all;
	}
	&.ovh, 
	&.modal-open,
	&.popupOpened {
		// position: relative;
		overflow: hidden !important;
		// height: 100vh;
	}
}

iframe {
	border: 0;
}

* {
	box-sizing: border-box;
}

button {
	padding: 0;
	border: 0;
	background-color: transparent;
	overflow: visible;
}

i {
	font-style: normal;
}
img {
	max-width: 100%;
	// width: 100%;
}