@import url('/static/museum/css/default.css');

@import 'base/util'; //mixins
@import '../../commons/scss/breakpoint'; //반응형 플러그인
@import 'base/variables'; //환경 설정
@import 'base/color'; // colors
@import 'components/sprite'; //아이콘 스프라이트
[class^='ico-'] {
	display: inline-block;
}


/* 레이아웃 */
#wrap {
	padding-top: 0;
}
.row {
	@include flex-row;
	align-items: flex-start;
}

/* 헤더, gnb */
#header {
	position: fixed;
	background: rgba(0, 0, 0, 0.60);
	backdrop-filter: blur(4px);
	border-bottom: 0;
	.container {
		// max-width: 1720px;
		max-width: 1920px;
		padding-left: 20px;
		padding-right: 154px;
		@include breakpoint($smd) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.globalHeader {
		@include breakpoint($lg){
			ul {
				max-width: 1920px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				li {
					a {
						display: inline-block;
						font-size: 14px;
						border-radius: 4px;
						border: 1px solid rgba(255, 255, 255, 0.4);
						background: rgba(0, 0, 0, 0.2);
						padding: 2px 9px;
						color: #fff;
					}
					& + li {
						&::before {
							background-color: transparent;
						}
					}
				}
			}
		}
		> .container {
			border-bottom: 0;
		}
 	}
	.g-info {
		margin-right: 0;
		.global ul li a {
			color: #fff;
		}
	}
}
#header.family {
	.logo {
		> a {
			display: inline-flex;
			width: auto;
			align-items: center;
			background: transparent;
			gap: 0 32px;
			@include breakpoint($sm){ 
				gap: 0 24px;
			}
		}
		&-portal {
			display: inline-block;
			width: 128px;
			height:  41px;
			@include background-image-retina("/static/museum/img/common/logo-portal", png, auto, 100%);
			background-size: cover;
			@include breakpoint($sm){
				width: 100px;
				height: 32.5px;
			}
		}
		&-museum {
			display: inline-block;
			position: relative;
			width: 83px;
			height:  37px;
			padding-left: 24px;
			@include background-image-retina("/static/museum/img/common/logo-museum", png, auto, 100%);
			background-size: contain;
			background-position: center center;
			@include breakpoint($sm){
				width: 66.5px;
				height: 24.5px;
			}
			&::before {
				content: '';
				position: absolute;
				display: inline-block;
				left: -16px;
				width: 1px;
				height: 38px;
				background: rgba(255,255,255,.2);
				@include breakpoint($sm){ 
					left: -12px;
					height: 32px;
				}
			}
		}
	}
}
.gnb {
	display: flex;
	align-items: center;
    justify-content: center;
	width: calc(100% - 243px - 140px);
	gap: 0 40px;
	> ul {
		display: none;
		@include breakpoint($lg){
			display: flex;
			max-width: none;
			width: auto;
			flex-direction: row;
			justify-content: center;
			gap: 0 40px;
			// justify-content: space-around;
			// flex-grow: 1;
			> li {
				// flex: 1;
				> a {
					display: block;
					width: 100%;
					white-space:nowrap;
					width: 100%;
					color: #fff;
					text-align: center;
					height: 72px;
					line-height: 72px;
					font-size: rem(24);
					font-weight: 500;
					// padding: 0 .75em;
					&.on {
						& + .depth2 {
							display: flex;
							justify-content: space-between;
							background-color: rgba(19, 21, 71, 0.95);
							&::before,
							&::after {
								content: "";
								display: block;
								width: 100%;
								height: 100%;
								background-color: rgba(19, 21, 71, 0.95);
								position: absolute;
								top: 0;
							}
							&::before {
								left: -100%;
							}
							&::after {
								right: -100%;
							}
						}
					}
				}
				&:hover,
				&.on,
				&.active {
					> a {
						color: #39A0FF;
						span {
							display: inline-block;
							position: relative;
							height: 60px;
							&::before {
								content: "";
								display: block;
								position: absolute;
								bottom: 0;
								left: 0;
								background-color: #39A0FF;
								width: 100%;
								height: 3px;
							}
						}
					}
				}
				&.menu01 {
					.depth2 {
						> ul {
							flex-wrap: inherit;
							> li {
								flex-basis: calc(100% / 6);
							}
						}
					}
				}
				&.menu02 {
					> ul {
						width: calc(100% - 240px - 50px);
					}
				}
			}
			.depth2 {
				display: none;
				position: absolute;
				//top: 60px;
				top: 72px;
				left: 0;
				width: 100%;
				z-index: 99;								
				> ul {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					padding-left: 12%;
					margin: 15px 0;
					> li {
						flex-basis: calc(100% / 5);
						padding: 15px 0;
						> a {
							display: inline-block;
							font-size: rem(20);
							font-weight: 500;
							color: #fff;
						}
						&:hover,
						&.on,
						&.active {
							> a {
								//color: $point;
							}
						}
					}
				}
				.e {
					width: 376px;
					padding: 35px 48px;
					background-color: rgba(177, 193, 231, 0.1);
					.img {
						padding-top: 56.2%;
						display: block;
						height: 1px;
						background-repeat: no-repeat;
						background-position: 50%;
						background-size: cover;
					}
					.txt {
						width: 100%;
						@include ellipsis;
						color: #fff;
						margin-top: 8px;
						text-align: center;
					}
					a {
						display: block;
						// & + a {
						// 	margin-top: 20px;
						// }
					}
				}
			}
			.depth3 {
				padding-top: 5px;
				> ul {
					> li {
						> a {
							position: relative;
							display: inline-block;
							color: #B1C1E7;
							font-weight: 400;
							padding: 1px 0;
							&:hover,
							&.on,
							&.active {
								color: #fff;
								text-decoration: underline;
							}
						}
						&.active {
							> a {
								color: #fff;
								font-weight: 500;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		
	}
	> button.all-nav-toggle {
		// padding-left: 8%;
		// @include breakpoint($md) {
		// 	padding-left: 4%;
		// }
		@include breakpoint($smd){
			position: absolute;
			display: block;
			top: -30px;
			right: -10px;
			width: 60px;
			height: 60px;
			padding-left: 0;
		}
		@include breakpoint($sm){
			right: -40px;
		}
		&::before {
			@include font-ico-outline('\e5d2');
			color: #fff;
			font-size: 32px;
		}
	}
}
@include breakpoint($lg 1500px){
	.gnb > ul {
		// width: 540px;
		> li > a {
			font-size: rem(20);
		}
	}
	#header {
		.g-info {
			.global {
				// margin-left: 30px;
				padding-left: 20px;
			}
		}
	}
}
// .mobileGnb {
// 	@include breakpoint($lg){
// 		display: none;
// 	}
// 	.m-all-nav-toggle {
// 		position: absolute;
// 		top: 0;
// 		right: 60px;
// 		width: $m-header-height;
// 		height: $m-header-height;
// 		&::before {
// 			@include font-ico-outline('\e5d2');
// 			color: #fff;
// 			font-size: 32px;
// 		}
// 	}
// 	&__set {
// 		display: none;
// 		.mobileGnb-close {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			// width: $m-header-height;
// 			width: $m-header-height;
// 			height: $m-header-height;
// 			line-height: $m-header-height;
// 			&::before {
// 				@include font-ico('\e5cd');
// 				font-size: 34px;
// 				color: #fff;
// 				margin-top: 12px;
// 			}
// 		}
// 		&.active {
// 			position: fixed;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 			width: 100%;
// 			height: 100vh;
// 			background-color: $point;
// 			z-index: 99;
// 			.top {
// 				height: $m-header-height;
// 				line-height: $m-header-height;
// 				span {
// 					font-size: 20px;
// 					display: block;
// 					padding-left: 10px;
// 				}
// 			}
// 		}
// 	}	
// 	&__nav {
// 		position: relative;
// 		> ul {
// 			width: 140px;
// 			> li {
// 				> a {
// 					display: block;
// 					color: #fff;
// 					padding: 16px 24px;
// 					font-size: rem(18);
// 					border-bottom: 1px solid #233B76;
// 				}
// 				.depth2 {
// 					display: none;
// 					.e {
// 						display: none;
// 					}
// 				}
// 				&.active {
// 					> a {
// 						color: $point;
// 						background-color: #fff;
// 						border-bottom: none;
// 					}
// 					.depth2 {
// 						display: block;
// 						position: absolute;
// 						top: 0;
// 						right: 0;
// 						width: calc(100% - 140px);
// 						height: calc(100vh - 60px);
// 						overflow-y: auto;
// 						z-index: 9;
// 						padding: 24px;
// 						background-color: #fff;
// 						> ul {
// 							> li {
// 								margin-bottom: 15px;
// 								> a {
// 									display: block;
// 									font-weight: 500;
// 									color: $point;
// 									padding: 2px 0;
// 								}
// 							}
// 						}
// 					}
// 					.depth3 {
// 						> ul {
// 							li {
// 								a {
// 									color: #666;
// 									font-size: rem(14);
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

/* footer */
#footer {
	margin: 0;
}

/* section, 공통 */
.section {
	// min-height: 1080px;
	height: 100vh;
	@include breakpoint($sm) {
		min-height: initial;
		height: auto;
	}
	h2 {
		color: #131547;
		font-size: rem(48);
		font-weight: 700;
		margin-bottom: 90px;
	}
	section {
		width: 1680px;
		max-width: 100%;
		margin: 0 auto;
		// border: 1px solid red;
		// box-sizing: border-box;
	}
	.b-more {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 36px;;
		@include background-image-retina("/static/museum/img/ico/ico-more", png, 100%, 100%);
	} 
}

/* section1 비주얼 */
#section1 {
	position: relative;
}
.section1-visual {
	width: 100vw;
	height: 100vh;
	@include breakpoint($sm) {
		height: auto;
	}
	.swiper-slide {
		position: relative;
		height: 100vh;
		align-items: center;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		@include breakpoint($sm) {
			min-height: 760px;
			height: auto;
		}
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			// background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 82.44%, rgba(0, 0, 0, 0.60) 94.29%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 100%)
		}
		.s1-txt-set {
			position: relative;
			z-index: 2;
			width: 100%;
			max-width: 1680px;
			padding: 0 50px;
			margin: 160px auto 0;
			box-sizing: border-box;
			@include breakpoint($sm) {
				padding: 0 20px;
				margin: -300px auto 0;
			}
			br {
				@include breakpoint($sm) {
					display: none;
				}
			}
		}
		.s1-t1 {
			color: #fff;
			font-size: rem(44);
			font-style: normal;
			font-weight: 700;
			line-height: 110%;
			text-transform: uppercase;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
			@include breakpoint($sm) {
				font-size: rem(32);
			}
		}
		.s1-t2 {
			margin-top: 24px;
			color: #fff;
			font-size: rem(20);
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
			@include breakpoint($sm) {
				font-size: rem(18);
			}
		}
	}
	&__ctrl {
		position: absolute;
		top: 68%;
		left: 50%;
		width: 100%;
		padding: 0 50px;
		max-width: 1680px;
		box-sizing: border-box;
		transform: translateX(-50%);
		z-index: 100;
		display: flex;
		flex-direction: row;
		align-items: center;
		@include breakpoint($sm) { 
			padding: 0 20px;
			top: 44%;		
		}
		

		.section1-visual__swiper-button-prev {
			margin-top: -8px;
			font-size: 24px;
			&::before {
				@include font-ico-outline('\e314');
				color: #fff;
			}
		}
		.section1-visual__swiper-button-next {
			margin-top: -8px;
			font-size: 24px;
			&::before {
				@include font-ico-outline('\e315');
				color: #fff;
			}
		}
		.section1-visual__swiper-button-stop {
			font-size: 24px;
			margin-top: -8px;
			transform: translateX(8px);
			&::before {
				@include font-ico-outline('\e034');
				color: #fff;
			}
		}
		.section1-visual__swiper-button-play {
			display: none;
			font-size: 24px;
			margin-top: -8px;
			transform: translateX(8px);
			&::before {
				@include font-ico-outline("\e037");
				color: #fff;
			}
		}
		.section1-visual__swiper-button-prev,
		.section1-visual__swiper-button-next {
			&.swiper-button-disabled {
				opacity: .4;
			}
		}
	}
	.swiper-pagination {
		position: static;
		color: rgba(255, 255, 255, 0.6);
		font-weight: 300;
		&-current {
			font-size: rem(20);
			font-weight: 700;
			color: rgba(255, 255, 255, 1);
		}
		&-total {
			font-size: rem(18);
			margin-left: 82px;
		}
		span {
			display: inline-block;
			padding: 0 16px;
		}
	}
	.autoplay-progress {
		position: absolute;
		top: 50%;
		left: calc(78px + 50px);
		width: 82px;
		height: 4px;
		transform: translateY(-50%);
		background: rgba(255,255,255,0.6);
		@include breakpoint($sm) { 
			left: calc(78px + 20px);
		}
		.progress {
			display: block;
			width: 0px;
			height: 4px;
			background: #39A0FF;
			&.active {
				animation: 6s progress linear;
			}
			&.first {
				animation: 5s progress linear;
			}

		}
		
	}
}
.section1-bottom {
	position: absolute;
	left: 50%;
	bottom: 0;
	padding: 16px 0;
	width: 100%;
	max-width: 1680px;
	padding: 16px 50px;
	transform: translateX(-50%);
	box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, 0.30);
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 2;
	gap: 20px 0;
	@include breakpoint($sm) {
		padding: 16px 20px;
	}
	.museum-info {
		gap: 0 36px;
		@include breakpoint($sm) {
			gap: 10px 0;
			flex-direction: column;
		}
		&__date {
			font-size: rem(28);
			font-weight: 500;
			color: #fff;
			span {
				display: block;
				font-size: rem(16);	
				font-weight: 400;
			}
		}
		&__holiday {
			font-size: 14px;
			font-weight: 300;
			color: #fff;
			span {
				display: block;
				font-weight: 400;
				font-size: rem(16);	
				margin-bottom: 4px;
				i {
					margin-right: 4px;
				}
			}
		}
	}
	.museum-reserve {
		gap: 0 12px;
		@include breakpoint($smd) {
			flex-wrap: wrap;
			gap: 6px 10px;
		}
		i {
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 4px; 
		}
		a {
			display: flex;
			width: 164px;
			height: 48px;
			padding: 8px 12px;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			font-weight: 500;
			color: #fff;
			border-radius: 99px;
			background: rgba(255,255,225,0.1);
			&:hover,
			&:focus {
				background: #005596;
			}
			@include breakpoint($md) {
				background: rgba(255,255,225,0.1);
			}
			@include breakpoint($sm) {
				width: 132px;
			}
		}
		
	}

}

/* section2 게시판 */
#section2 {
	padding: 180px 0 200px;
	box-sizing: border-box;
	background: #F2F6FA;
	@include breakpoint($smd) {
		padding: 80px 0 0;
		height: auto;
	}
	section {
		position: relative;
		> .row {
			justify-content: space-between;
			padding: 0 50px;
			@include breakpoint($smd) {
				flex-direction: column;
			}
			@include breakpoint($sm) {
				padding: 0 20px;
			}
		}
	}
	h2 {
		width: 100%;
		margin: 0 auto 64px;
		padding: 0 50px;
		box-sizing: border-box;
		@include breakpoint($sm) {
			padding: 0 20px;
			margin: 0 auto 40px;
		}
	}
	h3 {
		margin-bottom: 24px;
		font-size: rem(28);
		font-weight: 500;
		color: #1A1A1A;
		// @include breakpoint($sm) {
		// 	margin-bottom: 30px;
		// }
	}
}
.section2-news {
	position: relative;
	width: 480px;
	margin-right: 7.14286%;
	background: #F2F6FA;
	z-index: 2;
	@include breakpoint($smd) {
		width: 100%;
		margin-left: 0;
	}
	ul {
		border-top: 2px solid #1A1A1A;
		li {
			padding: 14px 0;
			border-bottom: 1px solid #E5E5E5;
			box-sizing: border-box;
			span {
				display: block;
			}
			.tit {
				font-size: rem(18);
				font-weight: 500;
				color: #222;
			}
			.desc {
				display: -webkit-box;
				max-height: 48px;
				margin: 12px 0;
				font-size: rem(16);
				font-weight: 400;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 2; 
				-webkit-box-orient: vertical;
				color: #4D4D4D;
			}
			.date {
				font-size: rem(14);
				font-weight: 400;
				color: #666;
			}
		}
	}
}
.section2-exhibit {
	position: relative;
	width: calc(100% - 480px - 7.14286%);
	@include breakpoint($smd) {
		width: 100%;
		margin-top: 100px;
	}
	@include breakpoint($sm) {
		margin-top: 80px;
	}
	.b-more {
		// right: -50px;
		// @include breakpoint($smd) {
		// 	right: 0;
		// }
	}
	> .row {
		position: relative;
		height: 480px;
		background: #005596;
		border-radius: 16px 0 0 16px;
		@include breakpoint($sm) { 
			flex-direction: column;
			height: auto;
			border-radius: 16px;
			background: none;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			right: 0;
			z-index: 1;
			background: #005596;
			border-radius: 16px 0 0 16px;
			@include breakpoint($sm) {
				// display: none;
				top: 10px;
				left: -20px;
				border-radius: 0;
			}
		}
	}
	.section2-txt {
		width: 55.55%;;
		overflow: visible;
		margin: 0;
		padding: 72px 0 84px 11.11%;
		z-index: 2;
		background: #005596;
		border-radius: 16px 0 0 16px;
		@include breakpoint($smd) {
			padding: 72px 0 84px 6%;
		}
		@include breakpoint($sm) {
			order: 2;
			width: 100%;
			margin-top: 80px;
			padding: 0 0 50px;
		}
		.swiper-wrapper {
			height: auto;
		}
		.swiper-slide {
			width: 480px;
			@include breakpoint($sm) {
				text-align: center;
				width: 240px;
			}
			> * {
				opacity: 0;
			}
			> a {
				display: block;
			}
			&.swiper-slide-active {
				> * {
					opacity: 1;
				}
			}
			.current {
				display: inline-block;
				padding: 4px 12px;
				margin-bottom: 8px;
				border-radius: 99px;
				line-height: 1;
				background: #fff;
				color: #3B63C4;
			}
			p {
				font-size: rem(24);
				font-weight: 500;
				color: #fff;
				margin-bottom: 32px;
				@include breakpoint($sm) {
					margin-bottom: 20px;
				}
			}
			li {
				font-size: rem(16);
				font-weight: 300;
				color: #fff;
				&:first-of-type {
					margin-bottom: 8px;
					@include breakpoint($sm) {
						margin-bottom: 4px;
					}
				}
				i {
					margin-right: 8px;
				}
			}
		}
		.pagination-top {
			display: flex;
			align-items: center;
			// transform: translateY(-114px);
			margin-top: -114px;
			margin-bottom: 72px;
			margin-right: 15px;
			@include breakpoint ($sm) {
				position: absolute;
				top: -470px;
				right: 0;
				margin-top: 0;
				margin-right: 0;
				margin-bottom: 0;
			}
			.pagination-fraction {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				@include breakpoint($sm) {
					color: #fff;
					line-height: 1;
				}
				span {
					padding: 0 8px;
					font-size: rem(18);
					font-weight: 300;
					color: #1A1A1A;
					@include breakpoint($sm) {
						color: #fff;
						font-size: rem(16);
					}
					&.swiper-pagination-current {
						font-size: rem(28);
						font-weight: 500;
						color: #39A0FF;
						@include breakpoint($sm) {
							font-size: rem(20);
						}
					}
				}
			}
			.section2-stop {
				width: 24px;
				height: 25px;
				@include background-image-retina("/static/museum/img/ico/ico-pauseBk", png, auto, 100%);
			}
			.section2-play {
				width: 24px;
				height: 25px;
				@include background-image-retina("/static/museum/img/ico/ico-playBk", png, auto, 100%);
			}
		}
		.pagination-btm {
			margin-top: 64px;
			@include breakpoint($sm) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 0;
				text-align: center;
			}
			button {
				margin: 0 5px;
				@include breakpoint($sm) {
					transform: scale(.8);
				}
				&.swiper-button-disabled {
					opacity: 0.4;
				}
				&.section2-prev {
					&:hover,
					&:focus {
						> i {
							background-position: 0 -136px;
						}
					}
				}
				&.section2-next {
					&:hover,
					&:focus {
						> i {
							background-position: -136px -136px;
						}
					}
				}
			}
		}
	}
	.section2-img {
		width: calc(100% - 55.55%);
		margin: 72px 0 0;
		overflow: visible;
		@include breakpoint($sm) {
			order: 1;
			width: 100%;
			margin: 60px 0 0;
		}
		.swiper-slide {
			width: 330px;
			height: 440px;
			transform: scale(0.6363);
			transform-origin: top center;
			opacity: 0;
			@include breakpoint($smd) {
				width: 264px;
				height: 352px;
				transform: scale(0.5);
			}
			@include breakpoint($sm) {
				transform: scale(1);
			}
			&.swiper-slide-visible{
				transition: opacity 0.6s, transform 0.2s;
				opacity: 0.6;
				&.swiper-slide-active {
					opacity: 1;
				}	
			}
			&.swiper-slide-prev{
				transition: opacity 0.6s, transform 0.2s;
			}
			&.swiper-slide-next {
				+ .swiper-slide, 
				+ .swiper-slide + .swiper-slide {
					opacity: 0.6;
				}
			}
			&.swiper-slide-active {
				transform: scale(1) translateY(-140px);
				box-sizing: border-box;
				opacity: 1;
				@include breakpoint($sm) {
					transform: scale(1) translateY(0);
				}
				.pdf-down {
					display: block;
				}
			}
			.slide-img {
				width: 100%;
				height: 100%;
				background-color: #fff;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				box-shadow: 0px 16.635px 19.962px 0px rgba(0, 0, 0, 0.15);
				// @include breakpoint($sm) {
				// 	transform: translateX(15px);
				// }
			}
			.pdf-down {
				margin-top: 8px;
				text-align: right;
				display: none;
				a {
					position: relative;
					font-size: rem(16);
					font-weight: 300;
					color: #fff;
					i {
						margin-right: 8px;
					}
					&::before {
						content: "";
						display: inline-block;
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: -8px;
						background: #fff;
					}
				}
			}
		}
	}
}




// .section2-exhibit {
// 	width: calc(100% - 480px - 7.14286%);
// 	.section2-bg {
// 		position: relative;
// 		padding: 72px 0 84px 120px; 
// 		box-sizing: border-box;
// 		// position: relative;
// 		&::before {
// 			content: "";
// 			display: block;
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 100vw;
// 			height: 100%;
// 			right: 0;
// 			z-index: 1;
// 			background: #2F4F9D;
// 			border-radius: 16px 0 0 16px;
// 		}
// 	}
// 	.section2-swiper {
// 		overflow: visible;
// 		.swiper-slide {
// 			.slide-txt {
// 				// width: 0;
// 				font-size: rem(24);
// 				color: #fff;
// 				margin-right: 30px;
// 				transform: translateX(-480px);
// 				opacity: 0;
// 				transition: transform 1s, opacity .4s;
// 				display: none;
// 				.current {
// 					display: inline-block;
// 					padding: 4px 12px;
// 					margin-bottom: 8px;
// 					font-size: rem(16);
// 					border-radius: 99px;
// 					line-height: 1;
// 					background: #fff;
// 					color: #3B63C4;
// 				}
// 				p {
// 					font-size: rem(24);
// 					font-weight: 500;
// 					color: #fff;
// 					margin-bottom: 32px;
// 				}
// 				li {
// 					font-size: rem(16);
// 					font-weight: 300;
// 					color: #fff;
// 					&:first-of-type {
// 						margin-bottom: 8px;
// 					}
// 					i {
// 						margin-right: 8px;
// 					}
// 				}
// 			}
// 			.slide-img {
// 				width: 330px;
// 				height: 440px;
// 				transform: scale(0.636363) translateY(0);
// 				transform-origin: top;
// 				opacity: 0.6;
// 			}
// 			.pdf-down {
// 				transform: translateY(-150px);
// 				// margin-top: 12px;
// 				text-align: right;
// 				display: none;
// 				a {
// 					position: relative;
// 					font-size: rem(16);
// 					font-weight: 300;
// 					color: #fff;
// 					i {
// 						margin-right: 8px;
// 					}
// 					&::before {
// 						content: "";
// 						display: inline-block;
// 						position: absolute;
// 						width: 100%;
// 						height: 2px;
// 						bottom: -8px;
// 						background: #fff;
// 					}
// 				}
// 			}
// 		}
// 		.swiper-slide-active {
// 			.slide-txt {
// 				display: block;
// 				width: 480px;
// 				transform: translateX(0);
// 				opacity: 1;
// 			}
// 			.slide-img {
// 				transform: scale(1) translateY(-150px);
// 				opacity: 1;
// 			}
// 			.pdf-down  {
// 				display: block;
// 			}
// 		}
// 	}
// }






@keyframes progress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}