@import url('/static/imer/css/default.css');

@import 'base/util'; //mixins
@import '../../commons/scss/breakpoint'; //반응형 플러그인
@import 'base/variables'; //환경 설정
@import 'base/color'; // colors
@import 'components/ico'; // icons
//@import 'breakpoint'; //반응형 플러그인
//@import 'base/heading';//해딩스타일


#header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	.globalHeader {
		@include breakpoint($lg){
			ul {
				border-bottom: 1px solid $bd-color;
				li {
					a {
						position: relative;
						color: #233B76;
						&::before {
							content: "";
							display: block;
							position: absolute;
							width: 1px;
							height: 1em;
							background: #B1C1E7;
							top: 50%;
							right: 0;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
	.logo {
		display: inline-flex;
		align-items: center;
		a {
			height: 60px;
			@include background-image-retina("/static/imer/img/common/logo-blue", png, auto, 40px);
		}	
		// a.imer {
		// 	display: inline-block;
		// 	position: relative;
		// 	width: 134px;
		// 	font-size: 8px;
		// 	color: #3B63C4;
		// 	padding-left: 24px;
		// 	margin-left: 24px;
		// 	background: none;
		// 	&::before {
		// 		content: "";
		// 		display: block;
		// 		width: 1px;
		// 		height: 40px;
		// 		background: #e5e5e5;
		// 		position: absolute;
		// 		left: 0;
		// 		top: 50%;
		// 		transform: translateY(-50%);
		// 	}
		// 	em {
		// 		display: block;
		// 		font-size: 20px;
		// 		line-height: 1.2;
		// 		letter-spacing: 3.3px;
		// 		font-weight: 500;
		// 	}
		// }
	}
	
}

.gnb {
	// gap: 0 48px;
	> ul {
		@include breakpoint($lg){
			> li {
				> a {
					color: #1A1A1A;
				}
			}
		}
	}
	.all-nav-toggle::before {
		color: #1C1B1F;
	}
}

// .section {
// 	//height: calc(100vh - 94px);
// 	min-height: 1080px;
// 	height: 100vh;
// 	h2 {
// 		color: #131547;
// 		font-size: rem(36) !important;
// 		font-weight: 600;
// 		margin-bottom: 100px !important;
// 	}
// 	section {
// 		width: 1680px;
// 		max-width: 100%;
// 		margin: 0 auto;
// 		//padding: 110px 0;
// 	}
// }

.section1-visual {
	height: 582px;
	background: url(/static/imer/img/main/main-bg.png) center center no-repeat;
	background-size: cover;
	.section1-container {
		max-width: 1728px;
		height: 100%;
		margin: 0 auto;
	}
	.section1-logo > ul{
		padding-top: 48px;
		padding-bottom: 36px;
		justify-content: flex-end;
		gap: 0 12px;
	}
	.section1-txt {
		&__tit {
			font-size: 24px;
			font-weight: 700;
			color: #fff;
		}
		&__desc {
			margin: 24px 0 94px;
			font-size: 28px;
			line-height: 1.1;
			em {
				font-size: 44px;
			}
		}
	}
	.swiper {
		.swiper-slide {
			position: relative;
			background-size: cover;
			background-attachment: fixed;
		}
		&__ctrl {
			position: absolute;
			left: 112px;
			top: 529px + 40;
			z-index: 100;
			display: flex;
			flex-direction: row;
			align-items: center;
			.swiper-pagination-bullet {
				@include rect(20px);
				background-color: #fff;
				opacity: 1;
				transform: translateY(3px);
			}
			.swiper-pagination-bullet-active {
				width: 48px;
				border-radius: 100px;
				background: var(--CI_blue, #15b4df);
			}
			button {
				@include rect(36px);
				background-color: transparent;
			}
			.section1-visual__swiper-button-stop {
				transform: translateY(3px);
			}
		}
		.swiper-pagination {
			position: static;
			color: rgba(255, 255, 255, 0.7);
			font-size: rem(27);
			font-weight: 300;
			&-current {
				color: #39A0FF;
				font-weight: 700;
				font-size: rem(36);
			}
			span {
				display: inline-block;
				padding: 0 10px;
			}
		}
	}
}


// @include breakpoint($lg){

// 	#section2 section,
// 	#section3 section,
// 	#section4 section {
// 		padding-top: calc((100vh - (1080px + 194px)) / 2 + 194px);
// 		//padding-top: calc((100vh - (778px + 75px)) / 2 + 75px);
// 	}


// 	.gnb-stiky #section1, 
// 	.gnb-stiky #section2, 
// 	.gnb-stiky #section3 {
// 		height: 100vh;
// 		padding: 94px 0 0px;
// 	}
// }


