<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>한국은행 한은금융망 및 국고전산망 주IT센터로의 통신망 전환(원복)</title>
	<link type="text/css" rel="stylesheet" href="/static/view/html/style.css">
</head>
<body>
<div id="wrap">
	<h1><img src="img/logo.png" alt="한국은행"></h1>
	<div class="wrap_body">
		<div>
			<div class="top">
				<h2>
					<span>한국은행 한은금융망 및 국고전산망</span>
					<strong>주IT센터로의 통신망 전환(원복)</strong>
				</h2>
				<p class="tac">한국은행에서 참가기관의 통신망 전환(원복)을 일괄수행 중 입니다.<br>
				잠시후 훈련 종료가 선언되면 참가기관은 VPN에서 인터넷 회선을 제거 후 한국은행 주IT센터로의 정상 복원여부를<br> 확인하여 주시기 바랍니다.</p>
			</div>
			<dl>
				<dt><u>한은금융망 단말접속기관</u>은</dt>
				<dd>
					<strong>평상시와 동일하게 단말프로그램을 가동하여 'DR MODE'가 아닌 단말 화면이 나오면 정상</strong>
				</dd>
			</dl>
			<dl>
				<dt><u>한은금융망 서버접속기관 및 국고전산망 관련기관</u>은</dt>
				<dd>
					한국은행 실시간/일괄FEP(운영)와 TCP포트 오픈 확인(국고전산망은 전문 및 파일 전송 점검 수행)<br>
					(참가기관 통신담당자는 한국은행에서 VPN 재가동을 요청할 수 있으므로 정상복원 확인시까지 대기)<br>
					<ul class="ml10 mt5">
						<li>한국은행 주IT센터에서 담당자가 온라인업무와 일괄전송업무를 위한 접속이 정상인지를 확인하여야 금번 훈련이 종료되는 것임</li>
					</ul>
				</dd>
			</dl>
			<div class="etc">
				<h3>연락처</h3>
				<div class="con">
					<p class="map">한국은행 주IT센터(서울)</p>
					<ul>
						<li>전 화 : (채널) 02-759-4435</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>