<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>한국은행 한은금융망 및 국고전산망 재해복구체제로 전환중...</title>
	<link type="text/css" rel="stylesheet" href="/static/view/html/style.css">
</head>
<body>
<div id="wrap">
	<h1><img src="img/logo.png" alt="한국은행"></h1>
	<div class="wrap_body">
		<div>
			<div class="top">
				<h2>
					<span>한국은행 한은금융망 및 국고전산망</span>
					<strong>재해복구체제로 전환중...</strong>
				</h2>
			</div>
			<dl>
				<dt>한은금융망 단말 접속기관 </dt>
				<dd><strong>18:45분부터 재해복구센터와의 연결이 확인되면 단말프로그램 기동</strong></dd>
				<dd>
					<strong><u>한국은행 담당자가 통신장비 재가동을 요청할 경우에만</u> VPN(1 - 2대) 및 인터넷 모뎀(1대) 전원을 OFF하고 아래 2단계를 수행</strong>
					<ol>
						<li>(1단계) 인터넷 회선(ADSL)이 연결된 VPN장비의 전원 ON (VPN이 이중화된 경우) 30초 후 백업용 VPN장비의 전원 ON</li>
						<li>(2단계) 잠시후 인터넷 모뎀의 전원 ON</li>
					</ol>
				</dd>
			</dl>
			<dl>
				<dt>한은금융망 및 국고전산망(한국은행) 서버접속기관  </dt>
				<dd><strong>18:45분부터 재해복구센터와의 연결이 확인되면 참가기관의 운영시스템에서 한국은행 FEP와의 TCP 포트 오픈 확인 </strong></dd>
				<dd>
					<strong><u>한국은행 담당자가 통신장비 재가동을 요청할 경우에만</u> VPN(2대) 및 인터넷 모뎀(1대) 전원을 OFF하고 아래 3단계를 수행</strong>
					<ol>
						<li>(1단계) 인터넷 회선(ADSL)이 연결된 VPN장비의 전원 ON</li>
						<li>(2단계) 30초후 백업용 VPN장비의 전원 ON</li>
						<li>(3단계) 잠시후 인터넷 모뎀의 전원 ON</li>
					</ol>
				</dd>
			</dl>
			<div class="etc">
				<h3>연락처</h3>
				<div class="con">
					<p class="map">한국은행 주IT센터(서울), 재해복구센터(대전)</p>
					<ul>
						<li>전 화 : (채널) 02-759-4435, 042-601-1179 (거액결제) 02-759-4309 (통신) 042-601-1175, 1177</li>
						<li>F A X : 042-601-1180</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>