<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>한국은행 한은금융망 및 국고전산망 재해복구체제 종합 모의테스트 진행중…</title>
	<link type="text/css" rel="stylesheet" href="/static/view/html/style.css">
</head>
<body>
<div id="wrap">
	<h1><img src="img/logo.png" alt="한국은행"></h1>
	<div class="wrap_body">
		<div>
			<div class="top">
				<h2>
					<span>한국은행 한은금융망 및 국고전산망</span>
					<strong>재해복구체제 종합 모의테스트 진행중…</strong>
				</h2>
				<p class="tac">현재 재해복구 모의훈련이 진행중이오니 각 참가기관은 기송부드린 문서를 참고하여 훈련을 수행해 주시기 바랍니다.</p>
			</div>
			<dl>
				<dt>한은금융망 단말 접속기관</dt>
				<dd class="nobg">
					<div class="table">
						<table>
							<colgroup>
								<col style="width: 39%;">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th>한은금융망 단말접속기관</th>
									<td>
										<ul class="mb5 ml10">
											<li><strong>당좌예금 잔액현황을 확인한 후 일반자금이체 실시</strong></li>
										</ul>
										<span class="sm-txt">&lt;별첨1&gt; 한은금융망 단말접속기관 훈련 내용 참고</span><br>
										<span class="point2">담당자 : 단말접속 관련문의 042-601-1179</span><br>
										<span class="point2">자금이체 관련문의 02-759-4309</span>
									</td>
								</tr>
								<tr>
									<th>한은금융망 서버접속기관</th>
									<td>
										<ul class="mb5 ml10">
											<li>
												<strong>실시간 전문 전송</strong><br>
												전문경로 : 참가기관 → 한국은행
											</li>
											<li class="mt10">
												<strong>일괄 파일 전송</strong><br>
												전문경로 : 참가기관 → 한국은행
											</li>
											<li class="mt10">단말기를 이용한 당좌예금 잔액 확인</li>
										</ul>
										<span class="sm-txt">&lt;별첨2&gt; 한은금융망 서버접속기관 훈련 내용 참고</span><br>
										<span class="point2">담당자 : 전문송신 및 일괄전송</span><br>
										<span class="point2">당좌예금 잔액확인 관련  02-759-4309</span>
									</td>
								</tr>
								<tr>
									<th>국고전산망(한국은행) 서버접속기관</th>
									<td>
										<span class="sm-txt">&lt;별첨3&gt; 국고전산망(한국은행) 서버접속기관 훈련 내용 참고</span><br>
										<span class="point2">담당자 : 02-759-4029</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</dd>
			</dl>
			<div class="etc">
				<h3>연락처</h3>
				<div class="con">
					<p class="map">한국은행 주IT센터(서울), 재해복구센터(대전)</p>
					<ul>
						<li>전 화 : (통신) 042-601-1175, 1177</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>