<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>한국은행 한은금융망 및 국고전산망 재해복구 모의훈련 안내</title>
	<link type="text/css" rel="stylesheet" href="/static/view/html/style.css">
</head>
<body>
<div id="wrap">
	<h1><img src="img/logo.png" alt="한국은행"></h1>
	<div class="wrap_body">
		<div>
			<div class="top">
				<h2>
					<span>한국은행 한은금융망 및 국고전산망</span>
					<strong>재해복구 모의훈련 안내</strong>
				</h2>
				<p class="tac">한국은행 한은금융망 및 국고전산망 재해복구 모의훈련이 아래와 같이 실시되오니 참가기관  담당자들께서는 기 송부한 공문 내용과<br>
				본 홈페이지 및 카카오톡 오픈채팅방의 안내에  따라  훈련을 수행하여 주시기 바랍니다</p>
			</div>
			<dl>
				<dt>훈련일시</dt>
				<dd><strong>2023. 11.10.(금)  업무종료 후(18:30 ~ 22:00 예정) 실시</strong></dd>
			</dl>
			<dl>
				<dt>주요내용</dt>
				<dd>훈련당일 업무종료후 18:30경 한국은행 재해복구센터로 통신망을 전환하여 재해복구 모의훈련을 시작할 예정입니다.</dd>
				<dd>본 홈페이지에 훈련 진행사항 (훈련 시작여부, 변경내용, 종료여부 등)이 게시될 예정이므로 본 홈페이지를 수시로 참고하여 주시기 바랍니다.<br>
				변경된 게시내용을 보기 위해서는 웹브라우저에서 ‘새로고침’ (F5) 버튼을 누르시면 됩니다.<br>
				훈련 진행사항은 훈련 참가자의 휴대폰 문자 및 카카오톡 오픈채팅방으로도 발송할 예정입니다.</dd>
				<dd>
					<strong>훈련 내용</strong>
					<ul>
						<li>한은망 단말 접속기관 : '참가기관별 자금이체 모의거래 내역'에 의거 일반 자금 이체 실시(책임자승인거래 포함)</li>
						<li>한은망 서버 접속기관 : 온라인 전문 및 대사파일 전송, 당좌예금 잔액 조회</li>
						<li>국고전산망 관련기관 : 온라인 전문 및 일괄파일 전송</li>
					</ul>
				</dd>
				<dd>모든 참가기관의 재해복구 테스트가 끝난 후 본 홈페이지에서 통신망복원 안내가 게시(21:20~21:40 예정)되면,<br>
				<span class="point">한국은행 주IT센터로 통신망의 정상복원 여부를  확인*하신 후 퇴근하시기 바랍니다.</span><br>
				<span class="fnote">* 서버 및 국고기관은 한국은행 주IT센터(서울) 채널담당자와 상호 확인 요망 (Tel : 채널(FEP) 02-759-4435)</span></dd>
			</dl>
			<div class="etc">
				<h3>연락처</h3>
				<div class="con">
					<p class="map">한국은행 주IT센터(서울), 재해복구센터(대전)</p>
					<ul>
						<li>전 화 : (거액결제) 02-759-4309 (국고) 02-759-4029 (채널) 02-759-4435, 042-601-1179 (통신) 042-601-1175, 1177</li>
						<li>F A X : 042-601-1180</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>