hr {
	background-color: #eee;
	height: 20px;
	border: none;
	/* width: 100vw; */
	width: calc(100% + 40px);
	transform: translateX(-20px);
}
#content {
	max-width: 1220px;
	/* margin: 0 auto; */
	margin: 50px 0;
	/* border-right: 1px solid #eee;
	border-bottom: 1px solid #eee; */
}
@media screen and (min-width : 1920px) {
	#content{
		margin-left: 300px;
	}
	
}
h1 {
	margin: 100px 0 20px;
	color: #fff;
	padding-left: 10px;
	font-weight: 300;
	/* -webkit-mask-image: -webkit-radial-gradient(#fff, #000); */
	background-color: firebrick;
	/* -webkit-mask-image:linear-gradient(50deg, black, #ff000000); */
}
body>nav {

	position: fixed;
	/* left: 10px; */
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	/* border: 1px solid #000; */
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	/* display: none; */
	z-index: 99999999999;
	font-size: 13px;
	padding-right: 10px;
}
body>nav a {
	display: block;
	border-bottom: 1px solid #000;
}
code {
	background-color: #141414;
	color: #fff;
	padding: 8px 10px;
	border-radius: 10px;
	display: inline-block;
}

#__bs_notify__{display: none !important;}


.textArea {
	background-color: #1f1f1f;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
}

button[class^=copy] {
	color: #fff;
	font-size: 14px;
	background: #888;
	border-radius: 5px;
	padding: 3px 8px;
}


[class^=i-]::before {
	font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    vertical-align: text-bottom;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}

/* 구글 아이콘 */
.i-home::before {
	content: "\e88a";
}
.i-close::before {
	content: "\e5cd";
}


/*


.zoom-map {
	&::before {
		@include font-ico-outline('\e56b');
	}
}

.ico-local {
	&::before {
		@include font-ico-outline('\e54b');
	}
}


.ico-right {
	&::before {
		@include font-ico-outline('\e5cc');
	}
}

.open-new {
	&::before {
		@include font-ico-outline('\e89e');
	}
}

.ico-search {
	&::before {
		@include font-ico-outline('\e8b6');
	}
}

.ico-cancel {
	&::before {
		@include font-ico('\e5c9');
	}
}


.ico-tv {
	&::before {
		@include font-ico('\e639');
	}
}



keyboard double arrow Right
eac9


keyboard double arrow Left
eac3



Manage search
f02f






.ico-error {
	&::before {
		@include font-ico('\e000');
	}
}


.ico-check {
	&::before {
		@include font-ico('\e86c');
	}
}

.ico-tune {  //name 변경예정
	&::before {
		@include font-ico('\e429');
	}
}

.ico-grade {  //name 변경예정
	&::before {
		@include font-ico('\e885');
	}
}

.ico-more {	
	&::before {
		@include font-ico-outline('\e147');
	}
}

.ico-reset {
	&::before {
		@include font-ico-outline('\f053');
	}
}

.ico-up {
	&::before {
		@include font-ico-outline('\e5c7');
	}
}

.ico-down {
	&::before {
		@include font-ico-outline('\e5c5');
	}
}

.ico-t-up {
	&::before {
		@include font-ico-outline('\e8e5');
	}
}

.ico-t-down {
	&::before {
		@include font-ico-outline('\e8e3');
	}
}

.ico-info {
	&::before {
		@include font-ico('\e88e');
	}
}

.ico-check {
	&::before {
		@include font-ico('\e5ca');
	}
}

*/