@charset "UTF-8";
@import url("/static/imer/css/default.css");
@font-face {
font-family: "Material Icons";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff");
}
@font-face {
font-family: "Material Icons Outlined";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff");
}
b,
strong {
font-weight: 500;
}

.red {
color: #C81720 !important;
}

.fc_red {
color: #C81720;
}

.point2 {
color: #3B63C4;
}

/* 레이아웃 */
#wrap {
padding-top: 0;
}

.row {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: left;
align-items: center;
align-items: flex-start;
}

/* 헤더, gnb */
/* footer */
#footer {
margin: 0;
}

/* section, 공통 */
.section {
height: 100vh;
overflow: hidden;
}
@media (max-width: 749px) {
.section {
min-height: initial;
height: auto;
}
}
.section h2 {
color: #131547;
font-size: 3rem;
font-weight: 700;
margin-bottom: 90px;
}
.section section {
width: 1680px;
max-width: 100%;
margin: 0 auto;
}
.section .b-more {
display: block;
position: absolute;
top: 0;
right: 0;
width: 36px;
height: 36px;
background-image: url("/static/museum/img/ico/ico-more.png");
background-repeat: no-repeat;
background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 2) {
.section .b-more {
background-image: url("/static/museum/img/ico/ico-more@2x.png");
}
}

/* section1 비주얼 */
#section1 {
position: relative;
}
#section1 .con {
padding-top: 118px;
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 9;
}
#section1 .con .s {
width: 1800px;
max-width: 100%;
margin: 0 auto;
display: flex;
justify-content: space-between;
padding-left: 3%;
}
@media (max-width: 749px) {
#section1 .con .s {
display: block;
}
}
#section1 .con .s1-txt-set {
padding-top: 10%;
}
@media (max-width: 749px) {
#section1 .con .s1-txt-set {
padding-top: 0;
}
}
#section1 .con .s1-txt-set .s1-t2 {
padding-top: 3%;
padding-bottom: 8%;
}
#section1 .con .visual_banner {
margin-top: 70px;
}

.section1-visual {
width: 100vw;
height: 100vh;
}
@media (max-width: 749px) {
.section1-visual {
height: auto;
}
}
.section1-visual .img {
display: block;
position: relative;
height: 100vh;
align-items: center;
background-size: cover;
background-attachment: fixed;
background-position: center center;
}
@media (max-width: 749px) {
.section1-visual .img {
min-height: 760px;
height: auto;
}
}

.s1-bottom-set {
position: absolute;
bottom: 0;
left: 0;
z-index: 9;
width: 100%;
padding: 0 10px;
box-sizing: border-box;
background-color: rgba(0, 0, 0, 0.4);
height: 64px;
}
.s1-bottom-set .s {
width: 1440px;
max-width: 100%;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
@media (max-width: 749px) {
.s1-bottom-set .s {
width: 100%;
}
}
.s1-bottom-set .s .box {
float: left;
width: calc(100% - 300px);
margin-top: 18px;
}
@media (max-width: 749px) {
.s1-bottom-set .s .box {
width: 100%;
}
}
.s1-bottom-set .s .box .t {
float: left;
padding-right: 30px;
}
.s1-bottom-set .s .box .t span {
color: #fff;
display: inline-block;
padding: 3px 14px;
background-color: #4276F3;
border-radius: 30px;
}
.s1-bottom-set .s .box .swiper-container {
float: left;
width: calc(100% - 116px);
position: relative;
overflow: hidden;
height: 64px;
}
.s1-bottom-set .s .box ul {
position: absolute;
top: 0;
left: 0;
}
.s1-bottom-set .s .box ul li a {
width: 100%;
color: #fff;
font-size: 1.25rem;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
}
@media (max-width: 749px) {
.s1-bottom-set .section1__ctrl {
display: none;
}
}
.s1-bottom-set .section1__ctrl > div {
display: inline-block;
line-height: 64px;
}
.s1-bottom-set .section1__ctrl button::before {
font-size: 40px;
color: #fff;
vertical-align: middle;
}
.s1-bottom-set .section1__swiper-button-prev::before {
content: "\e314";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
.s1-bottom-set .section1__swiper-button-next::before {
content: "\e315";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
.s1-bottom-set .section1__swiper-button-stop::before {
content: "\e034";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
.s1-bottom-set .section1__swiper-button-play::before {
content: "\e037";
font-family: "Material Icons";
}
.s1-bottom-set .section1__swiper-button-prev.swiper-button-disabled,
.s1-bottom-set .section1__swiper-button-next.swiper-button-disabled {
opacity: 0.4;
}
.s1-bottom-set .swiper-pagination {
position: static;
color: rgba(255, 255, 255, 0.7);
font-weight: 300;
}
.s1-bottom-set .swiper-pagination-current {
font-size: 1.5rem;
font-weight: 700;
color: #39A0FF;
}
.s1-bottom-set .swiper-pagination-total {
font-size: 1.125rem;
margin-left: 2px;
}
.s1-bottom-set .swiper-pagination span {
display: inline-block;
padding: 0 6px;
}

.section-nav {
position: fixed;
left: 32px;
bottom: 50%;
z-index: 2;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
gap: 16px;
transition: all 0.3s;
}
@media (max-width: 1199px) {
.section-nav {
display: none;
}
}
.section-nav a {
display: flex;
padding: 7px;
color: rgba(255, 255, 255, 0.8);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
transition: all 0.5s;
}
.section-nav a * {
transition: all 0.5s;
}
.section-nav a i {
position: relative;
width: 6px;
height: 6px;
border-radius: 6px;
background-color: rgba(59, 99, 196, 0.6);
}
.section-nav a.active i {
width: 10px;
height: 10px;
border-radius: 10px;
background-color: rgb(59, 99, 196);
}
.section-nav a.active i::before {
content: "";
position: absolute;
inset: 0;
outline: 8px solid rgba(59, 99, 196, 0.2);
background-color: rgb(59, 99, 196);
border-radius: 20px;
}

@media (min-width: 1200px) {
.section {
min-height: 1080px;
height: 100vh;
}
}
.section h2 {
color: #131547;
text-align: center;
font-size: 3rem !important;
font-weight: 600 !important;
margin-bottom: 60px !important;
}
@media (min-width: 750px) and (max-width: 1199px) {
.section h2 {
font-size: 2.5rem !important;
margin-bottom: 40px !important;
padding-top: 30px;
}
}
@media (max-width: 749px) {
.section h2 {
font-size: 2.125rem !important;
margin-bottom: 20px !important;
padding-top: 30px;
}
}
.section section {
width: 1680px;
max-width: 100%;
margin: 0 auto;
padding: 0 120px;
}
@media (max-width: 1199px) {
.section section {
padding: 0 40px;
}
}

#section2 {
background: url(/static/imer/img/main/bg_section2_imer.png) 50% 0 no-repeat;
background-size: cover;
}
#section2 .set {
position: relative;
}
#section2 .board-list1 {
padding: 50px 0;
}
#section2 .board-list1 .more {
position: absolute;
top: 0;
right: 0;
z-index: 99;
}
#section2 .board-list1 .more a {
display: block;
}
#section2 .board-list1 .more a::before {
content: "";
display: inline-block;
width: 36px;
height: 36px;
background: url(/static/portal/img/main/more2.png);
}
#section2 .board-list1 .swiper-wrapper .swiper-slide {
border-radius: 16px;
padding: 10px;
background-color: #fff;
box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.05);
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .img-set {
position: relative;
display: block;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .img-set .img {
display: block;
background-size: cover;
padding-top: 87.2%;
border-radius: 16px 16px 0 16px;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .img-set .p {
color: #3B63C4;
border-radius: 0 8px 0 0;
padding: 5px 16px;
background-color: #fff;
position: absolute;
bottom: 0;
left: -1px;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide span {
display: inline-block;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide span.title {
margin: 20px 0 10px;
padding: 0 16px;
width: 100%;
color: #1A1A1A;
font-size: 1.125rem;
font-weight: 500;
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide span.txt {
padding: 0 16px;
display: block;
color: #4D4D4D;
height: 70px;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide {
padding: 16px 16px 50px;
text-align: center;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .img-set .img {
padding-top: 69.4%;
border-radius: 0 8px 8px 0;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .txt {
color: #666;
font-size: 14px;
text-align: left;
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
height: 64px;
margin-bottom: 30px;
}
.ie #section2 .board-list1 .swiper-wrapper .swiper-slide .txt {
display: block;
height: 48px;
overflow: hidden;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .txt span {
color: #4D4D4D;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .txt span em {
color: #1a1a1a;
padding-right: 10px;
display: inline-block;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide span.badge {
padding-top: 15px;
text-align: center;
margin: 0 auto;
position: relative;
color: #1F4EC7;
font-weight: 500;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide span.badge::before {
content: "";
display: inline-block;
width: 16px;
height: 2px;
background-color: #6C97FF;
position: absolute;
bottom: -5px;
left: 50%;
margin-left: -8px;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide span.title {
margin: 20px 0 5px;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .dowload {
margin-top: 25px;
color: #fff;
font-weight: 300;
font-size: 0.875rem;
padding: 9px 24px;
background-color: #3E7CC8;
border-radius: 4px;
}
#section2 .board-list1 .swiper-wrapper .swiper-slide .dowload::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 16px;
height: 19px;
background: url(/static/imer/img/main/file_save.png);
margin-right: 6px;
}

#section3 {
background: url(/static/imer/img/main/bg_section3_imer.png) 50% 0 no-repeat;
background-size: cover;
}
#section3 .set {
position: relative;
}
#section3 .board-list2 {
padding: 50px 0;
}
#section3 .board-list2 .more {
position: absolute;
top: 0;
right: 0;
z-index: 99;
}
#section3 .board-list2 .more a {
display: block;
}
#section3 .board-list2 .more a::before {
content: "";
display: inline-block;
width: 36px;
height: 36px;
background: url(/static/portal/img/main/more2.png);
}
#section3 .board-list2 .swiper-wrapper .swiper-slide {
border-radius: 16px;
padding: 10px;
background-color: #fff;
box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.05);
}
#section3 .board-list2 .swiper-wrapper .swiper-slide .img-set {
position: relative;
display: block;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide .img-set .img {
display: block;
background-size: cover;
padding-top: 87.2%;
border-radius: 16px 16px 0 16px;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide .img-set .p {
color: #3B63C4;
border-radius: 0 8px 0 0;
padding: 5px 16px;
background-color: #fff;
position: absolute;
bottom: 0;
left: -1px;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide span {
display: inline-block;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide span.title {
margin: 20px 0 10px;
padding: 0 16px;
width: 100%;
color: #1A1A1A;
font-size: 1.125rem;
font-weight: 500;
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide span.txt {
padding: 0 16px;
display: block;
color: #4D4D4D;
height: 70px;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide span.txt span {
color: #4D4D4D;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide span.txt span em {
color: #1a1a1a;
padding-right: 10px;
display: inline-block;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide span.date {
margin-top: 25px;
color: #666;
font-size: 0.875rem;
padding: 8px;
}
#section3 .board-list2 .swiper-wrapper .swiper-slide span.date::before {
content: "\e8b5";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 20px;
color: #666;
margin-right: 5px;
}

.ctrl2 button {
width: 64px;
height: 64px;
position: absolute;
top: 50%;
margin-top: -32px;
z-index: 9;
}
.ctrl2 button::before {
content: "";
display: inline-block;
width: 64px;
height: 64px;
border: 1px solid #001c66;
border-radius: 50%;
background: url(/static/imer/img/main/ctrl-off.png) 50% no-repeat;
}
.ctrl2 button:hover::before {
background: #001c66 url(/static/imer/img/main/ctrl-on.png) 50% no-repeat;
border-color: #001c66;
}
.ctrl2 button.prev {
left: -100px;
}
@media (max-width: 1199px) {
.ctrl2 button.prev {
left: -35px;
z-index: 9;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 50%;
}
}
.ctrl2 button.prev:hover::before {
transform: rotate(180deg);
}
.ctrl2 button.next {
right: -100px;
}
@media (max-width: 1199px) {
.ctrl2 button.next {
right: -35px;
z-index: 9;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 50%;
}
}
.ctrl2 button.next::before {
transform: rotate(180deg);
}
.ctrl2 button.next:hover::before {
transform: rotate(0);
}

#section4 {
background-color: #E4EDF7;
background-image: url(/static/imer/img/main/bg_section4_imer.png);
background-position: 50% 0;
}
@media (max-width: 749px) {
#section4 {
padding-bottom: 20px;
}
#section4 section {
padding: 0 10px;
}
}
#section4 .set {
display: flex;
justify-content: space-between;
}
@media (max-width: 749px) {
#section4 .set {
display: block;
}
}
#section4 .set > div {
width: calc(50% - 64px);
}
@media (min-width: 750px) and (max-width: 1199px) {
#section4 .set > div {
width: calc(50% - 24px);
}
}
@media (max-width: 749px) {
#section4 .set > div {
width: 100%;
}
}
#section4 .set h3 {
color: #1A1A1A;
font-size: 1.75rem;
margin-bottom: 30px;
}
#section4 .notice {
position: relative;
border-top: 2px solid #1A1A1A;
}
#section4 .notice ul li {
padding: 10px 0;
border-bottom: 1px solid #B1C1E7;
}
#section4 .notice ul li a {
display: flex;
justify-content: space-between;
align-items: center;
padding: 19px 0;
}
#section4 .notice ul li a .t {
width: 120px;
color: #3B63C4;
font-size: 1rem;
}
#section4 .notice ul li a .title {
width: calc(100% - 120px - 100px);
font-size: 1.125rem;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
}
#section4 .notice ul li a .date {
width: 100px;
color: #666;
font-size: 0.875rem;
text-align: right;
}
#section4 .notice .more {
position: absolute;
top: -71px;
right: 0;
z-index: 99;
}
#section4 .notice .more a {
display: block;
}
#section4 .notice .more a::before {
content: "";
display: inline-block;
width: 36px;
height: 36px;
background: url(/static/portal/img/main/more.png);
}
#section4 .info-list ul {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
margin-top: 3px;
}
@media (max-width: 749px) {
#section4 .info-list ul {
margin-top: 20px;
}
}
#section4 .info-list ul li {
flex-basis: calc(50% - 20px);
}
#section4 .info-list ul li:nth-child(2), #section4 .info-list ul li:nth-child(4) {
margin-top: 40px;
}
@media (max-width: 749px) {
#section4 .info-list ul li {
flex-basis: 100%;
margin-top: 10px !important;
}
}
#section4 .info-list ul li a {
position: relative;
font-size: 1.375rem;
font-weight: 500;
display: block;
background-color: #fff;
border-radius: 16px;
padding: 32px 35px;
height: 210px;
line-height: 1.3;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 749px) {
#section4 .info-list ul li a {
height: 140px;
padding: 20px;
}
}
#section4 .info-list ul li a::after {
content: "";
display: inline-block;
width: 100px;
height: 100px;
position: absolute;
bottom: 8px;
right: 6px;
background-repeat: no-repeat;
background-position: 50%;
}
#section4 .info-list ul li a.i1::after {
background-image: url(/static/imer/img/main/ico-info1_off.png);
}
#section4 .info-list ul li a.i1:hover::after {
background-image: url(/static/imer/img/main/ico-info1.png);
}
#section4 .info-list ul li a.i2::after {
background-image: url(/static/imer/img/main/ico-info2_off.png);
}
#section4 .info-list ul li a.i2:hover::after {
background-image: url(/static/imer/img/main/ico-info2.png);
}
#section4 .info-list ul li a.i3::after {
background-image: url(/static/imer/img/main/ico-info3_off.png);
}
#section4 .info-list ul li a.i3:hover::after {
background-image: url(/static/imer/img/main/ico-info3.png);
}
#section4 .info-list ul li a.i4::after {
background-image: url(/static/imer/img/main/ico-info4_off.png);
}
#section4 .info-list ul li a.i4:hover::after {
background-image: url(/static/imer/img/main/ico-info4.png);
}
#section4 .info-list ul li a:hover {
color: #fff;
background-color: #3E7CC8;
box-shadow: none;
}

@media (min-width: 1200px) {
#section2 section,
#section3 section,
#section4 section {
padding-top: calc((100vh - 1274px) / 2 + 194px);
}
.gnb-stiky #section1,
.gnb-stiky #section2,
.gnb-stiky #section3,
.gnb-stiky #section4 {
height: 100vh;
}
}
#footer {
margin-top: 0;
}

@keyframes progress {
0% {
width: 0%;
}
100% {
width: 100%;
}
}
/*# sourceMappingURL=../maps/main.css.map */
