@charset "UTF-8";
@import url("/static/museum/css/default.css");
@font-face {
font-family: "Material Icons";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff");
}
@font-face {
font-family: "Material Icons Outlined";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff");
}
b,
strong {
font-weight: 500;
}

.red {
color: #C81720 !important;
}

.fc_red {
color: #C81720;
}

.point2 {
color: #3B63C4;
}

[class^=ico-] {
display: inline-block;
}

/* 레이아웃 */
#wrap {
padding-top: 0;
}

.row {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: left;
align-items: center;
align-items: flex-start;
}

#content.main-container {
margin-top: 0;
}

@media (min-width: 1200px) {
#section2 section,
#section3 section,
#section4 section,
#section5 section,
#section6 section {
padding-top: calc((100vh - 1274px) / 2 + 194px);
}
}
/* footer */
#footer {
margin: 0;
}

/* section, 공통 */
.section {
overflow: hidden;
}
@media (max-width: 749px) {
.section {
min-height: initial;
height: auto;
}
}
.section h2 {
color: #131547;
font-size: 3rem;
font-weight: 700;
margin-bottom: 90px;
}
.section section {
width: 1680px;
max-width: 100%;
margin: 0 auto;
}
.section .b-more {
display: block;
position: absolute;
top: 0;
right: 0;
width: 36px;
height: 36px;
background-image: url("/static/museum/img/ico/ico-more.png");
background-repeat: no-repeat;
background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 2) {
.section .b-more {
background-image: url("/static/museum/img/ico/ico-more@2x.png");
}
}

/* section1 비주얼 */
#section1 {
position: relative;
height: 100vh;
}
@media (max-width: 1199px) {
#section1 {
height: auto;
}
}

.section1-visual {
width: 100vw;
height: 100vh;
}
@media (max-width: 1199px) {
.section1-visual {
height: auto;
}
}
.section1-visual .swiper-slide {
position: relative;
height: 100vh;
align-items: center;
background-size: cover;
background-attachment: fixed;
background-position: center center;
}
@media (max-width: 1199px) {
.section1-visual .swiper-slide {
min-height: 675px;
height: auto;
}
}
.section1-visual .swiper-slide::before {
content: "";
display: inline-block;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 100%);
}
.section1-visual .swiper-slide .s1-txt-set {
position: relative;
z-index: 2;
width: 100%;
max-width: 1680px;
padding: 0 20px;
margin: 160px auto 0;
box-sizing: border-box;
}
@media (min-width: 1440px) {
.section1-visual .swiper-slide .s1-txt-set {
padding: 0 50px;
}
}
@media (max-width: 1199px) {
.section1-visual .swiper-slide .s1-txt-set {
margin: -150px auto 0;
}
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-txt-set {
margin: -300px auto 0;
}
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-txt-set br {
display: none;
}
}
.section1-visual .swiper-slide .s1-t1 {
color: #fff;
font-size: 2.75rem;
font-style: normal;
font-weight: 700;
line-height: 110%;
text-transform: uppercase;
text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-t1 {
font-size: 2rem;
}
}
.section1-visual .swiper-slide .s1-t2 {
margin-top: 24px;
color: #fff;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-t2 {
font-size: 1.125rem;
}
}
.section1-visual__ctrl {
position: absolute;
top: 68%;
left: 50%;
width: 100%;
padding: 0 20px;
max-width: 1680px;
box-sizing: border-box;
transform: translateX(-50%);
z-index: 100;
display: flex;
flex-direction: row;
align-items: center;
}
@media (min-width: 1440px) {
.section1-visual__ctrl {
padding: 0 50px;
}
}
@media (max-width: 1199px) {
.section1-visual__ctrl {
top: 56%;
}
}
@media (max-width: 749px) {
.section1-visual__ctrl {
top: 46%;
}
}
.section1-visual__ctrl .section1-visual__swiper-button-prev {
margin-top: -8px;
font-size: 24px;
}
.section1-visual__ctrl .section1-visual__swiper-button-prev::before {
content: "\e314";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-next {
margin-top: -8px;
font-size: 24px;
}
.section1-visual__ctrl .section1-visual__swiper-button-next::before {
content: "\e315";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-stop {
font-size: 24px;
margin-top: -8px;
transform: translateX(8px);
}
.section1-visual__ctrl .section1-visual__swiper-button-stop::before {
content: "\e034";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-play {
display: none;
font-size: 24px;
margin-top: -8px;
transform: translateX(8px);
}
.section1-visual__ctrl .section1-visual__swiper-button-play::before {
content: "\e037";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-prev.swiper-button-disabled,
.section1-visual__ctrl .section1-visual__swiper-button-next.swiper-button-disabled {
opacity: 0.4;
}
.section1-visual .swiper-pagination {
position: static;
color: rgba(255, 255, 255, 0.6);
font-weight: 300;
}
.section1-visual .swiper-pagination-current {
font-size: 1.25rem;
font-weight: 700;
color: rgb(255, 255, 255);
}
.section1-visual .swiper-pagination-total {
font-size: 1.125rem;
margin-left: 82px;
}
.section1-visual .swiper-pagination span {
display: inline-block;
padding: 0 16px;
}
.section1-visual .autoplay-progress {
position: absolute;
top: 50%;
width: 82px;
height: 4px;
transform: translateY(-50%);
background: rgba(255, 255, 255, 0.6);
}
@media (min-width: 1200px) {
.section1-visual .autoplay-progress {
left: 100px;
}
}
@media (min-width: 1440px) {
.section1-visual .autoplay-progress {
left: 128px;
}
}
@media (max-width: 1199px) {
.section1-visual .autoplay-progress {
left: 98px;
}
}
.section1-visual .autoplay-progress .progress {
display: block;
width: 0px;
height: 4px;
background: #39A0FF;
}
.section1-visual .autoplay-progress .progress.active {
animation: 6s progress linear;
}
.section1-visual .autoplay-progress .progress.first {
animation: 5s progress linear;
}

.section1-bottom {
position: absolute;
left: 50%;
bottom: 0;
padding: 16px 20px;
width: 100%;
max-width: 1680px;
padding: 16px 20px;
transform: translateX(-50%);
box-sizing: border-box;
border-top: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
z-index: 2;
gap: 20px 0;
}
@media (min-width: 1200px) {
.section1-bottom {
padding: 16px 20px;
}
}
@media (min-width: 1440px) {
.section1-bottom {
padding: 16px 50px;
}
}
.section1-bottom .museum-info {
gap: 0 36px;
}
@media (max-width: 749px) {
.section1-bottom .museum-info {
gap: 10px 0;
flex-direction: column;
}
}
.section1-bottom .museum-info__date {
font-size: 1.75rem;
font-weight: 500;
color: #fff;
}
.section1-bottom .museum-info__date span {
display: block;
font-size: 1rem;
font-weight: 400;
}
.section1-bottom .museum-info__holiday {
font-size: 14px;
font-weight: 300;
color: #fff;
}
.section1-bottom .museum-info__holiday span {
display: block;
font-weight: 400;
font-size: 1rem;
margin-bottom: 4px;
}
.section1-bottom .museum-info__holiday span i {
margin-right: 4px;
}
.section1-bottom .museum-reserve {
gap: 0 12px;
}
@media (max-width: 1199px) {
.section1-bottom .museum-reserve {
flex-wrap: wrap;
gap: 6px 10px;
}
}
.section1-bottom .museum-reserve i {
display: inline-block;
width: 32px;
height: 32px;
margin-right: 4px;
}
.section1-bottom .museum-reserve a {
display: flex;
width: 164px;
height: 48px;
padding: 8px 12px;
align-items: center;
justify-content: center;
font-size: 14px;
font-weight: 500;
color: #fff;
border-radius: 99px;
background: rgba(255, 255, 225, 0.1);
}
.section1-bottom .museum-reserve a:hover, .section1-bottom .museum-reserve a:focus {
background: #005596;
}
@media (min-width: 750px) {
.section1-bottom .museum-reserve a {
background: rgba(255, 255, 225, 0.1);
}
}
@media (max-width: 749px) {
.section1-bottom .museum-reserve a {
width: 132px;
}
}

/* section2 게시판 */
#section2 {
padding: 180px 0 200px;
box-sizing: border-box;
background: #F2F6FA;
}
@media (max-width: 1199px) {
#section2 {
padding: 80px 0 0;
height: auto;
}
}
#section2 section {
position: relative;
}
#section2 section > .row {
justify-content: space-between;
padding: 0 20px;
}
@media (min-width: 1440px) {
#section2 section > .row {
padding: 0 50px;
}
}
@media (max-width: 1199px) {
#section2 section > .row {
flex-direction: column;
}
}
#section2 h2 {
width: 100%;
margin: 0 auto 64px;
padding: 0 20px;
box-sizing: border-box;
}
@media (min-width: 1440px) {
#section2 h2 {
padding: 0 50px;
}
}
@media (max-width: 749px) {
#section2 h2 {
margin: 0 auto 40px;
}
}
#section2 h3 {
margin-bottom: 24px;
font-size: 1.75rem;
font-weight: 500;
color: #1A1A1A;
}

.section2-news {
position: relative;
width: 480px;
margin-right: 7.14286%;
background: #F2F6FA;
z-index: 2;
}
@media (max-width: 1199px) {
.section2-news {
width: 100%;
margin-left: 0;
}
}
.section2-news ul {
border-top: 2px solid #1A1A1A;
}
.section2-news ul li {
padding: 14px 0;
border-bottom: 1px solid #E5E5E5;
box-sizing: border-box;
}
.section2-news ul li span {
display: block;
}
.section2-news ul li .tit {
font-size: 1.125rem;
font-weight: 500;
color: #222;
}
.section2-news ul li .desc {
display: -webkit-box;
max-height: 48px;
margin: 12px 0;
font-size: 1rem;
font-weight: 400;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
color: #4D4D4D;
}
.section2-news ul li .date {
font-size: 0.875rem;
font-weight: 400;
color: #666;
}

.section2-exhibit {
position: relative;
width: calc(100% - 480px - 7.14286%);
}
@media (max-width: 1199px) {
.section2-exhibit {
width: 100%;
margin-top: 100px;
margin-bottom: 80px;
}
}
@media (max-width: 749px) {
.section2-exhibit {
margin-top: 80px;
}
}
.section2-exhibit > .row {
position: relative;
height: 386px;
background: #005596;
border-radius: 16px 0 0 16px;
}
@media (min-width: 1440px) {
.section2-exhibit > .row {
height: 480px;
}
}
@media (max-width: 749px) {
.section2-exhibit > .row {
flex-direction: column;
height: auto;
border-radius: 16px;
background: none;
}
}
.section2-exhibit > .row::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100%;
right: 0;
z-index: 1;
background: #0D4E80;
border-radius: 16px 0 0 16px;
}
@media (max-width: 749px) {
.section2-exhibit > .row::before {
top: 10px;
left: -20px;
border-radius: 0;
}
}
.section2-exhibit .section2-txt {
width: calc(100% - 264px - 40px);
padding: 30px 3% 33px 6%;
margin: 0;
z-index: 2;
background: #0D4E80;
border-radius: 16px 0 0 16px;
}
@media (min-width: 1440px) {
.section2-exhibit .section2-txt {
width: calc(100% - 330px - 120px);
padding: 72px 3% 84px 11.11%;
}
}
@media (max-width: 1199px) {
.section2-exhibit .section2-txt {
width: calc(100% - 264px - 40px - 100px);
}
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt {
order: 2;
width: 100%;
margin-top: 80px;
padding: 0 0 50px;
}
}
.section2-exhibit .section2-txt .swiper-wrapper {
height: auto;
}
.section2-exhibit .section2-txt .swiper-slide {
width: 480px;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .swiper-slide {
text-align: center;
width: 240px;
}
}
.section2-exhibit .section2-txt .swiper-slide > * {
opacity: 0;
}
.section2-exhibit .section2-txt .swiper-slide > a {
display: block;
}
.section2-exhibit .section2-txt .swiper-slide.swiper-slide-active > * {
opacity: 1;
}
.section2-exhibit .section2-txt .swiper-slide .current {
display: inline-block;
padding: 4px 12px;
margin-bottom: 8px;
border-radius: 99px;
line-height: 1;
background: #fff;
color: #3B63C4;
}
.section2-exhibit .section2-txt .swiper-slide p {
font-size: 1.5rem;
font-weight: 500;
color: #fff;
margin-bottom: 32px;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .swiper-slide p {
margin-bottom: 20px;
}
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .swiper-slide ul {
display: flex;
align-items: center;
flex-direction: column;
}
}
.section2-exhibit .section2-txt .swiper-slide li {
position: relative;
font-size: 1rem;
font-weight: 300;
padding-left: 32px;
color: #fff;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .swiper-slide li {
display: inline-block;
}
}
.section2-exhibit .section2-txt .swiper-slide li:first-of-type {
margin-bottom: 8px;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .swiper-slide li:first-of-type {
margin-bottom: 4px;
}
}
.section2-exhibit .section2-txt .swiper-slide li i {
position: absolute;
top: 0;
left: 0;
margin-right: 8px;
}
.section2-exhibit .section2-txt .pagination-top {
display: flex;
align-items: center;
margin-top: -114px;
margin-bottom: 72px;
margin-right: 15px;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .pagination-top {
position: absolute;
top: -470px;
right: 0;
margin-top: 0;
margin-right: 0;
margin-bottom: 0;
}
}
.section2-exhibit .section2-txt .pagination-top .pagination-fraction {
display: flex;
align-items: center;
justify-content: flex-end;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .pagination-top .pagination-fraction {
color: #fff;
line-height: 1;
}
}
.section2-exhibit .section2-txt .pagination-top .pagination-fraction span {
padding: 0 8px;
font-size: 1.125rem;
font-weight: 300;
color: #1A1A1A;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .pagination-top .pagination-fraction span {
color: #fff;
font-size: 1rem;
}
}
.section2-exhibit .section2-txt .pagination-top .pagination-fraction span.swiper-pagination-current {
font-size: 1.75rem;
font-weight: 500;
color: #39A0FF;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .pagination-top .pagination-fraction span.swiper-pagination-current {
font-size: 1.25rem;
}
}
.section2-exhibit .section2-txt .pagination-top .section2-stop {
width: 24px;
height: 25px;
background-image: url("/static/museum/img/ico/ico-pauseBk.png");
background-repeat: no-repeat;
background-size: auto 100%;
}
@media (-webkit-min-device-pixel-ratio: 2) {
.section2-exhibit .section2-txt .pagination-top .section2-stop {
background-image: url("/static/museum/img/ico/ico-pauseBk@2x.png");
}
}
.section2-exhibit .section2-txt .pagination-top .section2-play {
width: 24px;
height: 25px;
background-image: url("/static/museum/img/ico/ico-playBk.png");
background-repeat: no-repeat;
background-size: auto 100%;
}
@media (-webkit-min-device-pixel-ratio: 2) {
.section2-exhibit .section2-txt .pagination-top .section2-play {
background-image: url("/static/museum/img/ico/ico-playBk@2x.png");
}
}
.section2-exhibit .section2-txt .pagination-btm {
margin-top: 64px;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .pagination-btm {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 16px;
text-align: center;
}
}
.section2-exhibit .section2-txt .pagination-btm button {
margin: 0 5px;
}
@media (max-width: 749px) {
.section2-exhibit .section2-txt .pagination-btm button {
transform: scale(0.8);
}
}
.section2-exhibit .section2-txt .pagination-btm button.swiper-button-disabled {
opacity: 0.4;
}
.section2-exhibit .section2-txt .pagination-btm button.section2-prev:hover > i, .section2-exhibit .section2-txt .pagination-btm button.section2-prev:focus > i {
background-position: 0 -136px;
}
.section2-exhibit .section2-txt .pagination-btm button.section2-next:hover > i, .section2-exhibit .section2-txt .pagination-btm button.section2-next:focus > i {
background-position: -136px -136px;
}
.section2-exhibit .section2-img {
width: 264px;
margin: 72px 0 0;
overflow: visible;
}
@media (min-width: 1440px) {
.section2-exhibit .section2-img {
width: 330px;
}
}
@media (max-width: 749px) {
.section2-exhibit .section2-img {
order: 1;
width: 100%;
margin: 60px 0 0;
}
}
.section2-exhibit .section2-img .swiper-slide {
aspect-ratio: 330/440;
transform: scale(0.6363);
transform-origin: top right;
opacity: 0;
}
@media (max-width: 1199px) {
.section2-exhibit .section2-img .swiper-slide {
width: 264px;
height: 352px;
transform: scale(0.7);
}
}
@media (max-width: 749px) {
.section2-exhibit .section2-img .swiper-slide {
transform: scale(1);
}
}
.section2-exhibit .section2-img .swiper-slide.swiper-slide-visible {
transition: opacity 0.6s, transform 0.2s;
opacity: 0.6;
}
.section2-exhibit .section2-img .swiper-slide.swiper-slide-visible.swiper-slide-active {
opacity: 1;
}
.section2-exhibit .section2-img .swiper-slide.swiper-slide-prev {
transition: opacity 0.6s, transform 0.2s;
}
.section2-exhibit .section2-img .swiper-slide.swiper-slide-next {
opacity: 0.6;
}
.section2-exhibit .section2-img .swiper-slide.swiper-slide-next + .swiper-slide, .section2-exhibit .section2-img .swiper-slide.swiper-slide-next + .swiper-slide {
opacity: 0.6;
}
.section2-exhibit .section2-img .swiper-slide.swiper-slide-active {
transform: scale(1) translateY(-100px);
box-sizing: border-box;
opacity: 1;
}
@media (min-width: 1440px) {
.section2-exhibit .section2-img .swiper-slide.swiper-slide-active {
transform: scale(1) translateY(-140px);
}
}
@media (max-width: 749px) {
.section2-exhibit .section2-img .swiper-slide.swiper-slide-active {
transform: scale(1) translateY(0);
}
}
.section2-exhibit .section2-img .swiper-slide.swiper-slide-active .pdf-down {
display: block;
}
.section2-exhibit .section2-img .swiper-slide .slide-img {
width: 100%;
aspect-ratio: 330/440;
background-color: #fff;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
box-shadow: 0px 16.635px 19.962px 0px rgba(0, 0, 0, 0.15);
}
.section2-exhibit .section2-img .swiper-slide .pdf-down {
margin-top: 8px;
text-align: right;
display: none;
}
.section2-exhibit .section2-img .swiper-slide .pdf-down a {
position: relative;
font-size: 1rem;
font-weight: 300;
color: #fff;
}
.section2-exhibit .section2-img .swiper-slide .pdf-down a i {
margin-right: 8px;
}
.section2-exhibit .section2-img .swiper-slide .pdf-down a::before {
content: "";
display: inline-block;
position: absolute;
width: 100%;
height: 2px;
bottom: -8px;
background: #fff;
}

@keyframes progress {
0% {
width: 0%;
}
100% {
width: 100%;
}
}
/*# sourceMappingURL=../maps/main.css.map */
