@charset "UTF-8";
@import url("/static/museum/css/default.css");
@font-face {
font-family: "Material Icons";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff");
}
@font-face {
font-family: "Material Icons Outlined";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff");
}
b,
strong {
font-weight: 500;
}

.red {
color: #C81720 !important;
}

.fc_red {
color: #C81720;
}

.point2 {
color: #3B63C4;
}

[class^=ico-] {
display: inline-block;
}

/* 레이아웃 */
@media (min-width: 1200px) {
body {
overflow-y: hidden !important;
}
}
#wrap {
padding-top: 0;
}

.row {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: left;
align-items: center;
align-items: flex-start;
}

#content.main-container {
margin-top: 0;
}

@media (min-width: 1200px) {
#section2 section,
#section3 section,
#section4 section,
#section5 section,
#section6 section {
padding-top: calc((100vh - 1274px) / 2 + 194px);
}
}
/* footer */
#footer {
margin: 0;
}

.section-nav {
position: fixed;
left: 32px;
bottom: 50%;
z-index: 200;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
gap: 16px;
transition: all 0.3s;
}
@media (max-width: 1199px) {
.section-nav {
display: none;
}
}
.section-nav a {
display: flex;
padding: 7px;
color: rgba(255, 255, 255, 0.8);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
transition: all 0.5s;
}
.section-nav a * {
transition: all 0.5s;
}
.section-nav a i {
position: relative;
width: 6px;
height: 6px;
border-radius: 6px;
background-color: rgba(255, 255, 255, 0.6);
}
.section-nav a.active {
transition: none;
animation: pulse-white 2s infinite;
border-radius: 50%;
}
.section-nav a.active i {
width: 10px;
height: 10px;
border-radius: 10px;
background-color: #fff;
}
.section-nav a.active i::before {
content: "";
position: absolute;
inset: 0;
outline: 8px solid rgba(255, 255, 255, 0.2);
border-radius: 20px;
}
.section-nav--color a i {
background-color: rgba(59, 99, 196, 0.6);
}
.section-nav--color a.active {
animation: pulse-blue 2s infinite;
}
.section-nav--color a.active i {
background-color: rgb(59, 99, 196);
}
.section-nav--color a.active i::before {
outline: 8px solid rgba(59, 99, 196, 0.2);
background-color: rgb(59, 99, 196);
}

@keyframes pulse-white {
0% {
transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
}
70% {
transform: scale(1);
box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
}
100% {
transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}
}
@keyframes pulse-blue {
0% {
transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(59, 99, 196, 0.7);
}
70% {
transform: scale(1);
box-shadow: 0 0 0 10px rgba(59, 99, 196, 0);
}
100% {
transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(59, 99, 196, 0);
}
}
/* section, 공통 */
.section {
height: 100vh;
overflow: hidden;
}
@media (max-width: 749px) {
.section {
min-height: initial;
height: auto;
}
}
.section h2 {
color: #131547;
font-size: 3rem;
font-weight: 700;
margin-bottom: 90px;
}
@media (max-width: 749px) {
.section h2 {
font-size: 2.25rem !important;
}
}
@media (max-width: 749px) {
.section h3 {
font-size: 1.5rem !important;
margin-bottom: 16px !important;
}
}
.section section {
width: 1680px;
max-width: 100%;
margin: 0 auto;
}
.section .b-more {
display: block;
position: absolute;
top: 0;
right: 0;
width: 36px;
height: 36px;
background-image: url("/static/museum/img/ico/ico-more.png");
background-repeat: no-repeat;
background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 2) {
.section .b-more {
background-image: url("/static/museum/img/ico/ico-more@2x.png");
}
}

/* section1 */
#section1 {
position: relative;
height: 100vh;
}
@media (max-width: 1199px) {
#section1 {
height: auto;
}
}

.section1-visual {
width: 100vw;
height: 100vh;
}
@media (max-width: 1199px) {
.section1-visual {
height: auto;
}
}
.section1-visual .swiper-slide {
position: relative;
height: 100vh;
align-items: center;
background-size: cover;
background-attachment: fixed;
background-position: center center;
}
@media (max-width: 1199px) {
.section1-visual .swiper-slide {
min-height: 730px;
height: auto;
}
}
.section1-visual .swiper-slide::before {
content: "";
display: inline-block;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.44%, rgba(0, 0, 0, 0.6) 94.29%);
}
@media (max-width: 1199px) {
.section1-visual .swiper-slide::before {
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.44%, rgba(0, 0, 0, 0.6) 94.29%);
}
}
@media (max-width: 749px) {
.section1-visual .swiper-slide::before {
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.44%, rgba(0, 0, 0, 0.6) 94.29%);
}
}
.section1-visual .swiper-slide .s1-txt-set {
position: relative;
z-index: 2;
width: 100%;
max-width: 1680px;
padding: 0 20px;
margin: 160px auto 0;
box-sizing: border-box;
}
@media (min-width: 1440px) {
.section1-visual .swiper-slide .s1-txt-set {
padding: 0 50px;
}
}
@media (max-width: 1199px) {
.section1-visual .swiper-slide .s1-txt-set {
margin: -150px auto 0;
}
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-txt-set {
margin: -200px auto 0;
}
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-txt-set br {
display: none;
}
}
.section1-visual .swiper-slide .s1-t1 {
color: #fff;
font-size: 2.75rem;
font-style: normal;
font-weight: 700;
line-height: 110%;
text-transform: uppercase;
text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-t1 {
font-size: 2rem;
}
}
.section1-visual .swiper-slide .s1-t2 {
margin-top: 24px;
color: #fff;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-t2 {
font-size: 1.125rem;
}
}
.section1-visual__ctrl {
position: absolute;
top: 68%;
left: 50%;
width: 100%;
padding: 0 20px;
max-width: 1680px;
box-sizing: border-box;
transform: translateX(-50%);
z-index: 100;
display: flex;
flex-direction: row;
align-items: center;
}
@media (min-width: 1440px) {
.section1-visual__ctrl {
padding: 0 50px;
}
}
@media (max-width: 1199px) {
.section1-visual__ctrl {
top: 56%;
}
}
@media (max-width: 749px) {
.section1-visual__ctrl {
top: 53%;
}
}
.section1-visual__ctrl .section1-visual__swiper-button-prev {
margin-top: -8px;
font-size: 24px;
}
.section1-visual__ctrl .section1-visual__swiper-button-prev::before {
content: "\e314";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-next {
margin-top: -8px;
font-size: 24px;
}
.section1-visual__ctrl .section1-visual__swiper-button-next::before {
content: "\e315";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-stop {
font-size: 24px;
margin-top: -8px;
transform: translateX(8px);
}
.section1-visual__ctrl .section1-visual__swiper-button-stop::before {
content: "\e034";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-play {
display: none;
font-size: 24px;
margin-top: -8px;
transform: translateX(8px);
}
.section1-visual__ctrl .section1-visual__swiper-button-play::before {
content: "\e037";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-prev.swiper-button-disabled,
.section1-visual__ctrl .section1-visual__swiper-button-next.swiper-button-disabled {
opacity: 0.4;
}
.section1-visual .swiper-pagination {
position: static;
color: rgba(255, 255, 255, 0.6);
font-weight: 300;
}
.section1-visual .swiper-pagination-current {
font-size: 1.25rem;
font-weight: 700;
color: rgb(255, 255, 255);
}
.section1-visual .swiper-pagination-total {
font-size: 1.125rem;
margin-left: 82px;
}
.section1-visual .swiper-pagination span {
display: inline-block;
padding: 0 16px;
}
.section1-visual .autoplay-progress {
position: absolute;
top: 50%;
width: 82px;
height: 4px;
transform: translateY(-50%);
background: rgba(255, 255, 255, 0.6);
}
@media (min-width: 1200px) {
.section1-visual .autoplay-progress {
left: 100px;
}
}
@media (min-width: 1440px) {
.section1-visual .autoplay-progress {
left: 128px;
}
}
@media (max-width: 1199px) {
.section1-visual .autoplay-progress {
left: 98px;
}
}
.section1-visual .autoplay-progress .progress {
display: block;
width: 0px;
height: 4px;
background: #39A0FF;
}
.section1-visual .autoplay-progress .progress.active {
animation: 11s progress linear;
}
.section1-visual .autoplay-progress .progress.first {
animation: 10s progress linear;
}

.section1-bottom {
position: absolute;
left: 50%;
bottom: 0;
padding: 16px 20px;
width: 100%;
max-width: 1680px;
padding: 16px 20px;
transform: translateX(-50%);
box-sizing: border-box;
border-top: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
z-index: 2;
gap: 20px 0;
}
@media (min-width: 1200px) {
.section1-bottom {
padding: 16px 20px;
}
}
@media (min-width: 1440px) {
.section1-bottom {
padding: 16px 50px;
}
}
.section1-bottom .museum-info {
gap: 0 36px;
}
@media (max-width: 749px) {
.section1-bottom .museum-info {
gap: 10px 0;
flex-direction: column;
}
}
.section1-bottom .museum-info__date {
font-size: 1.75rem;
font-weight: 500;
color: #fff;
}
.section1-bottom .museum-info__date span {
display: block;
font-size: 1rem;
font-weight: 400;
}
.section1-bottom .museum-info__holiday {
font-size: 14px;
font-weight: 300;
color: #fff;
}
.section1-bottom .museum-info__holiday span {
display: block;
font-weight: 400;
font-size: 1rem;
margin-bottom: 4px;
}
.section1-bottom .museum-info__holiday span i {
margin-right: 4px;
}
.section1-bottom .museum-reserve {
gap: 0 12px;
}
@media (max-width: 1199px) {
.section1-bottom .museum-reserve {
width: 100%;
justify-content: center;
flex-wrap: wrap;
gap: 6px 10px;
}
}
.section1-bottom .museum-reserve i {
display: inline-block;
width: 32px;
height: 32px;
margin-right: 4px;
}
.section1-bottom .museum-reserve a {
display: flex;
width: 164px;
height: 48px;
padding: 8px 12px;
align-items: center;
justify-content: center;
font-size: 14px;
font-weight: 500;
color: #fff;
border-radius: 99px;
background: rgba(255, 255, 225, 0.2);
}
.section1-bottom .museum-reserve a:hover, .section1-bottom .museum-reserve a:focus {
background: #005596;
}
@media (min-width: 750px) {
.section1-bottom .museum-reserve a {
background: rgba(255, 255, 225, 0.2);
}
}
@media (max-width: 749px) {
.section1-bottom .museum-reserve a {
width: 132px;
height: 40px;
}
}

/* section2 */
#section2 {
padding: 140px 0 200px;
background: #F2F6FA;
}
@media (max-width: 1199px) {
#section2 {
padding: 80px 0 0;
height: auto;
}
}
#section2 section {
position: relative;
}
#section2 section > .row {
display: grid;
grid-template-columns: repeat(3, minmax(350px, 1fr));
gap: 0 4%;
padding: 0 20px;
}
@media (min-width: 1440px) {
#section2 section > .row {
padding: 0 50px;
}
}
@media (max-width: 1199px) {
#section2 section > .row {
display: block;
}
}
#section2 h2 {
width: 100%;
margin: 0 auto 64px;
padding: 0 20px;
box-sizing: border-box;
}
@media (min-width: 1440px) {
#section2 h2 {
padding: 0 50px;
}
}
@media (max-width: 749px) {
#section2 h2 {
margin: 0 auto 40px;
}
}
#section2 h3 {
margin-bottom: 24px;
font-size: 1.75rem;
font-weight: 500;
color: #1A1A1A;
}

.section2-news {
position: relative;
max-width: 480px;
}
@media (max-width: 1199px) {
.section2-news {
width: 100%;
max-width: 100%;
padding: 0 20px;
}
}
@media (max-width: 1199px) {
.section2-news {
padding: 0;
}
}
.section2-news ul {
border-top: 2px solid #1A1A1A;
}
.section2-news ul li {
padding: 10px 0;
border-bottom: 1px solid #E5E5E5;
box-sizing: border-box;
}
.section2-news ul li span {
display: block;
}
.section2-news ul li .tit {
font-size: 1.125rem;
font-weight: 500;
color: #222;
}
@media (min-width: 1200px) {
.section2-news ul li .tit {
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
}
.section2-news ul li .desc {
margin: 11px 0;
font-size: 1rem;
font-weight: 400;
color: #4D4D4D;
}
@media (min-width: 1200px) {
.section2-news ul li .desc {
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
}
.section2-news ul li .date {
font-size: 0.875rem;
font-weight: 400;
color: #666;
}

.section2-edu {
position: relative;
max-width: 480px;
}
@media (max-width: 1199px) {
.section2-edu {
max-width: 100%;
padding: 0;
margin-top: 80px;
}
}
@media (max-width: 749px) {
.section2-edu {
margin-top: 40px;
}
}
.section2-edu ul {
border-top: 2px solid #1A1A1A;
}
.section2-edu ul li {
padding: 12px 0;
border-bottom: 1px solid #E5E5E5;
box-sizing: border-box;
}
.section2-edu ul li span {
display: block;
}
.section2-edu ul li .tit {
display: flex;
align-items: flex-start;
gap: 0 8px;
font-size: 1.125rem;
font-weight: 500;
color: #1a1a1a;
}
@media (max-width: 749px) {
.section2-edu ul li .tit {
flex-direction: column;
}
}
.section2-edu ul li .tit .state {
display: inline-flex;
align-items: center;
justify-content: center;
font-size: 0.875rem;
padding: 2px 6px;
color: #fff;
background: #2373B0;
border-radius: 3px;
}
.section2-edu ul li .tit .state.done {
background: #808080;
}
@media (max-width: 749px) {
.section2-edu ul li .tit .state {
margin-bottom: 4px;
}
}
.section2-edu ul li .info {
margin-top: 12px;
}
.section2-edu ul li .info dl {
display: table;
width: 100%;
border-collapse: collapse;
table-layout: fixed;
}
@media (max-width: 749px) {
.section2-edu ul li .info dl {
display: block;
margin-bottom: 12px;
}
}
.section2-edu ul li .info dl dt {
display: table-cell;
font-weight: 500;
color: #4d4d4d;
width: 84px;
padding: 3px 0;
margin-right: 16px;
line-height: 1;
}
@media (max-width: 749px) {
.section2-edu ul li .info dl dt {
display: block;
width: 100%;
margin-right: 0;
margin-bottom: 4px;
}
}
.section2-edu ul li .info dl dt::before {
content: "";
display: inline-block;
width: 4px;
height: 4px;
border-radius: 50%;
background: #4d4d4d;
transform: translateY(-4px);
margin-right: 8px;
}
.section2-edu ul li .info dl dd {
vertical-align: middle;
font-weight: 400;
color: #4d4d4d;
line-height: 1;
}
@media (max-width: 1199px) {
.section2-edu ul li .info dl dd {
display: block;
width: 100%;
padding-left: 12px;
}
}

.section2-exhibit {
position: relative;
max-width: 480px;
background: #0d4e80;
padding: 24px;
border-radius: 8px;
overflow: hidden;
}
@media (max-width: 1199px) {
.section2-exhibit {
max-width: 100%;
margin-top: 80px;
margin-bottom: 80px;
}
}
@media (max-width: 749px) {
.section2-exhibit {
margin-top: 40px;
margin-bottom: 40px;
padding: 24px 12px;
}
}
.section2-exhibit::before {
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 40.49%;
background: rgba(0, 0, 0, 0.2);
}
.section2-exhibit h3 {
color: #fff !important;
}
.section2-exhibit .b-more {
top: 24px;
right: 24px;
background-image: url(/static/museum/img/ico/ico-more-wh.svg);
}
.section2-exhibit .swiper {
position: relative;
}
.section2-exhibit .swiper .imgs {
width: 240px;
height: 328px;
margin: 0 auto 16px;
background: url(/static/museum/img/main/main-thum3.png) no-repeat;
background-position: center center;
background-size: contain;
}
@media (max-width: 749px) {
.section2-exhibit .swiper .imgs {
width: 192px;
height: 262.4px;
}
}
.section2-exhibit .swiper .section2__ctrl {
display: flex;
justify-content: space-between;
}
.section2-exhibit .swiper .section2__ctrl > button {
position: absolute;
top: 40%;
width: 100%;
transform: translateY(-40%);
z-index: 2;
width: 36px;
height: 36px;
}
.section2-exhibit .swiper .section2__ctrl .section2__swiper-button-prev {
left: 0;
}
@media (max-width: 749px) {
.section2-exhibit .swiper .section2__ctrl .section2__swiper-button-prev {
left: -12px;
}
}
.section2-exhibit .swiper .section2__ctrl .section2__swiper-button-prev::before {
content: "\e314";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 2.25rem;
color: #fff;
}
.section2-exhibit .swiper .section2__ctrl .section2__swiper-button-next {
right: 0;
}
@media (max-width: 749px) {
.section2-exhibit .swiper .section2__ctrl .section2__swiper-button-next {
right: -12px;
}
}
.section2-exhibit .swiper .section2__ctrl .section2__swiper-button-next::before {
content: "\e315";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 2.25rem;
color: #fff;
}
.section2-exhibit .swiper .desc span {
display: block;
width: 100%;
font-weight: 300;
text-align: center;
color: #fff;
}
.section2-exhibit .swiper .desc span.tit {
font-size: 1.25rem;
font-weight: 500;
margin-bottom: 8px;
}

@keyframes progress {
0% {
width: 0%;
}
100% {
width: 100%;
}
}
.section_0 .mouseWrap {
bottom: 120px;
}

.section_1 .mouseWrap,
.section_2 .mouseWrap,
.section_3 .mouseWrap,
.section_4 .mouseWrap,
.section_5 .mouseWrap {
bottom: 10px;
}
.section_1 .mouseWrap .mouseTxt,
.section_2 .mouseWrap .mouseTxt,
.section_3 .mouseWrap .mouseTxt,
.section_4 .mouseWrap .mouseTxt,
.section_5 .mouseWrap .mouseTxt {
color: #131547;
}
.section_1 .mouseWrap .mouse:before,
.section_2 .mouseWrap .mouse:before,
.section_3 .mouseWrap .mouse:before,
.section_4 .mouseWrap .mouse:before,
.section_5 .mouseWrap .mouse:before {
border-color: #131547;
}
.section_1 .mouseWrap .mouse:after,
.section_2 .mouseWrap .mouse:after,
.section_3 .mouseWrap .mouse:after,
.section_4 .mouseWrap .mouse:after,
.section_5 .mouseWrap .mouse:after {
background-color: #131547;
}

.section_5 .mouseWrap {
opacity: 0;
}

.mouseWrap {
position: fixed;
left: 50%;
bottom: 120px;
transform: translateX(-50%);
z-index: 100;
opacity: 1;
transition: 0.5s;
}
@media (max-width: 1199px) {
.mouseWrap {
display: none;
}
}
.mouseWrap .mouseTxt {
margin-top: 12px;
letter-spacing: 2px;
text-indent: 2px;
color: #fff;
font-size: 14px;
}
.mouseWrap .mouse {
position: relative;
width: 28px;
height: 42px;
border-radius: 100px;
background-size: 100% 200%;
animation: nudgeMouse 5s ease-out infinite;
margin: 0 auto;
}
.mouseWrap .mouse:before, .mouseWrap .mouse:after {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
}
.mouseWrap .mouse:before {
width: 22px;
height: 36px;
border-radius: 100px;
border: 3px solid #fff;
}
.mouseWrap .mouse:after {
background-color: #fff;
width: 6px;
height: 6px;
border-radius: 100%;
animation: trackBallSlide 5s linear infinite;
}

@keyframes trackBallSlide {
0% {
opacity: 1;
transform: scale(1) translateY(-12px);
}
6% {
opacity: 1;
transform: scale(0.9) translateY(3px);
}
14% {
opacity: 0;
transform: scale(0.4) translateY(24px);
}
15%, 19% {
opacity: 0;
transform: scale(0.4) translateY(-12px);
}
28%, 29.99% {
opacity: 1;
transform: scale(1) translateY(-12px);
}
30% {
opacity: 1;
transform: scale(1) translateY(-12px);
}
36% {
opacity: 1;
transform: scale(0.9) translateY(3px);
}
44% {
opacity: 0;
transform: scale(0.4) translateY(24px);
}
45%, 49% {
opacity: 0;
transform: scale(0.4) translateY(-12px);
}
58%, 59.99% {
opacity: 1;
transform: scale(1) translateY(-12px);
}
60% {
opacity: 1;
transform: scale(1) translateY(-12px);
}
66% {
opacity: 1;
transform: scale(0.9) translateY(3px);
}
74% {
opacity: 0;
transform: scale(0.4) translateY(24px);
}
75%, 79% {
opacity: 0;
transform: scale(0.4) translateY(-12px);
}
88%, 100% {
opacity: 1;
transform: scale(1) translateY(-12px);
}
}
@keyframes nudgeMouse {
0% {
transform: translateY(0);
}
20% {
transform: translateY(8px);
}
30% {
transform: translateY(0);
}
50% {
transform: translateY(8px);
}
60% {
transform: translateY(0);
}
80% {
transform: translateY(8px);
}
90% {
transform: translateY(0);
}
}
/*# sourceMappingURL=../external/staticmuseum/maps/main.css.map */
