@charset "UTF-8";
@font-face {
font-family: "Material Icons";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff");
}
@font-face {
font-family: "Material Icons Outlined";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff");
}
b,
strong {
font-weight: 500;
}

.red {
color: #C81720 !important;
}

.fc_red {
color: #C81720;
}

.point2 {
color: #3B63C4;
}

.tsh-wrap {
position: relative;
margin-top: -36px;
}
@media (max-width: 1199px) {
.tsh-wrap {
margin-top: -36px;
}
}
@media (max-width: 1199px) {
.tsh-wrap form {
display: flex;
flex-direction: column;
}
}
.tsh-wrap .hgroup {
position: relative;
display: block !important;
background-color: #CBDEF6;
padding: 50px 0 8px;
margin-bottom: 0;
}
@media (max-width: 1199px) {
.tsh-wrap .hgroup {
padding: 30px 0 16px;
}
}
.tsh-wrap .hgroup::before {
content: "";
display: inline-block;
width: 100vw;
height: 100%;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
background-color: #CBDEF6;
z-index: -1;
}
.tsh-wrap .hgroup h1 {
color: #1a1a1a;
font-size: 32px;
font-weight: 600;
}
@media (max-width: 1199px) {
.tsh-wrap .hgroup h1 {
font-size: 24px;
text-align: center;
}
}
.tsh-wrap .best-tsh {
margin-bottom: 10px;
}
@media (min-width: 1200px) {
.tsh-wrap .best-tsh {
position: absolute;
top: 60px;
right: 0;
z-index: 9;
width: 280px;
}
}
@media (max-width: 1199px) {
.tsh-wrap .best-tsh {
position: relative;
background-color: #CBDEF6;
order: 1;
margin-bottom: 0;
padding-bottom: 10px;
}
.tsh-wrap .best-tsh::before {
content: "";
display: inline-block;
width: 100vw;
height: 100%;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
background-color: #CBDEF6;
z-index: -1;
}
.tsh-wrap .best-tsh::after {
content: "";
position: absolute;
display: block;
left: 50%;
bottom: 0;
width: 100vw;
height: 2px;
transform: translateX(-50%);
background-color: #000e33;
}
}
.tsh-wrap .best-tsh .best-txt {
display: flex;
justify-content: space-between;
margin-bottom: 8px;
}
.tsh-wrap .best-tsh .best-txt h2 {
font-size: 1rem !important;
color: #1A1A1A;
font-weight: 500 !important;
margin: 0 !important;
}
.tsh-wrap .best-tsh .best-txt .best-tab a {
color: #4D4D4D;
padding-left: 28px;
position: relative;
}
.tsh-wrap .best-tsh .best-txt .best-tab a::before, .tsh-wrap .best-tsh .best-txt .best-tab a::after {
content: "";
display: inline-block;
position: absolute;
top: 1px;
left: 0;
}
.tsh-wrap .best-tsh .best-txt .best-tab a::before {
width: 20px;
height: 20px;
border: 1px solid #BFBFBF;
border-radius: 50%;
background-color: #FAFAFA;
}
.tsh-wrap .best-tsh .best-txt .best-tab a.active {
color: #001c66;
font-weight: 500;
}
.tsh-wrap .best-tsh .best-txt .best-tab a.active::before {
border: 1px solid #005596;
}
.tsh-wrap .best-tsh .best-txt .best-tab a.active::after {
width: 9px;
height: 9px;
border: 6px solid #005596;
background-color: transparent;
border-radius: 50%;
}
.tsh-wrap .best-tsh .best-txt .best-tab a.active span {
position: relative;
display: inline-block;
}
.tsh-wrap .best-tsh .best-txt .best-tab a.active span::before {
content: "";
display: inline-block;
width: 100%;
height: 1px;
position: absolute;
bottom: 2px;
left: 0;
background-color: #001c66;
}
.tsh-wrap .best-tsh .best-txt .best-tab a + a {
margin-left: 12px;
}
.tsh-wrap .best-tsh ul {
margin: -4px 0;
}
.tsh-wrap .best-tsh ul li a {
display: block;
padding: 2px 0;
color: #4D4D4D;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
width: 100%;
}
.tsh-wrap .best-tsh ul li a span {
font-size: 14px;
color: #fff;
font-weight: 300;
text-align: center;
display: inline-block;
width: 20px;
height: 20px;
border-radius: 2px;
background-color: #808080;
margin-right: 3px;
}
.tsh-wrap .best-tsh ul li:nth-child(1) a, .tsh-wrap .best-tsh ul li:nth-child(2) a, .tsh-wrap .best-tsh ul li:nth-child(3) a {
color: #1A1A1A;
}
.tsh-wrap .best-tsh ul li:nth-child(1) a span, .tsh-wrap .best-tsh ul li:nth-child(2) a span, .tsh-wrap .best-tsh ul li:nth-child(3) a span {
background-color: #005596;
}
.tsh-wrap .best-tsh .tab-con {
display: none;
}
.tsh-wrap .best-tsh .tab-con.tab01 {
display: block;
}
.tsh-wrap .best-tsh .best-box {
position: relative;
height: 40px;
border: 1px solid #E6E6E6;
border-radius: 4px;
background-color: #fff;
overflow: hidden;
}
.tsh-wrap .best-tsh .best-box::after {
content: "\e5c5";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 20px;
position: absolute;
top: 8px;
right: 10px;
}
.tsh-wrap .best-tsh .best-box a {
padding: 8px 30px 8px 10px;
}
.tsh-wrap .best-tsh .best-layer {
display: none;
padding: 10px;
border: 2px solid #005596;
background-color: #fff;
border-radius: 4px;
position: absolute;
z-index: 9;
top: 30px;
left: 0;
width: 100%;
background-color: #fff;
}
@media (max-width: 1199px) {
.tsh-wrap .best-tsh .best-layer {
top: inherit;
}
}
.tsh-wrap .tsh {
position: relative;
padding: 0 0 50px;
margin-bottom: 15px;
background-color: #CBDEF6;
}
.tsh-wrap .tsh::before {
content: "";
display: inline-block;
width: 100vw;
height: 100%;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
background-color: #CBDEF6;
z-index: -1;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh::before {
background-color: #f2f6fa;
}
}
@media (max-width: 1199px) {
.tsh-wrap .tsh {
padding: 8px 0 12px;
order: 2;
background-color: #f2f6fa;
}
}
.tsh-wrap .tsh input[type=radio],
.tsh-wrap .tsh input[type=checkbox] {
width: 18px;
height: 18px;
}
.tsh-wrap .tsh input[type=radio] + i,
.tsh-wrap .tsh input[type=checkbox] + i {
width: 18px;
height: 18px;
}
.tsh-wrap .tsh input[type=radio] + i + span {
margin-left: 6px;
}
.tsh-wrap .tsh input[type=radio]:checked + i:before {
width: 6px;
height: 6px;
border: 6px solid #3B63C4;
}
.tsh-wrap .tsh input[type=radio]:checked + i + span {
color: #001c66;
}
.tsh-wrap .tsh input[type=checkbox] {
position: relative;
}
.tsh-wrap .tsh input[type=checkbox] + i {
position: relative;
margin-left: -17px;
}
.tsh-wrap .tsh input[type=checkbox] + i + span {
margin-right: 10px;
}
.tsh-wrap .tsh input[type=checkbox]:checked + i + span {
color: #001c66;
}
.tsh-wrap .tsh input[type=checkbox]:checked + i:after {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.tsh-wrap .tsh .input-set {
position: relative;
display: flex;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .input-set {
flex-wrap: wrap;
}
}
.tsh-wrap .tsh .input-set .keyword-set {
width: 624px;
height: 56px;
max-width: calc(100% - 111px);
display: flex;
align-items: center;
background-color: #fff;
border-radius: 4px;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .input-set .keyword-set {
order: 2;
width: 100%;
height: 48px;
max-width: calc(100% - 113px);
}
}
.tsh-wrap .tsh .input-set .keyword-set .keyword {
width: calc(100% - 66px);
}
@media (max-width: 749px) {
.tsh-wrap .tsh .input-set .keyword-set .keyword {
width: calc(100% - 40px);
}
}
.tsh-wrap .tsh .input-set .keyword-set .keyword input[type=text] {
width: 100%;
border: 0;
height: 56px;
padding: 0 24px;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .input-set .keyword-set .keyword input[type=text] {
padding: 5px 15px;
height: 48px;
}
}
.tsh-wrap .tsh .input-set .keyword-set .keyword .twitter-typeahead {
display: block !important;
}
.tsh-wrap .tsh .input-set .keyword-set .keyword .twitter-typeahead .tt-menu {
width: calc(100% + 65px);
}
.tsh-wrap .tsh .input-set .keyword-set .keyword .twitter-typeahead .tt-menu.tt-open {
display: block;
background-color: #fff;
line-height: 1.6;
padding: 15px 20px;
font-size: 16px;
border: 1px solid #E8EBED;
}
.tsh-wrap .tsh .input-set .keyword-set .keyword .twitter-typeahead .tt-menu .tt-suggestion {
cursor: pointer;
padding: 4px 0;
}
@media (min-width: 1200px) {
.tsh-wrap .tsh .input-set .keyword-set .keyword .twitter-typeahead .tt-menu .tt-suggestion:hover {
background-color: #ebf3f7;
}
}
.tsh-wrap .tsh .input-set .keyword-set .keyword .twitter-typeahead .tt-menu .tt-hightlight {
color: #005596;
}
.tsh-wrap .tsh .input-set .keyword-set .search {
width: 66px;
height: 56px;
text-align: center;
}
@media (max-width: 749px) {
.tsh-wrap .tsh .input-set .keyword-set .search {
width: 32px;
height: 32px;
}
}
.tsh-wrap .tsh .input-set .keyword-set .search::before {
content: "\e8b6";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 26px;
color: #222;
}
.tsh-wrap .tsh .input-set .detailSearchClose {
display: inline-flex;
align-items: center;
justify-content: center;
text-align: center;
width: 111px;
background: #fff;
border-radius: 4px;
height: 56px;
line-height: 56px;
margin-left: 2px;
color: #005596;
border: 1px solid #005596;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .input-set .detailSearchClose {
order: 2;
height: 48px;
font-size: 16px;
}
}
@media (max-width: 749px) {
.tsh-wrap .tsh .input-set .detailSearchClose {
width: 100px;
}
}
.tsh-wrap .tsh .input-set .detailSearchClose::before {
content: "\e429";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 20px;
margin-right: 6px;
color: #005596;
}
.tsh-wrap .tsh .input-set .detailSearchClose.active {
line-height: 54px;
color: #fff;
background: #005596;
border: 0;
}
.tsh-wrap .tsh .input-set .detailSearchClose.active::before {
color: #fff;
}
.tsh-wrap .tsh .input-set .etc {
margin-top: 15px;
padding-left: 10px;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .input-set .etc {
display: block;
width: 100%;
order: 1;
font-size: 14px;
padding-left: 0;
margin-top: 0;
margin-bottom: 8px;
}
}
.tsh-wrap .tsh .input-set .etc label {
display: inline-flex;
align-items: center;
}
.tsh-wrap .tsh .detail-box {
display: none;
margin-top: 7px;
background-color: #fff;
border-radius: 4px;
padding: 12px 24px 32px;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .detail-box {
padding: 0 12px 30px;
}
}
.tsh-wrap .tsh .detail-box.active {
display: block;
}
.tsh-wrap .tsh .detail-box .view-list dl {
display: flex;
justify-content: space-between;
padding: 14px 0;
border-bottom: 1px solid #F1F4FA;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .detail-box .view-list dl {
display: block;
}
}
.tsh-wrap .tsh .detail-box .view-list dl dt {
display: flex;
align-self: center;
width: 120px;
color: #808080;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .detail-box .view-list dl dt {
margin-bottom: 8px;
}
}
.tsh-wrap .tsh .detail-box .view-list dl dt::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 4px;
height: 4px;
border-radius: 50%;
background: #808080;
margin: 9px 11px;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .detail-box .view-list dl dt::before {
margin: 9px 5px;
}
}
.tsh-wrap .tsh .detail-box .view-list dl dd {
font-size: 15px;
display: flex;
flex-wrap: wrap;
align-items: center;
color: #4D4D4D;
width: calc(100% - 94px);
}
@media (max-width: 1199px) {
.tsh-wrap .tsh .detail-box .view-list dl dd {
width: 100%;
gap: 4px 8px;
}
}
.tsh-wrap .tsh .detail-box .view-list dl dd label {
margin-right: 8px;
}
.tsh-wrap .tsh .detail-box .view-list dl dd label:last-child {
margin-right: 0;
}
.tsh-wrap .tsh .detail-box .view-list dl dd .sh-input {
display: flex;
align-items: center;
width: 100%;
margin-top: 5px;
}
.tsh-wrap .tsh .detail-box .view-list dl dd .sh-input .date-set {
display: flex;
margin-top: 8px;
}
.tsh-wrap .tsh .detail-box .view-list dl dd .sh-input .date-set::before {
content: "직접검색";
display: inline-block;
padding-right: 8px;
padding-top: 4px;
}
@media (max-width: 749px) {
.tsh-wrap .tsh .detail-box .view-list dl dd .sh-input .date-set {
display: block;
width: 100%;
}
.tsh-wrap .tsh .detail-box .view-list dl dd .sh-input .date-set::before {
display: block;
width: 100%;
padding-bottom: 8px;
}
}
.tsh-wrap .tsh .detail-box .view-list dl dd .sh-input label {
align-items: center;
}
.tsh-wrap .tsh .detail-box .view-list dl dd .sh-input input[type=text] {
width: 130px !important;
height: 32px;
border: 1px solid #D9D9D9;
border-radius: 4px;
background: #fff url(/static/portal/img/ico/ico-calender-g.png) calc(100% - 6px) center no-repeat;
padding: 0 30px 0 8px;
}
.tsh-wrap .tsh .detail-box .tsh-btn {
margin-top: 32px;
display: flex;
justify-content: center;
align-items: center;
}
.tsh-wrap .tsh .detail-box .tsh-btn button {
font-weight: 300;
border-radius: 4px;
min-width: 120px;
height: 32px;
line-height: 30px;
margin: 0 1px;
}
@media (max-width: 749px) {
.tsh-wrap .tsh .detail-box .tsh-btn button {
min-width: 100px;
}
}
.tsh-wrap .tsh .detail-box .tsh-btn button span {
vertical-align: middle;
}
.tsh-wrap .tsh .detail-box .tsh-btn button:before {
font-size: 22px;
margin-right: 4px;
vertical-align: middle;
}
.tsh-wrap .tsh .detail-box .tsh-btn button.search {
color: #fff;
background: #001c66;
border: 1px solid #001c66;
}
.tsh-wrap .tsh .detail-box .tsh-btn button.search::before {
content: "\e8b6";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.tsh-wrap .tsh .detail-box .tsh-btn button.reset {
color: #005596;
border: 1px solid #005596;
}
.tsh-wrap .tsh .detail-box .tsh-btn button.reset::before {
color: #005596;
content: "\f053";
font-family: "Material Icons";
}
.tsh-wrap .tsh .detail-box .tsh-btn button.close {
color: #fff;
background-color: #666;
}
.tsh-wrap .tsh .detail-box .tsh-btn button.close::before {
content: "\e5cd";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #fff;
}
.tsh-wrap .tsh-main {
position: relative;
display: flex;
justify-content: space-between;
order: 3;
}
@media (min-width: 1200px) {
.tsh-wrap .tsh-main::before {
content: "";
display: inline-block;
width: 1px;
height: 100%;
background-color: #E6E6E6;
position: absolute;
top: 0;
left: 276px;
}
}
.tsh-wrap .tsh-main .search-side {
display: none;
}
@media (min-width: 1200px) {
.tsh-wrap .tsh-main .search-side {
display: block;
width: 240px;
margin-right: 36px;
}
.tsh-wrap .tsh-main .search-side .label-list label {
display: flex;
align-items: flex-start;
margin-left: 0;
font-size: 1.125rem;
padding: 15px 0;
border-bottom: 1px solid #E6E6E6;
}
.tsh-wrap .tsh-main .search-side .label-list label input[type=checkbox] + i {
margin-left: -25px;
}
.tsh-wrap .tsh-main .search-side .label-list label input[type=checkbox].checked + i::after,
.tsh-wrap .tsh-main .search-side .label-list label input[type=checkbox]:checked + i::after {
top: 21px;
}
.tsh-wrap .tsh-main .search-side .reset {
margin-top: 24px;
width: 100%;
padding: 4px;
text-align: center;
font-weight: 400;
color: #fff;
background-color: #4D4D4D;
border-radius: 4px;
}
.tsh-wrap .tsh-main .search-side .reset::before {
content: "\f053";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 20px;
color: #fff;
margin-right: 4px;
}
.tsh-wrap .tsh-main .search-side .reset:focus {
outline-offset: 2px;
outline-style: dashed;
}
}
.tsh-wrap .tsh-main .label-list {
display: flex;
flex-direction: column;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh-main .search-main {
width: 100%;
}
}
@media (min-width: 1200px) {
.tsh-wrap .tsh-main .search-main {
width: calc(100% - 240px - 36px - 36px);
}
}
.tsh-wrap .tsh-main .search-main .search-hgroup {
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #1A1A1A;
padding-bottom: 15px;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh-main .search-main .search-hgroup {
display: block;
}
}
.tsh-wrap .tsh-main .search-main .search-hgroup p {
margin-bottom: 0 !important;
}
.tsh-wrap .tsh-main .search-main .search-hgroup p::before {
content: "\e8b6";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 22px;
margin-right: 4px;
color: #666;
}
.tsh-wrap .tsh-main .search-main .search-hgroup p .point {
color: #F04D1A;
}
.tsh-wrap .tsh-main .search-main .search-hgroup p em {
font-weight: 600;
}
@media (max-width: 1199px) {
.tsh-wrap .tsh-main .search-main .search-hgroup .select-set {
margin-top: 12px;
text-align: right;
}
}
.tsh-wrap .tsh-main .search-main .search-hgroup .select-set select {
height: 32px;
}
.tsh-wrap .tsh-main .search-main .search-hgroup .select-set .submit {
color: #fff;
background-color: #005596;
border-radius: 4px;
height: 32px;
padding: 0 12px;
vertical-align: middle;
}
.tsh-wrap .tsh-main .search-main .search-hgroup .select-set .submit::before {
content: "\e5ca";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 18px;
color: #fff;
margin-right: 8px;
margin-bottom: 2px;
}
@media (max-width: 749px) {
.tsh-wrap .tsh-main .search-main .search-hgroup .select-set .submit::before {
margin-right: 0;
}
}
.tsh-wrap .tsh-main .search-main .search-hgroup .select-set .submit:focus {
outline-color: #fff;
outline-style: dashed;
outline-offset: -1PX;
}
@media (max-width: 749px) {
.tsh-wrap .tsh-main .search-main .search-hgroup .select-set .submit span {
display: none;
}
}
.tsh-wrap .tsh-main .search-main .sh-list li {
padding: 17px 0;
border-bottom: 1px solid #E6E6E6;
}
.tsh-wrap .tsh-main .search-main .sh-list li a {
display: block;
}
.tsh-wrap .tsh-main .search-main .sh-list li a > * {
display: block;
}
.tsh-wrap .tsh-main .search-main .sh-list li .schDesc {
display: flex;
justify-content: space-between;
align-items: center;
}
.tsh-wrap .tsh-main .search-main .sh-list li .schDesc .badge {
display: inline-block;
padding: 3px 8px;
color: #fff;
font-size: 0.875rem;
font-weight: 300;
border-radius: 4px;
background: #005596;
}
.tsh-wrap .tsh-main .search-main .sh-list li .schDesc .date {
color: #666;
font-size: 14px;
}
.tsh-wrap .tsh-main .search-main .sh-list li .schDesc .date::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 16px;
height: 16px;
background: url(/static/imer/img/ico/ico-date2.png) no-repeat;
margin-right: 5px;
}
.tsh-wrap .tsh-main .search-main .sh-list li .location {
font-size: 1.125rem;
font-weight: 500;
margin: 12px 0 10px;
}
.tsh-wrap .tsh-main .search-main .sh-list li .txt {
color: #4D4D4D;
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
height: 52px;
}
.ie .tsh-wrap .tsh-main .search-main .sh-list li .txt {
display: block;
height: 32px;
overflow: hidden;
}
@media (max-width: 749px) {
.tsh-wrap .tsh-main .search-main .sh-list li .txt {
height: 42px;
font-size: 14px;
}
}
.tsh-wrap .tsh-main .search-main .sh-list li .keyword {
margin-top: 15px;
}
.tsh-wrap .tsh-main .search-main .sh-list li .keyword span {
display: inline-block;
margin-right: 4px;
margin-bottom: 4px;
color: #666;
font-size: 14px;
display: inline-block;
padding: 2px 10px;
border: 1px solid #C2C2C2;
border-radius: 30px;
}
.tsh-wrap .tsh-main .search-main .sh-list li .link {
display: block;
margin-top: 12px;
color: #005596;
font-size: 14px;
text-decoration: underline;
}
.tsh-wrap .tsh-main .search-main .sh-list li .link a {
color: #005596;
}
.tsh-wrap mark {
background-color: transparent !important;
color: #449ee3 !important;
}
/*# sourceMappingURL=../external/staticmuseum/maps/tsh.css.map */
