<!doctype html>
<html lang="en">
<head>
<title>World Bank Group</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>World Bank Group</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>Korea is a member of all organizations that make up the World Bank Group, including the IBRD, IDA, IFC, MIGA and ICSID. On behalf of the Korean government, the Bank of Korea makes payments to these organizations and participates in various financial transactions with them.</p>
		<p>From 1962, a few years after Korea became a member of the World Bank Group, it tapped the capital of the International Development Association(IDA), which provides long-term loans at zero interest. From 1968 it also utilized capital of the IBRD, a commercial-based financial institution. In building its key national industries, Korea took full advantage of capital provided by the World Bank Group. As its economic power grew, Korea graduated from the IDA program for the poorest countries in 1974, and later stopped being a beneficiary of financial support from the IBRD in 1995.</p>
		<p>In particular, Korea has been actively participating in various World Bank-led development programs for developing countries since the end of the 1970s, when it ceased being a program beneficiary. From the fifth replenishment of IDA capital in 1979, Korea became a donor, contributing to the raising of concessional funds to support developing countries. Korea joined the Consultative Groups on developing countries from 1987 and the syndicate loan project in 1990. From 1993, Korea also started to give to the World Bank's Consultant Trust Fund.</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>