<!doctype html>
<html lang="en">
<head>
<title>ASEAN+3</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>ASEAN+3</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>ASEAN+3 is a regional consultative forum suggested by China and established in December 1998 upon agreement of Korea, Japan and China with ASEAN, for the purpose of strengthening mutual cooperation within the region on financial issues and enhancing regional abilities to cope with crisis. The 13 members include Korea, China, Japan and the ASEAN countries. *</p>
		<p class="fnote">** Malaysia, Indonesia, Thailand, the Philippines, Laos, Myanmar, Cambodia, Singapore, Vietnam and Brunei</p>
		<p>In May 2000, ASEAN+3 adopted the Chiang Mai Initiative for concluding currency swap agreements among member countries to prevent financial crises. Since 2002, the members have focused on research and discussion for the Asian Bond Markets Initiative (ABMI), in recognition of the importance of fostering bond markets in the region to attract the enormous levels of foreign reserve held by Asian countries. In 2019, members set new initiatives for facilitating regional growth and integration as their main tasks, under which they studied and discussed financial digitalization, transition finance, and disaster risks, as of 2022.</p>
		<p>Meanwhile, in March 2010, the ASEAN+3 converted the existing CMI bilateral currency swap agreements to a multilateral currency swap agreement, called the Chiang Mai Initiative Multilateralization, in an effort to strengthen the agreement’s legal enforceability, to better prevent regional financial crises, and to facilitate more effective and systematic provision of US dollar liquidity in any event of crisis. The total size of the CMIM was increased to 240 billion dollars after revision of the agreements with effect from July 2014. Korea’s contribution and maximum arrangement amounts stand at 38.4 billion dollars each. In September 2020, the agreement was revised to allow the provision of local currency (LCY) liquidity to member countries, in addition to U.S. dollars, in an attempt to enhance accessbility to the CMIM arrangements and to reduce dependency on the dollar.</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>