<!doctype html>
<html lang="en">
<head>
<title>Group of 20(G-20)</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>Group of 20(G-20)</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>The G-20 (Group of Twenty) is a representative international forum composed of industrialized countries and major emerging market economies, created with the report of the Finance Ministers of the Group of Seven on "Strengthening the International Financial Architecture" in September 1999. Together with the G-7 countries, * G-20 participants include 12 other major economies ** and EU as well as international financial institutions such as the IMF, World Bank and FSB.</p>
		<p class="fnote">* U.S., Japan, Germany, U.K., France, Italy, Canada</p>
		<p class="fnote">** Korea, China, India and Indonesia (Asia); Argentina, Brazil and Mexico (South America); Russia, Turkey and Australia (Europe and Oceania); The Republic of South Africa and Saudi Arabia (Africa and the Mid-East Area)</p>
		<p>Discussions in G-20 meetings have centered on ways to facilitate global economic growth, reform financial regulations, and ease global imbalances, based on solid cooperation among member countries. Members have also actively participated in debates on reforming the international tax system in response to taxation issues stemming from digitalization. Efforts have recently been focused on strengthening international cooperation on many issues induced by the COVID-19 pandemic, including debt problems in low-income countries, global health issues, the transition to a low-carbon economy, and responses to climate change risks. The bank of Korea, together with the Korean government, actively participates in G-20 meetings to remain informed about current economic and financial issues and to help strengthen policy coordination across the international community.</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>