<!doctype html>
<html lang="en">
<head>
<title>Organisation for Economic Co-operation and Development</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>Organisation for Economic Co-operation and Development</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>The Organisation for Economic Co-operation and Development (OECD) was founded in December 1960 as an economic forum of developed</p>
		<p>countries to promote economic cooperation among countries in North America and Europe. When it opened its membership to emerging</p>
		<p>market economies and “countries in transition” in the 1990s, Korea became a member in December 1996, and as of January 2024 the OECD has a total of 38 members. Today, the OECD serves as a global policy forum where members have broadened discussion to include diverse topics beyond the original aims of economic development, development assistance, and free trade.</p>
		<p>As a member of the government delegation, the Bank of Korea participates in major OECD meetings, including the Economic and Development Review Committee (EDRC) and the Economic Policy Committee (EPC), to ensure that Korea's economic developments and policies are reflected accurately in the OECD's Economic Survey.</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>