<!doctype html>
<html lang="en">
<head>
<title>Regional Development Cooperative Bodies</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>Regional Development Cooperative Bodies</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>Korea is a member of several regional multilateral development institutions, including the ADB, AIIB, AfDB / AfDF, EBRD, IDB Group(IDB, IDB Invest, IDB Lab) and CABEI. Korea, currently the eighth-ranked stakeholder in the ADB, is a member of the board of directors and has a considerable influence on the ADB policies. In 1970, Korea hosted the third ADB Annual Meeting in Seoul in 1970 and the 37th meeting on Jeju Island in 2004, and will host the 56th Annual Meeting in Incheon in 2023. In 2015, Korea joined the AIIB, an international organization established by China, as a founding member, and it is expected to play an important role within the organization, securing the fifth largest share among the participating countries. Korea was the first member besides China to host the AIIB Annual Meetings, which was held in Jeju Island in 2017.</p>
		<p>From outside of Asia, Korea is also serving as a member of regional multilateral development institutions such as the AfDB/F, EBRD, IDB Group and CABEI, participating in their loan businesses and strengthening cooperation with their members.</p>
		<p>Korea hosted the third ADB Annual Meeting in Seoul in 1970, the 37th Annual meeting on Jeju Island in 2004, and the 56th Annual Meeting in Incheon in 2023.</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>