<!doctype html>
<html lang="en">
<head>
<title>FSB</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>FSB</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>The Financial Stabilitly Board (FSB) is an international body established after the Global Financial Crisis to create a new financial regulatory framework for crisis recovery and prevention. Established as a successor to the Financial Stability Forum (FSF) with a broadened mandate and membership, it coordinates and oversees work among financial authorities, international standard-setting bodies, and international organizations. It monitors financial system vulnerability, and develops and implements regulatory and supervisory policies. As of the end of November 2022, the FSB is represented by 24 financial authorities and 13 international organizations. Korea has actively participated in the Plenary, the Regional Consultative Group for Asia, and other various working groups since it joined in March 2009. The Governor of the Bank of Korea served as the first co-chair of the Regional Consultative Group for Asia from November 2011 to June 2013.</p>
		<p class="fnote">* Argentina, Australia, Brazil, Canada, China, France, Germany, Hong Kong, India, Indonesia, Italy, Japan, Mexico, the Netherlands, Korea, Russia, Saudi Arabia, Singapore, South Africa, Spain, Switzerland, Turkiye, the United Kingdom, and the United States</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>