<!doctype html>
<html lang="en">
<head>
<title>Bank for International Settlements (BIS)</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>Bank for International Settlements (BIS)</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>Korea joined the IMF on August 26, 1955, as the 58th country to enter the Fund, with the aim of procuring funds necessary for its economic development. Upon its accession, Korea's quota in the IMF was SDR 12.5 million, only 0.14% of the total. As Korea's importance in the global community has increased through its economic development, however, by end-September 2021, its quota had increased to SDR 8,582.7 million (1.80% of the total, 16th among all members).</p>
		<p>Due to its weak economic condition, for a considerable period of time since its IMF accession in 1955, Korea had been able to avail itself of the Transitional Agreements (Article XIV of the Articles of Agreement), which allow restrictions on payments and transfers for current international transactions. In the mid-1980s, however, when Korea's balance of payments position improved, it eased some foreign exchange regulations related to external transactions. From November 1, 1988, Korea became subject to Article VIII, which prohibits discriminatory or multilateral currency agreements and also prohibits foreign exchange regulation on current international transactions.</p>
		<p>In the late-1980s, Korea was then acknowledged for the soundness of its balance of payments and external reserve conditions, as its balance of payments had recorded continual surpluses. In March 1987, Korea was included on the IMF's financial transaction counterparty list. Since then it has been delisted a few times, but has now remained solidly on the list since March 2002.</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>