<!doctype html>
<html lang="en">
<head>
<title>South East Asian Central Banks (SEACEN)</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/static/portal/css/ie.css">
		<script type="text/javascript" src="/static/jslibrary/html5shiv.js"></script>
		<script type="text/javascript" src="/static/jslibrary/respond.min.js"></script>
		<script type="text/javascript"> $('html').attr('id','ie');</script>
<![endif]-->

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>South East Asian Central Banks (SEACEN)</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>SEACEN is a cooperative body of central banks in the South East Asian region, established in February 1966 to develop experts through training and research on areas of common interest and to enable member banks to exchange information and opinions. As of the end of Aug. 2017, there are 19 members, - the central banks of Thailand, Malaysia, Philippines, Singapore, Sri Lanka, Indonesia, Nepal, Myanmar, Korea, Taipei, Mongolia, Brunei Darussalem, Cambodia, Papua New Guinea, and Vietnam, China, Lao PDR, India, and Hong Kong.</p>
		<p>The Bank of Korea became the organization's 9th member in January 1990, upon approval of the 9th SEACEN Governors' Conference. The Bank of Korea hosted SEACEN Governors' Conferences in 1993 and 1999, and 2012.</p>
		<p>SEACEN established the SEACEN Research and Training Centre (SEACEN Centre) in 1972, to facilitate member cooperation in research and training areas. The Centre conducts research on areas of common interest and hosts trainings, seminars and workshops for member bank employees with cooperation from international financial organizations such as the IMF, central banks of industrialized countries including the FRB, and member banks. The Bank of Korea has attended the Meeting of the SEACEN Board of Governors and The SEACEN Executive Committee Meeting every year. It is also actively participating in research and training activities at the SEACEN Centre, having hosted a total of 36 training courses, seminars, and workshops as of end-2022.</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>