<!doctype html>
<html lang="ko">
<head>
<title>Financial Cooperation with International Financial Institutions</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<script src="/static/jslibrary/bootstrap/js/bootstrap.js"></script>

<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/static/portal/css/ie.css">
		<script type="text/javascript" src="/static/jslibrary/html5shiv.js"></script>
		<script type="text/javascript" src="/static/jslibrary/respond.min.js"></script>
		<script type="text/javascript"> $('html').attr('id','ie');</script>
<![endif]-->

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>Financial Cooperation with International Financial Institutions</h1>
	<div class="popupBody">
	<div class="scrollContB">

		<p>EMEAP is a cooperative organization of central banks and monetary authorities in the East Asia and Pacific region that has been very active recently. EMEAP was established in Feburary 1991 to enable central banks within the region to jointly search for policy measures to assist them in smoothly adapting to the rapidly changing global economy and financial market in the 1990s. There are 11 members--the central banks of Korea, Japan, China, Australia, New Zealand, Hong Kong, Singapore, Thailand, Malaysia, Indonesia and the Philippines.</p>
		<p>EMEAP's activities consist of regular Governors' Meetings, Deputies' Meetings and meetings various Working Groups. In particular, the Working Groups focus on the main areas of interest to central banks: financial markets, banking supervision, the payment and settlement systems, and information technology. Working-level experts from member banks participate in the Working Groups to conduct research and to discuss current issues and policies.</p>
		<p>As a founding member, the Bank of Korea is actively participating in EMEAP and has a successful track record of organizing many meetings and conferences. Since 2000, the Bank of Korea has hosted the Governors’ Meeting twice, and the Deputies’ Meeting four times. In addition, the Bank of Korea has also organized multiple Working Group meetings.</p>

	</div>

	<div class="btnSet">
		<a href="#" onclick="window.print();" class="b-print">print</a>
	</div>
</div>