
<!doctype html>
<html lang="en">
<head>
<title>popup</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="/static/portal/css/ie.css">
	<script type="text/javascript" src="/static/jslibrary/html5shiv.js"></script>
	<script type="text/javascript" src="/static/jslibrary/respond.min.js"></script>
	<script type="text/javascript"> $('html').attr('id','ie');</script>
<![endif]-->

</head>
<body class="bgn">

<div class="popupWrap">
	<h1>Example Ⅱ (Illustration)</h1>
	<div class="popupBody">
		<p>The size of illustrations must be either at least 150 percent or at most 75 percent of the respective banknote while maintaining that banknote's length-to-width ratio. This also applies to partial reproductions and individual design elements.</p>
		<h2>75% reduced image</h2>
		<div class="conImg">
			<p class="img"><img src="/static/eng/img/cts/old/ECRpop_05.jpg" alt="75% reduced image" /></p>
		</div>	
		<h2>150% enlarged image</h2>
		<div class="conImg">
			<p class="img"><img src="/static/eng/img/cts/old/ECRpop_06.jpg" alt="150% enlarged image" /></p>
		</div>	
		<h2>Maximum/Minimum Size of Illustrations</h2>
		<!-- data table1 S -->
		<div class="table">
			<table>
				<caption class="cp_off">Maximum/Minimum Size of Illustrations</caption>
				<colgroup>
					<col />
				</colgroup>
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">actual size(100%)</th>
						<th scope="col">reduced size<br/>(75% or less)</th>
						<th scope="col">enlarged size<br/>(150% or more)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>50,000-won note</th>
						<td>154×68 mm</td>
						<td>134×58 mm or less</td>
						<td>188×84 mm or more</td>
					</tr>
					<tr>
						<th>10,000-won note</th>
						<td>148×68 mm</td>
						<td>128×58 mm or less</td>
						<td>182×84 mm or more</td>
					</tr>
					<tr>
						<th>5,000-won note</th>
						<td>142×68 mm</td>
						<td>122×58 mm or less</td>
						<td>174×84 mm or more</td>
					</tr>
					<tr>
						<th>1,000-won note</th>
						<td>136×68 mm</td>
						<td>117×58 mm or less</td>
						<td>167×84 mm or more</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>