
<!doctype html>
<html lang="ko">
<head>
<title>popup</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/static/portal/css/ie.css">
		<script type="text/javascript" src="/static/jslibrary/html5shiv.js"></script>
		<script type="text/javascript" src="/static/jslibrary/respond.min.js"></script>
		<script type="text/javascript"> $('html').attr('id','ie');</script>
<![endif]-->

</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>Watermelon &amp; Cockscomb</h1>
	<div class="popupBody">
		<div class="imgSet">
			<p><img src="/static/eng/img/cts/old/kce_pop06.jpg" alt="Watermelon &amp; Cockscomb" /></p>
		</p>
		</div>
	</div>
</div>

</body>
</html>