
<!doctype html>
<html lang="en">
<head>
<title>popup</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />
<link type="text/css" rel="stylesheet" href="/static/commons/common.css" />
<link type="text/css" rel="stylesheet" href="/static/eng/css/sub.css" />

<script src="/static/jslibrary/jquery-1.12.2.min.js"></script>
<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="/static/portal/css/ie.css">
	<script type="text/javascript" src="/static/jslibrary/html5shiv.js"></script>
	<script type="text/javascript" src="/static/jslibrary/respond.min.js"></script>
	<script type="text/javascript"> $('html').attr('id','ie');</script>
<![endif]-->

</head>
<body class="bgn">

<div class="popupWrap">
	<h1>Example Ⅲ (Intangible reproduction) </h1>
	<div class="popupBody">
		<p>The word "SPECIMEN" or "보기" shall be marked on either the obverse or the reverse of any part, excluding the portrait, of the reproduction and must be plainly distinguishable but inseparable from the reproduction</p>
		<div class="imgSet mt20">
			<p><img src="/static/eng/img/cts/old/ECRpop_09.gif" alt="front and back of 10,000 won(SPECIMEN)" /></p>
		</div>	
	</div>
</div>

</body>
</html>