@charset "UTF-8";
@font-face {
font-family: "Spoqa Han Sans Neo";
src: url("/static/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff") format("woff");
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: "Spoqa Han Sans Neo";
src: url("/static/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff") format("woff");
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: "Spoqa Han Sans Neo";
src: url("/static/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff") format("woff");
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: "Spoqa Han Sans Neo";
src: url("/static/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff") format("woff");
font-weight: 700;
font-style: normal;
}
html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

body {
margin: 0;
word-break: break-all;
word-wrap: break-word;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
display: block;
}

audio,
canvas,
progress,
video {
display: inline-block;
vertical-align: baseline;
}

audio:not([controls]) {
display: none;
height: 0;
}

[hidden], template {
display: none;
}

a {
background-color: transparent;
text-decoration: none;
}

b,
strong {
font-weight: bold;
}

em {
font-style: normal;
}

dfn {
font-style: italic;
}

h1 {
margin: 0;
}

mark {
background: #ff0;
color: #000;
}

small {
font-size: 80%;
}

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sup {
top: -0.5em;
}

sub {
bottom: -0.25em;
}

img {
border: 0;
}

svg:not(:root) {
overflow: hidden;
}

figure {
margin: 1em 40px;
}

hr {
box-sizing: content-box;
height: 0;
}

pre {
overflow: auto;
margin: 10px 0;
}

code,
kbd,
pre,
samp {
font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
color: inherit;
font: inherit;
margin: 0;
}

button {
overflow: visible;
}

button,
select {
text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
}

button[disabled],
html input[disabled],
input[disabled] {
cursor: not-allowed;
}

input[readonly] {
cursor: not-allowed;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

input {
line-height: normal;
}

input[type=checkbox],
input[type=radio] {
box-sizing: border-box;
padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
height: auto;
}

input[type=search] {
-webkit-appearance: textfield;
box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
-webkit-appearance: none;
}

fieldset {
border: 0;
margin: 0;
padding: 0;
}

legend {
border: 0;
padding: 0;
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

textarea {
overflow: auto;
}

optgroup {
font-weight: bold;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

caption {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

td,
th {
padding: 0;
}

p {
margin: 0;
}

ul,
ol {
list-style-type: none;
padding: 0;
margin: 0;
}

dl {
margin: 0;
}

dt {
font-weight: normal;
}

dd {
margin: 0;
}

label {
font-weight: normal;
cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
}

/* hidden */
.sr-only,
.hidden,
.accessibility {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

/* clear float */
.clear {
clear: both;
}

.clearfix {
display: inline-block;
}

.clearfix {
display: block;
}

.clearfix:before, .clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/* skip */
.skip {
position: absolute;
top: 0;
left: 0;
z-index: 9999;
}

.skip a {
position: absolute;
display: block;
width: 500px;
left: 0;
text-align: center;
top: -10000px;
z-index: 5000;
font-size: 1.3em;
}

.skip a:hover,
.skip a:focus,
.skip a:active {
position: absolute;
top: 0;
padding: 15px 0;
font-weight: bold;
color: #fff;
background: #1d60a7;
line-height: 1;
}

.nobg {
background: none !important;
}

.fl {
float: left !important;
}

.fr {
float: right !important;
}

.tac {
text-align: center !important;
}

.tal {
text-align: left !important;
}

.tar {
text-align: right !important;
}

.jf {
text-align: justify !important;
}

.vt {
vertical-align: top !important;
}

.vm {
vertical-align: middle !important;
}

.vb {
vertical-align: bottom !important;
}

.oh {
overflow: hidden !important;
}

.dn {
display: none !important;
}

.db {
display: block !important;
}

.bn {
border: none !important;
}

.bdt_n {
border-top: none !important;
}

.bdb_n {
border-bottom: none !important;
}

.bdl_n {
border-left: none !important;
}

.bdr_n {
border-right: none !important;
}

.bgn {
background: none !important;
}

.fb {
font-weight: bold !important;
}

.posr {
position: relative !important;
}

.posa {
position: absolute !important;
}

.posf {
position: fixed !important;
}

.poss {
position: static !important;
}

/* margin */
.mt0 {
margin-top: 0px !important;
}

.mt5 {
margin-top: 5px !important;
}

.mt10 {
margin-top: 10px !important;
}

.mt15 {
margin-top: 15px !important;
}

.mt20 {
margin-top: 20px !important;
}

.mt25 {
margin-top: 25px !important;
}

.mt30 {
margin-top: 30px !important;
}

.mt35 {
margin-top: 35px !important;
}

.mt40 {
margin-top: 40px !important;
}

.mt45 {
margin-top: 45px !important;
}

.mt50 {
margin-top: 50px !important;
}

.mr0 {
margin-right: 0px !important;
}

.mr5 {
margin-right: 5px !important;
}

.mr10 {
margin-right: 10px !important;
}

.mr15 {
margin-right: 15px !important;
}

.mr20 {
margin-right: 20px !important;
}

.mr25 {
margin-right: 25px !important;
}

.mr30 {
margin-right: 30px !important;
}

.mr35 {
margin-right: 35px !important;
}

.mr40 {
margin-right: 40px !important;
}

.mr45 {
margin-right: 45px !important;
}

.mr50 {
margin-right: 50px !important;
}

.mb0 {
margin-bottom: 0px !important;
}

.mb5 {
margin-bottom: 5px !important;
}

.mb10 {
margin-bottom: 10px !important;
}

.mb15 {
margin-bottom: 15px !important;
}

.mb20 {
margin-bottom: 20px !important;
}

.mb25 {
margin-bottom: 25px !important;
}

.mb30 {
margin-bottom: 30px !important;
}

.mb35 {
margin-bottom: 35px !important;
}

.mb40 {
margin-bottom: 40px !important;
}

.mb45 {
margin-bottom: 45px !important;
}

.mb50 {
margin-bottom: 50px !important;
}

.ml0 {
margin-left: 0px !important;
}

.ml5 {
margin-left: 5px !important;
}

.ml10 {
margin-left: 10px !important;
}

.ml15 {
margin-left: 15px !important;
}

.ml20 {
margin-left: 20px !important;
}

.ml25 {
margin-left: 25px !important;
}

.ml30 {
margin-left: 30px !important;
}

.ml35 {
margin-left: 35px !important;
}

.ml40 {
margin-left: 40px !important;
}

.ml45 {
margin-left: 45px !important;
}

.ml50 {
margin-left: 50px !important;
}

/* padding */
.pt0 {
padding-top: 0px !important;
}

.pt5 {
padding-top: 5px !important;
}

.pt10 {
padding-top: 10px !important;
}

.pt15 {
padding-top: 15px !important;
}

.pt20 {
padding-top: 20px !important;
}

.pt25 {
padding-top: 25px !important;
}

.pt30 {
padding-top: 30px !important;
}

.pt35 {
padding-top: 35px !important;
}

.pt40 {
padding-top: 40px !important;
}

.pt45 {
padding-top: 45px !important;
}

.pt50 {
padding-top: 50px !important;
}

.pr0 {
padding-right: 0px !important;
}

.pr5 {
padding-right: 5px !important;
}

.pr10 {
padding-right: 10px !important;
}

.pr15 {
padding-right: 15px !important;
}

.pr20 {
padding-right: 20px !important;
}

.pr25 {
padding-right: 25px !important;
}

.pr30 {
padding-right: 30px !important;
}

.pr35 {
padding-right: 35px !important;
}

.pr40 {
padding-right: 40px !important;
}

.pr45 {
padding-right: 45px !important;
}

.pr50 {
padding-right: 50px !important;
}

.pb0 {
padding-bottom: 0px !important;
}

.pb5 {
padding-bottom: 5px !important;
}

.pb10 {
padding-bottom: 10px !important;
}

.pb15 {
padding-bottom: 15px !important;
}

.pb20 {
padding-bottom: 20px !important;
}

.pb25 {
padding-bottom: 25px !important;
}

.pb30 {
padding-bottom: 30px !important;
}

.pb35 {
padding-bottom: 35px !important;
}

.pb40 {
padding-bottom: 40px !important;
}

.pb45 {
padding-bottom: 45px !important;
}

.pb50 {
padding-bottom: 50px !important;
}

.pl0 {
padding-left: 0px !important;
}

.pl5 {
padding-left: 5px !important;
}

.pl10 {
padding-left: 10px !important;
}

.pl15 {
padding-left: 15px !important;
}

.pl20 {
padding-left: 20px !important;
}

.pl25 {
padding-left: 25px !important;
}

.pl30 {
padding-left: 30px !important;
}

.pl35 {
padding-left: 35px !important;
}

.pl40 {
padding-left: 40px !important;
}

.pl45 {
padding-left: 45px !important;
}

.pl50 {
padding-left: 50px !important;
}

.w1p {
width: 1%;
}

.w2p {
width: 2%;
}

.w3p {
width: 3%;
}

.w4p {
width: 4%;
}

.w5p {
width: 5%;
}

.w6p {
width: 6%;
}

.w7p {
width: 7%;
}

.w8p {
width: 8%;
}

.w9p {
width: 9%;
}

.w10p {
width: 10%;
}

.w11p {
width: 11%;
}

.w12p {
width: 12%;
}

.w13p {
width: 13%;
}

.w14p {
width: 14%;
}

.w15p {
width: 15%;
}

.w16p {
width: 16%;
}

.w17p {
width: 17%;
}

.w18p {
width: 18%;
}

.w19p {
width: 19%;
}

.w20p {
width: 20%;
}

.w21p {
width: 21%;
}

.w22p {
width: 22%;
}

.w23p {
width: 23%;
}

.w24p {
width: 24%;
}

.w25p {
width: 25%;
}

.w26p {
width: 26%;
}

.w27p {
width: 27%;
}

.w28p {
width: 28%;
}

.w29p {
width: 29%;
}

.w30p {
width: 30%;
}

.w31p {
width: 31%;
}

.w32p {
width: 32%;
}

.w33p {
width: 33%;
}

.w34p {
width: 34%;
}

.w35p {
width: 35%;
}

.w36p {
width: 36%;
}

.w37p {
width: 37%;
}

.w38p {
width: 38%;
}

.w39p {
width: 39%;
}

.w40p {
width: 40%;
}

.w41p {
width: 41%;
}

.w42p {
width: 42%;
}

.w43p {
width: 43%;
}

.w44p {
width: 44%;
}

.w45p {
width: 45%;
}

.w46p {
width: 46%;
}

.w47p {
width: 47%;
}

.w48p {
width: 48%;
}

.w49p {
width: 49%;
}

.w50p {
width: 50%;
}

.w51p {
width: 51%;
}

.w52p {
width: 52%;
}

.w53p {
width: 53%;
}

.w54p {
width: 54%;
}

.w55p {
width: 55%;
}

.w56p {
width: 56%;
}

.w57p {
width: 57%;
}

.w58p {
width: 58%;
}

.w59p {
width: 59%;
}

.w60p {
width: 60%;
}

.w61p {
width: 61%;
}

.w62p {
width: 62%;
}

.w63p {
width: 63%;
}

.w64p {
width: 64%;
}

.w65p {
width: 65%;
}

.w66p {
width: 66%;
}

.w67p {
width: 67%;
}

.w68p {
width: 68%;
}

.w69p {
width: 69%;
}

.w70p {
width: 70%;
}

.w71p {
width: 71%;
}

.w72p {
width: 72%;
}

.w73p {
width: 73%;
}

.w74p {
width: 74%;
}

.w75p {
width: 75%;
}

.w76p {
width: 76%;
}

.w77p {
width: 77%;
}

.w78p {
width: 78%;
}

.w79p {
width: 79%;
}

.w80p {
width: 80%;
}

.w81p {
width: 81%;
}

.w82p {
width: 82%;
}

.w83p {
width: 83%;
}

.w84p {
width: 84%;
}

.w85p {
width: 85%;
}

.w86p {
width: 86%;
}

.w87p {
width: 87%;
}

.w88p {
width: 88%;
}

.w89p {
width: 89%;
}

.w90p {
width: 90%;
}

.w91p {
width: 91%;
}

.w92p {
width: 92%;
}

.w93p {
width: 93%;
}

.w94p {
width: 94%;
}

.w95p {
width: 95%;
}

.w96p {
width: 96%;
}

.w97p {
width: 97%;
}

.w98p {
width: 98%;
}

.w99p {
width: 99%;
}

.w100p {
width: 100%;
}

/* 버튼 정렬 */
.btnSet {
text-align: right;
overflow: hidden;
position: relative;
float: right;
}

.btnSet .c {
text-align: center;
}

.btnSet .c + .fr {
position: absolute;
right: 0;
top: 0;
}

.btnSet.c {
text-align: center;
}

.btnSet.l {
text-align: left;
}

.btnSet .fl {
width: 50%;
text-align: left;
}

.btnSet .tar {
text-align: right;
}

/* 사용자 달력 컨트롤 버튼*/
.calendarzone {
display: inline;
position: relative;
z-index: 20;
}

.calendarzone .calendarSLayer {
display: none;
position: absolute;
z-index: 10;
top: 35px;
}

.calendarzone input[type=button] {
background: #fff url("/static/img/commons/calendar.gif") no-repeat scroll 50% 50%;
height: 31px;
border: medium none;
margin: 0;
padding: 0;
width: 31px;
vertical-align: top;
color: transparent;
text-indent: 30px;
}

.calendarzone .calendar-frame {
height: 300px;
width: 302px;
}

.field_area {
overflow: visible;
}

.calendar_txt {
background: #ffffff;
color: #8a8a8a;
border: 0.08em solid #d1d1d1;
height: 1.17em;
font-size: 1em;
padding: 0.25em 0 0 0.25em;
}

.monthGab {
display: inline-block;
width: 32px;
}

.line {
text-decoration: underline;
}

.companyCode1 {
width: 30px;
text-align: center;
}

.companyCode2 {
width: 20px;
text-align: center;
}

.companyCode3 {
width: 50px;
text-align: center;
}

.postSet span {
display: block;
}

.postSet span + span {
margin-top: 5px;
}

.content-commingsoon {
height: 140px;
min-width: 710px;
margin: 0 auto;
background: url(/static/commons/img/ready_ing.png) center 0 no-repeat;
}

b,
strong {
font-weight: 500;
}

/*

$url-img	: "/static/portal/img/";	//background: url($url-images + "폴더명/파일명.png");


// sh
$sh-form-height: 40px;
$sh-bd-radius: 5px;

// input
$form-height: 40px;

*/
.red {
color: #e24b44;
}

@font-face {
font-family: "Material Icons";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff");
}
@font-face {
font-family: "Material Icons Outlined";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff");
}
.bu-dash {
position: relative;
padding-left: 8px;
}
.bu-dash::before {
position: absolute;
top: 16px;
left: 0;
width: 4px;
height: 1px;
background-color: #000;
content: "";
}

.bu-dot {
position: relative;
padding-left: 10px;
}
.bu-dot::before {
position: absolute;
top: 12px;
left: 0;
width: 3px;
height: 3px;
background-color: #b0b0b0;
border-radius: 50%;
content: "";
}

.list li {
position: relative;
padding-left: 10px;
}
.list li::before {
position: absolute;
top: 12px;
left: 0;
width: 3px;
height: 3px;
background-color: #b0b0b0;
border-radius: 50%;
content: "";
}
.list li ul {
color: #757575;
}
.list li ul li {
position: relative;
padding-left: 8px;
}
.list li ul li::before {
position: absolute;
top: 16px;
left: 0;
width: 4px;
height: 1px;
background-color: #000;
content: "";
}
.list li ul li:before {
color: #757575;
}

#content h2 {
font-size: 22px;
margin-top: 20px;
margin-bottom: 12px;
}
#content h2:first-child {
margin-top: 0;
}

.material-icons {
font-family: "Material Icons";
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
-webkit-font-feature-settings: "liga";
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
font-feature-settings: "liga";
}

.material-icons-outlined {
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
-webkit-font-feature-settings: "liga";
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
font-feature-settings: "liga";
}

[class^=ico-] {
display: inline-block;
}

#wrap {
position: relative;
padding-top: 60px;
}
@media (min-width: 1200px) {
#wrap {
padding-top: 94px;
}
}

.container {
max-width: 1680px;
margin: 0 auto;
margin-left: 10px;
margin-right: 10px;
}
@media (min-width: 1720px) {
.container {
margin-left: auto;
margin-right: auto;
}
}
@media (max-width: 749px) {
.container {
margin: 0;
}
}

#header {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 99;
background-color: #131547;
display: flex;
flex-direction: column;
}
@media (max-width: 1199px) {
#header {
border-bottom: 1px solid #d9d9d9;
}
}
#header .container {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
max-width: 1920px;
padding-left: 50px;
padding-right: 146px;
margin: 0 auto;
}
@media (max-width: 1199px) {
#header .container {
padding-left: 20px;
padding-right: 116px;
}
}
#header .globalHeader {
display: none;
}
@media (min-width: 1200px) {
#header .globalHeader {
display: block;
}
#header .globalHeader ul {
max-width: 1728px;
display: flex;
flex-direction: row;
flex-grow: 1;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#header .globalHeader ul li + li::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 1px;
height: 14px;
background-color: rgba(255, 255, 255, 0.2);
}
#header .globalHeader ul a {
display: inline-block;
font-size: 14px;
color: rgba(255, 255, 255, 0.6);
padding: 6px 9px;
}
#header .globalHeader ul a::after {
content: "\e5cc";
font-family: "Material Icons";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
-webkit-font-feature-settings: "liga";
font-size: 16px;
margin: 0 0 0 5px;
}
#header .globalHeader ul a[target=_blank]::after {
content: "\e89e";
font-family: "Material Icons";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
-webkit-font-feature-settings: "liga";
font-size: 16px;
margin: 0 0 0 5px;
}
#header .globalHeader ul a:hover {
text-decoration: underline;
}
}
#header .logo {
display: inline-block;
vertical-align: middle;
}
@media (min-width: 1200px) and (max-width: 1500px) {
#header .logo {
padding-left: 10px;
}
}
#header .logo a {
display: block;
background: url(/static/portal/img/common/logo.png) 50% no-repeat;
width: 127px;
height: 60px;
}
@media (max-width: 749px) {
#header .logo a {
background-position: 0 50%;
}
}
#header .g-info {
display: flex;
align-items: center;
}
#header .g-info .search {
position: absolute;
top: 0;
right: 0;
width: 60px;
height: 60px;
z-index: 9;
background-color: #fff;
}
#header .g-info .search::before {
content: "\e8b6";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
-webkit-font-feature-settings: "liga";
color: #131547;
font-size: 2.5rem;
}
@media (min-width: 1200px) {
#header .g-info .search {
width: 94px;
height: 94px;
background-color: #3B63C4;
top: -34px;
}
#header .g-info .search::before {
color: #fff;
font-size: 1.5rem;
}
}
@media (min-width: 1200px) {
#header .g-info .global {
display: flex;
align-items: center;
}
#header .g-info .global ul {
display: flex;
align-items: center;
white-space: nowrap;
}
#header .g-info .global ul li a {
color: #fff;
font-size: 15px;
}
#header .g-info .global ul li a[target=_blank]::after {
content: "\e89e";
font-family: "Material Icons";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
-webkit-font-feature-settings: "liga";
font-size: 16px;
margin: 0 0 2px 5px;
}
#header .g-info .global ul li + li {
padding-left: 8px;
}
#header .g-info .global ul li + li::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 1px;
height: 14px;
background-color: #fff;
margin: 0 6px;
}
}

.hgroup {
position: relative;
display: flex;
justify-content: space-between;
margin: 50px 0 30px;
border-bottom: 2px solid #222;
padding-bottom: 30px;
}
@media (max-width: 749px) {
.hgroup {
margin: 0 10px 15px;
padding-bottom: 0;
}
}
.hgroup h1 {
display: block;
font-size: 3rem;
color: #131547;
font-weight: 600;
font-family: "Spoqa Han Sans Neo Bold";
width: calc(100% - 140px);
}
@media (max-width: 749px) {
.hgroup h1 {
width: 100%;
font-size: 2.25rem;
text-align: center;
padding: 30px 0 25px;
}
}
.hgroup .page-toolbar {
position: relative;
display: flex;
align-items: center;
}
@media (max-width: 1199px) {
.hgroup .page-toolbar {
display: none;
}
}
.hgroup .page-toolbar .sns-toggle {
width: 48px;
height: 48px;
border: 1px solid #666;
border-radius: 50%;
}
.hgroup .page-toolbar .sns-toggle::before {
content: "\e80d";
font-family: "Material Icons";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
-webkit-font-feature-settings: "liga";
font-size: 26px;
color: #666;
}
.hgroup .page-toolbar .sns-wrap__set {
display: none;
}
.hgroup .page-toolbar .sns-wrap.active .sns-wrap__set {
position: absolute;
top: 12px;
left: 0;
z-index: 9;
width: 48px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
border-radius: 30px;
border: 1px solid #666;
background-color: #fff;
padding: 10px 0;
}
.hgroup .page-toolbar .sns-wrap.active .sns-wrap__set button {
width: 36px;
height: 36px;
margin: 0 auto;
}
.hgroup .page-toolbar .sns-wrap.active .sns-wrap__set button + button {
margin-top: 7px;
}
.hgroup .page-toolbar .sns-wrap.active .sns-wrap__set button::before {
content: "";
display: inline-block;
width: 36px;
height: 36px;
background-position: 50%;
background-repeat: no-repeat;
}
.hgroup .page-toolbar .sns-wrap.active .sns-wrap__set button.close {
height: 30px;
}
.hgroup .page-toolbar .sns-wrap.active .sns-wrap__set button.close::before {
content: "\e5cd";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
-webkit-font-feature-settings: "liga";
font-size: 26px;
}
.hgroup .page-toolbar .page-print {
width: 48px;
height: 48px;
background: url(/static/portal/img/ico/ico-print.svg) 50% no-repeat;
margin-left: 6px;
margin-right: 10px;
}
.hgroup .page-toolbar .page-rss {
width: 48px;
height: 48px;
}
.hgroup .page-toolbar .page-rss::before {
content: "\e0e5";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
-webkit-font-feature-settings: "liga";
font-size: 40px;
color: #666;
}

#main-container {
clear: both;
width: 1680px;
max-width: 100%;
min-height: calc(100vh - 246px - 196px - 80px);
display: block;
}
#main-container:before, #main-container:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
@media (max-width: 749px) {
#main-container {
padding: 0 10px;
}
}
@media (min-width: 1200px) {
#main-container .content {
float: right;
width: 85.7142857143%;
border-left: 1px solid #d9d9d9;
padding-left: 34px;
}
}

.total-nav {
display: none;
}
@media (min-width: 1200px) {
.total-nav.active {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 99;
}
.total-nav.active section {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
}

.search_wrap {
display: none;
}

.gnb_bg {
display: none;
}

.gnb {
display: flex;
/*.gnb-stiky & {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2000;
	&::before {
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
	}			
	> ul {
		display: flex;
	}
}*/
}
.gnb > ul {
display: none;
}
@media (min-width: 1200px) {
.gnb > ul {
display: flex;
position: relative;
max-width: 100%;
width: 767px;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-grow: 1;
}
.gnb > ul > li {
position: relative;
flex: 1;
}
.gnb > ul > li > a {
display: block;
width: 100%;
white-space: nowrap;
width: 100%;
color: #fff;
text-align: center;
height: 60px;
line-height: 60px;
font-size: 1.375rem;
font-weight: 500;
padding: 0 10%;
}
.gnb > ul > li:hover > a, .gnb > ul > li.on > a, .gnb > ul > li.active > a {
color: #39A0FF;
}
.gnb > ul > li:hover > a span, .gnb > ul > li.on > a span, .gnb > ul > li.active > a span {
display: inline-block;
position: relative;
height: 60px;
}
.gnb > ul > li:hover > a span::before, .gnb > ul > li.on > a span::before, .gnb > ul > li.active > a span::before {
content: "";
display: block;
position: absolute;
bottom: 0;
left: 0;
background-color: #39A0FF;
width: 100%;
height: 3px;
}
.gnb > ul .depth2 {
display: none;
position: absolute;
top: 111px;
left: 0;
padding: 10px;
width: 100%;
z-index: 99;
}
.gnb > ul .depth2 > ul > li > a {
display: block;
font-size: 1.0625rem;
padding: 4px 0;
}
.gnb > ul .depth2 > ul > li:hover > a, .gnb > ul .depth2 > ul > li.on > a, .gnb > ul .depth2 > ul > li.active > a {
color: #131547;
}
.gnb > ul.active .depth2 {
display: block;
}
}
.gnb .all-nav-toggle::before {
content: "\e5d2";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
-webkit-font-feature-settings: "liga";
color: #fff;
font-size: 32px;
}
@media (max-width: 1199px) {
.gnb .all-nav-toggle {
position: absolute;
top: 0;
}
}
@media (min-width: 750px) and (max-width: 1199px) {
.gnb .all-nav-toggle {
right: 70px;
width: 94px;
height: 94px;
}
}
@media (max-width: 749px) {
.gnb .all-nav-toggle {
right: 60px;
width: 60px;
height: 60px;
}
}

@media (min-width: 1200px) and (max-width: 1500px) {
.gnb > ul {
width: 620px;
}
.gnb > ul > li > a {
font-size: 1.25rem;
}
#header .g-info .global {
margin-left: 30px;
padding-left: 20px;
}
}
@media (min-width: 1200px) {
#mobile-gnb {
display: none;
}
}
#footer {
clear: both;
margin: 50px 0 0 0;
color: #4D4D4D;
background-color: #FAFAFA;
border-top: 1px solid #E5E5E5;
padding: 30px 0;
}
@media (max-width: 749px) {
#footer {
padding: 15px 0;
font-size: 0.8125rem;
}
}
#footer .container {
position: relative;
max-width: 1680px;
text-align: center;
}
@media (min-width: 1200px) {
#footer .container {
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 10px;
margin-right: 10px;
padding: 0;
text-align: left;
}
}
@media (min-width: 1720px) {
#footer .container {
margin-left: auto;
margin-right: auto;
}
}
@media (max-width: 749px) {
#footer .container {
padding: 20px 0 0 0;
}
}
#footer .footer-nav ul {
display: flex;
}
@media (max-width: 1199px) {
#footer .footer-nav ul {
flex-wrap: wrap;
max-width: 410px;
margin: 0 auto;
}
}
@media (max-width: 749px) {
#footer .footer-nav ul {
max-width: 315px;
}
}
#footer .footer-nav ul li {
position: relative;
padding-left: 15px;
margin-right: 15px;
}
@media (max-width: 1199px) {
#footer .footer-nav ul li {
margin-top: 2px;
margin-bottom: 2px;
}
}
#footer .footer-nav ul li:first-child {
padding-left: 0;
}
#footer .footer-nav ul li:last-child {
margin-right: 0;
}
#footer .footer-nav ul li a {
position: relative;
color: #4D4D4D;
display: block;
white-space: nowrap;
}
#footer .footer-nav ul li a::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 4px;
height: 4px;
background-color: #fff;
border-radius: 50%;
position: absolute;
top: 50%;
margin-top: -2px;
left: 0;
}
@media (min-width: 1200px) {
#footer .footer-nav ul li a::before {
display: none;
}
}
#footer .footer-nav ul li + li::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 1px;
height: 14px;
background-color: #BFBFBF;
position: absolute;
top: 5px;
left: 0;
}
#footer .footer-nav ul li.point a {
color: #3B63C4;
font-weight: 500;
}
#footer .footer-nav ul li.point a::before {
background-color: #6db5f9;
}
#footer .footer-bottom address {
margin-top: 16px;
font-style: normal;
}
#footer .footer-bottom .copyright {
font-size: 0.875rem;
}
@media (max-width: 749px) {
#footer .footer-bottom .copyright {
margin-top: 5px;
}
}
#footer .f_r {
display: flex;
align-items: center;
}
@media (max-width: 1199px) {
#footer .f_r {
margin-top: 20px;
}
}
#footer .f_r .site_go select {
color: #1A1A1A;
width: 149px;
height: 36px;
padding: 0 38px 0 10px;
line-height: 1.4;
border: 1px solid #E5E5E5;
border-radius: 4px;
background-position: calc(100% - 10px) 50%;
}
#footer .f_r .site_go button {
width: 36px;
height: 36px;
color: #fff;
font-size: 14px;
background-color: #3B63C4;
border-radius: 4px;
}
#footer .f_r .f_sns {
margin: 0 35px;
}
#footer .f_r .f_sns a {
width: 36px;
height: 36px;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 50%;
margin: 0 2px;
}
#footer .f_r .f_sns a::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 36px;
height: 36px;
background-position: 50%;
background-repeat: no-repeat;
}

.visible {
display: none;
}
@media (min-width: 1200px) {
.visible-pc {
display: block;
}
}
@media (min-width: 750px) {
.visible-tablet {
display: block;
}
}
@media (max-width: 749px) {
.visible-mobile {
display: block;
}
}
@media (max-width: 749px) {
.visible-mobile-dib {
display: inline-block;
}
}

@media (max-width: 749px) {
.hide-sm {
display: none;
}
}

br.mobile {
display: none;
}
@media (max-width: 749px) {
br.mobile {
display: inline;
}
}
br.pc {
display: none;
}
@media (min-width: 1200px) {
br.pc {
display: inline;
}
}

a {
color: #222;
}

html {
font-size: 16px;
}
@media (max-width: 749px) {
html {
font-size: 0.875rem;
}
}

body {
overflow-x: hidden;
color: #000;
line-height: 1.5;
font-family: "Spoqa Han Sans Neo", "AppleGothic", "맑은 고딕", "돋움", "dotum", Helvetica, Arial, sans-serif;
letter-spacing: -0.015rem;
word-break: keep-all;
font-weight: 400;
}
@media (max-width: 749px) {
body {
word-break: keep-all;
}
}
body.ovh {
position: relative;
overflow: hidden;
height: 100vh;
}

* {
box-sizing: border-box;
}

button {
padding: 0;
border: 0;
background-color: transparent;
overflow: visible;
}

i {
font-style: normal;
}
/*# sourceMappingURL=../maps/default.css.map */
