@charset "UTF-8";
@import url("/static/portal/css/default.css");
@import url("/static/jslibrary/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.standalone.css");
@font-face {
font-family: "Material Icons";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff");
}
@font-face {
font-family: "Material Icons Outlined";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff");
}
b,
strong {
font-weight: 500;
}

/*

$url-img	: "/static/portal/img/";	//background: url($url-images + "폴더명/파일명.png");


// sh
$sh-form-height: 40px;
$sh-bd-radius: 5px;

// input
$form-height: 40px;

*/
.visible {
display: none;
}
@media (min-width: 1200px) {
.visible-pc {
display: block;
}
}
@media (min-width: 750px) {
.visible-tablet {
display: block;
}
}
@media (max-width: 749px) {
.visible-mobile {
display: block;
}
}
@media (max-width: 749px) {
.visible-mobile-dib {
display: inline-block;
}
}

@media (max-width: 749px) {
.hide-sm {
display: none;
}
}

br.mobile {
display: none;
}
@media (max-width: 749px) {
br.mobile {
display: inline;
}
}
br.pc {
display: none;
}
@media (min-width: 1200px) {
br.pc {
display: inline;
}
}

.bu-dash {
position: relative;
padding-left: 8px;
}
.bu-dash::before {
position: absolute;
top: 16px;
left: 0;
width: 4px;
height: 1px;
background-color: #000;
content: "";
}

.bu-dot {
position: relative;
padding-left: 10px;
}
.bu-dot::before {
position: absolute;
top: 12px;
left: 0;
width: 3px;
height: 3px;
background-color: #b0b0b0;
border-radius: 50%;
content: "";
}

.list li {
position: relative;
padding-left: 10px;
}
.list li::before {
position: absolute;
top: 12px;
left: 0;
width: 3px;
height: 3px;
background-color: #b0b0b0;
border-radius: 50%;
content: "";
}
.list li ul {
color: #757575;
}
.list li ul li {
position: relative;
padding-left: 8px;
}
.list li ul li::before {
position: absolute;
top: 16px;
left: 0;
width: 4px;
height: 1px;
background-color: #000;
content: "";
}
.list li ul li:before {
color: #757575;
}

#content h2 {
font-size: 22px;
margin-top: 20px;
margin-bottom: 12px;
}
#content h2:first-child {
margin-top: 0;
}

.red {
color: #e24b44;
}

[class^=ico-].ico-youtube::before {
background-image: url(/static/portal/img/ico/ico-youtube.svg);
}
[class^=ico-].ico-instagram::before {
background-image: url(/static/portal/img/ico/ico-instagram.svg);
}
[class^=ico-].ico-facebook::before {
background-image: url(/static/portal/img/ico/ico-facebook.svg);
}
[class^=ico-].ico-twitter::before {
background-image: url(/static/portal/img/ico/ico-twitter.svg);
}

[class^=sns-].sns-youtube::before {
background-image: url(/static/portal/img/ico/sns-youtube.svg);
}
[class^=sns-].sns-instagram::before {
background-image: url(/static/portal/img/ico/sns-instagram.svg);
}
[class^=sns-].sns-facebook::before {
background-image: url(/static/portal/img/ico/sns-facebook.svg);
}
[class^=sns-].sns-twitter::before {
background-image: url(/static/portal/img/ico/sns-twitter.svg);
}

.ico-home::before {
content: "\e88a";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-close::before {
content: "\e5cd";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.zoom-map::before {
content: "\e56b";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-local::before {
content: "\e54b";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-right::before {
content: "\e5cc";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.open-new::before {
content: "\e89e";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-search::before {
content: "\e8b6";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-cancel::before {
content: "\e5c9";
font-family: "Material Icons";
}

.ico-tv::before {
content: "\e639";
font-family: "Material Icons";
}

/*
keyboard double arrow Right
eac9


keyboard double arrow Left
eac3



Manage search
f02f


*/
.ico-error::before {
content: "\e000";
font-family: "Material Icons";
}

.ico-check::before {
content: "\e86c";
font-family: "Material Icons";
}

.ico-tune::before {
content: "\e429";
font-family: "Material Icons";
}

.ico-grade::before {
content: "\e885";
font-family: "Material Icons";
}

.ico-more::before {
content: "\e147";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-reset::before {
content: "\f053";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-up::before {
content: "\e5c7";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-down::before {
content: "\e5c5";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-t-up::before {
content: "\e8e5";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-t-down::before {
content: "\e8e3";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}

.ico-info::before {
content: "\e88e";
font-family: "Material Icons";
}

.ico-check::before {
content: "\e5ca";
font-family: "Material Icons";
}

@media print {
@page {
size: auto;
margin: 10mm;
}
#header,
.page-toolbar,
.page-print,
.location,
#footerSet {
display: none !important;
}
html {
zoom: 90%;
}
#wrap {
padding: 0 !important;
}
.lnb {
display: none;
}
.navigation {
color: #141414;
background-color: #fff;
}
.popwrap {
height: 100%;
overflow: auto;
position: static;
display: block !important;
}
.popwrap__header {
display: none;
}
.popwrap .set {
box-shadow: none;
width: 100%;
max-width: 100%;
transform: 0;
}
.popwrap__body {
overflow: inherit;
padding: 0;
max-height: 100% !important;
}
* {
-webkit-print-color-adjust: exact !important; /*Chrome, Safari */
color-adjust: exact !important; /*Firefox*/
}
html,
body {
size: A4;
}
table {
display: table !important;
table-layout: fixed !important;
width: 100% !important;
}
table thead {
display: table-header-group !important;
}
table tbody {
display: table-row-group !important;
}
tr {
display: table-row !important;
}
th, td {
display: table-cell !important;
}
.bd-list table tbody td .only-m {
display: none !important;
}
}
.lnb {
position: relative;
z-index: 1;
height: 48px;
line-height: 48px;
background-color: #FCFCFC;
border-bottom: 1px solid #E5E5E5;
}
@media (max-width: 749px) {
.lnb {
height: 36px;
line-height: 36px;
}
}
.lnb nav > ul {
display: flex;
border-left: 1px solid #E5E5E5;
}
.lnb nav > ul > li {
position: relative;
border-right: 1px solid #E5E5E5;
padding: 0 26px;
color: #666;
}
@media (max-width: 749px) {
.lnb nav > ul > li {
width: 100%;
padding: 0 10px;
}
.lnb nav > ul > li:last-child {
border-right: none;
}
}
.lnb nav > ul > li.home {
color: #000;
}
@media (max-width: 749px) {
.lnb nav > ul > li.home {
width: 36px;
}
.lnb nav > ul > li.home span {
display: none;
}
}
.lnb nav > ul > li.home::before {
content: "\e88a";
font-family: "Material Icons";
vertical-align: bottom;
font-size: 26px;
color: #131547;
margin-right: 4px;
}
@media (max-width: 749px) {
.lnb nav > ul > li.home::before {
position: absolute;
top: 0;
left: 0;
z-index: 9;
text-align: center;
width: 36px;
height: 36px;
}
}
.lnb nav > ul > li button::after {
content: "\e5c6";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
color: #666;
font-size: 22px;
margin-left: 10px;
}
@media (max-width: 749px) {
.lnb nav > ul > li button::after {
position: absolute;
top: 50%;
right: 10px;
margin-top: -7px;
}
}
.lnb nav > ul > li .depth2 {
display: none;
position: absolute;
top: 47px;
left: -1px;
z-index: 9;
width: calc(100% + 2px);
background-color: #fff;
}
@media (max-width: 749px) {
.lnb nav > ul > li .depth2 {
top: 36px;
}
}
.lnb nav > ul > li .depth2 ul {
width: 100%;
padding: 10px 15px;
line-height: 1.8;
border: 1px solid #E5E5E5;
border-radius: 0 0 4px 4px;
box-shadow: 0 4px 2px rgba(127, 24, 24, 0.15);
}
.lnb nav > ul > li .depth2 ul li a {
color: #666;
display: block;
}
.lnb nav > ul > li .depth2 ul li a:hover {
text-decoration: underline;
}
.lnb nav > ul > li .depth2 ul li.on a {
color: #1A1A1A;
font-weight: 600;
}
.lnb nav > ul > li .depth2 ul li.on a::after {
content: "\e5cc";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 18px;
margin-bottom: 2px;
}
.lnb nav > ul > li .depth2.active {
display: block;
}

.db nav {
display: none;
}
@media (min-width: 1200px) {
.db {
display: block;
float: left;
width: 14.2261904762%;
padding-right: 35px;
background-color: #fff;
height: auto;
}
}
.db-search {
margin-bottom: 30px;
}
@media (max-width: 1199px) {
.db-search {
margin-bottom: 16px;
}
}
.db-search .t {
margin-left: 2px;
}
.db-search .t::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 5px;
height: 5px;
background-color: #222;
border-radius: 50%;
margin-right: 8px;
margin-bottom: 3px;
}
.db-search .t strong {
position: relative;
font-weight: 600;
}
.db-search .t strong::before {
content: "";
display: inline-block;
height: 1px;
width: 100%;
background-color: #222;
position: absolute;
bottom: 0;
left: 0;
}
.db-search .search-box {
margin-top: 6px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
@media (max-width: 1199px) {
.db-search .search-box {
flex-direction: row;
align-items: center;
}
.db-search .search-box > * {
margin-left: 2px;
margin-right: 2px;
}
}
.db-search .search-box .keyword {
width: 100%;
}
@media (max-width: 1199px) {
.db-search .search-box .keyword {
flex-basis: calc(100% - 86px);
flex-grow: 1;
}
}
.db-search .search-box .keyword input {
width: 100%;
height: 40px;
border: 1px solid #d9d9d9;
border-radius: 3px;
}
.db-search .search-box .btns {
margin-top: 8px;
display: flex;
justify-content: space-between;
}
.db-search .search-box .btns button {
color: #fff;
width: calc(50% - 1px);
height: 32px;
border: 0;
border-radius: 4px;
}
@media (max-width: 1199px) {
.db-search .search-box .btns button {
height: 40px;
}
}
.db-search .search-box .btns button::before {
vertical-align: sub;
font-size: 20px;
margin-right: 5px;
}
.db-search .search-box .btns button.search {
color: #fff;
background-color: #131547;
border: 1px solid #131547;
}
.db-search .search-box .btns button.search::before {
content: "\e8b6";
font-family: "Material Icons";
}
.db-search .search-box .btns button.reset {
color: #3B63C4;
background-color: #fff;
border: 1px solid #3B63C4;
}
.db-search .search-box .btns button.reset::before {
color: #3B63C4;
content: "\f053";
font-family: "Material Icons";
}
@media (max-width: 1199px) {
.db-search .search-box .btns button span {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}
}
.db .check-list {
position: relative;
}
@media (min-width: 1200px) {
.db .check-list .check-box {
display: none;
}
}
.db .check-list .check-box > span {
font-size: 0.8125rem;
display: inline-block;
padding: 1px 5px;
color: #fff;
border-radius: 2px;
background-color: #3b63c4;
}
.db .check-list .check-box .ico-del::before {
content: "\e5cd";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 15px;
}
.db .check-list .label-list {
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
.db .check-list .label-list label {
font-size: 0.9375rem;
margin: 2px 0;
}
@media (min-width: 1200px) {
.db .check-list .label-list label {
font-size: 1.125rem;
}
}
.db .check-list .label-list label .num {
float: right;
background-color: #DFDFDF;
border-radius: 40px;
padding: 0 6px;
font-size: 0.75rem;
margin-top: 3px;
}
@media (min-width: 1200px) {
.db .check-list .label-list label .num {
display: none;
}
}
.db .check-list .label-list input:checked + i + span {
position: relative;
color: #131547;
font-weight: 600;
}
.db .check-list .label-list input:checked + i + span::before {
content: "";
display: inline-block;
width: 100%;
height: 1px;
background-color: #6c6d8c;
position: absolute;
bottom: 2px;
left: 0;
}
.db .check-list .check-ctrl {
position: relative;
width: 100%;
display: block;
text-align: left;
border: 1px solid #d9d9d9;
padding: 7px 10px;
}
@media (min-width: 1200px) {
.db .check-list .check-ctrl {
display: none;
}
}
.db .check-list .check-ctrl::before {
content: "\e5c5";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 24px;
position: absolute;
top: 5px;
right: 10px;
color: #131547;
transition: all 0.2s;
}
.db .check-list .check-ctrl.active::before {
transform: rotate(-180deg);
}
.db .check-list .check-ctrl.active + .check-box + .label-list, .db .check-list .check-ctrl.active + .label-list {
display: flex;
position: absolute;
top: 36px;
left: 0;
width: 100%;
z-index: 9;
background-color: #fff;
}
@media (max-width: 1199px) {
.db .check-list .label-list {
display: none;
border: 1px solid #d9d9d9;
padding: 4px;
flex-direction: row;
}
.db .check-list .label-list label {
flex-basis: 50%;
width: 50%;
padding: 0 4px;
}
.db .check-list.details .check-ctrl {
margin-top: 5px;
}
}
.db h3 {
position: relative;
font-size: 15px;
margin: 20px 0 10px;
color: #222;
}
@media (max-width: 1199px) {
.db h3 {
display: none;
}
}
.db h3::before {
content: "";
display: inline-block;
background-color: #e2e2e2;
width: calc(100% - 45px);
height: 1px;
position: absolute;
top: 50%;
right: 0;
}
.db .Keyword h3::before {
width: calc(100% - 75px);
}
.db .Keyword ul li {
display: inline-block;
margin: 1px 0;
}
.db .Keyword ul a {
display: inline-block;
color: #666;
font-size: 15px;
border: 1px solid #C2C2C2;
border-radius: 30px;
padding: 2px 8px;
}
.db .Keyword ul a:hover {
color: #fff;
background-color: #3B63C4;
order: 1px solid #3B63C4;
}
.db .Keyword ul a + span {
margin-right: 2px;
}

select,
input,
button,
textarea {
color: #757575;
}

button {
border: 0;
}

input[type=radio] ~ i ~ span,
input[type=cdeckbox] ~ i ~ span {
margin-right: 10px;
}

input[type=checkbox] + i, input[type=checkbox] + i::before {
border-radius: 3px !important;
}

label {
position: relative;
}

input[type=checkbox],
input[type=radio] {
opacity: 0;
position: relative;
z-index: 1;
width: 24px;
height: 24px;
border: 1px solid #dcdcdc;
vertical-align: middle;
}
@media (max-width: 1199px) {
input[type=checkbox],
input[type=radio] {
width: 16px;
height: 16px;
}
}
input[type=checkbox]:hover + i, input[type=checkbox]:focus + i,
input[type=radio]:hover + i,
input[type=radio]:focus + i {
outline: dotted 1px #000;
}
input[type=checkbox] + i,
input[type=radio] + i {
display: inline-block;
vertical-align: middle;
width: 24px;
height: 24px;
border: 1px solid #dcdcdc;
background-color: #F0F0F0;
border-radius: 5px;
text-align: center;
margin-right: 5px;
vertical-align: middle;
line-height: 1;
margin-left: -20px;
}
@media (max-width: 1199px) {
input[type=checkbox] + i,
input[type=radio] + i {
width: 16px;
height: 16px;
}
}
dd input[type=checkbox] + i,
dd input[type=radio] + i {
vertical-align: middle;
}
input[type=checkbox].checked + i, input[type=checkbox]:checked + i,
input[type=radio].checked + i,
input[type=radio]:checked + i {
border: 1px solid #356ab9;
background-color: #356ab9;
}
input[type=checkbox].checked + i::after, input[type=checkbox]:checked + i::after,
input[type=radio].checked + i::after,
input[type=radio]:checked + i::after {
content: "\e5ca";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
position: absolute;
top: 6px;
left: 11px;
color: #fff;
}
@media (max-width: 1199px) {
input[type=checkbox].checked + i::after, input[type=checkbox]:checked + i::after,
input[type=radio].checked + i::after,
input[type=radio]:checked + i::after {
top: 3px;
left: 4px;
}
}

input[type=radio] + i {
border-radius: 50%;
}
input[type=radio]:checked + i:before {
border-radius: 50%;
}

input[type=number],
input[type=date],
input[type=text],
input[type=password],
input[type=file],
select,
textarea {
border: 1px solid #ccc;
background-color: #ffffff;
padding: 4px 10px;
line-height: 20px;
height: 100px;
vertical-align: middle;
border-radius: 5px;
}
input[type=number]:hover, input[type=number]:focus, input[type=number]:active,
input[type=date]:hover,
input[type=date]:focus,
input[type=date]:active,
input[type=text]:hover,
input[type=text]:focus,
input[type=text]:active,
input[type=password]:hover,
input[type=password]:focus,
input[type=password]:active,
input[type=file]:hover,
input[type=file]:focus,
input[type=file]:active,
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active {
box-shadow: 0 0 5px blue;
}

input[type=date] {
background: #fff right center no-repeat;
background-size: auto 19px;
background-position: 90% 50%;
padding: 0;
text-indent: 0;
cursor: pointer;
}
@media (min-width: 1680px) {
input[type=date] {
background-image: url("/static/pass/img/ico/ico_calendar.png");
background-repeat: no-repeat;
background-size: 18px 19px;
}
}
@media (min-width: 1680px) and (-webkit-min-device-pixel-ratio: 2) {
input[type=date] {
background-image: url("/static/pass/img/ico/ico_calendar@2x.png");
}
}
@media (max-width: 749px) {
input[type=date] {
background-image: url("/static/pass/img/ico/ico_calendar.png");
background-repeat: no-repeat;
background-size: 18px 19px;
}
}
@media (max-width: 749px) and (-webkit-min-device-pixel-ratio: 2) {
input[type=date] {
background-image: url("/static/pass/img/ico/ico_calendar@2x.png");
}
}

::-webkit-datetime-edit {
padding-left: 5px;
padding-right: 0;
margin: 0;
}

::-webkit-datetime-edit-fields-wrapper {
padding: 0;
margin: 0;
}

@media (min-width: 1200px) {
::-webkit-datetime-edit-text {
padding: 0 2px;
}
}
@media (min-width: 750px) {
::-webkit-datetime-edit-text {
padding: 0;
}
}

::-webkit-inner-spin-button {
display: none;
}

::-webkit-calendar-picker-indicator {
background: none;
width: 30px;
margin: 0;
height: 100px;
display: none;
}
input::-ms-clear,
input::-ms-reveal {
background-color: #fff;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
background-color: #fff;
}

input[type=text]:disabled {
background-color: #f5f5f5;
}

select {
-webkit-appearance: none;
padding-right: 40px;
background: #fff url(/static/portal/img/common/select-arr.png) right center no-repeat;
background-size: auto 20px;
}
select::-ms-expand {
display: none;
}
select.default {
width: 100%;
}
@media (min-width: 750px) and (max-width: 1199px) {
select.default {
width: 300px;
}
}

textarea {
width: 100%;
height: auto;
}

input {
cursor: auto;
}
.sh input.sdate, .sh input.edate, .sh input.date, .sh input.month {
width: 154px;
}
.popup .sh input.sdate, .popup .sh input.edate, .popup .sh input.date, .popup .sh input.month {
width: calc(50% - 55px);
max-width: 185px;
}
input.sdate + img, input.edate + img, input.date + img, input.month + img {
margin-left: -33px;
}

.bd-line ul li {
position: relative;
padding: 15px 15px 10px 15px;
border-bottom: 1px solid #D9D9D9;
}
@media (max-width: 749px) {
.bd-line ul li {
padding: 15px 8px 10px;
}
}
.bd-line ul li .i {
font-size: 14px;
display: block;
margin-bottom: 8px;
}
.bd-line ul li .i > span {
display: inline-block;
border-radius: 3px;
border: 1px solid #3656A3;
padding: 1px 7px;
}
.bd-line ul li span.t1 {
color: #fff;
background: #3B63C4;
}
.bd-line ul li span.t2 {
color: #3B63C4;
background: #fff;
}
.bd-line ul li .set {
display: flex;
justify-content: space-between;
}
@media (max-width: 749px) {
.bd-line ul li .set {
display: block;
}
}
.bd-line ul li .set .title {
width: calc(100% - 250px);
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
color: #222;
font-size: 1.25rem;
}
@media (max-width: 749px) {
.bd-line ul li .set .title {
font-size: 1rem;
width: 100%;
margin-bottom: 8px;
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
white-space: inherit;
}
.ie .bd-line ul li .set .title {
display: block;
height: 48px;
overflow: hidden;
}
}
@media (max-width: 749px) {
.bd-line ul li .set .btns {
position: absolute;
bottom: 10px;
right: 8px;
}
}
.bd-line ul li .set .btns a {
color: #666;
display: inline-block;
}
.bd-line ul li .set .btns a::before {
font-size: 19px;
margin-right: 5px;
}
.bd-line ul li .set .btns a + a {
position: relative;
margin-left: 15px;
padding-left: 15px;
}
.bd-line ul li .set .btns a + a::after {
content: "";
position: absolute;
top: 7px;
left: 0;
background: #666;
width: 1px;
height: 10px;
}
.bd-line ul li .set .btns .i-download::before {
content: "";
display: inline-block;
vertical-align: middle;
background: url(/static/portal/img/common/ico-download.png);
width: 20px;
height: 20px;
}
.bd-line ul li .set .btns .i-view::before {
content: "\e666";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
.bd-line ul li .date {
color: #767676;
}
.bd-line ul li:hover {
background-color: #F2F6FA;
}
.bd-line ul li:hover::before {
background: url(/static/portal/img/common/arr01_on.png) 50% no-repeat;
}
.bd-line ul li:hover .btns a {
color: #131547;
}
.bd-line ul li:hover .btns a::before {
background: #F2F6FA;
}
.bd-line ul li:hover .btns .i-download::before {
background: url(/static/portal/img/common/ico-download_on.png);
}
.bd-line .b-type ul li {
position: relative;
padding: 15px 90px 10px 15px;
}
@media (max-width: 749px) {
.bd-line .b-type ul li {
padding: 15px 8px 10px;
}
}
.bd-line .b-type ul li::before {
content: "";
display: inline-block;
width: 48px;
height: 48px;
position: absolute;
top: 50%;
right: 15px;
margin-top: -24px;
background: url(/static/portal/img/common/arr01_off.png) 50% no-repeat;
}
@media (max-width: 749px) {
.bd-line .b-type ul li::before {
display: none;
}
}

/* 여기까지 */
/* 아래는 아직 사용무 */
@media (max-width: 749px) {
.bd-list table thead {
display: none;
}
}
@media (max-width: 749px) {
.bd-list table tbody {
display: block;
}
}
.bd-list table img {
vertical-align: middle;
}

thead th.no {
width: 55px;
}
@media (min-width: 1200px) {
thead th.no {
width: 75px;
}
}
thead th.date {
width: 90px;
}
@media (min-width: 1200px) {
thead th.date {
width: 100px;
}
}
thead th.file {
width: 80px;
}
@media (min-width: 1200px) {
thead th.file {
width: 105px;
}
}
thead th.count, thead th.hits {
width: 90px;
}
@media (min-width: 1200px) {
thead th.count, thead th.hits {
width: 100px;
}
}
thead th.ckek {
width: 50px;
}
thead th.depart {
width: 110px;
}
thead th.time {
width: 110px;
}

.count-total {
margin-top: 15px;
line-height: 0.8rem;
display: flex;
font-size: 14px;
}
.count-total em {
color: #5772e8;
font-weight: 600;
font-style: normal;
display: inline-block;
margin-left: 4px;
}

.bd-list {
margin-top: 10px;
border-top: 2px solid #000;
}
.bd-list a:hover, .bd-list a.focus, .bd-list a:active {
color: #131547;
text-decoration: underline;
}
.bd-list a[class^=b-] {
color: #fff;
}
.bd-list .nodata {
padding: 40px;
text-align: center;
border-bottom: 1px solid #d9d9d9;
}
.bd-list table {
width: 100%;
text-align: center;
table-layout: fixed;
}
@media (max-width: 749px) {
.bd-list table {
text-align: left;
display: block;
}
}
.bd-list table thead {
color: #000;
}
@media (max-width: 749px) {
.bd-list table thead {
display: none;
}
}
.bd-list table tr {
height: 60px;
}
.bd-list table th {
height: 60px;
background-color: #f9f9f9;
border-bottom: 1px solid #ccc;
font-weight: 400;
font-size: 18px;
}
@media (max-width: 749px) {
.bd-list table tbody {
display: block;
}
}
@media (max-width: 749px) {
.bd-list table tbody tr {
position: relative;
padding: 10px 0;
height: auto;
display: block;
border-top: 1px solid #d9d9d9;
}
}
.bd-list table tbody tr:first-child {
border-top: none;
}
.bd-list table tbody.notice .no i {
color: #e24b44;
font-size: 1.375rem;
display: inline-block;
padding-top: 0.3125em;
}
.bd-list table tbody td {
color: #757575;
padding-bottom: 3px;
}
@media (min-width: 750px) {
.bd-list table tbody td {
border-bottom: 1px solid #d9d9d9;
}
}
@media (max-width: 749px) {
.bd-list table tbody td {
display: flex;
align-items: center;
}
.bd-list table tbody td.no {
display: none;
}
}
@media (min-width: 750px) {
.bd-list table tbody td.tal {
padding-left: 20px;
}
}
.bd-list table tbody td.title {
text-align: left;
}
.bd-list table tbody td.title span + a {
width: calc(100% - 70px);
vertical-align: middle;
padding-left: 5px;
}
.bd-list table tbody td.title a {
color: #757575;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
width: 100%;
}
@media (max-width: 749px) {
.bd-list table tbody td.title a {
display: block;
margin: 0;
padding: 0 4px;
}
}
@media (min-width: 750px) {
.bd-list table tbody td.title a {
padding-left: 20px;
}
}
.bd-list table tbody td.title a:hover {
text-decoration: underline;
}
.bd-list table tbody td a.link {
text-decoration: underline;
}
.bd-list table tbody td .only-m {
display: none;
}
@media (max-width: 749px) {
.bd-list table tbody td .only-m {
color: #000;
font-weight: 400;
margin-right: 10px;
display: block;
font-size: 14px;
line-height: 1;
height: auto;
padding: 4px;
border-radius: 3px;
flex-basis: 32%;
max-width: 70px;
}
}
.bd-list table tbody .a.file {
width: 30px;
height: 30px;
display: block;
background: url(/static/fss/img/common/ico-file.png) 0 0 no-repeat;
margin: 0 auto;
}
.bd-list [class^=tag] {
display: inline-block;
color: #fff;
font-size: 13px;
padding: 1px 5px;
border-radius: 30px;
}
.bd-list .tag1 {
background-color: #8b3793;
}
.bd-list .tag2 {
background-color: #344ba1;
}

.pagination-set {
clear: both;
text-align: center;
margin-top: 60px;
}
@media (max-width: 749px) {
.pagination-set {
margin-top: 20px;
}
}

.pagination {
margin: 0;
display: flex;
vertical-align: top;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.pagination a:focus {
outline: 1px dashed #131547;
}
.pagination > li > a,
.pagination > li > span {
position: relative;
display: block;
padding: 0;
text-decoration: none;
min-width: 36px;
height: 36px;
line-height: 34px;
color: #666;
margin-left: 9px;
border-radius: 50%;
}
.pagination > li.first > *, .pagination > li.prev > *, .pagination > li.next > *, .pagination > li.end > * {
background-color: #fff;
min-width: 36px;
}
.pagination > li.first > *:before, .pagination > li.prev > *:before, .pagination > li.next > *:before, .pagination > li.end > *:before {
content: "";
display: inline-block;
width: 36px;
height: 36px;
font-size: 36px;
color: #131547;
}
.pagination > li.first > *:hover, .pagination > li.first > *:focus, .pagination > li.first > *:active, .pagination > li.prev > *:hover, .pagination > li.prev > *:focus, .pagination > li.prev > *:active, .pagination > li.next > *:hover, .pagination > li.next > *:focus, .pagination > li.next > *:active, .pagination > li.end > *:hover, .pagination > li.end > *:focus, .pagination > li.end > *:active {
z-index: 2;
background-color: #fff;
}
@media (max-width: 749px) {
.pagination > li.first > *, .pagination > li.prev > *, .pagination > li.next > *, .pagination > li.end > * {
min-width: 30px;
background-size: auto 28px;
}
}
.pagination > li .s span {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
}
.pagination > li.first > * {
margin-right: 0;
}
.pagination > li.first > *:before {
content: "\e5dc";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
.pagination > li.prev > * {
margin-right: 15px;
}
.pagination > li.prev > *:before {
content: "\e314";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
@media (max-width: 749px) {
.pagination > li.prev > * {
margin-right: 4px;
}
}
.pagination > li.next > * {
margin-left: 15px;
}
.pagination > li.next > *:before {
content: "\e315";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
@media (max-width: 749px) {
.pagination > li.next > * {
margin-left: 4px;
}
}
.pagination > li.end > * {
background-position: right 0;
}
.pagination > li.end > *:before {
content: "\e5dd";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
margin-left: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > span:focus {
z-index: 2;
text-decoration: underline;
background-color: #131547;
color: #fff;
}
.pagination > li > a:focus {
color: #666;
background-color: transparent;
border: none;
}
.pagination > .active > a,
.pagination > .active > span {
text-decoration: underline;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
z-index: 3;
cursor: default;
border: 1px solid #131547;
background-color: #131547;
color: #fff;
box-sizing: border-box;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
cursor: not-allowed;
display: none;
}

table {
word-break: break-all;
width: 100%;
border-collapse: collapse;
border-spacing: 0;
}

.table {
margin-top: 15px;
}
@media (min-width: 750px) {
.table.pcweb {
display: block !important;
}
.table.moble {
display: none !important;
}
}
@media (max-width: 749px) {
.table.pcweb {
display: none !important;
}
.table.moble {
display: block !important;
}
.table.moble thead th {
color: #fff !important;
background-color: #076bcc !important;
border-bottom: none !important;
}
.table.moble tbody th {
color: #757575;
background-color: #fff;
border: 1px solid #ccc;
}
}
.table table {
width: 100%;
}
.table table th {
color: #fff;
font-weight: 400;
background-color: #131547;
height: 50px;
}
.table table th + th {
border-left: 1px solid #d9d9d9;
}
.table table td {
color: #757575;
padding: 12px 15px;
border: 1px solid #d9d9d9;
background-color: #fff;
}
.table.type2 table td {
padding: 12px 5px;
}
.table.type2 table thead {
border-top: 1px solid #ccc;
}
.table.type2 table thead th {
color: #131547;
background-color: #fff;
border-bottom: 1px solid #fff;
line-height: 1.2;
}
.table.type2 table thead th:first-child {
color: #fff;
background-color: #131547;
}
.table.type2 table thead th:last-child {
border-right: 1px solid #ccc !important;
}

.td-tal table tbody td {
text-align: left;
}
.td-tac table tbody td {
text-align: center;
}
.td-vt table tbody td {
vertical-align: top;
}

/*

@import 'components/tab';//탭메뉴

@import 'components/btn';//버튼 스타일

@import 'components/faq';//FAQ
@import 'components/sh';//검색

@import 'components/bdview';//프로그램 뷰,수정,쓰기
@import 'components/filelist';//파일목록
@import 'components/photo';//겔러리 타입


@import 'components/calendar';// calendar
@import 'components/datepicker'; // datepicker theme
@import 'components/content';//콘텐츠
@import 'components/dbdata';//게시물 데이터

@import 'components/popup';//팝업
*/
/*# sourceMappingURL=../maps/sub.css.map */
