@import url('/static/imer/css/default.css');

@import 'base/util'; //mixins
@import '../../commons/scss/breakpoint'; //반응형 플러그인
@import 'base/variables'; //환경 설정
@import 'base/color'; // colors
@import 'components/ico'; // icons
@import 'components/sprite'; //아이콘 스프라이트
//@import 'breakpoint'; //반응형 플러그인
//@import 'base/heading';//해딩스타일


/* 레이아웃 */
#wrap {
	padding-top: 0;
}
.row {
	@include flex-row;
	align-items: flex-start;
}

#content {
	margin-top: 0;
}


@include breakpoint($lg){
	#section2 section,
	#section3 section,
	#section4 section,
	#section5 section,
	#section6 section {
		padding-top: calc((100vh - (1080px + 194px)) / 2 + 194px);
		//padding-top: calc((100vh - (778px + 75px)) / 2 + 75px);
	}
}

/* footer */
#footer {
	margin: 0;
}

/* section, 공통 */
.section {
	// min-height: 1080px;
	height: 100vh;
	overflow: hidden;
	@include breakpoint($sm) {
		min-height: initial;
		height: auto;
	}
	h2 {
		color: #131547;
		font-size: rem(48);
		font-weight: 700;
		margin-bottom: 90px;
	}
	section {
		width: 1680px;
		max-width: 100%;
		margin: 0 auto;
		// border: 1px solid red;
		// box-sizing: border-box;
	}
	.b-more {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 36px;;
		@include background-image-retina("/static/museum/img/ico/ico-more", png, 100%, 100%);
	} 
}

/* section1 비주얼 */
#section1 {
	position: relative;
	.con {
		padding-top: 118px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9;
		.s {
			width: 1800px;
			max-width: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			padding-left: 3%;
			@include breakpoint($sm){
				display: block;
			}
		}
		.s1-txt-set {
			padding-top: 10%;
			@include breakpoint($sm){
				padding-top: 0;
			}
			// .s1-t1 {}
			.s1-t2 {
				padding-top: 3%;
				padding-bottom: 8%;
			}
			// .s1-t3 {}
		}
		.visual_banner {
			margin-top: 70px;
		}
	}
}
.section1-visual {
	width: 100vw;
	height: 100vh;
	@include breakpoint($smd) {
		height: auto;
	}
	.img {
		display: block;
		position: relative;
		height: 100vh;
		align-items: center;
		background-size: cover;
		background-attachment: fixed;
		background-position: center left;
		@include breakpoint($smd) {
			min-height: 675px;
			height: auto;
		}
	}
}
.s1-bottom-set {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.4);
	// height: 64px;

//	line-height: 64px;
	.s {
		width: $pc-wide;
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		@include breakpoint($sm){
			width: 100%;
		}
		.box {
			float: left;
			width: 100%;
			max-width: calc(100% - 220px);
			margin-top: 18px;
			@include breakpoint($sm){
				width: 100%;
				max-width: none;
			}
			.t {
				float: left;
				padding-right: 30px;
				span {
					color: #fff;
					display: inline-block;
					padding: 3px 14px;
					background-color: #4276F3;
					border-radius: 30px;
				}
			}
			.swiper-container {
				float: left;
				width: 100%;
				position: relative;
				overflow: hidden;
				height: 64px;
			}
			ul {
				position: absolute;
				top: 0;
				left: 0;

				li {
					//height: 64px !important;
					a {
						width: 100%;
						color: #fff;
						font-size: rem(20);
						@include ellipsis;
					}
				}
			}
		}	
	}
	.swiper-slide {
		display: flex;
	}
	.section1__ctrl {
		display: flex;
		align-items: center;
		@include breakpoint($sm){
			display: none;
		}
		> div {
			display: inline-block;
			line-height: 64px;
		}
		button {
			// height: 40px;
			&::before {
				font-size: 40px;
				color: #fff;
				vertical-align: middle;
			}
		}
	}
	.section1__swiper-button-prev {	
		&::before {
			@include font-ico-outline('\e314');
		}
	}
	.section1__swiper-button-next {
		&::before {
			@include font-ico-outline('\e315');
		}
	}
	.section1__swiper-button-stop {
		&::before {
			@include font-ico-outline('\e034');
		}
	}
	.section1__swiper-button-play {
		&::before {
			@include font-ico("\e037");
		}
	}
	.section1__swiper-button-prev,
	.section1__swiper-button-next {
		&.swiper-button-disabled {
			opacity: .4;
		}
	}	
	.swiper-pagination {
		position: static;
		display: flex;
		align-items: center;
		//flex-direction: row;
		color: rgba(255, 255, 255, 0.7);
		font-weight: 300;
		&-current {
			font-size: rem(24);
			font-weight: 700;
			color: #39A0FF;
		}
		&-total {
			font-size: rem(18);
			margin-left: 2px;
			&::before {
				content: "/ ";
				padding-right: 10px;
			}
		}
		span {
			display: inline-block;
			padding: 0 6px;
		}
	}
}
.section-nav {
	position: fixed;
	left: 32px;
	bottom: 50%;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	transition: all 0.3s;
	@include breakpoint($smd){
		display: none;
	}
	a {
		display: flex;
		padding: 7px;
		color: rgba(255, 255, 255, 0.8);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		transition: all 0.5s;
		* {
			transition: all 0.5s;
		}
		i {
			position: relative;
			@include circle(6px);
			background-color: rgba(59, 99, 196, 0.6);
		}
		&.active {
			i {
				@include circle(10px);
				background-color: rgba(59, 99, 196, 1);
				&::before {
					content: "";
					position: absolute;
					inset: 0;
					outline: 8px solid rgba(59, 99, 196, 0.2);
					background-color: rgba(59, 99, 196, 1);
					border-radius: 20px;
				}
			}
		}
	}
	// &--color {
	// 	a {
	// 		i {
	// 			background-color: rgba(59, 99, 196, 0.6);
	// 		}
	// 		&.active {
	// 			i {
	// 				background-color: rgba(59, 99, 196, 1);
	// 				&::before {
	// 					outline: 8px solid rgba(59, 99, 196, 0.2);
	// 					background-color: rgba(59, 99, 196, 1);
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

.section {
	height: auto;
	@include breakpoint($lg){
		// min-height: 1080px;
		height: 100vh;
	}	
	h2 {
		color: #131547;
		text-align: center;
		font-size: rem(48) !important;
		font-weight: 600 !important;
		margin-bottom: 60px !important;
		margin-top: 100px;
		@include breakpoint($mdw){
			font-size: rem(40) !important;
			margin-bottom: 40px !important;
			padding-top: 30px;
		}
		@include breakpoint($sm){
			font-size: rem(34) !important;
			margin-bottom: 20px !important;
			padding-top: 30px;
		}
	}
	section {
		width: 1680px;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 120px;
		@include breakpoint($smd){
			padding: 0 40px;
		}
	}
}



@mixin board-list {
	padding: 50px 0;		
	.more {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 99;
		a {
			display: block;
			&::before {
				content: "";
				display: inline-block;
				width: 36px;
				height: 36px;
				background: url(/static/portal/img/main/more2.png);
			}
		}
	}
	.swiper-wrapper {
		.swiper-slide {
			border-radius: 16px;
			padding: 10px;
			background-color: #fff;
			//box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.20);
			box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.05);
			.img-set {
				position: relative;
				display: block;
				.img {
					display: block;
					background-size: cover;
					padding-top: 87.2%;
					border-radius: 16px 16px 0 16px;
				}
				.p {
					color: #3B63C4;
					border-radius: 0 8px 0 0;
					padding: 5px 16px;
					background-color: #fff;
					position: absolute;
					bottom: 0;
					left: -1px;
				}
			}
			span {
				display: inline-block;
				
				&.title {
					margin: 20px 0 10px;
					padding: 0 16px;
					width: 100%;
					color: $black;
					font-size: rem(18);
					font-weight: 500;
					text-align: center;
					@include ellipsis;
				}
				&.txt {
					padding: 0 16px;
					display: block;
					color: #4D4D4D;
					height: 70px;
					span {
						display: block;
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					br {
						display: none;
					}
				}
			}
		}
	}
}

#section2 {
	background: url(/static/imer/img/main/bg_section2_imer.png) 50% 0 no-repeat;
	background-size: cover;	
	.set {
		position: relative;
	}
	.board-list1 {		
		@include board-list();
		.swiper-wrapper {
			.swiper-slide {
				padding: 16px 16px 50px;
				text-align: center;
				.img-set {
					.img {
						padding-top: 69.4%;
						border-radius: 0 8px 8px 0;
					}
				}
				.txt {
					color: #666;
					font-size: 14px;
					text-align: left;
					@include line-clamp(3);
					height: 64px;
					//margin-bottom: 30px;
					span {
						color: #4D4D4D;
						em {
							color: #1a1a1a;
							padding-right: 10px;
							display: inline-block;
						}
					}						
				}
				span {
					&.badge {
						padding-top: 15px;
						text-align: center;
						margin: 0 auto;
						position: relative;
						color: #1F4EC7;
						font-weight: 500;
						&::before {
							content: "";
							display: inline-block;
							width: 16px;
							height: 2px;
							background-color: #6C97FF;
							position: absolute;
							bottom: -5px;
							left: 50%;
							margin-left: -8px;
						}
					}
					&.title {
						margin: 20px 0 5px;
					}
				}
				.dowload {
					margin-top: 25px;
					color: #fff;
					font-weight: 300;
					font-size: rem(14);
					padding: 9px 24px;
					background-color: $color-point;
					border-radius: 4px;
					&::before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 16px;
						height: 19px;
						background: url(/static/imer/img/main/file_save.png);
						margin-right: 6px;
					}
				}
			}
		}
	}
}

#section3 {
	background: url(/static/imer/img/main/bg_section3_imer.png) 50% 0 no-repeat;
	background-size: cover;	
	.set {
		position: relative;
	}
	.board-list2 {		
		@include board-list();
		.swiper-wrapper {
			.swiper-slide {
				span {
					&.txt {
						span {
							color: #4D4D4D;
							em {
								color: #1a1a1a;
								padding-right: 10px;
								display: inline-block;
							}
						}
					}
					&.date {
						margin-top: 25px;
						color: #666;
						font-size: rem(14);
						padding: 8px;
						&::before {
							@include font-ico-outline('\e8b5');
							font-size: 20px;
							color: #666;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

.ctrl2 {
	button {
		width: 64px;
		height: 64px;
		position: absolute;
		top: 50%;
		margin-top: -32px;
		z-index: 9;
		&::before {
			content: "";
			display: inline-block;
			width: 64px;
			height: 64px;
			border: 1px solid $point;
			border-radius: 50%;
			background: url(/static/imer/img/main/ctrl-off.png) 50% no-repeat;			
		}
		&:hover {
			&::before {
				background: $point url(/static/imer/img/main/ctrl-on.png) 50% no-repeat;
				border-color: $point;
			}
		}
		&.prev {
			left: -100px;
			//left: 100px;
			@include breakpoint($smd){
				left: -35px;
				z-index: 9;
				background-color: rgba(255, 255, 255, 0.6);
				border-radius: 50%;
			}
			&:hover {
				&::before {
					transform: rotate(180deg);
				}
			}
		}
		&.next {
			right: -100px;
			//right: 100px;
			@include breakpoint($smd){
				right: -35px;
				z-index: 9;
				background-color: rgba(255, 255, 255, 0.6);
				border-radius: 50%;
			}
			&::before {
				transform: rotate(180deg);
			}
			&:hover {
				&::before {
					transform: rotate(0);
				}
			}
		}
	}
}


#section4 {
	background-color: #E4EDF7;
	background-image: url(/static/imer/img/main/bg_section4_imer.png);
	background-position: 50% 0;
	@include breakpoint($sm){
		padding-bottom: 20px;
		section {
			padding: 0 10px;
		}
	}
	.set {
		display: flex;
		justify-content: space-between;
		@include breakpoint($sm){
			display: block;
		}
		> div {
			width: calc(50% - 64px);
			@include breakpoint($mdw){
				width: calc(50% - 24px);
			}
			@include breakpoint($sm){
				width: 100%;
			}
		}
		h3 {
			color: $black;
			font-size: rem(28);
			margin-bottom: 30px;
		}
	}
	.notice {
		position: relative;
		border-top: 2px solid $black;
		ul {
			li {
				padding: 10px 0;
				border-bottom: 1px solid #B1C1E7;
				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 19px 0;
					@include breakpoint ($sm){
						flex-direction: column;
						align-items: flex-start;
						padding: 6px 0;
						gap: 8px 0;
					}
					.t {
						width: 120px;
						color: #3B63C4;
						font-size: rem(16);
					}
					.title {
						width: calc(100% - 120px - 100px);
						font-size: rem(18);
						@include ellipsis;
						@include breakpoint ($sm){ 
							width: 100%;
						}
					}
					.date {
						width: 100px;
						color: #666;
						font-size: rem(14);
						text-align: right;
						@include breakpoint ($sm){ 
							text-align: left;
						}
					}
				}
			}
		}
		.more {
			position: absolute;
			top: -71px;
			right: 0;
			z-index: 2;
			a {
				display: block;
				&::before {
					content: "";
					display: inline-block;
					width: 36px;
					height: 36px;
					background: url(/static/portal/img/main/more.png);
				}
			}
		}
	}
	.info-list {		
		ul {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 3px;	
			@include breakpoint($sm){
				margin-top: 20px;
			}		
			li {
				flex-basis: calc(50% - 20px);
				&:nth-child(2),
				&:nth-child(4) {
					margin-top: 40px;
				}
				@include breakpoint($sm){
					flex-basis: 100%;
					margin-top: 10px !important;
				}
				a {
					position: relative;
					font-size: rem(22);
					font-weight: 500;
					display: block;
					background-color: #fff;
					border-radius: 16px;
					padding: 32px 35px;
					height: 210px;
					line-height: 1.3;
					//box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
					box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
					@include breakpoint($sm){
						height: 140px;
						padding: 20px;
					}
					&::after {
						content: "";
						display: inline-block;
						width: 100px;
						height: 100px;
						position: absolute;
						bottom: 8px;
						right: 6px;
						background-repeat: no-repeat;
						background-position: 50%;
					}
					&.i1 {
						&::after {
							background-image: url(/static/imer/img/main/ico-info1.png);
						}
						&:hover {
							&::after {
								background-image: url(/static/imer/img/main/ico-info1-off.png);
							}
						}
					}
					&.i2 {
						&::after {
							background-image: url(/static/imer/img/main/ico-info2.png);
						}
						&:hover {
							&::after {
								background-image: url(/static/imer/img/main/ico-info2-off.png);
							}
						}
					}
					&.i3 {
						&::after {
							background-image: url(/static/imer/img/main/ico-info3.png);
						}
						&:hover {
							&::after {
								background-image: url(/static/imer/img/main/ico-info3-off.png);
							}
						}
					}
					&.i4 {
						&::after {
							background-image: url(/static/imer/img/main/ico-info4.png);
						}
						&:hover {
							&::after {
								background-image: url(/static/imer/img/main/ico-info4-off.png);
							}
						}
					}
					&:hover {
						color: #fff;
						background-color: $color-point;
						box-shadow: none;
					}
				}
			}
		}
	}
}



@include breakpoint($lg){

	#section2 section,
	#section3 section,
	#section4 section,
	#section5 section,
	#section6 section {
		padding-top: calc((100vh - (1080px + 194px)) / 2 + 194px);
		//padding-top: calc((100vh - (778px + 75px)) / 2 + 75px);
	}


	// .gnb-stiky #section1, 
	// .gnb-stiky #section2, 
	// .gnb-stiky #section3,
	// .gnb-stiky #section4,
	// .gnb-stiky #section5,
	// .gnb-stiky #section6 {
	// 	height: 100vh;
	// 	padding: 74px 0 0px;
	// }
}



#footer {
	margin-top: 0;
}


@keyframes progress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}