@import 'base/util'; //mixins
@import '../../commons/scss/breakpoint'; //반응형 플러그인
@import 'base/variables'; //환경 설정
@import 'base/color'; // colors


$tsh-height : 56px;
$tsh-m-height : 32px;
$color-point: #005596;

.tsh-wrap {
	position: relative;
	margin-top: -30px;
	// @include breakpoint($smd){
	// 	margin-top: 0;
	// }	
	form {
		@include breakpoint($smd){
			display: flex;
			flex-direction: column;
		}	
	}
	.hgroup {
		position: relative;
		display: block !important;
		background-color: #CBDEF6;
		padding: 50px 0 8px;
		margin-bottom: 0;
		@include breakpoint($smd) {
			padding: 30px 0 16px;
		}
		&::before {
			content: "";
			display: inline-block;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: #CBDEF6;
			z-index: -1;
		}
		h1 {
			color: #1a1a1a;
			font-size: 32px;
			font-weight: 600;
			// margin-bottom: 8px;
			@include breakpoint($smd) {
				font-size: 24px;
				text-align: center;
			}
		}
	}
	.best-tsh {
		margin-bottom: 10px;
		@include breakpoint($lg){
			position: absolute;
			top: 60px;
			right: 0;
			z-index: 9;
			width: 280px;
		}	
		@include breakpoint($smd){ 
			position: relative;
			background-color: #CBDEF6;
			order: 1;
			margin-bottom: 0;
			padding-bottom: 10px;
			&::before {
				content: "";
				display: inline-block;
				width: 100vw;
				height: 100%;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				background-color: #CBDEF6;
				z-index: -1;
			}
			&::after {
				content: "";
				position: absolute;
				display: block;
				left: 50%;
				bottom: 0;
				width: 100vw;
				height: 2px;
				transform: translateX(-50%);
				background-color: #000e33;
			}
		}			
		.best-txt {
			display: flex;
			justify-content: space-between;
			margin-bottom: 8px;
			h2 {
				font-size: rem(16) !important;
				color: $black;
				font-weight: 500 !important;
				margin: 0 !important;
			}
			.best-tab {
				a {
					color: #4D4D4D;
					padding-left: 28px;
					position: relative;
					&::before,
					&::after {
						content: "";
						display: inline-block;
						position: absolute;
						top: 1px;
						left: 0;
					}
					&::before {
						width: 20px;
						height: 20px;
						border: 1px solid #BFBFBF;
						border-radius: 50%;
						background-color: #FAFAFA;
					}
					&.active {
						color: $point;
						font-weight: 500;
						&::before {
							border: 1px solid $color-point;
						}
						&::after {
							width: 9px;
							height: 9px;
							border: 6px solid $color-point;
							background-color: transparent;
							border-radius: 50%;
						}
						span {
							position: relative;
							display: inline-block;
							&::before {
								content: "";
								display: inline-block;
								width: 100%;
								height: 1px;
								position: absolute;
								bottom: 2px;
								left: 0;
								background-color: $point;
							}	
						}
					}
					& + a {
						margin-left: 12px;
					}
				}
			}
		}
		ul {
			margin: -4px 0;
			li {
				a {
					display: block;
					padding: 2px 0;
					color: #4D4D4D;
					@include ellipsis;
					width: 100%;
					span {
						font-size: 14px;
						color: #fff;
						font-weight: 300;
						text-align: center;
						display: inline-block;
						width: 20px;
						height: 20px;
						border-radius: 2px;
						background-color: #808080;
						margin-right: 3px;
					}
				}
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					a {
						color: $black;
						span {
							background-color: $color-point;
						}
					}
				}
			}
		}
		.tab-con {
			//opacity: 0;
			display: none;
			&.tab01 {
				//opacity: 1;
				display: block;
			}
		}
		.best-box {			
			position: relative;
			height: 40px;
			border: 1px solid #E6E6E6;
			border-radius: 4px;
			background-color: #fff;
			overflow: hidden;
			&::after {
				@include font-ico-outline('\e5c5');
				font-size: 20px;
				position: absolute;
				top: 8px;
				right: 10px;
			}
			a {				
				//line-height: 40px;
				padding: 8px 30px 8px 10px;
			}
			
		}	
		.best-layer {
			display: none;
			padding: 10px;
			border: 2px solid $color-point;
			background-color: #fff;
			border-radius: 4px;
			position: absolute;
			z-index: 9;
			top: 30px;
			left: 0;
			width: 100%;
			background-color: #fff;
			@include breakpoint($smd) {
				top: inherit;
			}
			
		}
	}
	.tsh {
		position: relative;
		padding: 0 0 50px;
		margin-bottom: 15px;
		background-color: #CBDEF6;
		&::before {
			content: "";
			display: inline-block;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: #CBDEF6;
			z-index: -1;
			@include breakpoint($smd){ 
				background-color: #f2f6fa;
			}
		}
		// @include breakpoint($mdw){
		// 	padding: 45px 20px 20px;
		// }
		@include breakpoint($smd){ 
			padding: 8px 0 12px;
			order: 2;
			background-color: #f2f6fa;
		}	
		// @include breakpoint($sm){
		// 	padding: 36px 10px 10px;
		// }
		
		> div {
		// width: 884px;
		// max-width: 100%;
		// margin: 0 auto;
		}
		input[type=radio],
		input[type=checkbox] {
			width: 18px;
			height: 18px;
			& + i {
				width: 18px;
				height: 18px;
				// margin-left: -18px;
			}
		}
		input[type=radio] {				
			& + i {
				& + span {
					margin-left: 6px;
				}
			}
			&:checked {
				& + i {
					&:before {
						width: 6px;
						height: 6px;
						border: 6px solid #3B63C4;
					}
					& + span {
						color: $point;
					}
				}
			}
		}
		input[type=checkbox] {		
			position: relative;		
			& + i {
				position: relative;
				margin-left: -17px;
				& + span {
					margin-right: 10px;
				}
			}
			&:checked {
				& + i {
					&:before {
					}
					& + span {
						color: $point;
					}
					&:after {
						top: 50%;;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
		 .input-set {
			position: relative;
			display: flex;
			@include breakpoint($smd) {
				flex-wrap: wrap;
			}
			.keyword-set {
				width: 624px;
				height: $tsh-height;
				max-width: calc(100% - 111px);
				display: flex;
				align-items: center;
				background-color: #fff;
				border-radius: 4px;
				@include breakpoint($smd) {
					order: 2;
					width: 100%;
					height: 48px;
					max-width: calc(100% - 113px);
				}
				// @include breakpoint($sm){
				// 	max-width: calc(100% - 100px);
				// }
				.keyword {
					width: calc(100% - 66px);
					@include breakpoint($sm){
						width: calc(100% - 40px);
					}			
					input[type=text] {
						width: 100%;
						border: 0;
						height: $tsh-height;
						padding: 0 24px;
						@include breakpoint($smd){ 
							padding: 5px 15px;
							height: 48px;
						}
					}
					.twitter-typeahead {
						display: block !important;
						.tt-menu {
							width: calc(100% + 65px);
							&.tt-open {
								display: block;
								background-color: #fff;
								line-height: 1.6;
								padding: 15px 20px;
								font-size: 16px;
								border: 1px solid $bd-color;
							}
							.tt-suggestion {
								cursor: pointer;
								padding: 4px 0;
								&:hover {
									@include breakpoint($lg) {
										background-color: #ebf3f7;
									}
								}
							}
							.tt-hightlight {
								color: #005596;
							}
						}
					}
				}					
				.search {
					width: 66px;
					height: $tsh-height;
					text-align: center;
					@include breakpoint($sm){
						width: $tsh-m-height;
						height: $tsh-m-height;
					}
					&::before {
						@include font-ico-outline('\e8b6');
						font-size: 26px;
						color: #222;
					}
				}
			}
			.detailSearchClose {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				width: 111px;
				background: #fff;
				border-radius: 4px;
				height: $tsh-height;
				line-height: $tsh-height;
				margin-left: 2px;
				color: #005596;
				border: 1px solid #005596;
				@include breakpoint($smd){
					order: 2;
					height: 48px;
					font-size: 16px;
				}
				@include breakpoint($sm){
					width: 100px;
				}
				&::before {
					@include font-ico-outline('\e429');
					font-size: 20px;
					margin-right: 6px;
					color: #005596;
				}
				&.active {
					line-height: 54px;
					color: #fff;
					background: #005596;
					border: 0;
					&::before {
						color: #fff;
					}
				}
			}
			.etc {
				margin-top: 15px;
				padding-left: 10px;
				@include breakpoint($smd){
					display: block;
					width: 100%;
					order: 1;
					font-size: 14px;
					padding-left: 0;
					margin-top: 0;
					margin-bottom: 8px;
				}
				label {
					display: inline-flex;
					align-items: center;
				}
			}
		 }		
		.detail-box {
			display: none;
			margin-top: 7px;
			background-color: #fff;
			border-radius: 4px;
			padding: 12px 24px 32px;
			@include breakpoint($smd){
				padding: 0 12px 30px;
			}
			&.active {
				display: block;
			}
			.view-list {
				dl {
					display: flex;
					justify-content: space-between;
					padding: 14px 0;
					border-bottom: 1px solid #F1F4FA;
					@include breakpoint($smd){
						display: block;
					}
					dt {
						display: flex;
						align-self: center;
						width: 120px;
						color: #808080;
						@include breakpoint($smd){
							margin-bottom: 8px;
						}
						&::before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 4px;
							height: 4px;
							border-radius: 50%;
							background: #808080;
							margin: 9px 11px;
							@include breakpoint($smd){
								margin: 9px 5px;
							}
						}
					}
					dd {
						font-size: 15px;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						color: #4D4D4D;
						width: calc(100% - 94px);
						@include breakpoint($smd){
							width: 100%;
							gap: 4px 8px;
						}
						label {
							margin-right: 8px;
							&:last-child {
								margin-right: 0;
							}
						}
						.sh-input {
							display: flex;
							align-items: center;
							// @include breakpoint($smd){
							width: 100%;
							margin-top: 5px;
							.date-set {
								display: flex;
								margin-top: 8px;
								&::before{
									content: "직접검색";
									display: inline-block;
									padding-right: 8px;
									padding-top: 4px;
								}
							}
							// }
							@include breakpoint($sm) {
								.date-set {
									display: block;
									width: 100%;
									&::before{
										display: block;
										width: 100%;
										padding-bottom: 8px;
									}
								}
							}
							label {
								align-items: center;
							}
							input[type=text] {
								width: 130px !important;
								height: 32px;
								border: 1px solid #D9D9D9;
								border-radius: 4px;
								background: #fff url(/static/portal/img/ico/ico-calender-g.png) calc(100% - 6px) center no-repeat;
								padding: 0 30px 0 8px;
							}
						}
					}
				}
			}			
			.tsh-btn {
				margin-top: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				button {
					font-weight: 300;
					border-radius: 4px;
					min-width: 120px;
					height: 32px;
					line-height: 30px;
					margin: 0 1px;
					@include breakpoint($sm) {
						min-width: 100px;

					}
					span {
						vertical-align: middle;
					}
					&:before {
						font-size: 22px;
						margin-right: 4px;
						vertical-align: middle;
					}
					&.search {
						color: #fff;
						background: $point;
						border: 1px solid $point;
						&::before {
							@include font-ico-outline('\e8b6');
							color: #fff;
						}
					}
					&.reset {
						color: $color-point;
						border: 1px solid $color-point;
						&::before {
							color: $color-point;
							@include font-ico("\f053");
						}
					}
					&.close {
						color: #fff;
						background-color: #666;
						&::before {
							@include font-ico-outline('\e5cd');
							color: #fff;
						}
					}
				}			
			}
		}
	}
	.tsh-main {
		position: relative;
		display: flex;
		justify-content: space-between;
		order: 3;
		@include breakpoint($lg){
			&::before {			
				content: "";
				display: inline-block;
				width: 1px;
				height: 100%;
				background-color: #E6E6E6;
				position: absolute;
				top: 0;
				left: 276px;
			}
		}
		.search-side {
			display: none;
			@include breakpoint($lg){
				display: block;
				width: 240px;
				margin-right: 36px;
				.label-list {
					label {
						display: flex;
						align-items: flex-start;
						margin-left: 0;
						font-size: rem(18);
						padding: 15px 0;
						border-bottom: 1px solid #E6E6E6;
						input[type=checkbox] + i {
							margin-left: -25px;
						}
						input[type=checkbox].checked + i::after, 
						input[type=checkbox]:checked + i::after {
							top: 21px;
						}
					}
				}
				.reset {
					margin-top: 24px;
					width: 100%;
					padding: 4px;
					text-align: center;
					font-weight: 400;
					color: #fff;
					background-color: #4D4D4D;
					border-radius: 4px;
					&::before {
						@include font-ico-outline("\f053");
						font-size: 20px;
						color: #fff;
						margin-right: 4px;
					}
					&:focus {
						outline-offset: 2px;
						outline-style: dashed;
					}
				}
			}			
		}
		.label-list {
			display: flex;
			flex-direction: column;
		}
		.search-main {
			@include breakpoint($smd) {
				width: 100%;
			}
			@include breakpoint($lg){
				width: calc(100% - 240px - 36px - 36px);
			}			
			.search-hgroup {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid $black;
				padding-bottom: 15px;
				@include breakpoint($smd){
					display: block;
				}
				p {
					margin-bottom: 0 !important;
					&::before {
						@include font-ico-outline("\e8b6");
						font-size: 22px;
						margin-right: 4px;
						color: #666;
					}
					.point {
						color: #F04D1A;
					}
					em {
						font-weight: 600;
					}
				}
				.select-set {
					@include breakpoint($smd){
						margin-top: 12px;
						text-align: right;
					}
					select {
						height: 32px;
					}
					.submit {
						color: #fff;
						background-color: $color-point;
						border-radius: 4px;
						height: 32px;
						padding: 0 12px;
						vertical-align: middle;
						&::before {
							@include font-ico-outline("\e5ca");
							font-size: 18px;
							color: #fff; 
							margin-right: 8px;
							margin-bottom: 2px;
							@include breakpoint($sm) {
								margin-right: 0;
							}
						}
						&:focus {
							@include focus();
						}
						span {
							@include breakpoint($sm) {
								display: none;
							}
						}
					}
				}				
			}
			.sh-list {
				li {
					padding: 17px 0;
					border-bottom: 1px solid #E6E6E6;
					a {
						display: block;
						> * {
							display: block;
						}
					}
					.schDesc {
						display: flex;
						justify-content: space-between;
						align-items: center ;
						.badge {
							display: inline-block;
							padding: 3px 8px;
							color: #fff;
							font-size: rem(14);
							font-weight: 300;
							border-radius: 4px;
							background: $color-point;
						}
						.date {
							color: #666;
							font-size: 14px;
							&::before {
								content: "";
								display: inline-block;
								vertical-align: middle;
								width: 16px;
								height: 16px;
								background: url(/static/imer/img/ico/ico-date2.png) no-repeat;
								margin-right: 5px;
							}
						}
					}
					.location {
						font-size: rem(18);
						font-weight: 500;
						margin: 12px 0 10px;
					}					
					.txt {
						color: #4D4D4D;
						@include line-clamp(2);
						height: 52px;
						@include breakpoint($sm){
							height: 42px;
							font-size: 14px;
						}
					}
					.keyword {
						margin-top: 15px;
						//margin: 15px 0;
						span {
							display: inline-block;
							margin-right: 4px;
							margin-bottom: 4px;
							color: #666;
							font-size: 14px;
							display: inline-block;
							padding: 2px 10px;
							border: 1px solid #C2C2C2;
							border-radius: 30px;
						}
					}
					.link {
						display: block;
						margin-top: 12px;
						color: $color-point;
						font-size: 14px;
						text-decoration: underline;
						a {
							color: $color-point;
						}
					}
				}
			}
		}
	}
	mark {
		background-color: transparent !important;
		color: #449ee3 !important;
	}
}