@charset "UTF-8";
@import url("/static/eng/css/default.css");
@font-face {
font-family: "Material Icons";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIcons-Regular.woff") format("woff");
}
@font-face {
font-family: "Material Icons Outlined";
font-style: normal;
font-weight: 400;
src: url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff2"), url("/static/font/MaterialIcons/MaterialIconsOutlined-Regular.woff") format("woff");
}
b,
strong {
font-weight: 500;
}

.red {
color: #C81720 !important;
}

.fc_red {
color: #C81720;
}

.point2 {
color: #3B63C4;
}

[class^=ico-].ico-youtube::before {
background-image: url(/static/eng/img/ico/ico-youtube.svg);
}
[class^=ico-].ico-instagram::before {
background-image: url(/static/eng/img/ico/ico-instagram.svg);
}
[class^=ico-].ico-facebook::before {
background-image: url(/static/eng/img/ico/ico-facebook.svg);
}
[class^=ico-].ico-twitter::before {
background-image: url(/static/eng/img/ico/ico-twitter.svg);
}

[class^=sns-].sns-youtube::before {
background-image: url(/static/eng/img/ico/sns-youtube.svg);
}
[class^=sns-].sns-instagram::before {
background-image: url(/static/eng/img/ico/sns-instagram.svg);
}
[class^=sns-].sns-facebook::before {
background-image: url(/static/eng/img/ico/sns-facebook.svg);
}
[class^=sns-].sns-twitter::before {
background-image: url(/static/eng/img/ico/sns-twitter.svg);
}

.i-fax::before {
color: #000E33;
content: "\ead8";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 24px;
margin-right: 3px;
}

.i-email::before {
color: #000E33;
content: "\e158";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 24px;
margin-right: 3px;
}

.popupOpened {
overflow: hidden;
}
.popupOpened .popwrap {
display: block;
}

body > .popwrap {
display: block;
}
body > .popwrap .set {
display: block;
}
body > .popwrap .set__wrap {
width: 100%;
border-radius: 0;
}
body > .popwrap__body {
max-height: inherit;
}

.popwrap {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: 10000;
background-color: rgba(0, 0, 0, 0.7);
}
.popwrap .set {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
overflow: hidden;
}
.popwrap .set__wrap {
position: relative;
width: 600px;
max-width: 100%;
background-color: #fff;
border: 1px solid #d5d5d5;
border-radius: 10px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.popwrap__header .b-close {
position: absolute;
top: 0;
right: 0;
background-color: transparent;
min-width: 50px;
height: 50px;
}
.popwrap__header .b-close::before {
content: "\e5cd";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 30px;
color: #131547;
}
.popwrap__body {
max-height: 300px;
overflow-y: auto;
overflow-x: hidden;
}
.modal {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 1100;
display: none;
overflow: hidden;
}
.modal.fade.in::before {
content: "";
display: block;
background: rgba(0, 0, 0, 0.7);
position: fixed;
width: 100%;
z-index: 501;
top: 0;
left: 0;
height: 100%;
}
.modal-dialog {
width: 720px;
height: 100%;
max-width: 100%;
display: flex;
align-items: center;
position: relative;
z-index: 999;
margin: 0 auto;
}
.modal-content {
width: 100%;
position: relative;
background-color: #fff;
border: 2px solid #131547;
border-radius: 16px;
}
.modal-header {
background-color: #131547;
border-radius: 12px 12px 0 0;
}
.modal-header h4 {
color: #fff !important;
margin: 0 !important;
padding: 0 18px;
height: 68px;
line-height: 68px;
font-size: 1.5rem !important;
font-weight: 400 !important;
}
@media (max-width: 749px) {
.modal-header h4 {
height: 50px;
line-height: 50px;
}
}
.modal-header h4 .i-mon::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 32px;
height: 32px;
background: url(/static/eng/img/ico/ico-calender-2x.png);
margin-right: 4px;
margin-bottom: 2px;
}
.modal-header .close {
position: absolute;
top: 0;
right: 10px;
height: 68px;
width: 68px;
}
@media (max-width: 749px) {
.modal-header .close {
width: 50px;
height: 50px;
line-height: 50px;
margin-top: 3px;
}
}
.modal-header .close::before {
color: #fff;
content: "\e5cd";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 40px;
}
.modal-body {
padding: 40px;
}
@media (max-width: 749px) {
.modal-body {
padding: 20px;
}
}
.modal-body button {
font-size: 16px;
min-width: 82px;
height: 32px;
line-height: 32px;
}
.modal-body .b-close {
font-weight: 300;
}
.modal-body .b-close::before {
content: "\e5cd";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 18px;
margin-right: 4px;
margin-bottom: 2px;
}
.modal-body .b-print {
background-color: #005596;
}
.modal-body .b-print::before {
content: "\e8ad";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 18px;
margin-right: 4px;
margin-bottom: 2px;
}
.modal-bottom {
margin-top: 40px;
text-align: center;
}
.modal .calView h5 {
color: #1A1A1A;
font-size: 2rem !important;
font-weight: 400;
padding-left: 0 !important;
border-bottom: 2px solid #1A1A1A;
margin-bottom: 12px !important;
}
.modal .calView h5::before {
display: none !important;
}
.modal .calView ul li {
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid #E6E6E6;
border-radius: 8px;
padding: 15px;
}
.modal .calView ul li + li {
margin-top: 8px;
}
.modal .calView ul li .con .tit {
color: #000E33;
font-size: 1.125rem;
}
.modal .calView ul li .view-btn .b-view {
color: #fff;
font-weight: 300;
font-size: 1rem;
background-color: #3B63C4;
line-height: 32px;
height: 32px;
border-radius: 4px;
}
.modal .calView ul li .view-btn .b-view::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 20px;
height: 20px;
background: url(/static/eng/img/ico/ico-b-view.png);
margin-right: 5px;
}
.modal .calView ul.type2 li {
display: block;
}

.bgn .popupWrap h1 {
background: #484d58;
color: #fff;
font-size: 1em;
padding: 9px 15px;
font-weight: 500;
}

.popupWrap .popupBody {
margin: 20px;
}
.popupWrap .view {
border-top: 1px solid #dee0e6;
}
.popupWrap .btn_close {
position: absolute;
top: 9px;
right: 9px;
}
.popupWrap .btn_close i:before {
color: #fff;
font-size: 1.6em;
}
.popupWrap .b-cancel {
background: #7f7f7f;
}
.popupWrap .file_bt {
color: #ea5a59;
}
.popupWrap .file_bt i {
padding-right: 5px;
}
.popupWrap .file_bt i:before {
color: #ea5a59;
}
.popupWrap .inputFile {
position: relative;
overflow: hidden;
padding-right: 96px;
}
.popupWrap .inputFile a {
position: absolute;
top: 0;
right: 0;
}
.popupWrap .inputFile .inputUpload .btnUpload {
position: absolute;
top: 0;
right: 0;
margin: 0;
padding: 0;
font-size: 20px;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
}
.popupWrap .inputFile .w_100 {
display: block;
}
.popupWrap .inputFile .input {
display: inline-block;
background: #fff;
border: 1px solid #7f7f7f;
}
.popupWrap .inputFile .input input {
width: 252px !important;
background: none;
height: 34px;
line-height: normal;
line-height: 35px;
border: none;
width: 100%;
}
.popupWrap .btnBasic {
display: inline-block;
font-size: 15px;
min-width: 76px;
height: 36px;
line-height: 36px;
padding: 0 10px;
text-align: center;
}
.popupWrap .btnBasic.black {
background: #484d58;
color: #fff;
}

.popup {
position: relative;
}

.certifi_wrap {
color: #000E33;
font-family: "Noto Serif KR", serif;
font-weight: 700;
padding: 50px;
}
.certifi_wrap .num {
font-size: 26px;
}
.certifi_wrap h1 {
font-size: 60px;
text-align: center;
margin: 60px 0;
letter-spacing: 20px;
background-color: transparent;
}
.certifi_wrap .subject {
font-size: 28px;
}
.certifi_wrap .name {
text-align: right;
font-size: 26px;
margin-top: 20px;
}
.certifi_wrap .txt {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px 0;
min-height: 400px;
background: url(/static/eng/img/popup/bok_mak.png) 50% no-repeat;
font-size: 30px;
line-height: 1.7;
}
.certifi_wrap .txt p {
text-align: left;
}
.certifi_wrap .date {
text-align: center;
font-size: 26px;
margin: 30px 0 70px;
}
.certifi_wrap .bottom {
text-align: center;
font-size: 28px;
line-height: 1.6;
}
.certifi_wrap .bottom > div {
position: relative;
display: inline-block;
margin: 0 auto;
}
.certifi_wrap .bottom .sin {
position: absolute;
top: 50%;
right: -90px;
margin-top: -46px;
z-index: 1;
}
.certifi_wrap .bottom .sin img {
vertical-align: middle;
}

.scrollContB {
border: 1px solid #E6E6E6;
padding: 15px;
position: relative;
}

#content {
margin-top: 0;
}

#wrap {
padding-top: 0;
}

#header {
position: fixed;
background-color: rgba(0, 14, 51, 0.7);
-webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
border-bottom: none !important;
}
@media (min-width: 1200px) {
#header .globalHeader .container {
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#header .globalHeader .container ul li + li::before {
background-color: rgba(255, 255, 255, 0.3);
}
#header .globalHeader .container ul a {
color: #fff;
font-weight: 400;
}
}
@media (min-width: 1200px) {
#header .toggle-set > .search {
background-color: #3B63C4;
}
}
#header .toggle-set .all-nav-toggle::before {
color: #fff;
}
#header .logo a {
background: url(/static/eng/img/main/logo.png) 50% no-repeat;
}
#header.over {
background-color: #fff;
}
@media (min-width: 1200px) {
#header.over .logo a {
background: url(/static/eng/img/common/logo.png) 50% no-repeat;
}
#header.over .gnb > ul > li > a {
color: #000E33;
}
#header.over .gnb > ul > li:hover > a,
#header.over .gnb > ul > li.on > a,
#header.over .gnb > ul > li.active > a {
color: #005596;
}
#header.over .globalHeader .container {
border-bottom: 1px solid #E6E6E6;
}
#header.over .globalHeader .container ul li + li::before {
background-color: rgba(0, 85, 150, 0.3);
}
#header.over .globalHeader .container ul a {
color: #005596;
font-weight: 500;
}
}
@media (min-width: 1200px) and (min-width: 1200px) {
#header.over .toggle-set > .search {
background-color: #005596;
}
#header.over .toggle-set > .search::before {
color: #fff;
}
#header.over .toggle-set .all-nav-toggle::before {
color: #005596;
}
}
@media (min-width: 1200px) {
#header .g-info .global ul li a {
color: #fff;
}
}
@media (min-width: 1200px) {
.gnb-stiky #header {
background-color: #fff;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}
}
@media (min-width: 1200px) and (min-width: 1200px) {
.gnb-stiky #header .globalHeader {
display: none;
}
.gnb-stiky #header .logo a {
background: url(/static/eng/img/common/logo.png) 50% no-repeat;
}
.gnb-stiky #header .g-info > .search {
width: 75px;
height: 72px;
top: 0;
}
.gnb-stiky #header .gnb > ul > li > a:hover {
color: #005596;
}
.gnb-stiky #header .gnb > ul > li > a,
.gnb-stiky #header .gnb .all-nav-toggle::before {
color: #000E33;
}
.gnb-stiky #header .toggle-set > .search {
background-color: #005596;
}
.gnb-stiky #header .toggle-set > .search::before {
color: #fff;
}
.gnb-stiky #header .toggle-set .all-nav-toggle::before {
color: #005596;
}
}

@media (min-width: 1200px) {
.gnb > ul > li > a {
color: #fff;
}
}

.section-nav {
position: fixed;
left: 32px;
bottom: 50%;
z-index: 200;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
gap: 16px;
transition: all 0.3s;
}
@media (max-width: 1199px) {
.section-nav {
display: none;
}
}
.section-nav a {
display: flex;
padding: 7px;
color: rgba(255, 255, 255, 0.8);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
transition: all 0.5s;
}
.section-nav a * {
transition: all 0.5s;
}
.section-nav a i {
position: relative;
width: 6px;
height: 6px;
border-radius: 6px;
background-color: rgba(255, 255, 255, 0.6);
}
.section-nav a.active i {
width: 10px;
height: 10px;
border-radius: 10px;
background-color: #fff;
}
.section-nav a.active i::before {
content: "";
position: absolute;
inset: 0;
outline: 8px solid rgba(255, 255, 255, 0.2);
border-radius: 20px;
}
.section-nav--color a i {
background-color: rgba(59, 99, 196, 0.6);
}
.section-nav--color a.active i {
background-color: rgb(59, 99, 196);
}
.section-nav--color a.active i::before {
outline: 8px solid rgba(59, 99, 196, 0.2);
background-color: rgb(59, 99, 196);
}

@media (min-width: 1200px) {
.section {
height: 100vh;
}
}
.section h2 {
color: #131547;
font-size: 3rem !important;
font-weight: 600 !important;
margin-bottom: 100px !important;
}
@media (min-width: 750px) and (max-width: 1199px) {
.section h2 {
font-size: 2.5rem !important;
margin-bottom: 40px !important;
padding-top: 30px;
}
}
@media (max-width: 749px) {
.section h2 {
font-size: 2.125rem !important;
margin-bottom: 20px !important;
padding-top: 30px;
}
}
.section section {
width: 1680px;
max-width: 100%;
margin: 0 auto;
padding: 0 120px;
}
@media (max-width: 1199px) {
.section section {
padding: 0 40px;
}
}

.section1-visual {
height: 100%;
}
.section1-visual .swiper-slide {
position: relative;
background-size: cover;
}
@media (min-width: 750px) and (max-width: 1199px) {
.section1-visual .swiper-slide {
height: 600px;
}
}
@media (max-width: 749px) {
.section1-visual .swiper-slide {
height: 550px;
}
}
.section1-visual .swiper-slide.swiper-slide-active {
animation: visual-bg 3s ease-out 1;
animation-iteration-count: 10;
animation: visual-bg 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) 1;
}
.section1-visual .swiper-slide.swiper-slide-active .s1-t1 {
animation: visual-txt1 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) 1;
animation-delay: 1s;
opacity: 0;
animation-fill-mode: forwards;
}
.section1-visual .swiper-slide.swiper-slide-active .s1-t2 {
animation: visual-txt2 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) 1;
animation-delay: 2s;
animation-fill-mode: forwards;
opacity: 0;
}
.section1-visual .swiper-slide .s1-txt-set {
position: absolute;
bottom: 129px;
left: 121px;
text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-txt-set {
left: 10px;
width: calc(100% - 20px);
}
}
.section1-visual .swiper-slide .s1-t1 {
color: #fff;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-t1 {
font-size: 2.375rem;
}
}
.section1-visual .swiper-slide .s1-t2 {
margin-top: 30px;
color: #fff;
font-size: 1.75rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
@media (max-width: 749px) {
.section1-visual .swiper-slide .s1-t2 {
font-size: 1.25rem;
margin-top: 15px;
}
}
.section1-visual .swiper-slide::before {
content: "";
position: absolute;
inset: 0;
transition: all 0.5s;
z-index: 1;
}
.section1-visual .swiper-slide-fully-visible::before {
-webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
}
.section1-visual__ctrl {
position: absolute;
left: 112px;
bottom: 350px;
z-index: 100;
display: flex;
flex-direction: row;
align-items: center;
}
@media (max-width: 749px) {
.section1-visual__ctrl {
display: none;
}
}
.section1-visual__ctrl .swiper-pagination-bullet {
width: 20px;
height: 20px;
background-color: #fff;
opacity: 1;
transform: translateY(3px);
}
.section1-visual__ctrl .swiper-pagination-bullet-active {
width: 48px;
border-radius: 100px;
background: var(--CI_blue, #15b4df);
}
.section1-visual__ctrl button {
width: 36px;
height: 36px;
line-height: 36px;
background-color: transparent;
}
.section1-visual__ctrl .section1-visual__swiper-button-stop::before {
content: "\e034";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 32px;
color: #fff;
margin-top: 1px;
}
.section1-visual__ctrl .section1-visual__swiper-button-play::before {
content: "\e037";
font-family: "Material Icons";
font-size: 32px;
color: #fff;
margin-top: 1px;
}
.section1-visual__ctrl .section1-visual__swiper-button-prev::before {
content: "\e314";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 35px;
color: #fff;
}
.section1-visual__ctrl .section1-visual__swiper-button-next::before {
content: "\e315";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 35px;
color: #fff;
}
.section1-visual .swiper-pagination {
position: static;
color: #fff;
text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
font-size: 1.6875rem;
font-weight: 300;
}
.section1-visual .swiper-pagination-current {
color: #39A0FF;
font-weight: 700;
font-size: 2.25rem;
}
.section1-visual .swiper-pagination span {
display: inline-block;
padding: 0 10px;
}

.s1-right-set {
position: absolute;
right: 0;
bottom: 0;
width: 600px;
max-width: 100%;
height: 113px;
background: rgba(0, 0, 0, 0.7);
-webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
z-index: 30;
display: flex;
align-items: center;
justify-content: space-between;
}
.s1-right-set a {
width: 33.3333333333%;
position: relative;
padding: 20px 24px;
color: #fff;
display: block;
}
@media (max-width: 749px) {
.s1-right-set a {
padding: 0 10px;
text-align: center;
}
}
.s1-right-set a:nth-child(2) {
border: 1px solid rgba(255, 255, 255, 0.2);
border-width: 1px 0;
}
@media (max-width: 749px) {
.s1-right-set a:nth-child(2) {
border: none;
}
}
.s1-right-set a + a::before {
content: "";
display: inline-block;
position: absolute;
top: 50%;
left: 0;
background: rgba(255, 247, 247, 0.2);
width: 1px;
height: 65px;
margin-top: -32px;
}
.s1-right-set strong {
display: block;
font-weight: 500;
}
.s1-right-set strong::after {
content: "\e315";
font-family: "Material Icons";
font-size: 18px;
color: #fff;
float: right;
}
@media (max-width: 749px) {
.s1-right-set strong::after {
display: none;
}
}
.s1-right-set .t {
display: block;
font-size: 1.5rem;
font-weight: 300;
text-align: right;
height: 49px;
}
@media (max-width: 749px) {
.s1-right-set .t {
font-size: 1.25rem;
}
}
.s1-right-set .t em {
font-size: 2.75rem;
font-weight: 600;
line-height: 1.4;
margin-right: 8px;
}
@media (max-width: 749px) {
.s1-right-set .t em {
font-size: 1.875rem;
}
}
.s1-right-set .t .ctype1 {
color: #FF327C;
}
.s1-right-set .t .ctype2 {
color: #39A0FF;
}

.tab-list {
display: flex;
align-items: center;
margin-bottom: 20px;
}
.tab-list button {
font-size: 1.25rem;
color: #808080;
}
.tab-list button[aria-selected=true] {
font-size: 1.5rem;
font-weight: 500;
color: #000E33;
}
.tab-list button + button {
margin-left: 18px;
}
.tab-list button + button::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 1px;
height: 20px;
background-color: #BFBFBF;
margin-right: 18px;
margin-top: -4px;
}

.tab-content {
border-top: 2px solid #000E33;
}
.tab-content .con {
display: none;
width: 100%;
}
.tab-content .con.active {
display: block;
}
.tab-content .con .new {
font-size: 12px;
color: #E52106;
display: inline-block;
vertical-align: top;
margin-left: 6px;
margin-top: 5px;
}
.tab-content .con .more {
position: absolute;
top: 0;
right: 0;
z-index: 1;
}
.tab-content .con .more a {
display: block;
width: 36px;
height: 36px;
background: url(/static/eng/img/main/more.png);
}

.img {
display: block;
padding: 1px;
padding-top: 30%;
background-repeat: no-repeat;
background-position: center top;
background-size: cover;
}

#section2 {
position: relative;
background: #F2F6FA;
background-size: auto;
overflow: hidden;
}
#section2::before {
content: "";
display: inline-block;
background-color: #DEE7F7;
width: 800px;
height: 300%;
position: absolute;
top: 0;
right: 50%;
margin-right: 57px;
background-image: url(/static/eng/img/main/bg_section2.png);
background-repeat: no-repeat;
background-position: 0 0;
}
#section2 .set {
padding: 100px 0;
}
@media (max-width: 749px) {
#section2 .set {
padding: 50px 0;
}
}
#section2 h2 {
position: relative;
z-index: 9;
margin-bottom: 30px !important;
}
#section2 .swiper {
overflow: visible;
margin-left: -8%;
}
#section2 .swiper .ctrl-set .swiper-pagination {
display: inline-block;
width: auto;
height: 50px;
position: absolute;
top: -148px;
left: 38.8%;
z-index: 9;
font-size: 1.5rem;
color: #6282D0;
font-weight: 300;
}
#section2 .swiper .ctrl-set .swiper-pagination-current {
color: #233B76;
font-size: 2.25rem;
font-weight: 700;
}
#section2 .swiper .ctrl-set .swiper-pagination-total {
font-size: 1.5rem;
}
@media (max-width: 749px) {
#section2 .swiper .ctrl-set .swiper-pagination {
display: none;
}
}
#section2 .swiper .ctrl-set .ctrl {
position: absolute;
top: -100px;
right: 0;
}
#section2 .swiper .ctrl-set .ctrl button {
width: 48px;
height: 48px;
line-height: 48px;
vertical-align: middle;
}
#section2 .swiper .ctrl-set .ctrl button::before {
content: "";
display: inline-block;
width: 48px;
height: 48px;
}
#section2 .swiper .ctrl-set .ctrl button.prev, #section2 .swiper .ctrl-set .ctrl button.next {
border: 1px solid #131547;
border-radius: 50%;
}
#section2 .swiper .ctrl-set .ctrl button.prev::before, #section2 .swiper .ctrl-set .ctrl button.next::before {
background: url(/static/eng/img/main/ctrl-off2.png) 50% no-repeat;
}
#section2 .swiper .ctrl-set .ctrl button.prev:hover, #section2 .swiper .ctrl-set .ctrl button.next:hover {
background-color: #131547;
}
#section2 .swiper .ctrl-set .ctrl button.prev:hover::before, #section2 .swiper .ctrl-set .ctrl button.next:hover::before {
background: url(/static/eng/img/main/ctrl-on2.png) 50% no-repeat;
}
#section2 .swiper .ctrl-set .ctrl button.prev:hover::before {
transform: rotate(180deg);
}
#section2 .swiper .ctrl-set .ctrl button.next {
margin-left: 20px;
}
#section2 .swiper .ctrl-set .ctrl button.next::before {
transform: rotate(180deg);
}
#section2 .swiper .ctrl-set .ctrl button.next:hover::before {
transform: rotate(0);
}
#section2 .swiper .ctrl-set .ctrl button.stop, #section2 .swiper .ctrl-set .ctrl button.play {
color: #1C1B1F;
}
#section2 .swiper .ctrl-set .ctrl button.stop::before, #section2 .swiper .ctrl-set .ctrl button.play::before {
font-size: 22px;
margin-bottom: -14px;
}
#section2 .swiper .ctrl-set .ctrl button.stop::before {
vertical-align: bottom !important;
content: "\e034";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
#section2 .swiper .ctrl-set .ctrl button.play::before {
content: "\e037";
font-family: "Material Icons";
}
#section2 .swiper .swiper-wrapper a {
width: 25% !important;
padding: 16px;
background-color: #fff;
border-radius: 16px;
box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 749px) {
#section2 .swiper .swiper-wrapper a {
width: 100% !important;
}
}
#section2 .swiper .swiper-wrapper a span.img {
padding-top: 60%;
border-radius: 8px;
}
#section2 .swiper .swiper-wrapper a span.t {
position: relative;
display: block;
color: #1F4EC7;
font-weight: 500;
text-align: center;
margin: 20px 0;
}
#section2 .swiper .swiper-wrapper a span.t::before {
content: "";
display: inline-block;
width: 16px;
height: 2px;
background-color: #6C97FF;
border-radius: 5px;
position: absolute;
bottom: -4px;
left: 50%;
margin-left: -8px;
}
#section2 .swiper .swiper-wrapper a span.title {
line-height: 1.3;
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
height: 48px;
color: #000E33;
font-size: 1.125rem;
font-weight: 500;
margin-bottom: 12px;
}
.ie #section2 .swiper .swiper-wrapper a span.title {
display: block;
height: 32px;
overflow: hidden;
}
@media (max-width: 749px) {
#section2 .swiper .swiper-wrapper a span.title {
height: 40px;
}
}
#section2 .swiper .swiper-wrapper a span.txt {
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
height: 66px;
color: #666;
font-size: 0.875rem;
}
.ie #section2 .swiper .swiper-wrapper a span.txt {
display: block;
height: 48px;
overflow: hidden;
}
#section2 .swiper .swiper-wrapper a span.date {
display: block;
color: #666;
font-size: 0.75rem;
margin-top: 22px;
}
#section2 .swiper .swiper-wrapper a.swiper-slide-prev {
margin-right: 0 !important;
}
#section2 .swiper .swiper-wrapper a.swiper-slide-active {
width: 720px !important;
max-width: 100% !important;
box-shadow: none;
padding: 0 80px;
margin-top: -80px;
margin-right: 0 !important;
background-color: transparent;
}
@media (max-width: 749px) {
#section2 .swiper .swiper-wrapper a.swiper-slide-active {
background-color: #fff;
margin-top: 0;
padding: 16px;
margin: 0 10px !important;
}
}
#section2 .swiper .swiper-wrapper a.swiper-slide-active .img {
width: 560px;
padding-top: 57%;
border-radius: 16px;
}
@media (max-width: 749px) {
#section2 .swiper .swiper-wrapper a.swiper-slide-active .img {
width: 100%;
}
}
#section2 .swiper .swiper-wrapper a.swiper-slide-active span.t {
font-size: 1.375rem;
margin: 28px 0 34px;
}
#section2 .swiper .swiper-wrapper a.swiper-slide-active span.t::before {
width: 24px;
height: 4px;
margin-left: -12px;
bottom: -10px;
background-color: #39A0FF;
}
#section2 .swiper .swiper-wrapper a.swiper-slide-active span.title {
height: 69px;
color: #131547;
font-size: 1.5rem;
text-align: center;
margin-bottom: 22px;
}
@media (max-width: 749px) {
#section2 .swiper .swiper-wrapper a.swiper-slide-active span.title {
height: 52px;
}
}
#section2 .swiper .swiper-wrapper a.swiper-slide-active span.txt {
height: 92px;
color: #4D4D4D;
font-size: 1.125rem;
}
@media (max-width: 749px) {
#section2 .swiper .swiper-wrapper a.swiper-slide-active span.txt {
height: 68px;
}
}
#section2 .swiper .swiper-wrapper a.swiper-slide-active span.date {
color: #4D4D4D;
text-align: center;
font-size: 0.875rem;
}

.ctrl2 button {
width: 64px;
height: 64px;
position: absolute;
top: 50%;
margin-top: -32px;
z-index: 9;
}
.ctrl2 button::before {
content: "";
display: inline-block;
width: 64px;
height: 64px;
border: 1px solid #666;
border-radius: 50%;
background: url(/static/eng/img/main/ctrl-off.png) 50% no-repeat;
}
.ctrl2 button:hover::before {
background: #131547 url(/static/eng/img/main/ctrl-on.png) 50% no-repeat;
border-color: #131547;
}
.ctrl2 button.prev {
left: -100px;
}
@media (max-width: 1199px) {
.ctrl2 button.prev {
left: -35px;
z-index: 9;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 50%;
}
}
.ctrl2 button.prev:hover::before {
transform: rotate(180deg);
}
.ctrl2 button.next {
right: -100px;
}
@media (max-width: 1199px) {
.ctrl2 button.next {
right: -35px;
z-index: 9;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 50%;
}
}
.ctrl2 button.next::before {
transform: rotate(180deg);
}
.ctrl2 button.next:hover::before {
transform: rotate(0);
}

#section3 h2,
#section4 h2 {
margin-bottom: 60px !important;
}
@media (max-width: 749px) {
#section3 h2,
#section4 h2 {
margin-bottom: 0px !important;
}
}
#section3 .set,
#section4 .set {
position: relative;
}
@media (min-width: 1200px) {
#section3 .set,
#section4 .set {
height: 661px;
}
}

#section3 {
background: url(/static/eng/img/main/bg_section4.png) 50% 0 no-repeat;
background-size: cover;
}
#section3 .board-list1 {
padding: 50px 0;
}
#section3 .board-list1 .more {
position: absolute;
top: 0;
right: 0;
z-index: 99;
}
#section3 .board-list1 .more a {
display: block;
}
#section3 .board-list1 .more a::before {
content: "";
display: inline-block;
width: 36px;
height: 36px;
background: url(/static/eng/img/main/more2.png);
}
#section3 .board-list1 .swiper-wrapper .swiper-slide {
border-radius: 16px;
padding: 16px;
background-color: #fff;
box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .img-set {
position: relative;
display: block;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .img-set .img {
display: block;
background-size: cover;
padding-top: 100%;
border-radius: 16px 16px 0 16px;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .img-set .p {
color: #3B63C4;
border-radius: 0 8px 0 0;
padding: 5px 16px;
background-color: #fff;
position: absolute;
bottom: 0;
left: -1px;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide span {
display: inline-block;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide span.title {
margin: 20px 0 10px;
padding: 0 16px;
width: 100%;
color: #000E33;
font-size: 1.125rem;
font-weight: 500;
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide span.txt {
padding: 0 16px;
display: block;
color: #4D4D4D;
font-size: 16px;
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
height: 120px;
}
.ie #section3 .board-list1 .swiper-wrapper .swiper-slide span.txt {
display: block;
height: 80px;
overflow: hidden;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide {
position: relative;
padding: 16px 16px 48px;
height: 561px;
overflow: hidden;
/* 기능 삭제 */
}
@media (max-width: 1199px) {
#section3 .board-list1 .swiper-wrapper .swiper-slide {
padding: 16px 16px 70px;
}
}
@media (max-width: 749px) {
#section3 .board-list1 .swiper-wrapper .swiper-slide {
padding: 16px;
}
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .bottom {
opacity: 1;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 0 96px;
display: block;
z-index: 9;
background-color: #3B63C4;
border-radius: 0 0 16px 16px;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .bottom a {
position: relative;
width: 100%;
display: inline-block;
vertical-align: middle;
height: 60px;
line-height: 60px;
text-align: center;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .bottom a.i-view::after {
content: "\e8ff";
font-family: "Material Icons";
font-size: 25px;
color: #fff;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .bottom a.i-download::after {
content: "";
display: inline-block;
vertical-align: middle;
width: 24px;
height: 24px;
background-image: url(/static/eng/img/main/file_save.png);
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .bottom a.i-download::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 1px;
height: 23px;
background-color: rgba(255, 255, 255, 0.2);
position: absolute;
top: 50%;
left: -1px;
margin-top: -11px;
}
@media (min-width: 1200px) {
#section3 .board-list1 .swiper-wrapper .swiper-slide:hover .img-set .img, #section3 .board-list1 .swiper-wrapper .swiper-slide.hover .img-set .img {
padding-top: 63.8%;
background-position: 50%;
transition: all 0.5s;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide:hover span.txt, #section3 .board-list1 .swiper-wrapper .swiper-slide.hover span.txt {
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 8;
-webkit-box-orient: vertical;
height: 194px;
}
.ie #section3 .board-list1 .swiper-wrapper .swiper-slide:hover span.txt, .ie #section3 .board-list1 .swiper-wrapper .swiper-slide.hover span.txt {
display: block;
height: 128px;
overflow: hidden;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide span.txt {
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
height: 120px;
transition: all 0.5s;
}
.ie #section3 .board-list1 .swiper-wrapper .swiper-slide span.txt {
display: block;
height: 80px;
overflow: hidden;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .bottom {
opacity: 0;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide:hover, #section3 .board-list1 .swiper-wrapper .swiper-slide.hover {
padding: 16px 16px 90px;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide:hover .bottom, #section3 .board-list1 .swiper-wrapper .swiper-slide.hover .bottom {
opacity: 1;
}
}
@media (max-width: 1199px) {
#section3 .board-list1 .swiper-wrapper .swiper-slide .img-set .img {
padding-top: 63.8%;
padding-top: 100%;
background-position: 50%;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide span.txt {
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
height: 100px;
}
.ie #section3 .board-list1 .swiper-wrapper .swiper-slide span.txt {
display: block;
height: 64px;
overflow: hidden;
}
#section3 .board-list1 .swiper-wrapper .swiper-slide .bottom {
opacity: 1;
}
}
@media (max-width: 749px) {
#section3 .board-list1 .swiper-wrapper .swiper-slide span.txt {
height: 84px;
}
}

#section4 {
background: url(/static/eng/img/main/bg_section5.png) 50% 0 no-repeat;
background-size: cover;
}
#section4 .board-list2 {
padding: 50px 0;
}
#section4 .board-list2 .more {
position: absolute;
top: 0;
right: 0;
z-index: 99;
}
#section4 .board-list2 .more a {
display: block;
}
#section4 .board-list2 .more a::before {
content: "";
display: inline-block;
width: 36px;
height: 36px;
background: url(/static/eng/img/main/more2.png);
}
#section4 .board-list2 .swiper-wrapper .swiper-slide {
border-radius: 16px;
padding: 16px;
background-color: #fff;
box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}
#section4 .board-list2 .swiper-wrapper .swiper-slide .img-set {
position: relative;
display: block;
}
#section4 .board-list2 .swiper-wrapper .swiper-slide .img-set .img {
display: block;
background-size: cover;
padding-top: 100%;
border-radius: 16px 16px 0 16px;
}
#section4 .board-list2 .swiper-wrapper .swiper-slide .img-set .p {
color: #3B63C4;
border-radius: 0 8px 0 0;
padding: 5px 16px;
background-color: #fff;
position: absolute;
bottom: 0;
left: -1px;
}
#section4 .board-list2 .swiper-wrapper .swiper-slide span {
display: inline-block;
}
#section4 .board-list2 .swiper-wrapper .swiper-slide span.title {
margin: 20px 0 10px;
padding: 0 16px;
width: 100%;
color: #000E33;
font-size: 1.125rem;
font-weight: 500;
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
}
#section4 .board-list2 .swiper-wrapper .swiper-slide span.txt {
padding: 0 16px;
display: block;
color: #4D4D4D;
font-size: 16px;
overflow: hidden;
text-overflow: ellipsis;
display: block;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
height: 120px;
}
.ie #section4 .board-list2 .swiper-wrapper .swiper-slide span.txt {
display: block;
height: 80px;
overflow: hidden;
}
#section4 .board-list2 .swiper-wrapper .swiper-slide span.date {
margin-top: 35px;
color: #666;
font-size: 0.875rem;
}
#section4 .board-list2 .swiper-wrapper .swiper-slide span.date::before {
content: "\e8b5";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
font-size: 20px;
color: #666;
margin-right: 5px;
}

#section5 {
background: url(/static/eng/img/main/bg_section6.png) 50% 0 no-repeat;
background-size: cover;
}
#section5 .set {
display: flex;
justify-content: space-between;
}
@media (max-width: 749px) {
#section5 .set {
display: block;
}
}
#section5 .set > div {
width: calc(50% - 64px);
}
@media (min-width: 750px) and (max-width: 1199px) {
#section5 .set > div {
width: calc(50% - 24px);
}
}
@media (max-width: 749px) {
#section5 .set > div {
width: 100%;
}
}
#section5 .set h3 {
color: #000E33;
font-size: 1.75rem;
margin-bottom: 30px;
}
#section5 .notice {
position: relative;
border-top: 2px solid #000E33;
}
#section5 .notice ul li {
padding: 10px 0;
border-bottom: 1px solid #B1C1E7;
}
@media (max-width: 749px) {
#section5 .notice ul li {
padding: 5px 0;
}
}
#section5 .notice ul li a {
display: flex;
justify-content: space-between;
align-items: center;
padding: 19px 0;
}
#section5 .notice ul li a .t {
width: 120px;
color: #3B63C4;
font-size: 1rem;
}
#section5 .notice ul li a .title {
width: calc(100% - 120px - 100px);
font-size: 1.125rem;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
}
#section5 .notice ul li a .date {
width: 100px;
color: #666;
font-size: 0.875rem;
text-align: right;
}
#section5 .notice .more {
position: absolute;
top: -71px;
right: 0;
z-index: 99;
}
#section5 .notice .more a {
display: block;
}
#section5 .notice .more a::before {
content: "";
display: inline-block;
width: 36px;
height: 36px;
background: url(/static/eng/img/main/more.png);
}
#section5 .popup-set {
position: relative;
}
@media (max-width: 749px) {
#section5 .popup-set {
margin-top: 50px;
}
}
#section5 .popup-set .ctrl {
display: flex;
position: absolute;
top: 5px;
right: 0;
}
#section5 .popup-set .ctrl button {
width: 20px;
height: 30px;
}
#section5 .popup-set .ctrl button i::before {
color: #1A1A1A;
font-size: 22px;
vertical-align: middle;
}
#section5 .popup-set .ctrl-prev::before {
content: "\e314";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
#section5 .popup-set .ctrl-stop::before {
content: "\e034";
font-family: "Material Icons";
}
#section5 .popup-set .ctrl-play::before {
content: "\e037";
font-family: "Material Icons";
}
#section5 .popup-set .ctrl-next::before {
content: "\e315";
font-family: "Material Icons Outlined";
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 1;
vertical-align: text-bottom;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: "liga";
}
#section5 .popup-set .ctrl .swiper-pagination {
position: static;
display: inline-block;
vertical-align: middle;
color: #4D4D4D;
font-size: 1.125rem;
font-weight: 300;
padding: 0 5px;
}
#section5 .popup-set .ctrl .swiper-pagination-current {
color: #2F4F9D;
font-size: 1.25rem;
font-weight: 700;
}
#section5 .popup-set .ctrl .swiper-pagination-total {
font-size: 1rem;
}
#section5 .popup-set .ctrl .swiper-pagination > span {
display: inline-block;
margin: 0 5px;
}
#section5 .popup-set .popup {
border-radius: 16px;
}
#section5 .popup-set .swiper-wrapper a .img {
display: block;
height: 1px;
padding-top: 61.4%;
background-size: cover;
background-position: 50%;
background-repeat: no-repeat;
}
#section5 .popup-set .swiper-wrapper a:focus {
outline-width: 2px;
outline-color: #fff;
}

@media (min-width: 1200px) {
#section2 section,
#section3 section,
#section4 section,
#section5 section {
padding-top: calc((100vh - 1274px) / 2 + 194px);
}
.gnb-stiky #section2,
.gnb-stiky #section3,
.gnb-stiky #section4,
.gnb-stiky #section5 {
height: 100vh;
padding: 74px 0 0px;
}
}
#footer {
margin-top: 0;
}
@keyframes visual-bg {
0% {
background-size: auto 120%;
}
100% {
background-size: auto 100%;
}
}
@keyframes visual-txt1 {
0% {
opacity: 0;
transform: translateY(-15px);
}
100% {
opacity: 1;
transform: translateY(0);
}
}
@keyframes visual-txt2 {
0% {
opacity: 0;
transform: translateY(-10px);
}
100% {
opacity: 1;
transform: translateY(0);
}
}
/*# sourceMappingURL=../maps/main.css.map */
