#footer {
	clear: both;
	margin: 50px 0 0 0;
	color: #4D4D4D;
	background-color: #FAFAFA;
	border-top: 1px solid #E5E5E5;	
	padding: 30px 0;
	@include breakpoint($smd) {
		padding: 24px 0;
	}
	@include breakpoint($sm){
		padding: 24px 0;
		font-size: rem(13);
	}
	.container {
		position: relative;
		max-width: $pc-wide;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include breakpoint(min-width 1720px) {
			margin-left: auto;
			margin-right: auto;
		}
		@include breakpoint($sm){
			display: block;
			padding: 50px 10px 0 10px;
		}		
	}	
	.footer-nav {		
		ul {
			display: flex;
			@include breakpoint($smd){
				flex-wrap: wrap;
				//max-width: 410px;
				//margin: 0 auto;
			}
			@include breakpoint($sm){
				// max-width: 315px;
				// justify-content: left;
				margin: 0 auto;
			}
			li {
				position: relative;
				padding-left: 15px;
				margin-right: 15px;
				@include breakpoint($smd){
					margin-top: 2px;
					margin-bottom: 2px;
				}
				&:last-child {
					margin-right: 0;
				}
				@include breakpoint($lg){
					
					&:first-child {
						padding-left: 0;
					}
				}				
				a {
					position: relative;
					color: #4D4D4D;
					//padding-left: 15px;
					display: block;
					white-space:nowrap;
					&::before {
						@include breakpoint($lg){
							display: none;
						}
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 4px;
						height: 4px;
						background-color: #4D4D4D;
						border-radius: 50%;
						position: absolute;
						top: 50%;
						margin-top: -2px;
						left: -10px;
					}
				}
				& + li {
					&::before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 1px;
						height: 14px;
						background-color: #BFBFBF;
						position: absolute;
						top: 5px;
						left: 0;
						@include breakpoint($smd){
							display: none;
						}
					}
				}
				&.point {
					a {
						color: #3B63C4;
						font-weight: 500;
						&::before {
							background-color: #6db5f9;
						}
					}
				}
			}
		}
	}
	.footer-bottom {
		@include breakpoint($sm){
			text-align: center;
		}
		address {
			margin-top: 16px;
			font-style: normal;
		}
		.copyright {
			font-size: rem(14);
			@include breakpoint($sm){
				margin-top: 5px;
			}
		}
	}	
	.f_r {
		display: flex;
		align-items: center;
		@include breakpoint($mdw){
			//margin-top: 20px;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: right;
			
		}
		@include breakpoint($sm){
			text-align: center;
			display: block;
		}
		.site_go {
			position: relative;
			@include breakpoint($sm){
				position: absolute;
				top: 0;
				left: 10px;
				width: calc(100% - 20px);
			}
			button {
				text-align: left;
				color: #1A1A1A;
				width: 192px;
				height: 36px;
				padding: 0 10px;
				line-height: 1.4;
				border: 1px solid #E5E5E5;
				border-radius: 4px;
				background-color: #fff;
				@include breakpoint($sm){
					width: 100%;
					font-size: rem(14);
				}
				&::after {
					@include font-ico-outline('\e5c7');
					font-size: 22px;
					float: right;
				}
			}
			ul {
				display: none;
				position: absolute;
				// top: -203px;
				bottom: 35px;
				left: 0;
				z-index: 9;
				width: 100%;
				padding: 10px;
				border-radius: 8px;
				border: 1px solid #E5E5E5;
				background-color: #fff;
				// @include breakpoint($sm){
				// 	left: 0;
				// 	// width: calc(100% - 32px);
				// 	top: 35px;
				// }
				a {
					display: block;
					padding: 1px 0;
					color: #666;
					@include breakpoint($sm){
						font-size: rem(14);
						text-align: left;
					}
					&:hover {
						color: #1A1A1A;
						font-weight: 500;
						text-decoration: underline;
					}
				}
				&.active {
					display: block;
				}
			}
		}
		.f_sns {
			display: flex;
			justify-content: space-between;
			margin: 0 35px;
			gap: 0 8px;
			@include breakpoint($mdw){
				padding-top: 15px;
				width: 192px;
				margin: 0;
			}
			@include breakpoint($sm){
				justify-content: center;
				margin-top: 24px;
			}
			a {
				display: block;
				padding: 1px 0;
				width: 36px;
				height: 36px;
				//background-color: rgba(255, 255, 255, 0.6);
				border-radius: 50%;
				margin: 0 2px;
				&:focus {
					outline-offset: 4px;
				}
			}
		}
		.f_banner {
			display: none;
			@include breakpoint($lg){
				display: block;
			}
		}
	}
}