.gnb_bg {
	display: none;
}
.gnb {
	position: relative;
	display: flex;
    width: calc(100% - 243px);
	> ul {
		margin-left: -60px;
		display: none;
		@include breakpoint($lg){
			display: flex;
			max-width: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 0 40px;
			> li {
				position: relative;
				> a {
					display: block;
					width: 100%;
					white-space:nowrap;
					// color: #fff;
					color: #1a1a1a;
					text-align: center;
					height: 72px;
					line-height: 72px;
					font-size: rem( 24);
					font-weight: 500;
					&.on {
						& + .depth2 {
							display: flex;
							justify-content: space-between;
							background-color: rgba(255, 255, 255, 0.1);
						}
					}
				}
				&:hover,
				&.on,
				&.active {
					> a {
						// color: #39A0FF;
						color: #005596;
						span {
							display: inline-block;
							position: relative;
							height: 60px;
							&::before {
								content: "";
								display: block;
								position: absolute;
								bottom: 0;
								left: 0;
								background-color: #005596;
								width: 100%;
								height: 3px;
							}
						}
					}
				}
			}
			.depth2 {
				display: none;
				position: absolute;
				top: 57px;
				left: 50%;
				min-width: 164px;
				transform: translateX(-50%);
				// margin-left: -160px;
				z-index: 999;			
				> ul {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					padding: 8px 0;
					background: #fff;
					border-radius: 0 0 8px 8px;
					border: 1px solid #4D4D4D;
					border-top: 4px solid #005596;
					box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
					// margin: 15px 0;
					> li {
						position: relative;
						width: 100%;
						padding: 4px 24px 4px 13px;
						&::before {
							content: "";
							display: block;
							position: absolute;
							left: 13px;
							top: 12px;
							width: 6px;
							height: 6px;
							background: #4d4d4d;
							border-radius: 50%;
						}
						> a {
							position: relative;
							display: inline-block;
							margin-left: 20px;
							font-size: rem(16);
							color: #4D4D4D;
						
							&::after {
								content: "";
								display: none;
								position: absolute;
								left: 0;
								bottom: 2px;
								width: 100%;
								height: 1px;
								background: #005596;
							}
						}
						&:hover,
						&.on,
						&.active {
							&::before {
								background: #005596;
							}
							> a {
								color: #3B63C4;
								&::after {
									display: block;
								}
							}
						}
					}
				}				
			}			
		}
		@include breakpoint($sm) {
			gap: 0 30px;
		}
	}
	.gnb-btn-wrap {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;
		gap: 0 24px;
		margin-top: 12px;
		@include breakpoint($smd) {
			margin-top: -24px;
			gap: 0 16px;
		}
		@include breakpoint($sm) {
			margin-top: -18px;
		}
		> .search {
			width: 48px;
			height: 48px;
			background: #005596;
			border-radius: 50%;
			@include breakpoint($sm) {
				width: 36px;
				height: 36px;
			}
		}
	}
	button.all-nav-toggle {
		width: 48px;
		height: 48px;
		@include breakpoint($smd) {
			width: 36px;
			height: 36px;
		}
	}
	.all-nav-toggle {
		&::before {
			@include font-ico-outline('\e5d2');
			color: #005596;
			font-size: 36px;
		}
		@include breakpoint($smd){
			// display: none;
		}
	}
	
}

@include breakpoint($lg 1500px){
	.gnb > ul {
		//width: 600px;
		> li > a {
			font-size: rem(20);
		}
	}
	#header {
		.g-info {
			.global {
				// margin-left: 30px;
				padding-left: 20px;
			}
		}
	}
}
// .mobileGnb {
// 	@include breakpoint($lg){
// 		display: none;
// 	}
// 	.m-all-nav-toggle {
// 		position: absolute;
// 		top: 0;
// 		right: 60px;
// 		width: $m-header-height;
// 		height: $m-header-height;
// 		&::before {
// 			@include font-ico-outline('\e5d2');
// 			color: #fff;
// 			font-size: 32px;
// 		}
// 	}
// 	&__set {
// 		display: none;
// 		.mobileGnb-close {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			// width: $m-header-height;
// 			width: $m-header-height;
// 			height: $m-header-height;
// 			line-height: $m-header-height;
// 			&::before {
// 				@include font-ico('\e5cd');
// 				font-size: 34px;
// 				color: #fff;
// 				margin-top: 12px;
// 			}
// 		}
// 		&.active {
// 			position: fixed;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 			width: 100%;
// 			height: 100vh;
// 			background-color: $point;
// 			z-index: 99;
// 			.top {
// 				height: $m-header-height;
// 				line-height: $m-header-height;
// 				span {
// 					font-size: 20px;
// 					display: block;
// 					padding-left: 10px;
// 				}
// 			}
// 		}
// 	}	
// 	&__nav {
// 		position: relative;
// 		> ul {
// 			width: 140px;
// 			> li {
// 				> a {
// 					display: block;
// 					color: #fff;
// 					padding: 16px 24px;
// 					font-size: rem(18);
// 					border-bottom: 1px solid #233B76;
// 				}
// 				.depth2 {
// 					display: none;
// 					.e {
// 						display: none;
// 					}
// 				}
// 				&.active {
// 					> a {
// 						color: $point;
// 						background-color: #fff;
// 						border-bottom: none;
// 					}
// 					.depth2 {
// 						display: block;
// 						position: absolute;
// 						top: 0;
// 						right: 0;
// 						width: calc(100% - 140px);
// 						height: calc(100vh - 60px);
// 						overflow-y: auto;
// 						z-index: 9;
// 						padding: 24px;
// 						background-color: #fff;
// 						> ul {
// 							> li {
// 								margin-bottom: 15px;
// 								> a {
// 									display: block;
// 									font-weight: 500;
// 									color: $point;
// 									padding: 2px 0;
// 								}
// 							}
// 						}
// 					}
// 					.depth3 {
// 						> ul {
// 							li {
// 								a {
// 									color: #666;
// 									font-size: rem(14);
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }