
.lnb {
	position: relative;
	z-index: 1;
	height: 48px;
	line-height: 48px;
	background-color: #FCFCFC;
	border-bottom: 1px solid #E5E5E5;
	@include breakpoint($sm){
		height: 36px;
		line-height: 36px;
	}
	nav {
		> ul {
			display: flex;
			border-left: 1px solid #E5E5E5;
			> li {
				position: relative;
				border-right: 1px solid #E5E5E5;				
				color: #666;
				@include breakpoint($sm){
					width: 100%;
					&:last-child {
						border-right: none;
					}
				}
				&.home {
					color: #000;					
					@include breakpoint($lg){
						padding: 0 26px;
					}
					@include breakpoint($smd){
						width: 36px;
						text-align: center;
						span {
							display: none;
						}
					}
					&::before {
						@include font-ico('\e88a');
						vertical-align: bottom;
						font-size: 26px;
						color: $point;
						margin-right: 4px;
						@include breakpoint($smd){
							position: absolute;
							top: 0;
							left: 0;
							z-index: 9;
							text-align: center;
							width: 36px;
							height: 36px;
							margin-right: 0;
						}
					}									
				}
				> a {
					display: block;		
					padding: 0 10px;			
					@include breakpoint($lg){
						padding: 0 26px;
					}
					&::after {
						@include font-ico-outline('\e5c6');
						color: #666;
						font-size: 22px;
						margin-left: 10px;
						@include breakpoint($sm){
							position: absolute;
							top: 50%;
							right: 10px;
							margin-top: -11px;
						}
					}
				}
				.depth2 {
					display: none;
					position: absolute;
					top: 47px;
					left: -1px;
					z-index: 9;
					width: calc(100% + 2px);
					background-color: #fff;
					@include breakpoint($sm){
						top: 36px;
					}
					ul {
						width: 100%;
						padding: 10px 15px;
						line-height: 1.8;
						border: 1px solid #E5E5E5;
						border-radius: 0 0 4px 4px;
						box-shadow: 0 4px 2px rgba(127, 24, 24, 0.15);
						li {
							a {
								color: #666;
								display: block;
								&:hover {
									text-decoration: underline;
								}								
							}
							&.on {
								a {								
									color: #1A1A1A;
									font-weight: 600;
									&::after {
										@include font-ico-outline('\e5cc');
										font-size: 18px;
										margin-bottom: 2px;
									}	
								}
							}
						}
					}
					&.active {
						display: block;
					}
				}
			}
		}
	}
}



.db {
	@include breakpoint($lg){
		position: relative;
		display: block;
		float: left;
		width: per(204px + 35px, $pc-wide);
		padding-right: 36px;
		background-color: #fff;
		height: auto;
		&::after {
			content: "";
			display: inline-block;
			//border-right: 1px solid #d9d9d9;
			background-color: #d9d9d9;
			position: absolute;
			top: 0;
			right: -1px;
			width: 1px;
			height: 100%;
		}
		
	}
	&-search {
		margin-bottom: 30px;
		@include breakpoint($smd){
			margin-bottom: 16px;
		}
		.t {
			margin-left: 2px;
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 5px;
				height: 5px;
				background-color: #222;
				border-radius: 50%;
				margin-right: 8px;
				margin-bottom: 3px;
			}
			strong {
				position: relative;
				font-weight: 600;
				&::before {
					content: "";
					display: inline-block;
					height: 1px;
					width: 100%;
					background-color: #222;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
		.search-box {	
			margin-top: 6px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@include breakpoint($smd){
				flex-direction: row;
				align-items: center;
			}				
			.keyword {
				width: 100%;				
				@include breakpoint($smd){
					flex-basis: calc(100% - 86px);
					flex-grow: 1;
				}
				input {
					width: 100%;
					height: 40px;
					border: 1px solid #d9d9d9;
					border-radius: 3px;
				}
			}
			.btns {	
				margin-top: 8px;
				display: flex;
				justify-content: space-between;
				@include breakpoint($smd){
					margin-top: 0;
				}
				button {
					color: #fff;
					width: calc(50% - 1px);
					height: 32px;
					border: 0;
					border-radius: 4px;
					@include breakpoint($smd){
						width: 40px;
						height: 40px;
					}
					&::before {
						vertical-align: sub;
						font-size: 20px;
						margin-right: 5px;
						@include breakpoint($smd){
							font-size: 25px;
						}
					}
					&.search {
						color: #fff;
						background-color: $point;
						border: 1px solid $point;
						&:focus {
							&:focus {
								@include focus;
							}
						}
						&::before {
							@include font-ico("\e8b6");
						}
						@include breakpoint($smd){
							margin: 0 2px;
						}
					}
					&.reset {
						color: #3B63C4;
						background-color: #fff;
						border: 1px solid #3B63C4;
						@include breakpoint($smd){
							background-color: #3B63C4;
						}
						&::before {
							color: #3B63C4;
							@include font-ico("\f053");
							@include breakpoint($smd){
								color: #fff
							}
						}
					}
					@include breakpoint($smd){
						span {
							@include hide;
						}
					}
				}
			}
		}
	}
	.check-list {
		position: relative;
		.check-box {
			@include breakpoint($lg){
				display: none;
			}
			> span {
				font-size: rem(13);
				display: inline-block;
				padding: 1px 5px;
				color: #fff;
				border-radius: 2px;
				background-color: #3b63c4;
			}
			.ico-del {
				&::before {
					@include font-ico-outline('\e5cd');
					font-size: 15px;
				}				
			}
		}
		.label-list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			label {
				font-size: rem(15);
				margin: 4px 0;
				@include breakpoint($lg){
					font-size: rem(18);
				}
				.num {
					float: right;
					background-color: #DFDFDF;
					border-radius: 40px;
					padding: 0 6px;
					font-size: rem(12);
					margin-top: 3px;
					@include breakpoint($lg){
						display: none;
					}
				}
			}
			input {
				& + i + span {
					max-width: calc(100% - 34px);
				}
				&:checked {
					& + i + span {
						position: relative;
						color: $point;
						font-weight: 500;
						text-decoration: underline;
						// &::before {
						// 	content: "";
						// 	display: inline-block;
						// 	width: 100%;
						// 	height: 1px;
						// 	background-color: #6c6d8c;
						// 	position: absolute;
						// 	bottom: 2px;
						// 	left: 0;
						// }
					}
				}
			}
		}
		.check-ctrl {			
			@include breakpoint($lg){
				display: none;
			}
			position: relative;
			width: 100%;
			display: block;
			text-align: left;
			border: 1px solid #d9d9d9;
			padding: 7px 10px;
			&::before {
				@include font-ico-outline('\e5c5');
				font-size: 24px;
				position: absolute;
				top: 5px;
				right: 10px;
				color: $point;
				transition: all .2s
			}		
			&.active {
				&::before {
					transform: rotate(-180deg);
				}
				& + .check-box + .label-list,
				& + .label-list {
					display: flex;
					position: absolute;
					top: 36px;
					left: 0;
					width: 100%;
					z-index: 9;
					background-color: #fff;
				}
			}
		}
		@include breakpoint($smd){
			.label-list {
				display: none;
				border: 1px solid #d9d9d9;
				padding: 4px;
				flex-direction: row;
				label {
					flex-basis: 50%;
					width: 50%;
					padding: 0 4px;
				}
			}
			&.details {
				.check-ctrl  {
					margin-top: 5px;
				}
			}
		}
	}
	h3 {
		position: relative;
		font-size: 15px;
		margin: 20px 0 12px;
		color: #222;
		font-weight: 500;
		@include breakpoint($smd){
			display: none;
		}
		&::before {
			content: "";
			display: inline-block;
			background-color: #e2e2e2;
			width: calc(100% - 45px);
			height: 1px;
			position: absolute;
			top: 50%;
			right: 0;
		}
	}

	.Keyword {
		h3 {
			&::before {
				width: calc(100% - 75px);
			}
		}
		ul {		
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			li {
				margin: 1px 2px 1px 0;
			}
			a {				
				display: inline-block;
				color: #666;
				font-size: 14px;
				border: 1px solid #C2C2C2;
				border-radius: 30px;
				padding: 2px 7px;
				&:hover {
					color: #fff;
					background-color: #3B63C4;
					order: 1px solid #3B63C4;
				}
				 + span {
					margin-right: 2px;
				 }
			}
		}
	}
}