.datepicker {
	z-index: 10000 !important;
	table {
		table-layout: inherit;
		td {
			&.today {
				&:hover {
					background-color: #eeeeff !important;
				}
			}
		}		
	}
}

.datepicker.dropdown-menu {
	border: 2px solid $point;
}
.datepicker.dropdown-menu th.next,
.datepicker.dropdown-menu th.prev {
	border: 1px solid $point;
	border-radius: 3px;
	font-size: 20px;
}
.datepicker.dropdown-menu .table-condensed {
	border-collapse: separate;
}
.datepicker {
	table tr td.today,
	.month.focused {
		background-color: $point;
		color: #fff;
	}
    table thead tr th {
        font-size: 14px;
    }
    table thead tr:last-child {
        border-bottom: 1px solid $bd-color;
        margin-bottom: 5px;
    }
}
.datepicker-dropdown {
	padding: 6px;
}
.datepicker-prev {
	font-size: 21px;
	&::before {
		@include font-ico-outline('keyboard_arrow_left');
		vertical-align: top;
		margin-top: 5px;
	}
}
.datepicker-next {
	font-size: 21px;
	&::before {
		@include font-ico-outline('keyboard_arrow_right');
		vertical-align: top;
		margin-top: 5px;
	}
}


.sing-date {
	width: 200px;
	position: relative;
	input {
		width: 100%;
	}
}
.sdate, 
.edate { 
	background: url(/static/aieth/img/ico/sh-calendar.png) calc(100% - 10px) 50% no-repeat;
}