//자료 검색형
.sh-db {
	margin-bottom: 40px;
	@include breakpoint($lg){
		position: relative;
		display: block;
		float: left;
		//width: per(204px + 35px, $pc-wide);
		width: calc(204px + 35px);
		padding-right: 35px;
		background-color: #fff;
		height: auto;
		margin-bottom: 0;
		&::after {
			content: "";
			display: inline-block;
			//border-right: 1px solid #d9d9d9;
			background-color: #d9d9d9;
			position: absolute;
			top: 0;
			right: -1px;
			width: 1px;
			height: 100%;
		}
		& + .content {
			border-left: 1px solid #d9d9d9;
			// &::after {
			// 	content: "";
			// 	display: inline-block;
			// 	background-color: #d9d9d9;
			// 	position: absolute;
			// 	top: 0;
			// 	left:per(240px, $pc-wide);
			// 	//right: -1px;
			// 	width: 1px;
			// 	//height: 100%;
			// 	height: calc(100% - 120px);
			// }
		}
	}
	.db-search {
		margin-bottom: 30px;
		@include breakpoint($smd){
			margin-bottom: 16px;
		}
		.t {
			margin-left: 2px;
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 5px;
				height: 5px;
				background-color: #222;
				border-radius: 50%;
				margin-right: 8px;
				margin-bottom: 3px;
			}
			strong {
				position: relative;
				font-weight: 600;
				&::before {
					content: "";
					display: inline-block;
					height: 1px;
					width: 100%;
					background-color: #222;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
		.search-box {	
			margin-top: 6px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@include breakpoint($smd){
				flex-direction: row;
				align-items: center;
			}				
			.keyword {
				width: 100%;				
				@include breakpoint($smd){
					flex-basis: calc(100% - 86px);
					flex-grow: 1;
				}
				input {
					width: 100%;
					height: 40px;
					border: 1px solid #d9d9d9;
					border-radius: 3px;
				}
			}
			.btns {	
				margin-top: 8px;
				display: flex;
				justify-content: space-between;
				@include breakpoint($smd){
					margin-top: 0;
				}
				button {
					color: #fff;
					width: calc(50% - 1px);
					height: 32px;
					border: 0;
					border-radius: 4px;
					@include breakpoint($smd){
						width: 40px;
						height: 40px;
					}
					&::before {
						vertical-align: sub;
						font-size: 20px;
						margin-right: 5px;
						@include breakpoint($smd){
							font-size: 25px;
						}
					}
					&.search {
						color: #fff;
						background-color: $point;
						border: 1px solid $point;
						&:focus {
							&:focus {
								@include focus;
							}
						}
						&::before {
							@include font-ico("\e8b6");
						}
						@include breakpoint($smd){
							margin: 0 2px;
						}
					}
					&.reset {
						color: #3B63C4;
						background-color: #fff;
						border: 1px solid #3B63C4;
						@include breakpoint($smd){
							background-color: #3B63C4;
						}
						&::before {
							color: #3B63C4;
							@include font-ico("\f053");
							@include breakpoint($smd){
								color: #fff
							}
						}
					}
					@include breakpoint($smd){
						span {
							@include hide;
						}
					}
				}
			}
		}
	}
	.check-list {
		position: relative;
		@include breakpoint($smd){
			h3 {
				display: none;
			}
		}
		.label-list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			label {
				font-size: rem(15);
				margin: 4px 0;
				@include breakpoint($lg){
					font-size: rem(18);
				}
			}
			input {
				& + i + span {
					max-width: calc(100% - 34px);
				}
				&:checked {
					& + i {
						& + span {
							position: relative;
							color: $point;
							font-weight: 500;
							text-decoration: underline;
						}
					}
				}
				&[disabled] {
					&:hover {
						& + i {
							outline: 0;
							& + span {
								cursor: default;
							}
						}
					}
				}
			}
		}
		.check-ctrl {			
			@include breakpoint($lg){
				display: none;
			}
			position: relative;
			width: 100%;
			display: block;
			text-align: left;
			border: 1px solid #d9d9d9;
			padding: 7px 10px;
			@include breakpoint($smd){
				padding: 7px 15px;
			}
			&::before {
				@include font-ico-outline('\e5c5');
				font-size: 24px;
				position: absolute;
				top: 5px;
				right: 10px;
				color: $point;
				transition: all .2s
			}		
			&.active {
				&::before {
					transform: rotate(-180deg);
				}
			}  
		}
		@include breakpoint($smd){ 
			.label-list {
				display: none;
				border: 1px solid #d9d9d9;
				padding: 4px;
				flex-direction: row;
				&.active {
					display: flex;
					position: absolute;
					top: 36px;
					left: 0;
					width: 100%;
					z-index: 9;
					background-color: #fff;
				}
				label {
					width: 100%;
					// flex-basis: 50%;
					// width: 50%;
					// padding: 0 4px;
					input[type=checkbox] + i {
						margin-left: -15px;
					}
				}
			}
			&.details {
				.check-ctrl  {
					margin-top: 5px;
				}				
			}
		}
		&.details {
			//display: none;  //임시 주석
		}
	}
	.details-list {
		@include breakpoint($smd){
			position: absolute;
			top: 36px;
			left: 0;
			width: 100%;
			border: 1px solid #d9d9d9;
			z-index: 9;
			background-color: #fff;
			padding: 4px;
		}
		.depth3 {  //[class^=m-0]
			//display: none;
			&.on {
				display: block;
			}
			> ul {
				&.on {
					display: block;
				}		
				> li {
					position: relative;
					//display: none;  //임시 주석
					margin: 7px 0 14px;
					&::before {
						content: "";
						display: inline-block;
						width: 1px;
						height: calc(100% - 35px);
						background-color: #E6E6E6;
						position: absolute;
						top: 22px;
						left: 12px;
					}		
					input[type=radio]:checked + i{
						&:before {
							width: 10px;
							height: 10px;
							margin-top: -1px;
						}
						& + span {
							text-decoration: none;
						}
					}	
					> button {
						position: relative;
						display: flex;
						text-align: left;
						color: #4D4D4D;
						font-size: rem(18);
						&::before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 22px;
							height: 22px;
							border: 1px solid #BFBFBF;
							border-radius: 50%;
							background-color: #FAFAFA;
							margin-right: 10px;
							margin-bottom: 3px;
						}
						&.active {
							&::before {
								width: 8px;
								height: 8px;
								border: 8px solid #3B63C4;
								background-color: transparent;
							}
							& + .depth4 {
								&.on {
									display: block;
								}
							}
						}
						/*&.bu {
							&::before {
								@include font-ico-outline('\e5cc');
								font-size: 22px;
								color: #1A1A1A;
								margin-right: 3px;
								border: none;
								background-color: transparent;
							}
							&::after {
								border: 1px solid #3B63C4;
								background-color: #3B63C4;
							}
							&.active {
								&::before {
									transform: rotate(90deg);
									margin-bottom: 4px;
								}
								&::after {
									display: none;
								}
							}
						}
						&[disabled=disabled] {
							cursor: default;
						}*/
					}
					.depth4 {
						//display: none;
						position: relative;
						&::before {
							content: "";
									display: inline-block;
									width: 20px;
									height: 1px;
									background-color: #E6E6E6;
									position: absolute;
									bottom: 13px;
									left: 13px;
						}
						input[type=radio],
						input[type=radio] + i {
							width: 20px;
							height: 20px;

						}
						input[type=radio] + i::before {
							width: 6px;
							height: 6px;
							margin-top: -1px;
						}
						ul.sub-m {
							margin: 7px 0 20px;
							padding-left: 22px;
							li {
								position: relative;
								margin: 4px 0;
								&::before {
									content: "";
									display: inline-block;
									width: 12px;
									height: 1px;
									background-color: #E6E6E6;
									position: absolute;
									top: 10px;
									left: -11px;
								}
								button {
									display: flex;
									text-align: left;
									position: relative;
									&::before {
										content: "";
										display: inline-block;
										vertical-align: middle;
										width: 18px;
										height: 18px;
										border: 1px solid #BFBFBF;
										border-radius: 50%;
										background-color: #FAFAFA;
										margin-right: 7px;
										margin-bottom: 2px;
									}
									&.active {
										&::before {
											border: 1px solid #3B63C4;
											background-color: #3B63C4;
										}
										&::after {
											content: "";
											display: inline-block;
											// @include font-ico-outline("\e5ca");
											// font-size: 14px;
											position: absolute;
											top: 6px;
											left: 6px;
											width: 8px;
											height: 8px;
											background: #fff;
											border-radius: 50%;
										}
									}
								}
							}
						}
					}					
					.depth5 {
						position: relative;
						padding-left: 21px;
						margin-bottom: 14px;
						&::before {
							content: "";
							display: inline-block;
							width: 1px;
							height: calc(100% - 5px);
							background-color: #E6E6E6;
							position: absolute;
							top: -8px;
							left: 10px;
						}
						ul {
							li {
								margin: 2px 0;
								button {
									&::before {
										margin-right: 9px !important;
									}
								}
							}
						}						
					}
				}
			}
		}
	}
	.details {
		h3 {
			#content & {
				&::before {
					width: calc(100% - 70px);
				}
			}			
		}
	}
	
	h3 {
		#content & {
			position: relative;
			font-size: 15px;
			margin: 20px 0 12px;
			color: #222;
			font-weight: 500;
			&::before {
				content: "";
				display: inline-block;
				background-color: #e2e2e2;
				width: calc(100% - 45px);
				height: 1px;
				position: absolute;
				top: 50%;
				right: 0;
			}
		}		
	}
	.btn-view {
		display: none;
		margin: 6px 0 18px;
		padding: 3px 0;
		font-size: rem(14);
		color: #1A1A1A;
		width: 100%;
		background-color: #F2F2F2;
		border-radius: 4px;
		&::after {
			@include font-ico-outline('\e5cf');
			font-size: 18px;
			color: #1A1A1A;
			margin-left: 4px;
		}
		&.active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
	.Keyword {
		@include breakpoint($smd){
			display: none;
		}
		h3 {
			#content & {
				&::before {
					width: calc(100% - 55px);
				}
			}			
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			li {
				margin: 1px 2px 1px 0;
			}
			a, 
			input {				
				display: inline-block;
				color: #666;
				font-size: 14px;
				border: 1px solid #C2C2C2;
				border-radius: 30px;
				padding: 2px 7px;
				&:hover {
					color: #fff;
					background-color: #3B63C4;
					order: 1px solid #3B63C4;
				}
				 + span {
					margin-right: 2px;
				 }
			}
			input {
				height: auto;
			}
		}
	}
}
.sub-btn {
	margin-top: 40px;
	a {
		text-align: center;
		display: block;
		padding: 9px;
		color: #fff;
		background-color: $point;
		border-radius: 8px;
		&::before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
			background: url(/static/eng/img/ico/ico-calender-2x.png);
			margin-right: 8px;
		}
		&::after {
			@include font-ico-outline('\e315');
			font-size: 18px;
			color: #fff;
			margin-left: 10px;
		}
	}
}

@mixin select-set {
	.select-set {
		position: relative;
		.btn_select {
			color: #666;
			position: relative;
			text-align: left;
			width: 135px;
			height: $sh-form-height;;
			border: 1px solid $form-bd-color;
			border-radius: $sh-bd-radius;
			padding: 0 36px 0 8px;
			background-color: #fff;
			@include breakpoint($sm){
				width: auto;
			}
			&::after {
				@include font-ico-outline('\e5c5');
				font-size: 24px;
				color: #1C1B1F;
				position: absolute;
				top: 50%;
				right: 8px;
				margin-top: -12px;
			}
			&.on {
				& + ul {
					display: block;
				}
			}
		}
		ul {
			display: none;
			position: absolute;
			top: 31px;
			left: 0;
			z-index: 1;
			width: 100%;
			border: 1px solid $form-bd-color;
			border-radius: $sh-bd-radius;
			background-color: #fff;
			padding: 5px 0;			
			li {				
				button {
					text-align: left;
					width: 100%;
					padding: 0 8px;
				}
			}
		}
	}
}

.sh-select {
	display: flex;
	justify-content: right;
	margin-bottom: 25px;
	@include breakpoint($sm){
		justify-content: flex-start;
	}
	> * {
		margin: 0 2px;
	}
	@include select-set();
	.submit {
		width: 44px;
		background-color: #3B63C4;
		border-radius: $sh-bd-radius;
		&::before {
			color: #fff;
			@include font-ico-outline('\e5ca');
			font-size: 18px;
			margin-bottom: 2px;
		}
	}	
	.date-set input {
		border: 1px solid #D9D9D9 !important;
		height: 40px !important;
	}
}


.sh {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 25px;
	background-color: #F2F6FA;
	padding: 45px 20px;
	font-size: rem(18);
	@include breakpoint($smd){
		font-size: 13px;
		padding: 14px;
	}
	@include breakpoint($sm){
		display: block;
	}
	.select-box {
		display: flex;
		@include breakpoint($sm){
			.keyword-set {
				margin-top: 0 !important;
			}
		}
		.select-set {
			position: relative;
			background-color: #fff;					
			&::after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 1px;
				height: 32px;
				background-color: #E5E5E5;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -16px;
			}
			select {
				@include breakpoint($lg){
					min-width: 150px;
				}
				border-radius: 5px 0 0 5px;
				padding: 4px 40px 4px 20px !important;
				background-position: calc(100% - 15px) 50%;
				@include breakpoint($mdw){
					width: 120px;
				}
				@include breakpoint($sm){
					width: 100px;
					padding: 4px 20px 4px 10px !important;
					background-position: calc(100% - 10px) 50%;
				}
			}
			& + .select-set {
				margin-left: 4px;
				@include breakpoint($sm){
					margin-left: 0;
					margin-top: 4px;
				}
			}
		}		
		input[type=text] {
			border-radius: 0;
		}
	}
	@include select-set();
	.select-set {
		select {
			//width: 220px;
			width: 200px;
			height: 56px;
			border: 0;
			@include breakpoint($sm){
				//width: 120px;
				width: 100%;
				height: 40px;
			}
		}
		@include breakpoint($sm){
			& + .select-set {
				margin: 4px 0 !important;
			}
		}
		.btn_select {
			padding: 0 25px;
			@include breakpoint($sm){
				padding: 0 15px;
			}
		}
		ul {
			top: 56px;
			@include breakpoint($sm){
				top: 40px;
			}
			li button {
				padding: 8px 25px;
				@include breakpoint($sm){
					padding: 5px 15px;
				}
			}
		}
	}
	
	.c {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;		
		max-width: 100%;
		margin: 0 auto;
		@include breakpoint($sm){
			display: block;
		}
		&.short {
			width: 904px;
			.keyword-set {
				flex-basis: calc(100% - 200px - 2px);
			}
		}
		.sh-input {
			display: flex;
			width: 100%;
			justify-content: center;
			@include breakpoint($sm){
				display: block;
			}
			> * {
				margin: 0 2px;
			}
		}
		.sh-txt {
			display: block;
			margin-top: 8px;
			.help {
				color: #4D4D4D;
				&::before {
					@include font-ico-outline('\e88e');
					font-size: 24px;
					color: #4D4D4D;
					margin-right: 5px;
					@include breakpoint($sm){
						font-size: 16px;
					}
				}
			}
		}
		.keyword-set {
			width: 386px;
			//flex-basis: calc(100% - 200px - 2px);
			display: flex;
			align-items: center;
			background-color: #fff;
			border-radius: 4px;
			@include breakpoint($sm){
				width: 100%;
				margin-top: 4px;
				//flex-basis: calc(100% - 100px - 2px);
			}
			.keyword {
				width: calc(100% - 66px);				
				input[type=text] {
					width: 100%;
					border: 0;
					height: 56px;
					padding: 10px 24px;
					@include breakpoint($sm){
						padding: 5px 15px;
						height: 40px;
					}
				}
			}		
			.search {
				width: 66px;
				height: 56px;
				text-align: center;
				@include breakpoint($sm){
					width: 40px;
					height: 40px;
				}
				&::before {
					@include font-ico-outline('\e8b6');
					font-size: 26px;
					color: #222;
				}
			}
		}
		.keyword {
			flex-grow: 1;
			input {
				width: 100%;
			}
		}
		&.w2 {	//두줄
			display: flex;
			> div {
				//width: 904px;
				width: 800px;
				max-width: 100%;
				& + div {
					margin-top: 4px;
				}
				&:nth-child(1) {
					.select-set::after {
						display: none;
					}
				}
				&:nth-child(2) {
					.select-box {
						width: 100%;
					}
					.keyword-set {
						width: 100%;
						flex-basis: 100%;
						display: flex;
						@include breakpoint($sm){
							margin-top: 4px !important;
						}
					}
				}
				.select-set select {
					width: 100%;
				}
				.select-box-set {
					width: calc(100% - 344px);
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					flex-grow: 1;
					@include breakpoint($sm){
						width: 100%;
					}
					&.n2 {
						> * {
							width: calc(50% - 2px);
						}
					}
				}
				.date-set {
				}
				
			}
			&.type2 {	//마이페이지
				.sh-input {
					display: flex;
					justify-content: space-between;
					flex-grow: 1;
					@include breakpoint($sm){
						display: block;
					}
				}
				.select-box {
					@include breakpoint($sm){
						display: block;
						margin-bottom: 4px;
					}
					.select-set {
						@include breakpoint($sm){
							width: 100%;
						}
						&::after {
							display: none;
						}
						@include breakpoint($lg){
							select {
								min-width: 200px;
							}
						}	
					}
				}
				.date-set {
					flex-basis: calc(100% - 200px);
					@include breakpoint($sm){
						flex-basis: 100%;
						margin: 2px !important;
					}
				}
			}
		}
	}	
	> * {
		margin: 0 2px;		
	}
	.btn_select {
		flex-basis: 200px;
		width: 200px !important;
		border-radius: 4px;
		height: 56px !important;
		border: 0 !important;
		@include breakpoint($sm){
			flex-basis: 120px !important;
			width: 120px !important;
			height: 40px !important;
		}
	}
	&.selMenu {
		.shArea {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 200px;
			max-width: 100%;
			margin: 0 auto;
			> * {
				margin: 0 2px;
			}
			select {
				width: calc(100% - 80px - 8px);
			}
			[class^=b-] {
				line-height: 40px;
			}
		}
	}
	//경제용어사전
	&.sh2 {
		flex-wrap: wrap;
		flex-direction: column;
		padding: 24px 48px;
		margin-bottom: 14px;
		@include breakpoint($sm){
			padding: 15px;
		}
		.c {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0;
			.keyword-set {
				width: 794px;
				max-width: 100%;
			}
			.t {
				color: $black;
				margin-right: 14px;
				font-weight: 500;
				@include bu-dot();
			}
		}		
		.b-sh {
			&::before {
				content: "";
				@include font-ico-outline('\e8b6');
				font-size: 26px;
				color: #222;
			}
		}
	}
	//기념화폐
	&.sh3 { 
		.c {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			> * {
				flex-grow: 1;
				margin: 0 2px;
			}			
			select, input, a {
				height: 56px;
			}
			[class^=b-] {
				min-width: auto;
				padding: 0 20px;
			}
			.select-box {
				max-width: 600px;
				select {
					width: 100%;
				}
			}
		}		
	}
}


//경제용어사전
.keyWordBd {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin-top: 24px;
	padding-top: 24px;
	border-top: 1px solid #B1C1E7;
	> ul {
		> li {
			display: flex;
			& + li {
				margin-top: 7px;
			}
			.keyWdHd {
				width: 80px;
				@include breakpoint($sm){
					width: 65px;
				}
			}
			.keyword {
				display: flex;
				flex-wrap: wrap;
				//flex-wrap: wrap;
				//flex-direction: row;
				width: calc(100% - 80px);
				li {
					padding: 0 2px;
					a {
						color: $black;
						display: inline-block;
						text-align: center;
						width: 32px;
						height: 32px;
						line-height: 30px;
						border: 1px solid #BFBFBF;
						background-color: #fff;
						border-radius: 4px;
					}
					&.on {
						a {
							text-decoration: underline;
							color: #fff;
							border: 1px solid #3B63C4;
							background-color: #3B63C4;
						}
					}
				}
			}
		}
	}
}
.result-box {
	border-bottom: 1px solid $black;
	margin-bottom: 16px;
	padding-bottom: 12px;
	.resultTxt {
		&::before {
			@include font-ico-outline("\e8b6");
			color: #666;
			font-size: 19px;
			margin: 0 2px 2px 0;
		}
	}
}


.date-set {
	font-size: 16px;
	@include breakpoint($sm){
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 2px 5px 2px !important;
	}
	@include breakpoint($mdw) {
		flex-basis: 250px;
		flex-shrink: 0;
	}
	@include breakpoint($lg) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 344px;
		flex-grow: 0;
	}
	.date,
	.month,
	.sdate,
	.edate {
		border: 0;
		height: 56px;
		flex-basis: calc(50% - 12px) !important;
		width: calc(50% - 12px) !important;
		-webkit-appearance: none !important;
		@include breakpoint($sm){
			height: 40px;
		}
	}
	.dash {
		//display: inline-block;
		width: 20px;
		text-align: center
	}
	.bd-reg & {
		@include breakpoint($md) {
			display: block;
			max-width: 300px;
		}
	}
}
input.date,
input.month,
input.sdate,
input.edate {
	background: #fff url(/static/eng/img/ico/ico-calender.png) calc(100% - 15px) center no-repeat;
	border-radius: 4px;
	padding: 0 30px 0 20px;
	@include breakpoint($smd){
		padding: 0 20px 0 10px;
		background-position: calc(100% - 15px) center;
	}
}



//위조지폐 검색
.moneyChoW {
	.moneyCho {
		text-align: center;
		padding: 32px;
		background-color: #F2F6FA;
		@include breakpoint($sm){
			padding: 20px;
		}
		ul{
			width: 780px;
			max-width: 100%;
			overflow: hidden;
			margin: 0 auto;
			@include breakpoint($sm){
				width: 100%;
			}
			li{
				text-align: center;
				float: left;
				width: 25%;
				label {
					display: inline-block;
					margin-bottom: 8px;
				}
				@include breakpoint($sm) {
					width: 50%;
				}
			}
		}
		.moneySch {
			border-top: 1px solid #B1C1E7;
			padding-top: 30px;
			margin-top: 15px;
			div {
				width: 664px;
				max-width: 100%;
				margin: 0 auto;
				text-align: left;
			}
			&_box {
				display: flex;
				justify-content: space-between;
				
				background: #fff;
				border-radius: 4px;
				input {
					border: 0;
					width: calc(100% - 60px);
					height: 56px;
					padding: 0 10px;
				}
				.b-search {
					width: 60px;
					min-width: 60px;
					height: 56px;
					background: #fff;
					&::before {
						@include font-ico-outline("\e8b6");
						font-size: 24px;
						color: #222;
					}
				}
			}
		}
	}
	.moneybox {
		margin-top: 40px;
		//margin: 40px 0 20px;
		text-align: center;
		font-size: rem(20);
	}
}
.moneybox1 {
	.money-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			width: calc(25% - 14px);
			@include breakpoint($sm){
				width: calc(50% - 14px);
				margin-top: 10px;
			}
			div {
				padding: 24px 32px;
				border-radius: 16px;
				border: 1px solid #BFBFBF;
				@include breakpoint($sm){
					padding: 10px;
				}
			}
			p {
				padding: 8px;
				color: #fff;
				font-size: rem(18);
				font-weight: 500;
				text-align: center;
				background-color: $point;
				border-radius: 30px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-between;
				li {
					width: 100%;
					letter-spacing: 1px;
					text-align: center;
				}
			}
		}
	}
}