table {	
	font-size: 16px;
	//word-break: break-all;
	word-break: break-word;
	width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
	color: #1A1A1A;
	p {
		margin-bottom: 0 !important;
	}	
}
.table {
	clear: both;	
	margin-top: 14px;	
	margin-bottom: 10px;
	@include breakpoint($md){
		&.pcweb {
			display: block !important;
		}
		&.moble {
			display: none !important;
		}
	}
	&.table_line {  //thead 없는..
		border-top: 2px solid #182252;
	}
	table {
		width: 100%;
		table-layout: fixed;
		thead {			
			margin-bottom: 1px;
			th {
				color: $black;
				font-weight: 400;
				padding: 15px 5px;
				background-color: #E8EBED;
				&:first-child {
					border-radius: 8px 0 0 8px;
				}
				&:last-child {
					border-radius: 0 8px 8px 0;
				}
				& + th {
					border-left: 1px solid #BDBCBC;
				}
			}
			// tr {
			// 	&:nth-child(2) {
			// 		th {
			// 			border-top: 1px solid #BDBCBC;
			// 		}
			// 	}
			// }
			tr ~ tr{
				th{
					border-top: 1px solid #BDBCBC;
					&:first-child{
						border-radius: 0;
						border-left: 1px solid #BDBCBC;
					}
				}
			}
		}
		tbody {
			th {
				padding: 13px 10px;		
				font-weight: 400;
				color: #4d4d4d;
				background-color: #FAFAFA;	
				& + th,
				& + td {
					border-left: 1px solid #E6E6E6;
					+ th {
						border-left: 1px solid #E6E6E6;
					}
				}
			}
			tr {
				&:first-child {
					th, td {
						border-top: 1px solid #fff;
					}
				}
				th, td {
					&:first-child  {
						border-right: 1px solid $bd-color !important;
					}
				}
			}
			td, th {
				border-bottom: 1px solid #E6E6E6;
				&.line {
					text-decoration: none;
					border-right: 1px solid #E6E6E6;
				}
			}			
		}
		td {
			color: #666;
			padding: 13px 14px;
			min-height: 55px;
			background-color: #fff;
			@include breakpoint($sm){
				padding: 13px 8px;
			}
			& + td {
				border-left: 1px solid #E6E6E6;
			}
			&.title {
				text-align: left;
				a {
					&:hover {
						color: $color-point;;
						text-decoration: underline;
					}
				}				
			}
		}
	}
	&.type2 {
		font-size: rem(18);
		@include breakpoint($smd){
			border-top: 2px solid #182252;
		}
		th {
			padding: 14px 0;
			@include breakpoint($smd){
				padding: 8px 0 !important;				
				&:first-child {
					border-right: 0 !important;
				}
			}
		}
		tbody {
			th {
				padding: 14px 0;
				color: #233B76;
				background-color: #fff;
			}
		}
		td {
			padding: 12px 15px;
		}
	}
	&.table-t2 {
		thead {
			tr {
				th {
					&:first-child {
						border-radius: 8px 0 0;
					}
					&:last-child {
						border-radius: 0 8px 0 0;
					}
				}
				& + tr {
					th {
						border-radius: 0;
						&:last-child {
							border-radius: 0 0 8px;
						}
						&.line-l,
						&.th1b {
							border-left: 1px solid #BDBCBC;
						}
						&.line-t {
							border-top: 1px solid #BDBCBC;
						}
					}
				}
			}
		}
	}
	&.m {
		@include breakpoint($smd){
			thead {
				display: none;
			}
			tr {
				display: block;
				padding: 12px 0;			
				border-bottom: 1px solid $bd-color;
			}
			th, td {
				display: block;
				border: 0;
				text-align: left;
				
				min-height: auto;
			}
			th {
				padding: 0;
			}
			td {
				padding: 1px 0;
			}
		}
	}
	ul {
		text-align: left;
	}
}
.td {
	&-tal table tbody td {
		text-align: left;
	}
	&-tac table tbody td {
		text-align: center;
	}
	&_tac table tbody td {
		text-align: center;
	}
	&-vt table tbody td {
		vertical-align: top;
	}
}

.table.brds0 {
	thead th{
		border-radius: 0 !important;
		border: 1px solid #E6E6E6;
	}
	tbody td{
		border-left: 1px solid #E6E6E6;
		color: #4d4d4d;
	}
}

.table-striped tbody > tr:nth-child(even) td{ 
	background:#FAFAFA; 
}

.table-view { //thead 없는 경우
	//border-top: 2px solid #182252;
	&.table {
		table {
			border-collapse: separate;
  			border-spacing: 8px;
			@include breakpoint($sm){
				border-spacing: 4px;
			}
		}
		th, td {
			border: none !important;
		}
		tr {
			td:first-child,
			th:first-child {
				border-right: 0 !important;
			}
		}
		th {
			//text-align: left;
			color: #1A1A1A;
			font-weight: 400 !important;
			background-color: #E8EAED;
			font-size: 16px;
			//border: 1px solid #dee0e6;
			border-radius: 8px !important;
			padding-left: 15px;
			padding-right: 15px;
			@include breakpoint($sm){
				padding-left: 8px;
				padding-right: 8px;
			}
		}	
		td {
			min-height: 52px;
			//border-bottom: 1px solid $bd-color;
			border: none;
			padding: 7px 15px;
			background-color: #FAFAFA;
			border-radius: 8px;
			@include breakpoint($sm){
				padding: 3px 8px;
			}
		}				
	}
	[class^=b-] {
		font-size: rem(16);
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
		&.xs {
			min-height: 24px;
			height: auto;
		}
	}
	label {
		display: inline-block;
	}
}

@include breakpoint($smd){
	.scrollX {
		overflow: hidden;
		overflow: auto;
		clear: both;
		width: 100%;
		table {
			min-width: 1023px;
		}
	}
}


table {
	.referList {
		margin-left: 0;
		li {
			padding-left: 0;
			text-indent: -14px;
			margin-left: 14px;
			&::before {
				display: none;
			}
		}
	}
	li {
		position: relative;
		padding-left: 10px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 11px;
			left: 0;
			background-color: #1A1A1A;
			width: 4px;
			height: 4px;
			border-radius: 50%;
		}
	}	
}