// **썸네일형 목록**

//인공지능 윤리교재
.bd-list-thum {
	margin-top: 10px;
	border-top: 2px solid $bd-top-color;
	border-bottom: 1px solid $bd-color;
	ul {
		margin: 0 -8px;
		li {
			float: left;
			width: 25%;
			padding: 20px 8px;
			@include breakpoint($sm){
				width: 50%;
			}
			@include breakpoint($xs){
				width: 100%;
			}	
			.set {
				position: relative;
				.thumb-img {
					display: block;
					padding-top: 142%;
					border: 1px solid #d5d5d5;
					border-radius: 10px;
					background: #f9f9f9 url(/static/aieth/img/common/no-img.png) 0 0 no-repeat;
					background-position: 50%;	
					background-size: cover;
					.deco {
						position: absolute;
						top: 0;
						left: 0;
						width: 100px;
						color: #fff;
						text-align: center;
						display: inline-block;
						padding: 7px 0;
						border-radius: 10px 0 10px 0;
						background-color: #076bcc;
						&.type1 {
  							background-color: #076bcc;
						}
						&.type2 {
							background-color: #0ba76a;
						}
						&.type3 {
							background-color: #d5b710;
						}
						&.type4 {
							background-color: #d260c9;
						}
					}
				}
				&:hover {
					cursor: pointer;
				}
				@include breakpoint($lg){
					&.hover,
					&:hover {
						.photo-con {
							display: table;
						}					
					}
				}				
				.photo-con {
					@include breakpoint($lg){
						display: none;
					}					
					//display: table;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.8);
					border-radius: 10px;
					text-align: center;
					> div {
						// display: table-cell;
						// vertical-align: middle;
						// height: 100%;
						position: absolute;
						top: 50%;
						margin-top: -55px;
					}
					a {
						clear: both;
						display: inline-block;
						border-radius: 5px;
						padding: 10px 18px;
						margin: 5px 0;
						&::before {
							font-size: 24px;
							margin-right: 5px;
						}
						&.btn-view {
							color: #fff;
							background-color: $point;
							border: 1px solid $point;
							&::before {
								@include font-ico-outline('\e8ff');
								color: #fff;
							}
						}
						&.btn-down {
							color: $point;
							background-color: #fff;
							border: 1px solid $point;
							&::before {
								@include font-ico-outline('\e2c4');
								color: $point;
							}
						}
					}					
				}
			}
			&:focus {
				outline: none;
			}
			&.hover {
				.photo-con {
					display: table;					
				}					
			}	
			.tit {
				margin-top: 10px;
				padding: 0 5px;
				@include line-clamp(2,22.5px);
				height: 48px;
				font-size: 16px;
			}
			
		}
	}	
	//공개 정책 세미나
	&.type2 {	
		a {
			display: block;
			position: relative;
			.tit {
				height: 26px;
				text-align: center;
			}
			&:hover {
				.set {
					box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
					border-radius: 10px;
					&::before {
						content: "";
						display: inline-block;
						width: calc(100% - 2px);
						height: calc(100% - 2px);
						outline: solid 2px #076bcc;
						border-radius: 10px;
						position: absolute;
						top: 1px;
						left: 1px;
					}
				}				
			}
		}
	}
}

[class^=bd-list-] {
	.nodata {
		clear: both;
		padding: 40px;
		text-align: center;
	}
}

//영상자료
.bd-list-thum-a {
	overflow: hidden;
	margin-top: 10px;
	border-top: 2px solid $bd-top-color;
	border-bottom: 1px solid $bd-color;
	ul {
		overflow: hidden;
		margin: 0 -8px;
		padding: 12px 0;
		li {
			float: left;
			width: 25%;
			padding: 8px 8px;
			@include breakpoint($sm){
				width: 50%;
			}
			@include breakpoint($xs){
				width: 100%;
			}
			a {
				display: block;
				border-radius: 10px;
				border: 1px solid #d5d5d5;
				padding: 10px;
				.thumb-img {
					padding-top: 72.4%;
					border-radius: 10px;
					background-size: cover;
					background-position: 50%;
				}
				.tit {
					margin: 7px 0;
					padding: 0 5px;
					@include line-clamp(2,22.5px);
					height: 48px;
				}
				&:hover {
					box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
					outline-offset: -1px;
					outline-style: solid;
					outline-color: $point;
					outline-width: 2px;
					border-color: $point;
				}
				span {
					display: block;
				}
				.date {
					color: #757575;
					text-align: right;
					padding: 5px;
					&::before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 15px;
						height: 16px;
						background: url(/static/aieth/img/ico/i-date.png);
						margin-right: 5px;
					}
				}
			}
		}
	}
}

//인공지능 윤리교재
.bd-list-thum-b {
	position: relative;
	padding: 30px 65px;
	border-radius: 5px;
	background-color: #f9f9f9;
	margin-bottom: 30px;
	.ctrl {
		button {
			position: absolute;
			top: 50%;
			margin-top: -18px;
			&::before {
				@include la;
				font-size: 36px;
			}
			&.prev {
				left: 15px;
				&::before {
					content: "\f104";					
				}
			}
			&.next {
				right: 15px;
				&::before {
					content: "\f105";
				}
			}
		}
	}
	.item {
		overflow: hidden;
		.swiper-wrapper {
			a {
				@include breakpoint($lg){
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				.thumb-img {						
					@include breakpoint($lg){
						flex-basis: calc(50% - 15px);
						width: calc(50% - 15px);
						padding-top: 28%;
						margin-bottom: 0;
					}
					display: block;
					padding-top: 50%;
					border-radius: 10px;
					background: url(/static/aieth/img/common/no-img.png) 0 0 no-repeat;
					background-position: center center;
					background-size: cover;
					margin-bottom: 20px;
				}
				&:focus {
					outline: 1px dashed #000;
					outline-offset: -2px;
				}
				.set {
					@include breakpoint($lg){
						flex-basis: calc(50% - 15px);
						width: calc(50% - 15px);
					}						
					.tit {
						font-size: 24px;
						font-weight: 600;
						width: 100%;
						margin-top: -5px;
						@include ellipsis;
					}
					.txt {
						@include line-clamp(2,22.5px);
						height: 50px;
						margin-bottom: 25px;
					}
				}
			}						
		}
	}
}