.sh-BxSet {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $black;
	padding-bottom: 15px;
	@include breakpoint($sm){
		display: block;
		.count-total {
			margin-bottom: 10px;
		}
	}
	.sh-select {
		margin-bottom: 0;
	}
}
.count-total {
	color: $black;
	font-size: rem(15);
	&::before {
		content: "";
		display: inline-block;
		width: 3px;
		height: 3px;
		background-color: $black;
		border-radius: 50%;
		margin: 5px 8px 0 0;
	}
	strong {
		font-weight: 600;
		text-decoration: underline;
	}
}

.bd-line {
	ul {		
		li {
			position: relative;
			padding: 15px 15px 10px 15px;
			border-bottom: 1px solid #D9D9D9;
			@include breakpoint($sm){
				padding: 15px 8px 10px;
			}
			.i {
				font-size: 14px;
				display: block;
				margin-bottom: 8px;
				>span {
					display: inline-block;
					border-radius: 3px;	
					border: 1px solid #3656A3;
					padding: 1px 7px;
				}
			}
			span.t1 {
				color: #fff;
				background: #3B63C4;
			}
			span.t2 {
				color: #3B63C4;
				background: #fff;
			}
			.set {
				display: flex;
				justify-content: space-between;
				@include breakpoint($sm){
					display: block;
				}
				.title {
					width: calc(100% - 250px);
					@include ellipsis;
					color: #222;
					font-size: rem(20);
					@include breakpoint($sm){
						font-size: rem(16);
						width: 100%;
						margin-bottom: 8px;
						@include line-clamp(3);
						white-space: inherit;
					}
				}
				.btns {
					@include breakpoint($sm){
						position: absolute;
						bottom: 10px;
						right: 8px;
					}
					a {
						color: #666;
						display: inline-block;
						&::before {
							font-size: 19px;
							margin-right: 5px;
						}
						& + a {
							position: relative;
							margin-left: 15px;
							padding-left: 15px;
							&::after {
								content: "";
								position: absolute;
								top: 7px;
								left: 0;
								background: #666;
								width: 1px;
								height: 10px;
							}
						}
					}					
					.i-download {
						&::before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							background: url(/static/portal/img/common/ico-download.png);
							width: 20px;
							height: 20px;
							//@include font-ico-outline("\f824");
						}
					}
					.i-view {
						&::before {
							@include font-ico-outline("\e666");
						}
					}
				}
			}
			.date {
				padding-right: 10px;
			}
			.date, .views{
				color: #767676;
			}
			&:hover {
				background-color: #F2F6FA;				
				&::before {
					background: url(/static/portal/img/common/arr01_on.png) 50% no-repeat;
				}
				.btns {
					a {
						color: $point;
						&::before {
							background: #F2F6FA;
						}
					}
					.i-download {
						&::before {		
							background: url(/static/portal/img/common/ico-download_on.png);
						}
					}
				}
			}		
		}
	}
	&.b-type {
		ul {		
			li {
				position: relative;
				padding: 15px 90px 10px 15px;
				@include breakpoint($sm){
					padding: 15px 8px 10px;
				}
				a {
					&::before {
						content: "";
						display: inline-block;
						width: 48px;
						height: 48px;
						position: absolute;
						top: 50%;
						right: 15px;
						margin-top: -24px;
						background: url(/static/portal/img/common/arr01_off.png) 50% no-repeat;
						@include breakpoint($sm){
							display: none;
						}
					}
					&:hover {
						&::before {
							background: url(/static/portal/img/common/arr01_on.png) 50% no-repeat;
						}
					}
				}				
			}
		}
	}	
}

.bdList {
	border-top: 2px solid #222;	
	th,
	td {
		color: $black;
		font-size: rem(18);
		font-weight: 400;
		border: 1px solid $bd-color;
		padding: 13px 15px;
	}
	th {
		background-color: #F2F6FA;
		border-bottom: none;
	}
	td {
		
	}
	.nodata {
		text-align: center;
	}
}

.bdLine {
	clear: both;
	> ul{
		border-top: 2px solid #222;
		> li {
			border-bottom:1px solid #ddd; 
			padding:10px 0;
			&.nofile{
				text-align:center;
			}
			.col {
				padding:0 10px;
				min-height:27px;
				&.descinfo>div span {
					line-height:20px; 
					text-indent:-22px;
					padding-left:22px;
					&.txts{
						text-indent:0;
						padding-left:0; 
						margin-right:15px;font-weight:600;
						color:#757575;
					}
				}
			}
		}	
	}
	.row {
		.row {
			margin-left: 0;
			margin-right: 0;
			margin-top: 10px;
			display: block;
			float: left;
			width: 100%;
		}
	}
	.fileLink1 {
		text-align: right;
		.fileType {
			margin-right: 15px;
			font-size: 16px;
			&:before {
				@include font-ico-outline('\e0ee'); //e032
				margin-right: 5px;
				font-size: 19px;
			}
		}
		.fileView:before {
			@include font-ico-outline('\e8b6');
			margin-right: 3px;
			font-size: 19px;
		}
	}
	&.type4{
		>ul>li{
			min-height:90px;
			@include breakpoint($sm){
				min-height: auto;
			}
			&.style{
				.row{
					padding-top:25px;
				}
			}
		}
		.serviceL{
			text-align:right;
		}
		/*.ser{
			&:before{
				content: "??";
				//@include font-ico-outline('');\e8b6
				font-size: px;
				background: none;margin-right:5px;
				font-size:19px;font-weight:normal;}
		}*/
	}

	.dataInfo1 .fs_date {
		color: #000;
		margin-left: 5px;
		display: inline-block;
		font-weight: bold;
	}



}

// 게시물 카운트
.count-total {
	margin-top: 15px;
	line-height: 0.8rem;
	display: flex;
	font-size: 14px;
	em {
		color: #5772e8;
		font-weight: 600;
		font-style: normal;
		display: inline-block;
		margin-left: 4px;
	}
}