.sh-BxSet {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $black;
	padding-bottom: 15px;
	@include breakpoint($sm){
		display: block;
		.count-total {
			margin-bottom: 10px;
		}
	}
	.sh-select {
		margin-bottom: 0;
	}
}
.count-total {
	color: $black;
	font-size: rem(15);
	&::before {
		content: "";
		display: inline-block;
		width: 3px;
		height: 3px;
		background-color: $black;
		border-radius: 50%;
		margin: 5px 8px 0 0;
	}
	strong {
		font-weight: 600;
		text-decoration: underline;
	}
}

/* 게시판 목록 */
.bd-line {
	clear: both;
	> ul {		
		> li {
			position: relative;
			padding: 15px 15px 10px 15px;
			border-bottom: 1px solid #D9D9D9;
			min-height: 86px;
			@include breakpoint($sm){
				padding: 15px 8px 10px;
			}
			.i {
				font-size: 14px;
				display: inline-block;
				margin-bottom: 8px;
				>span {
					display: inline-block;
					border-radius: 3px;	
					border: 1px solid #3656A3;
					padding: 1px 7px;
				}
			}
			span.t1 {
				color: #fff;
				background: #3B63C4;
			}
			span.t2 {
				color: #3B63C4;
				background: #fff;
			}
			.set {
				display: flex;
				justify-content: space-between;
				@include breakpoint($sm){
					// display: block;
					flex-wrap: wrap;
					margin-bottom: 8px;
				}
				.title {
					max-width: calc(100% - 250px);
					@include ellipsis;
					color: #222;
					font-size: rem(20);
					@include breakpoint($sm){
						font-size: rem(16);
						// width: 100%;
						max-width: 100%;
						@include line-clamp(3);
						white-space: inherit;
					}
					.ico-notice {
						display: inline-block;
						width: 24px;
						height: 25px;	
						margin-right: 4px;
						@include background-image-retina("/static/museum/img/ico/ico-notice", png, auto, 100%);
						background-repeat: no-repeat;
						background-position-y: -3px;
					}
				}
				.btns {
					position: relative;
					@include breakpoint($sm){
						position: absolute;
						bottom: 10px;
						right: 8px;
					}
					> a {
						color: #666;
						display: inline-block;
						&::before {
							font-size: 19px;
							margin-right: 5px;
						}
						& + a {
							position: relative;
							margin-left: 11px;
							padding-left: 13px;
							&::after {
								content: "";
								position: absolute;
								top: 7px;
								left: 0;
								background: #666;
								width: 1px;
								height: 10px;
							}
						}
						&.i-download {
							&::before {
								content: "";
								display: inline-block;
								vertical-align: middle;
								background: url(/static/portal/img/common/ico-download.png);
								width: 20px;
								height: 20px;
							}
						}
						&.i-view {
							&::before {
								@include font-ico-outline("\e666");
								background-color: transparent;
							}
						}
						.icon {
							display: inline-block;
						}
					}
				}
			}
			.dataInfo {
				align-items: center;
				margin-top: 8px;
				span {
					display: inline-flex;
					align-items: center;
				}
				.date {
					color: #767676;
					&::before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 16px;
						height: 16px;
						background: url(/static/portal/img/ico/ico-date.png) no-repeat;
						margin-right: 5px;
					}
				}
				.hits {
					margin-left: 20px;
					color: #767676;
					&::before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 14px;
						height: 16px;
						background: url(/static/portal/img/ico/ico-hits.png) no-repeat;
						margin-right: 5px;
					}
				}
			}
			.date {
				color: #767676;
			}
			&:hover {
				background-color: #F2F6FA;				
				&::before {
					background: url(/static/portal/img/common/arr01_on.png) 50% no-repeat;
				}
				.btns {
					a {
						color: $point;
						&::before {
							background: #F2F6FA;
						}
					}
					.i-download {
						&::before {		
							background: url(/static/portal/img/common/ico-download_on.png);
						}
					}
				}
			}		
		}
	}
	&.b-type {
		ul {		
			li {
				position: relative;
				padding: 15px 90px 10px 15px;
				@include breakpoint($sm){
					padding: 15px 8px 10px;
				}
				a {
					&::before {
						content: "";
						display: inline-block;
						width: 48px;
						height: 48px;
						position: absolute;
						top: 50%;
						right: 15px;
						margin-top: -24px;
						background: url(/static/portal/img/common/arr01_off.png) 50% no-repeat;
						@include breakpoint($sm){
							display: none;
						}
					}
					&:hover {
						&::before {
							background: url(/static/portal/img/common/arr01_on.png) 50% no-repeat;
						}
					}
				}
				.set {
					align-items: center;
					justify-content: flex-start;
					.ico-lock {
						display: inline-block;
						margin-left: 8px;
						width: 20px;
						height: 21px;
						@include background-image-retina("/static/museum/img/ico/ico-lock", png, auto, 100%);
						background-repeat: no-repeat;
					}	
				}			
			}
		}
	}	
}
/* 추가된 스타일 */
.bd-line.c-type {
	.list-num {
		align-items: center;
		gap:  0 8px;
		.num {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 33px;
			font-size: rem(14);
			padding: 2px 4px;
			border: 1px solid #b3b3b3;
			border-radius: 4px;
			box-sizing: border-box;
			background: #fff;
		}
		.recruit {
			color: #131547;
			font-weight: 500;
		}
		.firstCome {
			color: #3B63C4;
		}
	}
	.list-title {
		align-items: center;
		justify-content: space-between;
		gap: 0 8px;
		margin: 8px 0; 
		.title {
			max-width: calc(100% - 70px - 8px); 
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			color: #1A1A1A;
		}
		.list-state {
			i {
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 2px;
			}
			&.ing {
				color: #131547;
				text-decoration: underline;
				i {
					@include background-image-retina("/static/museum/img/ico/ico-ing", png, auto, 100%);
				}
			}
			&.wait {
				color: #666;
				i {
					@include background-image-retina("/static/museum/img/ico/ico-wait", png, auto, 100%);
				}
			}
			&.done {
				color: #666;
				i {
					@include background-image-retina("/static/museum/img/ico/ico-done", png, auto, 100%);
				}
			}
		}
	}
	.alarm {
		display: flex;
		align-items: center;
		gap: 0 8px;
		color: #666666;
		i {
			display: inline-block;
			width: 20px;
			height: 20px;
			@include background-image-retina("/static/museum/img/ico/ico-alarm", png, auto, 100%);
		}
	}
}
/* 화폐이야기 게시판 */
.bd-line.d-type {
	> ul > li {
		min-height: 56px;
	}
	a {
		gap: 0 8px;
		&:hover {
			.set {
				position: relative;
				&::before {
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background: #1a1a1a;
					position: absolute;
					left: 0;
					bottom: 0;

				}
			}
			i {
				background-position: -40px -310px;
			}
		}
	}
	.num {
		display: inline-block;
		width: 32px;
		font-size: rem(16);
		color: #4D4D4D;
		text-align: center;
	}
	.t1 {
		display: inline-block;
		font-size: rem(14);
		color: #3B63C4;
		padding: 1.5px 8px; 
		border: 1px solid #3B63C4;
		border-radius: 3px;
		box-sizing: border-box;
		background: #fff;
	}
	.set {
		display: inline-block;
		max-width: calc(100% - 130px);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	i {
		position: absolute;
		right: 15px;
	}
	
}

/* 옛날 소스 */
.bdList {
	border-top: 2px solid #222;	
	th,
	td {
		color: $black;
		font-size: rem(18);
		// font-size: rem(16);
		font-weight: 400;
		border: 1px solid $bd-color;
		padding: 13px 15px;
	}
	th {
		background-color: #F2F6FA;
		border-bottom: none;
		&.no {
			width: 8%;
		}
	}
	td {
		
	}
	.nodata {
		text-align: center;
	}
}

// 게시물 카운트
.count-total {
	margin-top: 15px;
	line-height: 0.8rem;
	display: flex;
	font-size: 14px;
	em {
		color: #5772e8;
		font-weight: 600;
		font-style: normal;
		display: inline-block;
		margin-left: 4px;
	}
}
