.dbdata {
	min-height: 250px;
	padding: 32px 0;
	word-break: break-all;
	border-bottom: 1px solid $bd-color;
	@include breakpoint($sm) {
		padding: 15px 0;
	}
	ul {
		list-style-type: inherit;
		padding-left: 40px;
	}
	ol {
		list-style-type: decimal;
		margin-left: initial;
		padding-left: 40px;
	}
	i,
	em {
		font-style: italic;
	}
	a {
		color: $point;
		text-decoration: underline;
	}
}

.dbdata2 {
	width: 960px;
	margin: 0 auto;
	.view {
		font-size: rem(16);
	} 
}