.sh {
	margin-bottom: 20px;
	padding: 20px;
	background-color: $sh-bg-color;
	border-radius: 5px;
	@include breakpoint($md) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 30px;
		> * {
			margin-left: 2px;
			margin-right: 2px;
		}
	}
	> * {
		@include breakpoint($sm) {
			& + * {
				display: block;
				margin-top: 4px;
			}
		}
	}
	label {
		line-height: $sh-form-height;
	}
	select,
	input[type="text"],
	input[type="date"],
	input[type="number"] {
		width: 100%;
		border: 1px solid $form-bd-color;
		border-radius: 5px;
	}
	div > .label:first-child,
	div > *:first-child > label > .label {
		padding-left: 0;
		min-width: 60px;
		margin-right: 0 !important;
		margin-left: 0;
	}
	.select {
		flex-basis: 110px;
	}	
	// 키워드 구분
	.keyword-cate {
		@include breakpoint($md) {
			flex-basis: 120px;
		}
	}
	.input-group,
	.select-group {
		display: block;
		flex-grow: 1;
		label {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		.label {
			padding-right: 10px;
			@include breakpoint($mdw) {
				padding-left: 0;
				padding-right: 4px;
			}
			@include breakpoint($lg) {
				padding-left: 20px;
			}
			&.w {
				flex-basis: 140px;
				flex-shrink: 0;
				flex-grow: 1;
			}
		}
		select {
			min-width: 80px;
		}
	}
	.keyword {
		flex-grow: 1;
		@include breakpoint($sm) {
			display: block;
		}
	}
	.btns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-basis: 104px;
		flex-shrink: 0;
		.search,
		.reset {
			width: 50px;
			height: $form-height;
			border-radius: $sh-bd-radius;
		}
		.search {			
			background-color: $point;
			&::before {
				@include font-ico-outline('\e8b6');
				font-size: 25px;
				color: #fff;
			}
			&:focus {
				outline: 2px dashed #fff;
				outline-offset: -2px;
			}
		}
		.reset {
			background-color: #fff;
			border: 1px solid $point;			
			&::before {
				@include font-ico-outline('\e5d5');
				font-size: 25px;
				transform: scaleX(-1);
				color: $point;;
			}
			&:focus {
				outline: 2px dashed $point;
				outline-offset: -2px;
			}
		}
		@include breakpoint($sm) {
			.search,
			.reset {
				width: calc(50% - 2px);
			}
		}
	}
	//검색버튼만 있을 경우 임시용
	.search {
		width: 40px;
		height: 40px;
		background-color: $point;
		border-radius: 5px;
		&::before {
			@include font-ico-outline('\e8b6');
			font-size: 25px;
			color: #fff;
		}
	}
}
// 두줄 형태
.sh.m {
	display: block;
	> div {
		@include breakpoint($md) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			& + div {
				margin-top: 10px;
			}
		}
		> * {
			@include breakpoint($sm) {
				margin-top: 4px;
			}
			@include breakpoint($md) {
				margin-left: 2px;
				margin-right: 2px;
			}
		}
		@include breakpoint($sm){
			& + div {
				margin-top: 10px;
			}
		}
	}
	.select-group {
		.select {
			flex-basis: 240px;
			@include breakpoint($smd){
				& + .select {
					margin-top: 5px;
					display: block;
				}
			}
		}
	}
}

.date-set {
	@include breakpoint($sm){
		display: flex;
	}
	@include breakpoint($mdw) {
		flex-basis: 270px;
		flex-shrink: 0;
	}
	@include breakpoint($lg) {
		flex-basis: 300px;
		flex-grow: 0;
	}
	.date,
	.month,
	.sdate,
	.edate {
		flex-basis: calc(50% - 8px) !important;
		width: calc(50% - 8px) !important;
		-webkit-appearance: none !important;
	}
	.dash {
		width: 24px;
		text-align: center;
	}
	.sh & {
		@include breakpoint($mdw) {
			font-size: 13px;
		}
	}
	.sh.m & {
		@include breakpoint($mdw) {
			font-size: 16px;
		}
	}
	.bd-reg & {
		@include breakpoint($md) {
			display: block;
			max-width: 300px;
		}
	}
}
input.date,
input.month,
input.sdate,
input.edate {
	background: #fff url(/static/portal/img/ico/sh-calendar.png) 100% center no-repeat;
	background-position: calc(100% - 10px) center;
	padding: 4px 10px;
}
