//자료 검색형
.sh-db {
	margin-bottom: 40px;
	position: sticky;
	top: 48px;
	// &.sticky {
	// 	position: sticky;
	// 	top: 78px;
	// 	padding-top: 0;
	// }
	@include breakpoint($lg){
		//position: relative;
		display: block;
		float: left;
		// width: per(204px + 35px, $pc-wide);
		width: 240px;
		padding-right: 36px;
		background-color: #fff;
		height: auto;
		margin-bottom: 0;
		&::after {
			content: "";
			display: inline-block;
			//border-right: 1px solid #d9d9d9;
			background-color: #d9d9d9;
			position: absolute;
			top: 0;
			right: -1px;
			width: 1px;
			height: 100%;
		}
	}
	.db-search {
		margin-bottom: 30px;
		@include breakpoint($smd){
			margin-bottom: 16px;
		}
		.t {
			margin-left: 2px;
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 5px;
				height: 5px;
				background-color: #222;
				border-radius: 50%;
				margin-right: 8px;
				margin-bottom: 3px;
			}
			strong {
				position: relative;
				font-weight: 600;
				&::before {
					content: "";
					display: inline-block;
					height: 1px;
					width: 100%;
					background-color: #222;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
		.search-box {	
			margin-top: 6px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@include breakpoint($smd){
				flex-direction: row;
				align-items: center;
			}				
			.keyword {
				width: 100%;				
				@include breakpoint($smd){
					flex-basis: calc(100% - 86px);
					flex-grow: 1;
				}
				input {
					width: 100%;
					height: 40px;
					border: 1px solid #d9d9d9;
					border-radius: 3px;
				}
			}
			.btns {	
				margin-top: 8px;
				display: flex;
				justify-content: space-between;
				@include breakpoint($smd){
					margin-top: 0;
				}
				button {
					color: #fff;
					width: calc(50% - 1px);
					height: 32px;
					border: 0;
					border-radius: 4px;
					@include breakpoint($smd){
						width: 40px;
						height: 40px;
					}
					&::before {
						vertical-align: sub;
						font-size: 20px;
						margin-right: 5px;
						@include breakpoint($smd){
							font-size: 25px;
						}
					}
					&.search {
						color: #fff;
						background-color: $point;
						border: 1px solid $point;
						&:focus {
							&:focus {
								@include focus;
							}
						}
						&::before {
							@include font-ico("\e8b6");
						}
						@include breakpoint($smd){
							margin: 0 2px;
						}
					}
					&.reset {
						color: #3B63C4;
						background-color: #fff;
						border: 1px solid #3B63C4;
						@include breakpoint($smd){
							background-color: #3B63C4;
						}
						&::before {
							color: #3B63C4;
							@include font-ico("\f053");
							@include breakpoint($smd){
								color: #fff
							}
						}
					}
					@include breakpoint($smd){
						span {
							@include hide;
						}
					}
				}
			}
		}
	}
	.check-list {
		position: relative;
		@include breakpoint($smd){
			h3 {
				display: none;
			}
		}
		.label-list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			label {
				font-size: rem(15);
				margin: 4px 0;
				@include breakpoint($lg){
					font-size: rem(18);
				}
			}
			input {
				& + i + span {
					max-width: calc(100% - 34px);
				}
				&:checked {
					& + i {
						& + span {
							position: relative;
							color: $point;
							font-weight: 500;
							text-decoration: underline;
						}
					}
				}
				&[disabled] {
					&:hover {
						& + i {
							outline: 0;
							& + span {
								cursor: default;
							}
						}
						//cursor: default;
					}
				}
			}
		}
		.check-ctrl {			
			@include breakpoint($lg){
				display: none;
			}
			position: relative;
			width: 100%;
			display: block;
			text-align: left;
			border: 1px solid #d9d9d9;
			padding: 7px 10px;
			@include breakpoint($smd){
				padding: 7px 15px;
			}
			&::before {
				@include font-ico-outline('\e5c5');
				font-size: 24px;
				position: absolute;
				top: 5px;
				right: 10px;
				color: $point;
				transition: all .2s
			}		
			&.active {
				&::before {
					transform: rotate(-180deg);
				}
			}  
		}
		@include breakpoint($smd){ 
			.label-list {
				display: none;
				border: 1px solid #d9d9d9;
				padding: 4px;
				flex-direction: row;
				&.active {
					display: flex;
					position: absolute;
					top: 36px;
					left: 0;
					width: 100%;
					z-index: 9;
					background-color: #fff;
				}
				label {
					width: 100%;
					// flex-basis: 50%;
					// width: 50%;
					// padding: 0 4px;
					input[type=checkbox] + i {
						margin-left: -15px;
					}
				}
			}
			&.details {
				.check-ctrl  {
					margin-top: 5px;
				}
			}
		}
		&.details {
			display: none;  //임시 주석
		}
	}
	.details-list {
		@include breakpoint($smd){
			position: absolute;
			top: 36px;
			left: 0;
			width: 100%;
			border: 1px solid #d9d9d9;
			z-index: 9;
			background-color: #fff;
			padding: 4px;
		}
		[class^=m-0] {
			display: none;
			&.on {
				display: block;
			}
			> ul {
				&.on {
					display: block;
				}		
				> li {
					//display: none;  //임시 주석
					margin: 7px 0;
					
					> button {
						position: relative;
						display: flex;
						text-align: left;
						color: #4D4D4D;
						font-size: rem(18);
						&::before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 22px;
							height: 22px;
							border: 1px solid #E5E5E5;
							border-radius: 3px;
							background-color: #FAFAFA;
							margin-right: 5px;
							margin-bottom: 3px;
						}
						&.active {
							&::before {
								border: 1px solid #3B63C4;
								background-color: #3B63C4;
							}
							&::after {
								@include font-ico-outline("\e5ca");
								font-size: 16px;
								position: absolute;
								top: 5px;
								left: 3px;
								color: #fff;
							}
						}
						&.bu {
							&::before {
								@include font-ico-outline('\e5cc');
								font-size: 22px;
								color: #1A1A1A;
								margin-right: 3px;
								border: none;
								background-color: transparent;
							}
							&::after {
								border: 1px solid #3B63C4;
								background-color: #3B63C4;
							}
							&.active {
								&::before {
									transform: rotate(90deg);
									margin-bottom: 4px;
								}
								&::after {
									display: none;
								}
							}
						}
						&[disabled=disabled] {
							cursor: default;
						}
					}
					ul.sub-m {
						padding-left: 22px;
						> li {
							margin: 4px 0;
							button {
								display: flex;
								text-align: left;
								position: relative;
								&::before {
									content: "";
									display: inline-block;
									vertical-align: middle;
									width: 18px;
									height: 18px;
									border: 1px solid #E5E5E5;
									border-radius: 3px;
									background-color: #FAFAFA;
									margin-right: 5px;
									margin-bottom: 2px;
								}
								&.active {
									&::before {
										border: 1px solid #3B63C4;
										background-color: #3B63C4;
									}
									&::after {
										@include font-ico-outline("\e5ca");
										font-size: 14px;
										position: absolute;
										top: 5px;
										left: 2px;
										color: #fff;
									}
								}
							}
							ul {
								li {
									margin: 2px 0;
								}
							}
						}
					}
				}
			}
		}
	}
	h3 {
		#content & {
			position: relative;
			font-size: 15px;
			margin: 20px 0 12px;
			color: #222;
			font-weight: 500;
			&::before {
				content: "";
				display: inline-block;
				background-color: #e2e2e2;
				width: calc(100% - 45px);
				height: 1px;
				position: absolute;
				top: 50%;
				right: 0;
			}
		}		
	}
	.btn-view {
		display: none;
		margin: 6px 0 18px;
		padding: 3px 0;
		font-size: rem(14);
		color: #1A1A1A;
		width: 100%;
		background-color: #F2F2F2;
		border-radius: 4px;
		&::after {
			@include font-ico-outline('\e5cf');
			font-size: 18px;
			color: #1A1A1A;
			margin-left: 4px;
		}
		&.active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
	.Keyword {
		@include breakpoint($smd){
			display: none;
		}
		h3 {
			&::before {
				width: calc(100% - 75px);
			}
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			li {
				margin: 1px 2px 1px 0;
			}
			a {				
				display: inline-block;
				color: #666;
				font-size: 14px;
				border: 1px solid #C2C2C2;
				border-radius: 30px;
				padding: 2px 7px;
				&:hover {
					color: #fff;
					background-color: #3B63C4;
					order: 1px solid #3B63C4;
				}
				 + span {
					margin-right: 2px;
				 }
			}
		}
	}
}

@mixin select-set {
	.select-set {
		position: relative;
		.btn_select {
			// color: #666;
			position: relative;
			text-align: left;
			width: 135px;
			height: $sh-form-height;;
			border: 1px solid $form-bd-color;
			border-radius: $sh-bd-radius;
			padding: 0 36px 0 8px;
			background-color: #fff;
			@include breakpoint($sm){
				width: auto;
			}
			&::after {
				@include font-ico-outline('\e5c5');
				font-size: 24px;
				color: #1C1B1F;
				position: absolute;
				top: 50%;
				right: 8px;
				margin-top: -12px;
			}
			&.on {
				& + ul {
					display: block;
				}
			}
		}
		ul {
			display: none;
			position: absolute;
			top: 31px;
			left: 0;
			z-index: 1;
			width: 100%;
			border: 1px solid $form-bd-color;
			border-radius: $sh-bd-radius;
			background-color: #fff;
			padding: 5px 0;			
			li {				
				button {
					text-align: left;
					width: 100%;
					padding: 0 8px;
				}
			}
		}
	}
}

.sh-select {
	display: flex;
	justify-content: right;
	margin-bottom: 25px;
	@include breakpoint($sm){
		justify-content: flex-start;
	}
	> * {
		margin: 0 4px;
	}
	@include select-set();
	.submit {
		width: 44px;
		background-color: #3B63C4;
		border-radius: $sh-bd-radius;
		&::before {
			color: #fff;
			@include font-ico-outline('\e5ca');
			font-size: 18px;
			margin-bottom: 2px;
		}
	}	
}


/* 검색 필드*/
.sh {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 25px;
	background-color: #F2F6FA;
	padding: 45px 20px;
	font-size: rem(18);
	@include breakpoint($smd){
		font-size: 13px;
		padding: 14px;
	}
	@include breakpoint($sm){
		display: block;
	}
	.select-box {
		display: flex;
		// @include breakpoint($sm){
		// 	width: calc(100% - 250px);
		// }
		.select-set {
			position: relative;
			background-color: #fff;			
			&::after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 1px;
				height: 32px;
				background-color: #E5E5E5;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -16px;
			}
			select {
				width: 150px;
				border-radius: 5px 0 0 5px;
				padding: 4px 40px 4px 20px !important;
				background-position: calc(100% - 15px) 50%;
				@include breakpoint($mdw){
					width: 120px;
				}
				@include breakpoint($sm){
					width: 100px;
					height: 40px;
					padding: 4px 20px 4px 10px !important;
					background-position: calc(100% - 10px) 50%;
				}
			}
		}		
		input[type=text] {
			border-radius: 0;
		}
	}
	@include select-set();
	.select-set {
		select {
			// width: 220px;
			width: 150px;
			height: 56px;
			border: 0;
			padding: 4px 40px 4px 20px !important;
			@include breakpoint($smd){
				width: 120px;
			}
			@include breakpoint($sm){
				width: 100px;
				height: 40px;
			}
		}
		.btn_select {
			padding: 0 25px;
			@include breakpoint($sm){
				padding: 0 15px;
			}
		}
		ul {
			top: 56px;
			@include breakpoint($sm){
				top: 40px;
			}
			li button {
				padding: 8px 25px;
				@include breakpoint($sm){
					padding: 5px 15px;
				}
			}
		}
	}
	
	.c {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;		
		// max-width: 100%;
		width: 100%;;
		max-width: 904px;
		margin: 0 auto;
		@include breakpoint($sm){
			display: block;
		}
		&.short {
			
			.sh-input {
				display: flex;
			}
			.keyword-set {
				flex-basis: calc(100% - 100px - 2px);
			}
		}
		.sh-input {
			display: flex;
			width: 100%;
			justify-content: center;
			@include breakpoint($sm){
				display: block;
			}
			> * {
				margin: 0 2px;
			}
		}
		.sh-txt {
			display: block;
			margin-top: 8px;
			.help {
				color: #4D4D4D;
				&::before {
					@include font-ico-outline('\e88e');
					font-size: 24px;
					color: #4D4D4D;
					margin-right: 5px;
					@include breakpoint($sm){
						font-size: 16px;
					}
				}
			}
		}
		.keyword-set {
			width: 386px;
			//flex-basis: calc(100% - 200px - 2px);
			display: flex;
			align-items: center;
			background-color: #fff;
			border-radius: 4px;
			@include breakpoint($mdw){

			}
			@include breakpoint($sm){
				flex-basis: calc(100% - 100px - 2px);
			}
			.keyword {
				width: calc(100% - 66px);				
				input[type=text] {
					width: 100%;
					border: 0;
					height: 56px;
					padding: 10px 24px;
					@include breakpoint($sm){
						padding: 5px 15px;
						height: 40px !important;
					}
				}
			}		
			.search {
				width: 66px;
				height: 56px;
				text-align: center;
				@include breakpoint($sm){
					width: 40px;
					height: 40px;
				}
				&::before {
					@include font-ico-outline('\e8b6');
					font-size: 26px;
					color: #222;
				}
			}
		}
		.keyword {
			flex-grow: 1;
			input {
				width: 100%;
			}
		}
	}	
	> * {
		margin: 0 2px;		
	}
	.btn_select {
		flex-basis: 200px;
		width: 200px !important;
		border-radius: 4px;
		height: 56px !important;
		border: 0 !important;
		@include breakpoint($sm){
			flex-basis: 120px !important;
			width: 120px !important;
			height: 40px !important;
		}
	}
	&.selMenu {
		.shArea {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 200px;
			max-width: 100%;
			margin: 0 auto;
			> * {
				margin: 0 2px;
			}
			select {
				width: calc(100% - 80px - 8px);
			}
			[class^=b-] {
				line-height: 40px;
			}
		}
	}
	//경제용어사전
	&.sh2 {
		form {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			// width: 400px;
			// max-width: 100%;
			> * {
				margin: 0 2px;
			}
		}
		.t {
			margin-right: 10px;
			font-weight: 500;
		}
		.b-sh {
			&::before {
				content: "";
				@include font-ico-outline('\e8b6');
				font-size: 26px;
				color: #222;
			}
		}
	}
	//기념화폐
	&.sh3 { 
		.c {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			> * {
				flex-grow: 1;
				margin: 0 2px;
			}
			
			select, input, a {
				height: 56px;
			}
			[class^=b-] {
				min-width: auto;
				padding: 0 20px;
			}
			.select-box {
				select {
					width: 100%;
				}
			}
		}		
	}
}

.sh-detail {
	.c {
		gap: 4px 0;
		@include breakpoint($sm) {
			display: flex;
			flex-direction: column;
		}
		.select-box{
			display: flex;
			gap: 0 4px;
			select {
				height: 48px !important;
				padding: 4px 30px 4px 24px !important;
				flex: 1;
			}
		}
		.radio-box {
			background: #fff;
			padding: 12px 4px;
			border-radius: 4px;
			@include breakpoint($sm){
				padding: 4px 4px;
			}
			dl {
				display: flex;
				align-items: center;
				@include breakpoint($sm) {
					align-items: flex-start;
					flex-direction: column;
					gap: 4px 0;
				}
			
			}
			dt {
				> span {
					position: relative;
					padding: 0 24px;
					border-right: 1px solid #E5E5E5;
					color: #808080;
					@include breakpoint($sm) {
						border-right: 0;
					}
					&::before {
						content: "";
						display: block;
						position: absolute;
						top: 50%;
						left: 10px;
						transform: translateY(-50%);
						width: 5px;
						height: 5px;
						background: #808080;
						border-radius: 50%;
						
					}
				}
			}
			dd {
				display: flex;
				align-items: center;
				.radio-group {
					display: flex;
					align-items: center;
					padding: 0 30px;
					@include breakpoint($sm){
						// display: block;
						padding: 0;
					}
					label {
						@include breakpoint($sm){
							&:first-child {
								margin-left: 8px;
							}
						}
						& + label {
							margin-left: 14px;
							@include breakpoint($sm) {
								margin-left: 4px;
							}
						}
					}
					input[type=radio] {	
						& + i + span {
							color: #4D4D4D;
							margin-left: 10px;
							@include breakpoint($sm) {
								margin-left: 4px;
								margin-right: 5px;
							}
						}
						&:checked + i {
							& + span {
								font-weight: 500;
								color: $point;
								text-decoration: underline;
							}
						}
					}
					@include breakpoint($smd){
						label {
							width: 100%;
							margin: 3px 0;
						}
					}
				}
			}
		}
		.keyword-set {
			width: 100%;
			@include breakpoint($sm){
				flex-basis: 100%;
			}
			.keyword {
				input[type=text] {
					height: 48px;
				}
			}
		}
	}
	.btnSet {
		display: flex;
		margin-top: 20px;
		align-items: center;
		justify-content: center;
		button {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 32px;
			line-height: 32px;
			font-size: 16px;
			border-radius: 4px;
			&.b-search {
				.ico-srch-w {
					width: 21px;
					height: 20px;
					@include background-image-retina("/static/museum/img/ico/ico-srch-w", png, auto, 100%);
					margin-right: 8px;
				}
			}
			&.b-reset {
				background: #fff;
				border: 1px solid #3B63C4;
				box-sizing: border-box;
				color: #3B63C4;
				.ico-reset {
					width: 21px;
					height: 20px;
					@include background-image-retina("/static/museum/img/ico/ico-reset", png, auto, 100%);
					margin-right: 8px;
				}
			}
		}
	}
}
.sh-detail2 {
	.row {
		align-items: center;
		gap: 0 4px;
		@include breakpoint($sm) {
			flex-wrap: wrap;
		}
		& + .sh-input {
			.select-box {
				width: 100%;
				height: 48px;
				background: #fff;
				border-radius: 4px;
			}
		}
	}
	.date-set {
		@include breakpoint($sm) {
			width: 100%;
		}
		input {
			height: 48px;
		}
		& + .select-box{
			width: calc(100% - 334px);
			@include breakpoint($smd) {
				width: calc(100% - 250px);
			}
			@include breakpoint($sm) {
				width: 100%;
			}
		}
	}
}



.keyWordBd {
	margin-bottom: 20px;
	> ul {
		> li {
			display: flex;
			& + li {
				margin-top: 5px;
			}
			.keyWdHd {
				width: 80px;
				line-height: 40px;
			}
			.keyword {
				display: flex;
				flex-wrap: wrap;
				//flex-wrap: wrap;
				//flex-direction: row;
				width: calc(100% - 80px);
				li {
					padding: 0 1px;
				}
			}
			a {
				color: $black;
				display: inline-block;
				text-align: center;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border: 1px solid #BFBFBF;
			}
			&.on {
				a {
					color: #fff;
					border: 1px solid $point;
					background-color: $point;
				}
			}
		}
	}
}

.date-set {
	@include breakpoint($sm){
		display: flex;
		align-items: center;
		margin: 0 0 5px 0 !important;
	}
	@include breakpoint($mdw) {
		// flex-basis: 250px;
		width: 250px;
		flex-shrink: 0;
	}
	@include breakpoint($lg) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 344px;
		flex-grow: 0;
	}
	.date,
	.month,
	.sdate,
	.edate {
		border: 0;
		height: 56px;
		flex-basis: calc(50% - 8px) !important;
		width: calc(50% - 8px) !important;
		-webkit-appearance: none !important;
		@include breakpoint($sm){
			height: 40px;
		}
	}
	.dash {
		//display: inline-block;
		width: 20px;
		text-align: center
	}
	.bd-reg & {
		@include breakpoint($md) {
			display: block;
			max-width: 300px;
		}
	}
}
.date-set + .select-box {
	@include breakpoint($mdw) {
		width: calc(100% - 250px - 10px);
	}
	.keyword-set {
		@include breakpoint($mdw) {
			width: calc(100% - 120px);
		}
	}
}
input.date,
input.month,
input.sdate,
input.edate {
	background: #fff url(/static/museum/img/ico/ico-date.png) calc(100% - 10px) center no-repeat;
	border-radius: 4px;
	padding: 0 30px 0 20px;
	@include breakpoint($smd){
		padding: 0 20px 0 10px;
		// background-position: calc(100% - 15px) center;
	}
}


