// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-more-circle-name: 'btn_more_circle';
$btn-more-circle-x: 168px;
$btn-more-circle-y: 68px;
$btn-more-circle-offset-x: -168px;
$btn-more-circle-offset-y: -68px;
$btn-more-circle-width: 36px;
$btn-more-circle-height: 36px;
$btn-more-circle-total-width: 268px;
$btn-more-circle-total-height: 224px;
$btn-more-circle-image: '/static/museum/img/sprite.png';
$btn-more-circle: (168px, 68px, -168px, -68px, 36px, 36px, 268px, 224px, '/static/museum/img/sprite.png', 'btn_more_circle', );
$ico-clock-name: 'ico-clock';
$ico-clock-x: 236px;
$ico-clock-y: 52px;
$ico-clock-offset-x: -236px;
$ico-clock-offset-y: -52px;
$ico-clock-width: 24px;
$ico-clock-height: 24px;
$ico-clock-total-width: 268px;
$ico-clock-total-height: 224px;
$ico-clock-image: '/static/museum/img/sprite.png';
$ico-clock: (236px, 52px, -236px, -52px, 24px, 24px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-clock', );
$ico-close-name: 'ico-close';
$ico-close-x: 0px;
$ico-close-y: 84px;
$ico-close-offset-x: 0px;
$ico-close-offset-y: -84px;
$ico-close-width: 48px;
$ico-close-height: 48px;
$ico-close-total-width: 268px;
$ico-close-total-height: 224px;
$ico-close-image: '/static/museum/img/sprite.png';
$ico-close: (0px, 84px, 0px, -84px, 48px, 48px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-close', );
$ico-file-name: 'ico-file';
$ico-file-x: 236px;
$ico-file-y: 140px;
$ico-file-offset-x: -236px;
$ico-file-offset-y: -140px;
$ico-file-width: 20px;
$ico-file-height: 20px;
$ico-file-total-width: 268px;
$ico-file-total-height: 224px;
$ico-file-image: '/static/museum/img/sprite.png';
$ico-file: (236px, 140px, -236px, -140px, 20px, 20px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-file', );
$ico-info-name: 'ico-info';
$ico-info-x: 0px;
$ico-info-y: 204px;
$ico-info-offset-x: 0px;
$ico-info-offset-y: -204px;
$ico-info-width: 20px;
$ico-info-height: 20px;
$ico-info-total-width: 268px;
$ico-info-total-height: 224px;
$ico-info-image: '/static/museum/img/sprite.png';
$ico-info: (0px, 204px, 0px, -204px, 20px, 20px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-info', );
$ico-main-left-name: 'ico-main-left';
$ico-main-left-x: 0px;
$ico-main-left-y: 0px;
$ico-main-left-offset-x: 0px;
$ico-main-left-offset-y: 0px;
$ico-main-left-width: 64px;
$ico-main-left-height: 64px;
$ico-main-left-total-width: 268px;
$ico-main-left-total-height: 224px;
$ico-main-left-image: '/static/museum/img/sprite.png';
$ico-main-left: (0px, 0px, 0px, 0px, 64px, 64px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-main-left', );
$ico-main-menu1-name: 'ico-main-menu1';
$ico-main-menu1-x: 0px;
$ico-main-menu1-y: 152px;
$ico-main-menu1-offset-x: 0px;
$ico-main-menu1-offset-y: -152px;
$ico-main-menu1-width: 32px;
$ico-main-menu1-height: 32px;
$ico-main-menu1-total-width: 268px;
$ico-main-menu1-total-height: 224px;
$ico-main-menu1-image: '/static/museum/img/sprite.png';
$ico-main-menu1: (0px, 152px, 0px, -152px, 32px, 32px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-main-menu1', );
$ico-main-menu2-name: 'ico-main-menu2';
$ico-main-menu2-x: 52px;
$ico-main-menu2-y: 152px;
$ico-main-menu2-offset-x: -52px;
$ico-main-menu2-offset-y: -152px;
$ico-main-menu2-width: 32px;
$ico-main-menu2-height: 32px;
$ico-main-menu2-total-width: 268px;
$ico-main-menu2-total-height: 224px;
$ico-main-menu2-image: '/static/museum/img/sprite.png';
$ico-main-menu2: (52px, 152px, -52px, -152px, 32px, 32px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-main-menu2', );
$ico-main-menu3-name: 'ico-main-menu3';
$ico-main-menu3-x: 104px;
$ico-main-menu3-y: 152px;
$ico-main-menu3-offset-x: -104px;
$ico-main-menu3-offset-y: -152px;
$ico-main-menu3-width: 32px;
$ico-main-menu3-height: 32px;
$ico-main-menu3-total-width: 268px;
$ico-main-menu3-total-height: 224px;
$ico-main-menu3-image: '/static/museum/img/sprite.png';
$ico-main-menu3: (104px, 152px, -104px, -152px, 32px, 32px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-main-menu3', );
$ico-main-menu4-name: 'ico-main-menu4';
$ico-main-menu4-x: 156px;
$ico-main-menu4-y: 152px;
$ico-main-menu4-offset-x: -156px;
$ico-main-menu4-offset-y: -152px;
$ico-main-menu4-width: 32px;
$ico-main-menu4-height: 32px;
$ico-main-menu4-total-width: 268px;
$ico-main-menu4-total-height: 224px;
$ico-main-menu4-image: '/static/museum/img/sprite.png';
$ico-main-menu4: (156px, 152px, -156px, -152px, 32px, 32px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-main-menu4', );
$ico-main-menu5-name: 'ico-main-menu5';
$ico-main-menu5-x: 236px;
$ico-main-menu5-y: 0px;
$ico-main-menu5-offset-x: -236px;
$ico-main-menu5-offset-y: 0px;
$ico-main-menu5-width: 32px;
$ico-main-menu5-height: 32px;
$ico-main-menu5-total-width: 268px;
$ico-main-menu5-total-height: 224px;
$ico-main-menu5-image: '/static/museum/img/sprite.png';
$ico-main-menu5: (236px, 0px, -236px, 0px, 32px, 32px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-main-menu5', );
$ico-main-right-name: 'ico-main-right';
$ico-main-right-x: 84px;
$ico-main-right-y: 0px;
$ico-main-right-offset-x: -84px;
$ico-main-right-offset-y: 0px;
$ico-main-right-width: 64px;
$ico-main-right-height: 64px;
$ico-main-right-total-width: 268px;
$ico-main-right-total-height: 224px;
$ico-main-right-image: '/static/museum/img/sprite.png';
$ico-main-right: (84px, 0px, -84px, 0px, 64px, 64px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-main-right', );
$ico-map-name: 'ico-map';
$ico-map-x: 236px;
$ico-map-y: 96px;
$ico-map-offset-x: -236px;
$ico-map-offset-y: -96px;
$ico-map-width: 24px;
$ico-map-height: 24px;
$ico-map-total-width: 268px;
$ico-map-total-height: 224px;
$ico-map-image: '/static/museum/img/sprite.png';
$ico-map: (236px, 96px, -236px, -96px, 24px, 24px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-map', );
$ico-overview-name: 'ico-overview';
$ico-overview-x: 68px;
$ico-overview-y: 84px;
$ico-overview-offset-x: -68px;
$ico-overview-offset-y: -84px;
$ico-overview-width: 48px;
$ico-overview-height: 48px;
$ico-overview-total-width: 268px;
$ico-overview-total-height: 224px;
$ico-overview-image: '/static/museum/img/sprite.png';
$ico-overview: (68px, 84px, -68px, -84px, 48px, 48px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-overview', );
$ico-top-name: 'ico-top';
$ico-top-x: 168px;
$ico-top-y: 0px;
$ico-top-offset-x: -168px;
$ico-top-offset-y: 0px;
$ico-top-width: 48px;
$ico-top-height: 48px;
$ico-top-total-width: 268px;
$ico-top-total-height: 224px;
$ico-top-image: '/static/museum/img/sprite.png';
$ico-top: (168px, 0px, -168px, 0px, 48px, 48px, 268px, 224px, '/static/museum/img/sprite.png', 'ico-top', );
$btn-more-circle-2x-name: 'btn_more_circle@2x';
$btn-more-circle-2x-x: 336px;
$btn-more-circle-2x-y: 136px;
$btn-more-circle-2x-offset-x: -336px;
$btn-more-circle-2x-offset-y: -136px;
$btn-more-circle-2x-width: 72px;
$btn-more-circle-2x-height: 72px;
$btn-more-circle-2x-total-width: 536px;
$btn-more-circle-2x-total-height: 448px;
$btn-more-circle-2x-image: '/static/museum/img/sprite@2x.png';
$btn-more-circle-2x: (336px, 136px, -336px, -136px, 72px, 72px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'btn_more_circle@2x', );
$ico-clock-2x-name: 'ico-clock@2x';
$ico-clock-2x-x: 472px;
$ico-clock-2x-y: 104px;
$ico-clock-2x-offset-x: -472px;
$ico-clock-2x-offset-y: -104px;
$ico-clock-2x-width: 48px;
$ico-clock-2x-height: 48px;
$ico-clock-2x-total-width: 536px;
$ico-clock-2x-total-height: 448px;
$ico-clock-2x-image: '/static/museum/img/sprite@2x.png';
$ico-clock-2x: (472px, 104px, -472px, -104px, 48px, 48px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-clock@2x', );
$ico-close-2x-name: 'ico-close@2x';
$ico-close-2x-x: 0px;
$ico-close-2x-y: 168px;
$ico-close-2x-offset-x: 0px;
$ico-close-2x-offset-y: -168px;
$ico-close-2x-width: 96px;
$ico-close-2x-height: 96px;
$ico-close-2x-total-width: 536px;
$ico-close-2x-total-height: 448px;
$ico-close-2x-image: '/static/museum/img/sprite@2x.png';
$ico-close-2x: (0px, 168px, 0px, -168px, 96px, 96px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-close@2x', );
$ico-file-2x-name: 'ico-file@2x';
$ico-file-2x-x: 472px;
$ico-file-2x-y: 280px;
$ico-file-2x-offset-x: -472px;
$ico-file-2x-offset-y: -280px;
$ico-file-2x-width: 40px;
$ico-file-2x-height: 40px;
$ico-file-2x-total-width: 536px;
$ico-file-2x-total-height: 448px;
$ico-file-2x-image: '/static/museum/img/sprite@2x.png';
$ico-file-2x: (472px, 280px, -472px, -280px, 40px, 40px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-file@2x', );
$ico-info-2x-name: 'ico-info@2x';
$ico-info-2x-x: 0px;
$ico-info-2x-y: 408px;
$ico-info-2x-offset-x: 0px;
$ico-info-2x-offset-y: -408px;
$ico-info-2x-width: 40px;
$ico-info-2x-height: 40px;
$ico-info-2x-total-width: 536px;
$ico-info-2x-total-height: 448px;
$ico-info-2x-image: '/static/museum/img/sprite@2x.png';
$ico-info-2x: (0px, 408px, 0px, -408px, 40px, 40px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-info@2x', );
$ico-main-left-2x-name: 'ico-main-left@2x';
$ico-main-left-2x-x: 0px;
$ico-main-left-2x-y: 0px;
$ico-main-left-2x-offset-x: 0px;
$ico-main-left-2x-offset-y: 0px;
$ico-main-left-2x-width: 128px;
$ico-main-left-2x-height: 128px;
$ico-main-left-2x-total-width: 536px;
$ico-main-left-2x-total-height: 448px;
$ico-main-left-2x-image: '/static/museum/img/sprite@2x.png';
$ico-main-left-2x: (0px, 0px, 0px, 0px, 128px, 128px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-main-left@2x', );
$ico-main-menu1-2x-name: 'ico-main-menu1@2x';
$ico-main-menu1-2x-x: 0px;
$ico-main-menu1-2x-y: 304px;
$ico-main-menu1-2x-offset-x: 0px;
$ico-main-menu1-2x-offset-y: -304px;
$ico-main-menu1-2x-width: 64px;
$ico-main-menu1-2x-height: 64px;
$ico-main-menu1-2x-total-width: 536px;
$ico-main-menu1-2x-total-height: 448px;
$ico-main-menu1-2x-image: '/static/museum/img/sprite@2x.png';
$ico-main-menu1-2x: (0px, 304px, 0px, -304px, 64px, 64px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-main-menu1@2x', );
$ico-main-menu2-2x-name: 'ico-main-menu2@2x';
$ico-main-menu2-2x-x: 104px;
$ico-main-menu2-2x-y: 304px;
$ico-main-menu2-2x-offset-x: -104px;
$ico-main-menu2-2x-offset-y: -304px;
$ico-main-menu2-2x-width: 64px;
$ico-main-menu2-2x-height: 64px;
$ico-main-menu2-2x-total-width: 536px;
$ico-main-menu2-2x-total-height: 448px;
$ico-main-menu2-2x-image: '/static/museum/img/sprite@2x.png';
$ico-main-menu2-2x: (104px, 304px, -104px, -304px, 64px, 64px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-main-menu2@2x', );
$ico-main-menu3-2x-name: 'ico-main-menu3@2x';
$ico-main-menu3-2x-x: 208px;
$ico-main-menu3-2x-y: 304px;
$ico-main-menu3-2x-offset-x: -208px;
$ico-main-menu3-2x-offset-y: -304px;
$ico-main-menu3-2x-width: 64px;
$ico-main-menu3-2x-height: 64px;
$ico-main-menu3-2x-total-width: 536px;
$ico-main-menu3-2x-total-height: 448px;
$ico-main-menu3-2x-image: '/static/museum/img/sprite@2x.png';
$ico-main-menu3-2x: (208px, 304px, -208px, -304px, 64px, 64px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-main-menu3@2x', );
$ico-main-menu4-2x-name: 'ico-main-menu4@2x';
$ico-main-menu4-2x-x: 312px;
$ico-main-menu4-2x-y: 304px;
$ico-main-menu4-2x-offset-x: -312px;
$ico-main-menu4-2x-offset-y: -304px;
$ico-main-menu4-2x-width: 64px;
$ico-main-menu4-2x-height: 64px;
$ico-main-menu4-2x-total-width: 536px;
$ico-main-menu4-2x-total-height: 448px;
$ico-main-menu4-2x-image: '/static/museum/img/sprite@2x.png';
$ico-main-menu4-2x: (312px, 304px, -312px, -304px, 64px, 64px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-main-menu4@2x', );
$ico-main-menu5-2x-name: 'ico-main-menu5@2x';
$ico-main-menu5-2x-x: 472px;
$ico-main-menu5-2x-y: 0px;
$ico-main-menu5-2x-offset-x: -472px;
$ico-main-menu5-2x-offset-y: 0px;
$ico-main-menu5-2x-width: 64px;
$ico-main-menu5-2x-height: 64px;
$ico-main-menu5-2x-total-width: 536px;
$ico-main-menu5-2x-total-height: 448px;
$ico-main-menu5-2x-image: '/static/museum/img/sprite@2x.png';
$ico-main-menu5-2x: (472px, 0px, -472px, 0px, 64px, 64px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-main-menu5@2x', );
$ico-main-right-2x-name: 'ico-main-right@2x';
$ico-main-right-2x-x: 168px;
$ico-main-right-2x-y: 0px;
$ico-main-right-2x-offset-x: -168px;
$ico-main-right-2x-offset-y: 0px;
$ico-main-right-2x-width: 128px;
$ico-main-right-2x-height: 128px;
$ico-main-right-2x-total-width: 536px;
$ico-main-right-2x-total-height: 448px;
$ico-main-right-2x-image: '/static/museum/img/sprite@2x.png';
$ico-main-right-2x: (168px, 0px, -168px, 0px, 128px, 128px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-main-right@2x', );
$ico-map-2x-name: 'ico-map@2x';
$ico-map-2x-x: 472px;
$ico-map-2x-y: 192px;
$ico-map-2x-offset-x: -472px;
$ico-map-2x-offset-y: -192px;
$ico-map-2x-width: 48px;
$ico-map-2x-height: 48px;
$ico-map-2x-total-width: 536px;
$ico-map-2x-total-height: 448px;
$ico-map-2x-image: '/static/museum/img/sprite@2x.png';
$ico-map-2x: (472px, 192px, -472px, -192px, 48px, 48px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-map@2x', );
$ico-overview-2x-name: 'ico-overview@2x';
$ico-overview-2x-x: 136px;
$ico-overview-2x-y: 168px;
$ico-overview-2x-offset-x: -136px;
$ico-overview-2x-offset-y: -168px;
$ico-overview-2x-width: 96px;
$ico-overview-2x-height: 96px;
$ico-overview-2x-total-width: 536px;
$ico-overview-2x-total-height: 448px;
$ico-overview-2x-image: '/static/museum/img/sprite@2x.png';
$ico-overview-2x: (136px, 168px, -136px, -168px, 96px, 96px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-overview@2x', );
$ico-top-2x-name: 'ico-top@2x';
$ico-top-2x-x: 336px;
$ico-top-2x-y: 0px;
$ico-top-2x-offset-x: -336px;
$ico-top-2x-offset-y: 0px;
$ico-top-2x-width: 96px;
$ico-top-2x-height: 96px;
$ico-top-2x-total-width: 536px;
$ico-top-2x-total-height: 448px;
$ico-top-2x-image: '/static/museum/img/sprite@2x.png';
$ico-top-2x: (336px, 0px, -336px, 0px, 96px, 96px, 536px, 448px, '/static/museum/img/sprite@2x.png', 'ico-top@2x', );
$spritesheet-width: 268px;
$spritesheet-height: 224px;
$spritesheet-image: '/static/museum/img/sprite.png';
$spritesheet-sprites: ($btn-more-circle, $ico-clock, $ico-close, $ico-file, $ico-info, $ico-main-left, $ico-main-menu1, $ico-main-menu2, $ico-main-menu3, $ico-main-menu4, $ico-main-menu5, $ico-main-right, $ico-map, $ico-overview, $ico-top, );
$spritesheet: (268px, 224px, '/static/museum/img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 536px;
$retina-spritesheet-height: 448px;
$retina-spritesheet-image: '/static/museum/img/sprite@2x.png';
$retina-spritesheet-sprites: ($btn-more-circle-2x, $ico-clock-2x, $ico-close-2x, $ico-file-2x, $ico-info-2x, $ico-main-left-2x, $ico-main-menu1-2x, $ico-main-menu2-2x, $ico-main-menu3-2x, $ico-main-menu4-2x, $ico-main-menu5-2x, $ico-main-right-2x, $ico-map-2x, $ico-overview-2x, $ico-top-2x, );
$retina-spritesheet: (536px, 448px, '/static/museum/img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$btn-more-circle-group-name: 'btn_more_circle';
$btn-more-circle-group: ('btn_more_circle', $btn-more-circle, $btn-more-circle-2x, );
$ico-clock-group-name: 'ico-clock';
$ico-clock-group: ('ico-clock', $ico-clock, $ico-clock-2x, );
$ico-close-group-name: 'ico-close';
$ico-close-group: ('ico-close', $ico-close, $ico-close-2x, );
$ico-file-group-name: 'ico-file';
$ico-file-group: ('ico-file', $ico-file, $ico-file-2x, );
$ico-info-group-name: 'ico-info';
$ico-info-group: ('ico-info', $ico-info, $ico-info-2x, );
$ico-main-left-group-name: 'ico-main-left';
$ico-main-left-group: ('ico-main-left', $ico-main-left, $ico-main-left-2x, );
$ico-main-menu1-group-name: 'ico-main-menu1';
$ico-main-menu1-group: ('ico-main-menu1', $ico-main-menu1, $ico-main-menu1-2x, );
$ico-main-menu2-group-name: 'ico-main-menu2';
$ico-main-menu2-group: ('ico-main-menu2', $ico-main-menu2, $ico-main-menu2-2x, );
$ico-main-menu3-group-name: 'ico-main-menu3';
$ico-main-menu3-group: ('ico-main-menu3', $ico-main-menu3, $ico-main-menu3-2x, );
$ico-main-menu4-group-name: 'ico-main-menu4';
$ico-main-menu4-group: ('ico-main-menu4', $ico-main-menu4, $ico-main-menu4-2x, );
$ico-main-menu5-group-name: 'ico-main-menu5';
$ico-main-menu5-group: ('ico-main-menu5', $ico-main-menu5, $ico-main-menu5-2x, );
$ico-main-right-group-name: 'ico-main-right';
$ico-main-right-group: ('ico-main-right', $ico-main-right, $ico-main-right-2x, );
$ico-map-group-name: 'ico-map';
$ico-map-group: ('ico-map', $ico-map, $ico-map-2x, );
$ico-overview-group-name: 'ico-overview';
$ico-overview-group: ('ico-overview', $ico-overview, $ico-overview-2x, );
$ico-top-group-name: 'ico-top';
$ico-top-group: ('ico-top', $ico-top, $ico-top-2x, );
$retina-groups: ($btn-more-circle-group, $ico-clock-group, $ico-close-group, $ico-file-group, $ico-info-group, $ico-main-left-group, $ico-main-menu1-group, $ico-main-menu2-group, $ico-main-menu3-group, $ico-main-menu4-group, $ico-main-menu5-group, $ico-main-right-group, $ico-map-group, $ico-overview-group, $ico-top-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
