@import url('/static/portal/css/default.css');

@import 'base/util'; //mixins
@import '../../commons/scss/breakpoint'; //반응형 플러그인
@import 'base/variables'; //환경 설정
@import 'base/color'; // colors
@import 'components/ico'; // icons
//@import 'breakpoint'; //반응형 플러그인
//@import 'base/heading';//해딩스타일


#header {
	background-color: #fff;
	.globalHeader {
		@include breakpoint($lg){
			ul {
				border-bottom: 1px solid $bd-color;
				li {
					a {
						color: $point;
					}
				}
			}
		}
	}
	.logo a {
		background: url(/static/portal/img/main/logo.png) 50% no-repeat;
	}
	.gnb-stiky & {
		background-color: #131547;
		@include breakpoint($lg){
			.logo a {
				background: url(/static/portal/img/common/logo.png) 50% no-repeat;
			}
			.globalHeader ul {
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				a {
					color: rgba(255, 255, 255, 0.6);
				}
			}
			.gnb {
				> ul > li > a:hover {
					color: #39A0FF;
				}
				> ul > li > a,
				.all-nav-toggle::before {
					color: #fff;
				}
			}
		}
	}	
}

.gnb {
	> ul {
		@include breakpoint($lg){
			> li {
				> a {
					color: #1A1A1A;
				}
			}
		}
	}
	.all-nav-toggle::before {
		color: #1C1B1F;
	}
}

.section-nav {
	position: fixed;
	left: 32px;
	bottom: 50%;
	z-index: 200;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	transition: all 0.3s;
	a {
		display: flex;
		padding: 7px;
		color: rgba(255, 255, 255, 0.8);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		transition: all 0.5s;
		* {
			transition: all 0.5s;
		}
		i {
			position: relative;
			// display: inline-block;
			@include circle(6px);
			background-color: rgba(255, 255, 255, 0.6);
		}
		&.active {
			i {
				@include circle(10px);
				background-color: #fff;
				&::before {
					content: "";
					position: absolute;
					inset: 0;
					outline: 8px solid rgba(255, 255, 255, 0.2);
					border-radius: 20px;
				}
			}
		}
	}
	&--color {
		a {
			//color: #000;
			i {
				background-color: rgba(59, 99, 196, 0.6);
			}
			&.active {
				i {
					background-color: rgba(59, 99, 196, 1);
					&::before {
						outline: 8px solid rgba(59, 99, 196, 0.2);
						background-color: rgba(59, 99, 196, 1);
					}
				}
			}
		}
	}
}

.section {
	//height: calc(100vh - 94px);
	min-height: 1080px;
	height: 100vh;
	h2 {
		color: #131547;
		font-size: rem(36) !important;
		font-weight: 600;
		margin-bottom: 100px !important;
	}
	section {
		width: 1680px;
		max-width: 100%;
		margin: 0 auto;
		//padding: 110px 0;
	}
}

.section1-visual {
	height: 100%;
	.swiper-slide {
		position: relative;
		background-size: cover;
		background-attachment: fixed;
		.s1-txt-set {
			position: absolute;
			bottom: 159px;
			left: 121px;
		}
		.s1-t1 {
			color: #fff;
			font-size: rem(64);
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
		}
		.s1-t2 {
			margin-top: 30px;
			color: #fff;
			font-size: rem(28);
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-transform: uppercase;
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			//backdrop-filter: blur(6px);
			transition: all 0.5s;
			z-index: 1;
		}
	}
	.swiper-slide-fully-visible {
		&::before {
			backdrop-filter: blur(0);
		}
	}
	&__ctrl {
		position: absolute;
		left: 112px;
		top: 529px + 40;
		z-index: 100;
		display: flex;
		flex-direction: row;
		align-items: center;
		.swiper-pagination-bullet {
			@include rect(20px);
			background-color: #fff;
			opacity: 1;
			transform: translateY(3px);
		}
		.swiper-pagination-bullet-active {
			width: 48px;
			border-radius: 100px;
			background: var(--CI_blue, #15b4df);
		}
		button {
			@include rect(36px);
			background-color: transparent;
		}
		.section1-visual__swiper-button-stop {
			transform: translateY(3px);
		}
	}
	.swiper-pagination {
		position: static;
		color: rgba(255, 255, 255, 0.7);
		font-size: rem(27);
		font-weight: 300;
		&-current {
			color: #39A0FF;
			font-weight: 700;
			font-size: rem(36);
		}
		span {
			display: inline-block;
			padding: 0 10px;
		}
	}
}
.s1-right-set {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 160px;
	height: 100%;
	//height: calc(100% - 75px);
	flex-shrink: 0;
	background: rgba(9, 11, 64, 0.8);
	z-index: 30;
	padding: 24px;
	display: flex;
	align-items: center;
	a {
		position: relative;		
		width: 100%;		
		height: calc(100% / 3);
		padding: 40px 0 80px;
		color: #fff;
		display: block;
		&:nth-child(2) {
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-width: 1px 0;
		}
		&::before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			position: absolute;
			bottom: 35px;
			left: 10px;
			margin-left: -10px;
			background-image: url(/static/portal/img/main/bu_circle_off.png);
			z-index: 9;
		}
		&:hover {
			&::before {
				background-image: url(/static/portal/img/main/bu_circle_on.png);
			}
		}
	}
	strong {
		display: block;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 15px;
		span {
			font-size: 13px;
			font-weight: 400;
			color: #BFBFBF;
			display: inline-block;
			padding-top: 6px;
			&::before {
				@include font-ico-outline("\e88e");
				font-size: 18px;
				margin-right: 2px;
			}
		}
	}
	.t {
		display: block;
		font-size: rem(24);
		font-weight: 300;
		letter-spacing: -0.6px;
		line-height: 0.8;
		em {
			font-size: rem(44);
			font-weight: 600;
			line-height: 1.4;
		}
		.s {
			font-size: rem(14);
			font-weight: 400;
			color: #B1C1E7;
			//line-height: 1.2;
			&::after {
				@include font-ico-outline('\e5c5');
				font-size: 22px;
				color: #FF327C;
				margin-left: 6px;
			}
		}
		.ctype1 {
			color: #FF327C;
		}
		.ctype2 {
			color: #39A0FF;
		}
	}
}

.tab-list {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	button {
		font-size: rem(20);
		color: #808080;
		&[aria-selected="true"] {
			font-size: rem(24);
			font-weight: 500;
			color: #1A1A1A;
		}
		& + button {
			margin-left: 18px;
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 1px;
				height: 20px;
				background-color: #BFBFBF;
				margin-right: 18px;
				margin-top: -4px;
			}
		}
	}
}
.tab-content {
	border-top: 2px solid #1A1A1A;
	.con {
		position: relative;
		display: none;
		width: 100%;
		&.active {
			display: block;
		}
		.new {
			font-size: 12px;
			color: #E52106;
			display: inline-block;
			vertical-align: top;
			margin-left: 6px;
			margin-top: 5px;
		}
		.more {
			position: absolute;
			top: -69px;
			right: 0;			
			z-index: 1;
			&::before {
				content: "";
				display: inline-block;
				width: 36px;
				height: 36px;
				background: url(/static/portal/img/main/more.png);
			}
		}
	}
}

.img {
	display: block;
	padding: 1px;
	padding-top: 30%; //임시
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

#section2 {
	.set {
		display: flex;
		justify-content: space-between;
		> div {
			&:nth-child(1) {
				width: calc(47.6% - 40px);
			}
			&:nth-child(2) {
				width: calc(52.4% - 40px);
			}
		}
	}
	.tab-set {
		& + .tab-set {
			margin-top: 60px;
		}
	}
	.con {
		ul.notice {
			margin-top: 15px;
			li {
				line-height: 1.7;
				a {
					align-items: center;
					.tit {
						color: #222;
						font-size: rem(18);
						@include ellipsis;
						max-width: calc(100% - 130px);
					}
					.date {
						float: right;
						color: #666;
						font-size: rem(14);
					}
					&:hover {
						.tit {
							color: #3B63C4;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.schedule {
		&-top {
			display: flex;
			border-radius: 0 0 5px 5px;
			border: 1px solid #E5E5E5;
			border-width: 0 1px 1px;
			.mon-set {
				position: relative;
				width: 135px;
				border-right: 1px solid #E5E5E5;
				.mon {
					width: 100%;
					color: #000;
					font-weight: 500;
					text-align: left;
					background-color: #F2F6FA;
					padding: 11px 10px 11px 16px;
					&::after {
						@include font-ico-outline('\e5c5');
						font-size: 20px;
						float: right;
					}
					&-list {
						display: none;
						&.active {
							display: block;
							position: absolute;
							top: 46px - 5px;
							left: -1px;
							width: 136px;
							z-index: 9;
							border-radius: 0 0 5px 5px;
							background-color: #F2F6FA;
							border: 1px solid #E5E5E5;
							border-width: 0 1px 1px;
							padding-top: 5px;
							button {
								width: 100%;
								text-align: left;
								padding: 11px 10px 11px 16px;
							}
						}
					}
				}
			}
			.day {
				display: flex;
				justify-content: space-between;
				width: calc(100% - 135px - 88px);
				padding: 8px 16px;
				ul {
					display: flex;
					li {
						max-width: calc(100% / 12);
					}
				}
				button {
					width: 30px;
					height: 30px;
					color: #4D4D4D;
					font-size: rem(14);
					border-radius: 50%;
					//margin: 0 4px;
					&.active {
						color: #fff;
						background-color: #3B63C4;
					}
				}
			}
			.btn {
				display: flex;
				justify-content: center;
				width: 88px;
				border-left: 1px solid #E5E5E5;
				button {
					width: 32px;
					height: 46px;
					&::before {
						color: #1A1A1A;
						font-size: 24px;
					}
					&.prev {
						&::before {
							@include font-ico-outline('\e314');
							
						}
					}
					&.next {
						&::before {
							@include font-ico-outline('\e315');
						}
					}
				}
			}
		}
		&-con {
			margin-top: 22px;
			dl {
				display: table;
				table-layout: fixed;
				width: 100%;
				> * {
					display: table-cell;
				}
				dt {
					width: 115px;
					color: #666;
					font-size: rem(14);
				}
				dd {
					line-height: 1.8;
					ul {
						li {
							// height: 27px;
							// line-height: 27px;
							span {
								display: inline-block;
								vertical-align: middle;
								&.time {
									width: 70px;
									color: #3B63C4;
									font-size: rem(14);
								}
								&.txt {
									color: #1A1A1A;
									font-size: rem(18);
									@include ellipsis;
									width: calc(100% - 115px - 70px);
								}
							}							
						}
					}
				}
				& + dl {
					margin-top: 5px;
				}
			}
			.scroll {
				max-height: 165px;
				overflow-y: auto;
				overflow-x: hidden;
				.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
					width: 8px;
					background-color: #E5E5E5;
				}
				.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
					width: 8px;
					background-color: #666;
				}
			}			
		}
	}
	.section2_2 {
		h3 {
			color: #222;
			font-weight: 500;
			font-size: rem(24);
		}
		.ctrl {
			position: absolute;
			top: -30px;
			right: 0;
		}
		.s1 {
			display: flex;
			justify-content: space-between;
			.video {}
			.popup {}
			.box {
				position: relative;
			}
		}		
	}
}
#section3 {
	background: #F2F6FA;
	.set {
		display: flex;
		justify-content: space-between;
		> div {
			//width: calc(50% - 50px);  // 720 840
			&:nth-child(1) {
				width: calc(46% - 50px);
			}
			&:nth-child(2) {
				width: calc(54% - 50px);
			}
		}		
		h3 {
			font-size: rem(24);
			font-weight: 500;
			color: #1A1A1A;
			margin-bottom: 18px;
		}
		.report {
			ul {
				margin: 0 -20px;
				li {
					float: left;
					width: calc(100% / 3);
					padding: 0 20px;
					margin-bottom: 40px;
					.box {
						width: 100%;
						position: relative;
						border: 1px solid #588FE2;
						border-radius: 0 8px 8px 0;
						padding: 20px 25px 78.6%;
						background-color: #fff;
						&::before {
							content: "";
							display: inline-block;
							width: 5px;
							height: 100%;
							background-color: #588FE2;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 9;
						}
						.top {
							line-height: 1.2;
							span {
								display: block;
								&.year {
									color: #5889D4;
									font-size: rem(20);
									font-weight: 700;
									margin-bottom: 8px;
								}
								&.i, &.t {
									color: #233B76;
									font-size: rem(24);
								}
								&.i {
									font-weight: 700;
								}
							}
						}
						.date {
							color: #233B76;
							font-size: rem(14);
							position: absolute;
							bottom: 20px;
							right: 25px;
						}
						.bottom {}
						&:hover,
						&:focus {
							background-image: url(/static/portal/img/main/bg_box.png);
							background-repeat: no-repeat;
							background-position: 6px 80%;
							background: linear-gradient(324deg, rgba(9,77,178,1) 0%, rgba(51,123,299,1) 100%);
							box-shadow: 4px 4px 4px 0 rgba(19, 21, 71, 0.2);
							//filter: drop-shadow(4px 4px 4px 0) rgba(19, 21, 71, 0.2);
							span {
								&.year {
									color: rgba(157, 197, 255, 1);
								}
								&.i, &.t {
									color: #fff;
								}
							}					
							.date {
								color: #fff;
								bottom: 70px;
							}
							.bottom {
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								display: block;
								z-index: 9;
								background: rgba(19, 21, 71, 0.5);
								a {
									position: relative;
									width: calc(50% - 2px);
									display: inline-block;
									vertical-align: middle;
									height: 48px;
									line-height: 48px;
									text-align: center;
									&.i-view {
										&::after {
											@include font-ico('\e8ff');
											font-size: 25px;
											color: #fff;
										}
									}
									&.i-download {
										&::after {
											content: "";
											display: inline-block;
											vertical-align: middle;
											width: 24px;
											height: 24px;
											background-image: url(/static/portal/img/main/file_save.png);
											// @include font-ico('\f17f');
											// font-size: 30px;
											// color: #fff;
										}
										&::before {
											content: "";
											display: inline-block;
											vertical-align: middle;
											width: 1px;
											height: 23px;
											background-color: rgba(255, 255, 255, 0.2);
											position: absolute;
											top: 50%;
											left: -1px;
											margin-top: -11px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}	
	.tab-content {
		.con {
			ul {
				li {
					a {
						display: block;
						padding: 28px 0;
						border-bottom: 1px solid #B1C1E7;
						> * {
							display: block;
						}
						.h {
							color: #3B63C4;
							font-size: rem(14);
							margin-bottom: 6px;
						}
						.tit {
							@include ellipsis;
							width: 100%;
							color: #1A1A1A;
							font-size: rem(18);
							margin-bottom: 8px;
						}
						.b {
							display: flex;
							justify-content: space-between;
						}
						.depart,
						.date {
							color: #666;
							font-size: rem(14);
						}
						.depart {
							width: calc(100% - 120px);
							@include ellipsis;
						}
					}
				}
			}						
		}
	}
}
#section4 {
	.set {
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
		dl {
			position: relative;	
			width: calc(100% / 5 - 96px);
			dt {
				color: #131547;
				font-size: rem(32);
				padding-bottom: 100px;
				margin-bottom: 15px;
				background-position: bottom right;
				background-size: 80px 80px;
				background-repeat: no-repeat;
				> * {
					display: block;
				}
				em {
					color: #B1C1E7;
					font-size: rem(20);
					font-weight: 600;
					display: block;
				}
				strong {
					display: block;
					padding: 2px 0 4px;
					font-weight: 400;
				}
				span {
					color: #666;
					font-size: rem(14);
					line-height: 1.4;
				}
			}
			dd {
				padding-top: 4px;
				border-top: 1px solid #B1C1E7;
				a {
					position: relative;
					display: block;
					padding: 13px 0;
					color: #666;
					border-bottom: 1px solid #F1F1F1;
					&:hover {
						color: #233B76;
						font-weight: 500;
						text-decoration: underline;
						&::before {
							content: "";
							display: inline-block;
							background-color: #182252;
							border-radius: 50%;
							width: 20px;
							height: 20px;
							position: absolute;
							top: 50%;
							right: 0;
							margin-top: -10px;
							z-index: -1;
						}
						&::after {
							color: #fff;
						}
					}
					&::after {
						@include font-ico("\e5cc");
						font-size: 18px;
						color: #666;
						position: absolute;
						top: 50%;
						right: 1px;
						margin-top: -13px;
					}
				}
			}
			@for $i from 1 through 5 {
				&.i#{$i} {
					dt {
						background-image: url(/static/portal/img/main/main_service_0#{$i}.png);
					}
				}
			}
			& + dl {
				&::before {
					content: "";
					display: inline-block;
					width: 1px;
					height: 100%;
					background-color: #E5E5E5;
					position: absolute;
					top: 0;
					left: 0;
					margin-left: -56px;
				}
			}
		}
	}	
	.newslatter {
		margin-top: 140px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #F2F6FA;
		padding: 25px 80px;
		border-radius: 16px;
		dl {
			display: flex;
			align-items: center;
			dt {
				height: 70px;
				line-height: 70px;
				color: #131547;
				font-size: rem(28);
				font-weight: 400;
				padding-left: 110px;
				background: url(/static/portal/img/main/main_newsletter.png) 0 50% no-repeat;
				span {
					font-weight: 600;
					
				}
			}
			dd {
				font-size: 14px;
				color: #666;
				padding-left: 16px;
			}
		}
		ul {
			display: flex;
			li {
				a {
					@include breakpoint($lg){
						width: 240px;
					}
					position: relative;
					display: block;
					padding: 11px 15px;
					color: #131547;
					background-color: #fff;
					border-radius: 8px;
					&::after {
						@include font-ico-outline("\e5cc");
						font-size: 20px;
						color: #131547;
						position: absolute;
						top: 50%;
						right: 20px;
						margin-top: -10px;
					}					
				}
				& + li {
					margin-left: 8px;
				}
			}
		}
	}
}



@include breakpoint($lg){

	#section2 section,
	#section3 section,
	#section4 section {
		padding-top: calc((100vh - (1080px + 194px)) / 2 + 194px);
		//padding-top: calc((100vh - (778px + 75px)) / 2 + 75px);
	}


	.gnb-stiky #section1, 
	.gnb-stiky #section2, 
	.gnb-stiky #section3 {
		height: 100vh;
		padding: 94px 0 0;
	}
}