//사이트 텍스트 컬러
$body-font-color    : #4D4D4D;

$link-color    : #000E33; //PM_009
$red:        #C81720;	//
$point:      #131547;   //
$point2:     #3B63C4;	//
$color-point:     #005596;	//PM_005
$white:      #fff;
$black       : #000E33;  //PM_009
$fc_red 	: #C81720;  //
$blue: #2F4F9D;	//

//board list color
$bd-top-line : 2px solid #222;  //
$bd-top-color: #E5E5E5;  //
$bd-color : #E5E5E5;  //
$bd-list-head-color: #000;
$bd-list-th-bg-color: #f9f9f9;
$form-bd-color: #D9D9D9;  //


//임시 지정 (삭제 해도됨 form.scss)
$grayblue : blue;

//board view color
$cell-title-color: #E5E5E5;

//sh
$sh-bg-color: #eef5fb;

.red {
	color: $red !important;
}
.fc_red {
	color: $fc_red;
}

.point2 {
	color: $point2;
}

// #2F4F9D
// #FAFAFA