.gnb_bg {
	display: none;
}
.gnb {
	display: flex;
	//max-width: calc(100% - 500px);		
	/*.gnb-stiky & {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 2000;
		&::before {
			background-color: rgba(255, 255, 255, 1);
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
		}			
		> ul {
			display: flex;
		}
	}*/
	> ul {
		display: none;
		@include breakpoint($lg){
			display: flex;
			position: relative;
			max-width: 100%;
			width: 767px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-grow: 1;
			> li {
				position: relative;
				flex: 1;
				> a {
					display: block;
					width: 100%;
					white-space:nowrap;
					width: 100%;
					color: #fff;
					text-align: center;
					height: 60px;
					line-height: 60px;
					font-size: rem(22);
					font-weight: 500;
					padding: 0 10%;
				}
				&:hover,
				&.on,
				&.active {
					> a {
						color: #39A0FF;
						span {
							display: inline-block;
							position: relative;
							height: 60px;
							&::before {
								content: "";
								display: block;
								position: absolute;
								bottom: 0;
								left: 0;
								background-color: #39A0FF;
								width: 100%;
								height: 3px;
							}
						}						
					}
				}
			}
			.depth2 {
				display: none;
				position: absolute;
				top: 111px;
				left: 0;
				padding: 10px;
				width: 100%;
				z-index: 99;
				> ul {
					> li {
						> a {
							display: block;
							font-size: rem(17);
							padding: 4px 0;
						}
						&:hover,
						&.on,
						&.active {
							> a {
								color: $point;
							}
						}
					}
				}
			}
			&.active {
				.depth2 {
					display: block;
				}
			}
		}
	}
	.all-nav-toggle {
		&::before {
			@include font-ico-outline('\e5d2');
			color: #fff;
			font-size: 32px;
		}
		@include breakpoint($smd){
			position: absolute;
			top: 0;			
		}
		@include breakpoint($mdw){			
			right: 70px;
			width: $header-height;
			height: $header-height;
		}
		@include breakpoint($sm){
			right: 60px;
			width: $m-header-height;
			height: $m-header-height;
		}
	}
}

@include breakpoint($lg 1500px){
	.gnb > ul {
		width: 620px;
		> li > a {
			font-size: rem(20);
		}
	}
	#header {
		.g-info {
			.global {
				margin-left: 30px;
				padding-left: 20px;
			}
		}
	}
}

#mobile-gnb {
	@include breakpoint($lg){
		display: none;
	}
	.nav {
		> ul {
			> li {}
		}
	}
}