.gnb_bg {
	display: none;
}
.gnb {
	display: flex;
	> ul {
		display: none;
		@include breakpoint($lg){
			display: flex;
			max-width: 100%;
			width: 900px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-grow: 1;
			> li {
				flex: 1;
				> a {
					display: block;
					width: 100%;
					white-space:nowrap;
					width: 100%;
					color: $black;
					text-align: center;
					height: 96px;
					line-height: 96px;
					font-size: rem(24);
					font-weight: 500;
					padding: 0 11%;
					&.on {
						& + .depth2 {
							display: flex;
							// display: grid;
							// grid-template-columns: auto 376px;
							// gap: 0 10px;
							//justify-content: space-between;
							//background-color: rgba(19, 21, 71, 0.95); 변경전
							//background-color: #fff; 임시주석
							&::before,
							&::after {
								content: "";
								display: block;
								//width: 50%;
								height: 100%;
								background-color: #fff;
								position: absolute;
								top: 0;
								margin-top: -1px;
								border-top: 1px solid #E6E6E6;
								box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
							}
							&::before {
								left: -50%;
								width: 100000px;
								z-index: -1;
							}
						}
					}
				}
				&:hover,
				&.on,
				&.active {
					> a {
						color: $color-point;
						span {
							display: inline-block;
							position: relative;
							height: 60px;
							&::before {
								content: "";
								display: block;
								position: absolute;
								bottom: -13px;
								left: 0;
								background-color: $color-point;
								width: 100%;
								height: 3px;
							}
						}
					}
				}
				// 1번째 left: 12%;
				// 2번재 left: 29.6%;
				// 3번째 left: 47.2%;
				// 4번재 left: 64.8%;
				// 5번째 right: 0;
				//gnb 개별 위치 지정
				&.menu01 {
					.depth2 {
						height: 320px;
						> ul {
							> li {
								position: absolute;
								&:nth-child(1) {
									top: 0;
									left: 12%;
								}
								&:nth-child(2) {
									top: 53px;
									left: 12%;
								}
								&:nth-child(3) {
									top: 168px;
									left: 12%;
								}
								&:nth-child(4) {
									top: 220px;
									left: 12%;
								}
								&:nth-child(5) {
									top: 0;
									left: 29.6%;
								}
								&:nth-child(6) {
									top: 0;
									left: 47.2%;
								}
								&:nth-child(7) {
									top: 0;
									left: 64.8%;
								}
								&:nth-child(8) {
									top: 34px;
									right: 0;
								}
							}	
						}
					}
				}
				&.menu02 {
					.depth2 {
						height: 485px; 
						> ul {
							> li {
								//width: calc(17.6%);
								&:nth-child(1) { /* 통화정책 */
									top: 0;
									left: 12%;
								}
								&:nth-child(2) { /* 금융안정 */
									top: 200px;
									left: 12%;
								}
								&:nth-child(3) { /* 기후변화대응 */
									top: 0;
									left: 29.6%;
								}
								&:nth-child(4) { /* 화폐 */
									top: 120px;
									left: 29.6%;
								}
								&:nth-child(5) { /* 지급결제 */
									top: 0;
									left: 47.2%;
								}
								&:nth-child(6) { /* CBDC */
									top: 200px;
									left: 47.2%;
								}
								&:nth-child(7) { /* 국고증권 */
									top: 255px;
									left: 64.8%;
								}
								&:nth-child(8) { /* 외환 */
									top: 0;
									left: 64.8%;
								}
								&:nth-child(9) { /* 국제협력 */
									top: 254px;
									left: 47.2%;
								}
								&:nth-child(10) { /* 경제통계 */
									top: 0;
									right: 0;
								}
								&:nth-child(11) { /* 경제교육 */
									top: 250px;
									right: 0;
								}
							}
						}
					}
				}				
				&.menu03 {
					.depth2 {
						height: 545px;
						> ul {
							> li {
								&:nth-child(1) {	//뉴스 및 의사록
									top: 0;
									left: 12%;
								}
								&:nth-child(2) {	//공지사항
									top: 168px;
									left: 12%;
								}
								&:nth-child(3) {	//연설 및 강연
									top: 220px;
									left: 12%;
								}
								&:nth-child(4) {	//블로그
									top: 340px;
									left: 12%;
								}
								&:nth-child(5) {	//간행물
									top: 0;
									left: 29.6%;
								}
								&:nth-child(6) {	//조사연구
									top: 0;
									left: 47.2%;
								}
								&:nth-child(7) {	//지역연구자료
									top: 0;
									left: 64.8%;
								}
								&:nth-child(8) {	//국외사무소자료
									top: 230px;
									left: 64.8%;								
								}
								&:nth-child(9) {	//업무별 정보
									top: 0;
									right: 0;
								}
							}
						}
					}
				}
				&.menu04 {
					.depth2 {
						height: 315px;
						> ul {
							> li {
								width: 20%;
								&:nth-child(1) {
									top: 0;
									left: 12%;
								}
								&:nth-child(2) {
									top: 0;
									left: 29.6%;
								}
								&:nth-child(3) {
									top: 0;
									left: 47.2%;
								}
								&:nth-child(4) {
									top: 0;
									left: 64.8%;
								}
							}							
						}
					}
				}
				&.menu05 {
					.depth2 {
						height: 315px;
						> ul {
							> li {
								&:nth-child(1) {	// 서비스 소개
									top: 0;
									left: 12%;
								}
								&:nth-child(2) {	// 주요행사
									top: 50px;
									left: 12%;
								}
								&:nth-child(3) {	// 뉴스레터
									top: 190px;
									left: 12%;
								}
								&:nth-child(4) {	// 경제교육
									top: 0;
									left: 29.6%;
								}
								&:nth-child(5) {	// 화폐교환 및 주화수급
									top: 0;
									left: 47.2%;
								}
								&:nth-child(6) {	//화폐박물관
									top: 146px;
									left: 47.2%;
								}
								&:nth-child(7) {	//외환거래 심사
									top: 0;
									left: 64.8%;
								}
								&:nth-child(8) {	//민원
									top: 0;
									right: 0;
								}
							}							
						}
					}
				}
			}
			.depth2 {
				display: none;
				position: absolute;
				//top: 60px;
				top: 96px;
				left: 0;
				width: 100%;
				z-index: 99;	
				border-top: 1px solid #E6E6E6;
				> ul {
					position: relative;
					width: 100%;
					width: calc(100% - 376px);
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					padding-left: 12%;
					margin: 15px 0;
					// display:grid;
					// grid-template-columns: repeat(auto-fill, minmax(20%, auto));
					// grid-auto-flow: dense;
					> li {
						position: absolute;  //개별 위치 지정용
						//flex-basis: calc(100% / 5);
						width: calc((100% - 12%) / 5);
						padding: 15px 0;
						> a {
							display: inline-block;
							font-size: rem(20);
							font-weight: 500;
							color: #17294D;
							//text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);						
						}
						&:hover,
						&.on,
						&.active {
							> a {
								//color: $color-point;
							}
						}
					}
				}
				.e {
					width: 376px;
					padding: 35px 48px;
					background-color: #F3F7F9;
					//background-color: rgba(177, 193, 231, 0.1);
					.img {
						padding-top: 56.2%;
						display: block;
						height: 1px;
						background-repeat: no-repeat;
						background-position: 50%;
						background-size: cover;
					}
					.txt {
						width: 100%;
						@include ellipsis;
						color: #4D4D4D;
						margin-top: 8px;
						text-align: center;
					}
					a {
						display: block;
						& + a {
							margin-top: 20px;
						}
					}
				}
			}
			.depth3 {
				padding-top: 5px;
				> ul {
					> li {
						> a {
							position: relative;
							display: inline-block;
							color: #4d4d4d;
							font-size: 16px;
							font-weight: 400;
							padding: 1px 0;
							//text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
							&:hover,
							&.on,
							&.active {
								color: $color-point;
								text-decoration: underline;
							}
						}
						&.active {
							> a {
								color: $color-point;
								font-weight: 500;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}	
}

@include breakpoint($lg 1500px){
	.gnb > ul {
		width: 840px;
		> li > a {
			font-size: rem(20);
		}
	}
	#header {
		.g-info {
			.global {
				margin-left: 30px;
				padding-left: 20px;
			}
		}
	}
}

// .mobileGnb {
// 	@include breakpoint($lg){
// 		display: none;
// 	}
// 	.m-all-nav-toggle {
// 		position: absolute;
// 		top: 0;
// 		right: 60px;
// 		width: $m-header-height;
// 		height: $m-header-height;
// 		&::before {
// 			@include font-ico-outline('\e5d2');
// 			color: #fff;
// 			font-size: 32px;
// 		}
// 	}
// 	&__set {
// 		display: none;
// 		.mobileGnb-close {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			width: $m-header-height;
// 			height: $m-header-height;
// 			line-height: $m-header-height;
// 			&::before {
// 				@include font-ico('\e5cd');
// 				font-size: 34px;
// 				color: #fff;
// 				margin-top: 12px;
// 			}
// 		}
// 		&.active {
// 			position: fixed;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 			width: 100%;
// 			height: 100vh;
// 			background-color: $point;
// 			z-index: 99;
// 			.top {
// 				height: $m-header-height;
// 				line-height: $m-header-height;
// 				span {
// 					font-size: 20px;
// 					display: block;
// 					padding-left: 10px;
// 				}
// 			}
// 		}
// 	}	
// 	&__nav {
// 		position: relative;
// 		> ul {
// 			width: 140px;
// 			> li {
// 				> a {
// 					display: block;
// 					color: #fff;
// 					padding: 16px 24px;
// 					font-size: rem(18);
// 					border-bottom: 1px solid #233B76;
// 				}
// 				.depth2 {
// 					display: none;
// 					.e {
// 						display: none;
// 					}
// 				}
// 				&.active {
// 					> a {
// 						color: $point;
// 						background-color: #fff;
// 						border-bottom: none;
// 					}
// 					.depth2 {
// 						display: block;
// 						position: absolute;
// 						top: 0;
// 						right: 0;
// 						width: calc(100% - 140px);
// 						height: calc(100vh - 60px);
// 						overflow-y: auto;
// 						z-index: 9;
// 						padding: 24px;
// 						background-color: #fff;
// 						> ul {
// 							> li {
// 								margin-bottom: 15px;
// 								> a {
// 									display: block;
// 									font-weight: 500;
// 									color: $point;
// 									padding: 2px 0;
// 								}
// 							}
// 						}
// 					}
// 					.depth3 {
// 						> ul {
// 							li {
// 								a {
// 									color: #666;
// 									font-size: rem(14);
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }