.gnb_bg {
	display: none;
}
.gnb {
	display: flex;
	//max-width: calc(100% - 500px);		
	/*.gnb-stiky & {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 2000;
		&::before {
			background-color: rgba(255, 255, 255, 1);
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
		}			
		> ul {
			display: flex;
		}
	}*/
	> ul {
		display: none;
		@include breakpoint($lg){
			display: flex;
			max-width: 100%;
			width: 767px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-grow: 1;
			> li {
				flex: 1;
				> a {
					display: block;
					width: 100%;
					white-space:nowrap;
					width: 100%;
					color: #fff;
					text-align: center;
					height: 60px;
					line-height: 60px;
					font-size: rem(22);
					font-weight: 500;
					padding: 0 10%;
					&.on {
						& + .depth2 {
							display: block;
							background-color: #fff;							
						}
					}
				}
				&:hover,
				&.on,
				&.active {
					> a {
						color: #39A0FF;
						span {
							display: inline-block;
							position: relative;
							height: 60px;
							&::before {
								content: "";
								display: block;
								position: absolute;
								bottom: 0;
								left: 0;
								background-color: #39A0FF;
								width: 100%;
								height: 3px;
							}
						}
					}
				}
				&:first-child {
					strong {
						//background-image: url(/static/portal/img/common/ico_gnb_tit01.png);
					}
				}
				&:nth-child(2) {
					strong {
						background-image: url(/static/portal/img/common/ico_gnb_tit02.png);
					}
				}
				&.menu02 {
					.depth2-set {
						> ul {
							width: calc(100% - 240px - 50px);
						}
					}
				}
			}
			.depth2 {
				display: none;
				position: absolute;
				top: 60px;
				left: 0;
				padding: 30px 50px;
				width: 100%;
				z-index: 99;
				strong {
					display: block;
					width: 100%;
					color: $point;
					font-size: rem(30);
					padding-left: 46px;
					background-image: url(/static/portal/img/common/ico_gnb_tit02.png);  //임시로 공통 지정
					background-position: 0 50%;
					background-repeat: no-repeat;
				}
				.depth2-set {
					display: flex;
					justify-content: space-between;
					> ul {
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						border-right: 1px solid #E5E5E5;
						> li {
							flex-basis: calc(100% / 5);
							margin-top: 30px;
							> a {
								display: inline-block;
								font-size: rem(20);
								font-weight: 500;
								padding: 5px 0;
								color: $point;
								&::before {
									content: "";
									display: inline-block;
									vertical-align: middle;
									width: 4px;
									height: 18px;
									margin-right: 8px;
									margin-bottom: 3px;
									background-color: #4375ED;
								}
							}
							&:hover,
							&.on,
							&.active {
								> a {
									color: $point;
								}
							}
						}
					}
					.e {
						width: 240px;
						.img {
							display: block;
							height: 1px;
							background-repeat: no-repeat;
							background-position: 50%;
							background-size: cover;
							&.z1 {
								padding-top: 56.2%;
							}
							&.z2 {
								padding-top: 137%;
							}
						}
						.txt {
							display: block;
							color: #1A1A1A;
							margin-top: 5px;
						}
						a {
							display: block;
							& + a {
								margin-top: 20px;
							}
						}
					}
				}				
			}
			.depth3 {
				> ul {
					> li {
						> a {
							position: relative;
							display: inline-block;
							color: #333;
							font-weight: 500;
							padding: 4px 22px 4px 10px;
							&::before {
								content: "";
								display: inline-block;
								vertical-align: middle;
								width: 4px;
								height: 4px;
								background-color: #333;
								border-radius: 50%;
								position: absolute;
								top: 14px;
								left: 0;
							}
							&.bu {
								&::after {
									@include font-ico-outline('\e313');
									font-size: 19px;
									color: #1C1B1F;
									position: absolute;
									top: 6px;
									right: 0;
									transition: transform .3s;
								}
							}
						}
						&.active {
							> a {
								color: #3B63C4;
								font-weight: 500;
								&::before {
									background-color: #3B63C4;
								}
								&::after {
									color: #3B63C4;
									transform: rotate(180deg);
								}
							}
							.depth4 {
								display: block;
								margin-bottom: 4px;
								//transition: .3s;
								// animation-name: slideInUp;
								// @keyframes slideInUp {
								// 	from {
								// 		transform: translate3d(0, 100%, 0);
								// 		visibility: visible;
								// 	}
								// 	to {
								// 		transform: translate3d(0, 0, 0);
								// 	}
								// }
								animation: 12s autoplay1 infinite;
								@keyframes autoplay1 {
									0% {visibility: visible}
									100% {visibility: hidden}
								  }
							}
						}
					}
				}
			}
			.depth4 {
				display: none;					
				> ul {
					padding-left: 1px;
					> li {
						> a {
							display: flex;
							color: #666;
							font-size: rem(15);
							padding: 1px 0;
							&::before {
								content: "";
								display: inline-block;
								vertical-align: middle;
								width: 2px;
								height: 2px;
								background-color: #808080;
								margin-right: 8px;
								margin-top: 11px;
							}
						}
						&.active {
							> a {
								color: #1A1A1A;
								font-weight: 500;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.all-nav-toggle {
		&::before {
			@include font-ico-outline('\e5d2');
			color: #fff;
			font-size: 32px;
		}
		@include breakpoint($smd){
			display: none;
		}
	}
}

@include breakpoint($lg 1500px){
	.gnb > ul {
		width: 620px;
		> li > a {
			font-size: rem(20);
		}
	}
	#header {
		.g-info {
			.global {
				margin-left: 30px;
				padding-left: 20px;
			}
		}
	}
}

.mobileGnb {
	@include breakpoint($lg){
		display: none;
	}
	.m-all-nav-toggle {
		position: absolute;
		top: 0;
		right: 60px;
		width: $m-header-height;
		height: $m-header-height;
		&::before {
			@include font-ico-outline('\e5d2');
			color: #fff;
			font-size: 32px;
		}
	}
	&__set {
		display: none;
		.mobileGnb-close {
			position: absolute;
			top: 0;
			right: 0;
			width: $m-header-height;
			height: $m-header-height;
			line-height: $m-header-height;
			&::before {
				@include font-ico('\e5cd');
				font-size: 30px;
				color: $point;
			}
		}
		&.active {
			position: fixed;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			background-color: #fff;
			z-index: 99;
			.top {
				height: $m-header-height;
				line-height: $m-header-height;
				background-color: #fff;
				span {
					font-size: 20px;
					display: block;
					padding-left: 10px;
				}
			}
		}
	}	
	&__nav {
		> ul {
			> li {}
		}
	}
}