#wrap {
	position: relative;	
	padding-top: $m-header-height;
	@include breakpoint($lg){
		padding-top: $header-height;
	}
}

.container {
	max-width: $pc-wide;
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	@include breakpoint(min-width 1720px) {
		margin-left: auto;
		margin-right: auto;
	}
	@include breakpoint($sm){
		margin: 0;
	}
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background-color: #131547;
	display: flex;
	flex-direction: column;
	@include breakpoint($smd){
		border-bottom: 1px solid #d9d9d9;	
	}
	// @include breakpoint($mdw){
	// 	padding-right: 70px;
	// }	
	.container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		//height: $header-height;
		width: 100%;
		max-width: 1920px;
		padding-left: 50px;
		padding-right: 146px;
		margin: 0 auto;	
		@include breakpoint($smd){
			padding-left: 20px;
			padding-right: 116px;
		}
	}	
	.globalHeader {	
		display: none;	
		@include breakpoint($lg){
			display: block;
			ul {
				max-width: calc(1920px - 192px);
				display: flex;
				flex-direction: row;
				flex-grow: 1;
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				li {
					& + li {
						&::before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 1px;
							height: 14px;
							background-color: rgba(255, 255, 255, 0.2);
						}
					}
					
				}
				a {
					display: inline-block;
					font-size: 14px;
					color: rgba(255, 255, 255, 0.6);
					padding: 6px 9px;
					&::after {
						@include font-ico("\e5cc");
						font-size: 16px;
						margin: 0 0 0 5px;
					}
					&[target='_blank'] {
						&::after {
							@include font-ico("\e89e");
							font-size: 16px;
							margin: 0 0 0 5px;
						}
					}
					&:hover {
						text-decoration: underline;
					}
					
				}
			}
		}		
	}
	.logo {
		display: inline-block;
		vertical-align: middle;
		@include breakpoint($lg 1500px){
			padding-left: 10px;
		}
		a {
			display: block;
			background: url(/static/portal/img/common/logo.png) 50% no-repeat;
			width: 127px;
			height: 60px;
			@include breakpoint($sm){
				background-position: 0 50%;
			}
		}
	}
	.g-info {
		display: flex;
		align-items: center;
		.search {
			position: absolute;
			top: 0;
			right: 0;
			width: $m-header-height;
			height: $m-header-height;
			z-index: 9;
			background-color: #fff;
			&::before  {
				@include font-ico-outline("\e8b6");
				color: #131547;
				font-size: rem(40);
			}
			@include breakpoint($lg){
				width: $header-height;
				height: $header-height;
				background-color: #3B63C4;
				top: -34px;
				&::before {
					color: #fff;
					font-size: rem(24);
				}
			}
		}	
		@include breakpoint($lg){
			.global {
				display: flex;
				align-items: center;
				ul {
					display: flex;
					align-items: center;
					white-space: nowrap;
					li {
						a {
							color: #fff;
							font-size: 15px;
							&[target=_blank]::after {
								@include font-ico("\e89e");
								font-size: 16px;
								margin: 0 0 2px 5px;
							}
						}
						& + li {
							padding-left: 8px;
							&::before {
								content: "";
								display: inline-block;
								vertical-align: middle;
								width: 1px;
								height: 14px;
								background-color: #fff;
								margin: 0 6px;
							}
						}
					}
				}
			}
		}
	}
}


.hgroup {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 50px 0 30px;
	border-bottom: 2px solid #222;
	padding-bottom: 30px;
	@include breakpoint($sm){
		margin: 0 10px 15px;
		padding-bottom: 0;
	}
	h1 {
		display: block;
		font-size: rem(48);
		color: $point;
		font-weight: 600;
		font-family: 'Spoqa Han Sans Neo Bold';
		width: calc(100% - 140px);
		@include breakpoint($sm){
			width: 100%;
			font-size: rem(36);
			text-align: center;
			padding: 30px 0 25px;
		}
	}
	.page-toolbar {
		position: relative;
		display: flex;
		align-items: center;
		@include breakpoint($smd){
			display: none;
		}
		.sns-toggle {
			width: 48px;
			height: 48px;
			border: 1px solid #666;
			border-radius: 50%;
			&::before {
				@include font-ico('\e80d');
				font-size: 26px;
				color: #666;
			}
		}
		.sns-wrap {
			&__set {
				display: none;
			}
			&.active {
				.sns-wrap__set {
					position: absolute;
					top: 12px;
					left: 0;
					z-index: 9;
					width: 48px;
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					border-radius: 30px;
					border: 1px solid #666;
					background-color: #fff;
					padding: 10px 0;
					button {
						width: 36px;
						height: 36px;
						margin: 0 auto;	
						& + button {
							margin-top: 7px;
						}
						&::before {
							content: "";
							display: inline-block;
							width: 36px;
							height: 36px;
							background-position: 50%;
							background-repeat: no-repeat;
						}
						&.close {
							height: 30px;
							&::before {
								@include font-ico-outline('\e5cd');
								font-size: 26px;
							}
						}
					}
				}
			}
		}
		.page-print {	
			width: 48px;
			height: 48px;
			background: url(/static/portal/img/ico/ico-print.svg) 50% no-repeat;
			margin-left: 6px;
			margin-right: 10px;
		}
		.page-rss {	
			width: 48px;
			height: 48px;
			&::before {
				@include font-ico-outline('\e0e5');
				font-size: 40px;
				color: #666;
			}
		}
	}
}
#main-container {
	clear: both;
	width: $pc-wide;
	max-width: 100%;
	min-height: calc(100vh - 246px - 196px - 80px);
	@include clearfix();
	// > main {
	// 	@include breakpoint($lg){
	// 		float: right;
	// 		width: per(1336px, $pc-wide);
	// 		border-left: 1px solid $bd-color;
	// 		padding-left: 34px;
	// 	}
	// }
	@include breakpoint($sm){
		padding: 0 10px;
	}
	.content {
		@include breakpoint($lg){
			float: right;
			width: per(1440px, $pc-wide);
			border-left: 1px solid $bd-color;
			padding-left: 34px;
		}
	}
}


.total-nav {
	display: none;
	@include breakpoint($lg){
		&.active {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 99;
			section {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				> div {
					
				}
			}
		}
	}		
}


.search_wrap {
	display: none;
}


