
<!doctype html>
<html lang="ko">
<head>
<title>popup</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="한국은행" />
<meta name="keywords" content='<c:out value="${title }" escapeXml="false" />' />
<meta name="description" content="한국은행" />

<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0"/>

<link type="text/css" rel="stylesheet" href="/static/portal/css/sub.css" />
<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/static/portal/css/ie.css">
		<script type="text/javascript" src="/static/jslibrary/html5shiv.js"></script>
		<script type="text/javascript" src="/static/jslibrary/respond.min.js"></script>
		<script type="text/javascript"> $('html').attr('id','ie');</script>
<![endif]-->
<script>
$(function() {
$(".ckTxt>a").click(function(){ 
$(this).parent().toggleClass("on");
$(this).parent().next().toggleClass("on");
return false;
});
});
</script>
</head>
<body class="bgn"> 

<div class="popupWrap">
	<h1>개인정보처리방 ( 2022.04.29 ~ 2024.04.01 )</h1>
<div class="popupBody">
		
<div class="box2 type1 type3 boxLine2"> 
<div class="img"> 
<div class="badge lg round5 topCenter"> <span class="ti-info-alt" aria-hidden="true"></span> </div> </div> 
<div class="txt pt10"> 
<p class="buOnly">한국은행은 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련된 고충을 신속하고 원활하게 처리하기 위하여 다음과 같이 개인정보 처리방침을 수립&middot;공개합니다.</p> </div> </div>
<h2>제1조(개인정보의 처리목적)</h2>
<ul class="referList type"> 
<li>① 한국은행은 다음의 목적을 위하여 최소한으로 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는&nbsp;이용되지 않으며, 처리 목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 필요한 조치를 이행할 예정입니다 
<ul> 
<li>1. 홈페이지 회원 가입 및 관리 : 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별&middot;인증, 회원자격 유지&middot;관리, 제한적 본인 확인제 시행에 따른 본인 확인, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인, 각종 고지&middot;통지, 고충처리, 서비스 이용에 대한 통계 수집 등</li> 
<li>2. 민원사무 처리 : 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락&middot;통지, 처리결과 통보 등</li> 
<li>3. 교육 지원 : 교육 대상자 선정 및 교육 실시</li> 
<li><br></li> 
<li></li>
</ul></li> 
<li>② 한국은행이 「개인정보 보호법」 제32조에 따라 등록&middot;공개하는 개인정보파일의 처리목적은 다음과 같습니다. 
<p class="ckTxt"><a href="#"><strong><span>한국은행 개인정보파일의 처리 목적</span></strong></a></p> 
<div class="ckCont"> 
<div class="table scrollX"> 
<table> 
<caption>한국은행 개인정보파일의 처리 목적</caption> 
<thead>
<tr> 
<th class="w15p NamoSE_border_show">홈페이지 명</th> 
<th scope="col" class="w6p NamoSE_border_show">번호</th> 
<th scope="col" class="w35p NamoSE_border_show">개인정보 파일명</th> 
<th scope="col" class="w44p NamoSE_border_show">처리목적</th> 
</tr> 
</thead> 
<tbody> 
<tr> 
<td class="tac" rowspan="17">대표 홈페이지<br>
 <a href="http://www.bok.or.kr">www.bok.or.kr</a></td> 
<td class="tac">1</td> 
<td>홈페이지 민원인정보</td> 
<td>민원의 원활한 처리</td> 
</tr> 
<tr> 
<td class="tac">2</td> 
<td>뉴스레터 배포 대상자 정보</td> 
<td>뉴스레터 발송</td> 
</tr> 
<tr> 
<td class="tac">3</td> 
<td>외환거래 질의 신청자 정보</td> 
<td>외환거래 질의 신청에 대한&nbsp; 정보자료 제공</td> 
</tr> 
<tr> 
<td class="tac">4</td> 
<td>통화정책경시대회 신청자 정보</td> 
<td>통화정책경시대회 신청접수, 대회참가증 발급, 참가기념품 발송, 대회개최 결과 보도자료 배포 및 홈페이지 게시</td> 
</tr> 
<tr> 
<td class="tac">5</td> 
<td>어린이박물관 교실 신청자 정보</td> 
<td>어린이박물관 교실 운영</td> 
</tr> 
<tr> 
<td class="tac">6</td> 
<td>화폐박물관 단체예약 신청자 정보</td> 
<td>단체관람 전시예약 운영</td> 
</tr> 
<tr> 
<td class="tac">7</td> 
<td>특별강좌 신청자 정보</td> 
<td>특별교육 운영</td> 
</tr> 
<tr> 
<td class="tac">8</td> 
<td>경제캠프 신청자 정보</td> 
<td>캠프 대상자 선정 및 캠프 참가</td> 
</tr> 
<tr> 
<td class="tac">9</td> 
<td>청소년 경제강좌 신청자 정보</td> 
<td>청소년 경제강좌 제공</td> 
</tr> 
<tr> 
<td class="tac">10</td> 
<td>경제교육 봉사단 신청자 정보</td> 
<td>봉사자 선정 및 연수 관리</td> 
</tr> 
<tr> 
<td class="tac">11</td> 
<td>교사직무연수 신청자 정보</td> 
<td>연수대상자 선정 및 연수 제공</td> 
</tr> 
<tr> 
<td class="tac">12</td> 
<td>금요강좌 신청자 정보</td> 
<td>강좌 제공, 설문서 발송 및 수료증 발급</td> 
</tr> 
<tr> 
<td class="tac">13</td> 
<td>방문강좌 및 외부강좌 신청자 정보</td> 
<td>한국은행 방문 강좌 및 외부기관 강의지원 요청에 따른 경제강좌 제공</td> 
</tr> 
<tr> 
<td class="tac">14</td> 
<td>정보공개 신청자 정보</td> 
<td>정보공개 청구에 대한 결정 통지</td> 
</tr> 
<tr> 
<td class="tac">15</td> 
<td>대량주화교환신청자</td> 
<td>화폐교환</td> 
</tr> 
<tr> 
<td class="tac">16</td> 
<td>한국은행 예산낭비 사례 신청자 정보</td> 
<td>당행 예산낭비 신고</td> 
</tr> 
<tr> 
<td class="tac">17</td> 
<td>화폐박물관 개인관람 예약 신청자 정보</td> 
<td>코로나19 감영예방을 위한 관람객 정보</td> 
</tr> 
<tr> 
<td class="tac">간행물관리<br>
 시스템</td> 
<td class="tac">18</td> 
<td>간행물 배포대상자 정보</td> 
<td>한국은행 발행자료 배포</td> 
</tr> 
<tr> 
<td class="tac" rowspan="2">전자도서관<br>
 dl.bok.or.kr</td> 
<td class="tac">19</td> 
<td>한국은행 도서관 방문신청자 정보</td> 
<td>외부이용자의 한국은행 도서관 방문 및 자료이용 신청</td> 
</tr> 
<tr> 
<td class="tac">20</td> 
<td>퇴직임직원용 전자도서관 이용자 정보</td> 
<td>퇴직임직원의 전자도서관 이용</td> 
</tr> 
<tr> 
<td class="tac" rowspan="3">경제통계시스템<br>
 ecos.bok.or.kr</td> 
<td class="tac">21</td> 
<td>API 요청회원 정보</td> 
<td>OpenAPI 서비스의 원활한 제공</td> 
</tr> 
<tr> 
<td class="tac">22</td> 
<td>홈페이지 게시판 이용자 정보</td> 
<td>개선의견 관리</td> 
</tr> 
<tr> 
<td class="tac">23</td> 
<td>홈페이지 회원 정보</td> 
<td>MySTAT 기능제공</td> 
</tr> 
<tr> 
<td class="tac">전자설문 시스템</td> 
<td class="tac">24</td> 
<td>전자설문 일반회원 정보</td> 
<td>일반 설문조사</td> 
</tr>
<tr> 
<td class="tac" rowspan="2">온라인 외환심사시스템<br>
fxra.bok.or.kr:4443</td> 
<td class="tac">25</td> 
<td>온라인 시스템 이용신청자 정보</td> 
<td>온라인 시스템 이용 ID 발급</td> 
</tr>
<tr> 
<td class="tac">26</td> 
<td>온라인 신고인 및 대리인 정보</td> 
<td>온라인 외환신고 관리</td> 
</tr> 
<tr>  
<tr>
<td class="tac">출입자관리<br>시스템</td> 
<td class="tac">27</td> 
<td>방문객 출입자 정보</td> 
<td>국가중요시설 출입자 관리</td> 
</tr> 
</tbody>
</table></div></div></li> 
</ul>
<p class="refer">※한국은행이 「개인정보 보호법」 제32조에 따라 등록·공개하는 개인정보파일 현황은 개인정보보호위원회 개인정보보호 포털(www.privacy.go.kr) → 민원마당 → 개인정보 열람 등 요구신청 → 개인정보파일 목록 검색(기관명에 “한국은행”입력) 메뉴에서 확인할 수 있습니다.</p>
<h2>제2조(처리하는 개인정보 항목)</h2>
<ul class="referList"> 
<li>① 한국은행은 다음의 개인정보 항목을 처리하고 있습니다. 
<p class="ckTxt"><a href="#"><strong><span>한국은행의 개인정보 처리 항목</span></strong></a></p> 
<div class="ckCont"> 
<div class="table"> 
<table> 
<caption>한국은행의 개인정보 처리 항목</caption> 
<thead>
<tr> 
<th class="w15p NamoSE_border_show">홈페이지 명</th> 
<th scope="col" class="w6p NamoSE_border_show">번호</th> 
<th scope="col" class="w35p NamoSE_border_show">개인정보 파일명</th> 
<th scope="col" class="w44p NamoSE_border_show">개인정보 항목</th> 
</tr> 
</thead> 
<tbody> 
<tr> 
<td class="tac" rowspan="19">대표 홈페이지<br>
 <a href="http://www.bok.or.kr/">www.bok.or.kr</a></td> 
<td class="tac">1</td> 
<td>홈페이지 민원인정보</td> 
<td>[필수] 이름, 이메일 주소, 연락처(전화번호, 휴대폰번호 중 택일)</td> 
</tr> 
<tr> 
<td class="tac">2</td> 
<td>뉴스레터 배포 대상자 정보</td> 
<td>[필수] 이름, 이메일 주소</td> 
</tr> 
<tr> 
<td class="tac">3</td> 
<td>외환거래 질의 신청자 정보</td> 
<td>[필수] 이름, 이메일 주소<br>
 [선택] 휴대폰번호, 전화번호</td> 
</tr> 
<tr> 
<td class="tac">4</td> 
<td>통화정책경시대회 신청자 정보</td> 
<td>[필수] 성명, 생년월일, 성별, 소속학교명, 전공학과(부), 학년, 연락처(휴대폰번호, 이메일 주소), 재(휴)학 및 졸업예정 여부 </td> 
</tr> 
<tr> 
<td class="tac">5</td> 
<td>어린이박물관 교실 신청자 정보</td> 
<td>[필수] 성명, 생년월일, 성별, 소속(학교), 학년, 법정대리인 이름, 이메일주소, 휴대폰번호(만14세 미만 이용자인 경우)</td> 
</tr> 
<tr> 
<td class="tac">6</td> 
<td>화폐박물관 단체예약 신청자 정보</td> 
<td>[필수] 성명, 휴대전화</td> 
</tr> 
<tr> 
<td class="tac">7</td> 
<td>특별강좌 신청자 정보</td> 
<td>[필수] 성명, 휴대전화</td> 
</tr> 
<tr> 
<td class="tac">8</td> 
<td>경제캠프 신청자 정보</td> 
<td>[필수] 성명, 성별, 생년월일, 학교, 학년, 휴대폰번호, 이메일주소, 법정대리인 성명, 관계, 휴대폰번호(만14세 미만 이용자인 경우) <br>
 [선택] 집주소</td> 
</tr> 
<tr> 
<td class="tac">9</td> 
<td>청소년 경제강좌 신청자 정보</td> 
<td>[필수] 단체명, 성명, 휴대폰번호</td> 
</tr> 
<tr> 
<td class="tac">10</td> 
<td>경제교육 봉사단 신청자 정보</td> 
<td>[필수] 성명, 출생연도, 학교명(캠퍼스), 학년/학기, 전공, 휴대폰번호, 이메일주소<br>
 [선택] 집주소, 성별</td> 
</tr> 
<tr> 
<td class="tac">11</td> 
<td>교사직무연수 신청자 정보</td> 
<td>[필수] 성명, 성별, 생년월일, 휴대폰번호, 이메일주소, 소속기관(교육청), 근무기관(학교명), 학교구분, 담당교과, 직위<br>
 [선택] 집주소</td> 
<td></td> 
</tr> 
<tr> 
<td class="tac">12</td> 
<td>금요강좌 신청자 정보</td> 
<td>[필수] 성명, 이메일주소, 연락처<br>
 [선택] 직업구분</td> 
</tr> 
<tr> 
<td class="tac" rowspan="2">13</td> 
<td rowspan="2">방문강좌 및 외부강좌 신청자 정보</td> 
<td>(방문강좌 신청시)<br>
 [필수] 성명, 단체명, 휴대폰번호<br>
 [선택] 이메일주소, 연락처</td> 
</tr> 
<tr> 
<td>(외부기관 강의지원 신청시)<br>
 [필수] 성명, 단체명, 휴대폰번호<br>
 [선택] 이메일주소, 연락처</td> 
</tr> 
<tr> 
</tr> 
<tr> 
<td class="tac">14</td> 
<td>정보공개 신청자 정보</td> 
<td>[필수] 이름, 주소, 이메일주소, 전화번호(또는 휴대폰번호)</td> 
</tr> 
<tr> 
<td class="tac">15</td> 
<td>대량주화교환신청자</td> 
<td>[필수] 성명, 전화번호</td> 
</tr> 
<tr> 
<td class="tac">16</td> 
<td>한국은행 예산낭비 사례 신청자 정보</td> 
<td>[필수] 성명, 연락처 정보(휴대폰번호, 주소, 이메일주소 중 1개)</td> 
</tr> 
<tr> 
<td class="tac">17</td> 
<td>화폐박물관 개인관람 예약 신청자 정보</td> 
<td>[필수] 성명, 휴대전화</td> 
</tr> 
<tr> 
<td class="tac">간행물관리<br>
 시스템</td> 
<td class="tac">18</td> 
<td>간행물 배포대상자 정보</td> 
<td>[필수] 이름, 이메일주소, 수령지 정보</td> 
</tr> 
<tr> 
<td class="tac" rowspan="2">전자도서관<br>
 dl.bok.or.kr</td> 
<td class="tac">19</td> 
<td>한국은행 도서관 방문신청자 정보</td> 
<td>[필수] 이름, 소속, 연락처, 이메일주소<br>
 [선택] 열람목적, 열람시간</td> 
</tr> 
<tr> 
<td class="tac">20</td> 
<td>퇴직임직원용 전자도서관 이용자 정보</td> 
<td>[필수] 성명, 행번, 생년월일, 전화번호(휴대전화), 퇴직연월, 이메일주소</td> 
</tr> 
<tr> 
<td class="tac" rowspan="3">경제통계시스템<br>
 ecos.bok.or.kr</td> 
<td class="tac">21</td> 
<td>API 요청회원 정보</td> 
<td>[필수] 이름, 전화번호, 이메일 주소</td> 
</tr> 
<tr> 
<td class="tac">22</td> 
<td>홈페이지 게시판 이용자 정보</td> 
<td>[필수] 이름, 이메일 주소<br>
 [선택] 전화번호</td> 
</tr> 
<tr> 
<td class="tac">23</td> 
<td>홈페이지 회원 정보</td> 
<td>[필수] 아이디, 이름, 이메일 주소<br>
 [선택] 직업</td> 
</tr> 
<tr> 
<td class="tac">전자설문 시스템</td> 
<td class="tac">24</td> 
<td>전자설문 일반회원 정보</td> 
<td>[필수] 이름, 이메일<br>
 [선택] 휴대폰번호</td> 
</tr>
<tr> 
<td class="tac" rowspan="2">온라인 외환심사시스템<br>
 fxra.bok.or.kr.4443</td> 
<td class="tac">25</td> 
<td>온라인 시스템 이용신청자 정보</td> 
<td>[필수] 이름, 생년월일, 휴대폰번호, 성별</td> 
</tr>
<tr> 
<td class="tac">26</td> 
<td>온라인 신고인 및 대리인 정보</td> 
<td>[필수] 이름, 생년월일, 휴대폰번호, 성별</td> 
</tr>
<tr> 
<td class="tac">출입자관리<br>
 시스템</td> 
<td class="tac">27</td> 
<td>방문객 출입자 정보</td> 
<td>[필수] 이름, 회사명, 생년월일, 차량번호, 휴대폰번호(강남본부)</td> 
</tr> 
</tbody>
</table></div></div></li> 
<li>② 인터넷 서비스 이용과정에서 IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록, 불량 이용기록 등의 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.</li> 
</ul>
<h2>제3조(개인정보의 처리 및 보유기간)</h2>
<ul class="referList"> 
<li>① 한국은행은 법령에 따른 개인정보 보유&middot;이용기간 또는 정보주체로부터 개인정보를 수집 시 동의 받은 개인정보 보유&middot;이용기간 내에서 개인정보를 처리&middot;보유합니다.</li> 
<li>② 각각의 개인정보에 대한 처리 및 보유기간은 다음과 같습니다. 
<p class="ckTxt"><a href="#"><strong><span>한국은행의 개인정보 처리 및 보유 기간</span></strong></a></p> 
<div class="ckCont"> 
<div class="table"> 
<table> 
<caption>한국은행의 개인정보 처리 및 보유 기간</caption> 
<thead>
<tr> 
<th class="w15p NamoSE_border_show">홈페이지 명</th> 
<th scope="col" class="w6p NamoSE_border_show">번호</th> 
<th scope="col" class="w44p NamoSE_border_show">개인정보 파일명</th> 
<th scope="col" class="w35p NamoSE_border_show">처리 및 보유기간</th> 
</tr> 
</thead> 
<tbody> 
<tr> 
<td class="tac" rowspan="18">대표 홈페이지<br>
 <a href="http://www.bok.or.kr/">www.bok.or.kr</a></td> 
<td class="tac">1</td> 
<td>홈페이지 민원인 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
<td class="tac">2</td> 
<td>뉴스레터 배포 대상자 정보</td> 
<td class="fc_red tac">2년<br>
 (단, 재동의시 2년 연장)</td> 
</tr> 
<tr> 
<td class="tac">3</td> 
<td>외환거래 질의 신청자 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
<td class="tac">4</td> 
<td>통화정책경시대회 신청자 정보</td> 
<td class="fc_red tac">5년</td> 
</tr> 
<tr> 
<td class="tac">5</td> 
<td>어린이박물관 교실 신청자 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
<td class="tac">6</td> 
<td>화폐박물관 단체예약 신청자 정보</td> 
<td class="fc_red tac">1년</td> 
</tr> 
<tr> 
<td class="tac">7</td> 
<td>특별강좌 신청자 정보</td> 
<td class="fc_red tac">1년</td> 
</tr> 
<tr> 
<td class="tac">8</td> 
<td>경제캠프 신청자 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
<td class="tac">9</td> 
<td>청소년 경제강좌 신청자 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
</tr> 
<tr> 
<td class="tac">10</td> 
<td>경제교육 봉사단 신청자 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
<td class="tac">11</td> 
<td>교사직무연수 신청자 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
<td class="tac">12</td> 
<td>금요강좌 신청자 정보</td> 
<td class="fc_red tac">5년</td> 
</tr> 
<tr> 
<td class="tac">13</td> 
<td>방문강좌 및 외부강좌 신청자 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
<td class="tac">14</td> 
<td>정보공개 신청자 정보</td> 
<td class="fc_red tac">3년</td> 
</tr> 
<tr> 
<td class="tac">15</td> 
<td>대량주화교환신청자</td> 
<td class="fc_red tac">1년</td> 
</tr> 
<tr> 
<td class="tac">16</td> 
<td>한국은행 예산낭비 사례 신청자 정보</td> 
<td class="fc_red tac">1년</td> 
</tr> 
<tr> 
<td class="tac">17</td> 
<td>화폐박물관 개인관람 예약 신청자 정보</td> 
<td class="fc_red tac">1개월</td> 
</tr> 
<tr> 
<td class="tac">간행물관리<br>
 시스템</td> 
<td class="tac">18</td> 
<td>간행물 배포대상자 정보</td> 
<td class="fc_red tac">간행물 구독 중지 요청 시까지</td> 
</tr> 
<tr> 
<td class="tac" rowspan="2">전자도서관<br>
 dl.bok.or.kr</td> 
<td class="tac">19</td> 
<td>한국은행 도서관 방문신청자 정보</td> 
<td class="fc_red tac">6개월</td> 
</tr> 
<tr> 
<td class="tac">20</td> 
<td>퇴직임직원용 전자도서관 이용자 정보</td> 
<td class="fc_red tac">이용기간(2년) 종료 후 180일까지</td> 
</tr> 
<tr> 
<td class="tac" rowspan="3">경제통계시스템<br>
 ecos.bok.or.kr</td> 
<td class="tac">21</td> 
<td>API 요청회원 정보</td> 
<td class="fc_red tac">2년<br>
 (단, 재동의시 2년 연장)</td> 
</tr> 
<tr> 
<td class="tac">22</td> 
<td>홈페이지 게시판 이용자 정보</td> 
<td class="fc_red tac">1년</td> 
</tr> 
<tr> 
<td class="tac">23</td> 
<td>홈페이지 회원 정보</td> 
<td class="fc_red tac">2년<br>
 (단, 재동의시 2년 연장)</td> 
</tr> 
<tr> 
<td class="tac">전자설문 시스템</td> 
<td class="tac">24</td> 
<td>전자설문 일반회원 정보</td> 
<td class="fc_red tac">조사 기간 중</td> 
</tr> 
<tr> 
<tr> 
<td class="tac" rowspan="2">온라인 외환심사시스템<br>
 fxra.bok.or.kr.4443</td> 
<td class="tac">25</td> 
<td>온라인 시스템 이용신청자 정보</td> 
<td class="fc_red tac">5년</td> 
</tr> 
<tr> 
<td class="tac">26</td> 
<td>온라인 신고인 및 대리인 정보</td> 
<td class="fc_red tac">5년</td> 
</tr> 
<td class="tac">출입자관리<br>
 시스템</td> 
<td class="tac">27</td> 
<td>방문객 출입자 정보</td> 
<td class="fc_red tac">2년</td> 
</tr> 
</tbody>
</table></div></div></li> 
<li>③ 제2항에도 불구하고 다음 각 호의 사유에 해당하는 경우 개인정보 처리 및 보유기간은 각 해당 사유 종료 시까지입니다. 
<ul> 
<li>1. 관계 법령 위반에 따른 수사&middot;조사 등이 진행 중인 경우:해당 수사&middot;조사 종료 시까지</li> 
<li>2. 홈페이지 이용에 따른 채권&middot;채무관계 잔존 시:해당 채권&middot;채무관계 정산 시까지</li> 
<li>3. 민원사무 처리 :민원처리 종료 후 3년</li>
</ul></li> 
</ul>
<h2>제4조(개인정보의 제3자 제공)</h2>
<ul class="referList"> 
<li>① 한국은행은 정보주체의 개인정보를 제1조(개인정보의 처리목적)에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등「개인정보보호법」제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</li> 
<li>② 한국은행은 개인정보를「개인정보보호법」제18조 제4항에 따라 제3자에게 제공하는 경우 그 목적, 근거, 범위 등에 관하여 <a href="https://www.bok.or.kr/portal/bbs/P0002728/list.do?menuNo=200237"><strong>인터넷 홈페이지에 공개</strong></a>합니다.</li> 
</ul>
<h2>제5조(개인정보처리의 위탁)</h2>
<ul class="referList"> 
<li>① 한국은행은 원활한 개인정보 업무처리를 위하여 개인정보 처리업무를 위탁하고 있으며, 위탁받는 자(수탁자) 및 위탁하는 업무의 내용을 <a href="https://www.bok.or.kr/portal/bbs/P0002728/list.do?menuNo=200237"><strong>인터넷 홈페이지에 공개</strong></a>합니다.</li> 
<li>② 한국은행은 위탁계약 체결 시 「개인정보보호법」제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적&middot;관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리&middot;감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</li> 
<li>③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 인터넷 홈페이지를 통해 공개하도록 하겠습니다.</li> 
</ul>
<h2>제6조(정보주체와 법정대리인의 권리&middot;의무 및 행사방법)</h2>
<ul class="referList"> 
<li>① 정보주체는 아래의 한국은행 담당부서에 <strong>&lt;별지 서식 1&gt;</strong><a href="/portal/cmmn/file/fileDown.do?atchFileId=FILE_000000000016884&amp;fileSn=1" class="b-down xs">다운로드</a>을 제출하여 「개인정보 보호법」제35조 제1항, 제36조 제1항, 제37조 제1항에 따른 개인정보의 열람, 정정&middot;삭제, 처리정지 요구 등의 권리를 행사할 수 있습니다. 
<p class="ckTxt"><a href="#"><strong><span>한국은행 각 개인정보파일의 담당부서 및 연락처</span></strong></a></p> 
<div class="ckCont"> 
<div class="table scrollX tac"> 
<table> 
<caption>한국은행 각 개인정보파일의 담당부서 및 연락처</caption> 
<thead>
<tr> 
<th class="w15p NamoSE_border_show">홈페이지 명</th> 
<th class="w7p NamoSE_border_show" scope="col">번호</th> 
<th class="w30p NamoSE_border_show" scope="col">개인정보 파일명</th> 
<th class="w24p NamoSE_border_show" scope="col">처리부서<br>
 담당부서</th> 
<th class="w24p NamoSE_border_show" scope="col">연락처<br>
 이메일 주소</th> 
</tr> 
</thead> 
<tbody> 
<tr> 
<td rowspan="17">대표 홈페이지<br>
 <a href="http://www.bok.or.kr/">www.bok.or.kr</a></td> 
<td>1</td> 
<td>홈페이지 민원인정보</td> 
<td>기획협력국<br>
 대외협력팀</td> 
<td>02-759-4040<br>
 <a href="mailto:bokexcop@bok.or.kr">bokexcop@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>2</td> 
<td>뉴스레터 배포 대상자 정보</td> 
<td>커뮤니케이션국<br>
 뉴미디어팀</td> 
<td>02-759-5379<br>
 <a href="mailto:bokpr@bok.or.kr">bokpr@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>3</td> 
<td>외환거래 질의 신청자 정보</td> 
<td>국제국<br>
 외환심사팀</td> 
<td>02-759-5765<br>
 <a href="mailto:bokfxrt@bok.or.kr">bokfxrt@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>4</td> 
<td>통화정책경시대회 신청자 정보</td> 
<td>커뮤니케이션국 <br>
 커뮤니케이션기획팀</td> 
<td>02-759-5326, 4694<br>
 <a href="mailto:bokpr@bok.or.kr">bokpr@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>5</td> 
<td>어린이박물관 교실 신청자 정보</td> 
<td>커뮤니케이션국 <br>
 화폐박물관팀</td> 
<td>02-759-4227<br>
 <a href="mailto:museum@bok.or.kr">museum@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>6</td> 
<td>화폐박물관 단체예약 신청자 정보</td> 
<td>커뮤니케이션국 <br>
 화폐박물관팀</td> 
<td>02-759-4227<br>
 <a href="mailto:museum@bok.or.kr">museum@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>7</td> 
<td>특별강좌 신청자 정보</td> 
<td>커뮤니케이션국 <br>
 화폐박물관팀</td> 
<td>02-759-4227<br>
 <a href="mailto:museum@bok.or.kr">museum@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>8</td> 
<td>경제캠프 신청자 정보</td> 
<td>경제교육실 <br>
 경제교육기획팀</td> 
<td>02-759-5618<br>
 <a href="mailto:bokedu@bok.or.kr">bokedu@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>9</td> 
<td>청소년 경제강좌 신청자 정보</td> 
<td>경제교육실 <br>
 경제교육기획팀</td> 
<td>02-759-5618<br>
 <a href="mailto:bokedu@bok.or.kr">bokedu@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>10</td> 
<td>경제교육 봉사단 신청자 정보</td> 
<td>경제교육실 <br>
 경제교육기획팀</td> 
<td>02-759-5618<br>
 <a href="mailto:bokedu@bok.or.kr">bokedu@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>11</td> 
<td>교사직무연수 신청자 정보</td> 
<td>경제교육실 <br>
 경제교육기획팀</td> 
<td>02-759-4206<br>
 <a href="mailto:bokedu@bok.or.kr">bokedu@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>12</td> 
<td>금요강좌 신청자 정보</td> 
<td>경제교육실 <br>
 경제교육기획팀</td> 
<td>02-759-4269<br>
 <a href="mailto:bokedu@bok.or.kr">bokedu@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>13</td> 
<td>방문강좌 및 외부강좌 신청자 정보</td> 
<td>경제교육실 <br>
 경제교육운영팀</td> 
<td>02-759-5369<br>
 <a href="mailto:eduman@bok.or.kr">eduman@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>14</td> 
<td>정보공개 신청자 정보</td> 
<td>커뮤니케이션국 <br>
 커뮤니케이션운영팀</td> 
<td>02-759-5166, 5196<br>
 <a href="mailto:bokkm@bok.or.kr">bokkm@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>15</td> 
<td>대량주화교환신청자</td> 
<td>발권국 <br>
 발권기획팀</td> 
<td>02-759-5350</td> 
</tr> 
<tr> 
<td>16</td> 
<td>한국은행 예산낭비 사례 신청자 정보</td> 
<td>인사경영국 <br>
 인사제도팀</td> 
<td>02-759-5185, 5576</td> 
</tr> 
<tr> 
<td>17</td> 
<td>화폐박물관 개인관람 예약<br>
 신청자 정보</td> 
<td>커뮤니케이션국 <br>
 화폐박물관팀</td> 
<td>02-759-4227<br>
 <a href="mailto:museum@bok.or.kr">museum@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>간행물관리<br>
 시스템</td> 
<td>18</td> 
<td>간행물 배포대상자 정보</td> 
<td>커뮤니케이션국<br>
 뉴미디어팀</td> 
<td>02-759-5350<br>
 <a href="mailto:bokpr@bok.or.kr">bokpr@bok.or.kr</a></td> 
</tr> 
<tr> 
</tr> 
<tr> 
</tr> 
<tr> 
<td class="tac" rowspan="2">전자도서관<br>
 dl.bok.or.kr</td> 
<td>19</td> 
<td>한국은행 도서관 방문신청자 정보</td> 
<td>커뮤니케이션국<br>
 정보자료반</td> 
<td>02-759-4284<br>
 <a href="mailto:libinfor1@bok.or.kr">libinfor1@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>20</td> 
<td>퇴직임직원용 전자도서관 이용자 정보</td> 
<td>커뮤니케이션국<br>
 정보자료반</td> 
<td>02-759-4284<br>
 <a href="mailto:libinfor1@bok.or.kr">libinfor1@bok.or.kr</a></td> 
</tr> 
<tr> 
<td rowspan="3">경제통계시스템<br>
 ecos.bok.or.kr</td> 
<td>21</td> 
<td>API 요청회원 정보</td> 
<td>경제통계국 <br>
 통계정보팀</td> 
<td>02-759-5375<br>
 <a href="mailto:ecos@bok.or.kr">ecos@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>22</td> 
<td>홈페이지 게시판 이용자 정보</td> 
<td>경제통계국 <br>
 통계정보팀</td> 
<td>02-759-5375<br>
 <a href="mailto:ecos@bok.or.kr">ecos@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>23</td> 
<td>홈페이지 회원 정보</td> 
<td>경제통계국 <br>
 통계정보팀</td> 
<td>02-759-5375<br>
 <a href="mailto:ecos@bok.or.kr">ecos@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>전자설문시스템</td> 
<td>24</td> 
<td>전자설문 일반회원 정보</td> 
<td>경제통계국<br>
 통계정보팀</td> 
<td>02-759-5375<br>
 <a href="mailto:ecos@bok.or.kr">ecos@bok.or.kr</a></td> 
</tr> 
<tr> 
<td rowspan="2">출입자관리<br>
 시스템</td> 
<td rowspan="2">25</td> 
<td rowspan="2">방문객 출입자 정보</td> 
<td>안전관리실<br>
 안전운영팀</td> 
<td>02-759-4827<br>
 <a href="mailto:dona@bok.or.kr">dona@bok.or.kr</a></td> 
</tr> 
<tr> 
<td>강남본부총무팀</td> 
<td>02-560-1023, 1100<br>
 <a href="mailto:bokateam@bok.or.kr">bokateam@bok.or.kr</a></td> 
</tr> 
</tbody>
</table></div></div></li> 
<li></li> 
<li></li> 
<li></li> 
<li>② 정보주체는 제1항의 부서 이외에 개인정보보호위원회의 개인정보보호 종합지원 포털(<a href="http://www.privacy.go.kr">www.privacy.go.kr</a>)을 통하여서도 개인정보의 열람, 정정&middot;삭제, 처리정지 등의 권리를 행사할 수 있습니다.<br>
 ※ 개인정보보호위원회 개인정보보호 종합지원 포털(<a href="http://www.privacy.go.kr">www.privacy.go.kr</a>) &rarr; 개인정보 민원 &rarr; 개인정보 열람 등 요구 (공공아이핀을 통한 실명인증 필요)</li> 
</ul>
<p>③ 제1항에 따른 권리 행사는 한국은행에 대해 「개인정보 보호법 시행령」 제41조 제2항 및 제43조 제1항, 제44조 제1항에 따라 &lt;별지 서식 1&gt;에 따른 요구서를 작성한 후 서면, 전자우편, 모사전송(FAX) 또는 홈페이지 제출 등을 통하여 하실 수 있으며, 한국은행은 이에&nbsp;<br>
 &nbsp;&nbsp;&nbsp;&nbsp;대해&nbsp;지체&nbsp;없이 조치하겠습니다.&nbsp;<br>
 &nbsp;&nbsp;&nbsp;&nbsp;※ 한국은행 홈페이지(<a href="http://www.bok.or.kr">http://www.bok.or.kr</a>)&nbsp; &rarr; 보도&middot;참여마당&nbsp; &rarr; 민원&nbsp; &rarr; 민원신청&nbsp; &rarr; 일반민원 신청 (로그인 필요)<br></p>
<ul class="referList"> 
<li>④ 제1항 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여도 하실 수 있습니다. 이 경우 제1항에서 요구하는 서식과 함께 <strong>&lt;별지 서식 2&gt;<a class="b-down xs" href="/portal/cmmn/file/fileDown.do?atchFileId=FILE_000000000001603&amp;fileSn=5">다운로드</a></strong>를 제출하셔야 합니다.</li> 
<li>⑤ 제1항부터 제4항까지의 방침에도 불구하고 개인정보의 열람, 삭제 또는 처리정지는 「개인정보 보호법」 제35조 제4항, 제36조 제1항 단서&nbsp;또는 제37조 제2항 단서에 의하여 제한 될 수 있습니다.</li> 
<li>⑥ 한국은행은 정보주체 권리에 따른 열람의 요구, 정정&middot;삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.<br></li> 
</ul>
<h2>제7조(개인정보의 파기)</h2>
<ul class="referList"> 
<li>① 한국은행은 개인정보 보유기간의 경과 또는 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.</li> 
<li>② 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 「공공기록물 관리에 관한 법률」을 포함한 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보(또는 개인정보파일)를 별도의 데이터베이스(DB)로 옮기거나 보관 장소를 달리하여 보존합니다.</li> 
<li>③ 개인정보 파기의 절차 및 방법은 다음 각 호와 같습니다. 
<ul> 
<li>1. 파기절차 : 한국은행은 파기 사유가 발생한 개인정보(또는 개인정보파일)을 선정하고, 개인정보 보호책임자의 승인을 받아 개인정보(또는 개인정보파일)을 파기합니다.</li> 
<li>2. 파기방법 : 한국은행은 전자적 파일 형태로 기록&middot;저장된 개인정보는 기록을 재생할 수 없도록 로우 레벨 포멧(Low Level Format) 등의 방법을 이용하여 파기하며, 종이 문서에 기록&middot;저장된 개인정보는 분쇄기로 분쇄하거나 소각하는 등의 방법으로 파기합니다.</li>
</ul></li> 
</ul>
<h2>제8조(개인정보의 안전성 확보조치)</h2>
<ul class="referList"> 
<li>① 한국은행은 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다. 
<ul> 
<li>1. 관리적 조치 : 내부관리계획 수립&middot;시행, 정기적 직원 교육 등</li> 
<li>2. 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치</li> 
<li>3. 물리적 조치 : 비인가자에 대한 전산실, 자료보관실 등의 접근통제</li>
</ul></li> 
</ul>
<h2>제9조(개인정보 자동 수집 장치의 설치&middot;운영 및 거부에 관한 사항)</h2>
<p>한국은행은 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 &lsquo;쿠키(cookie)&rsquo;를 사용하며 쿠키의 정의, 사용목적, 쿠키의 설치&middot;운영 및 거부 방법은 다음 각 호와 같습니다.</p>
<ul class="referList"> 
<li>1. 쿠키의 정의 :&nbsp;쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자(정보주체)의 컴퓨터 브라우저에 보내는 소량의 정보이며 이용자(정보주체) 컴퓨터 내의 하드디스크에&nbsp;저장되기도 합니다.</li> 
<li>2. 쿠키의 사용목적 : 이용자(정보주체)가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.</li> 
<li>3. 쿠키의 설치&middot;운영 및 거부 : 웹브라우저 상단의 [도구]&rarr;[인터넷 옵션]&rarr;[개인정보] 메뉴의 옵션 설정을 통해 쿠키 저장을 거부할 수 있습니다. 단, 쿠키 저장을 거부한 경우 홈페이지에서 제공하는 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</li> 
</ul>
<h2>제10조 (개인정보 보호책임자 및 보호담당자)</h2>
<ul class="referList type"> 
<li>① 한국은행은 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 개인정보 보호책임자 및 보호담당자를 다음 각 호와 같이 지정하고 있습니다. 
<ul> 
<li>1. 한국은행 개인정보 보호책임자 : 전산정보국장</li> 
<li>2. 한국은행 개인정보 보호담당자 : 정보보호팀장</li> 
<li>3. 한국은행 개인정보 보호 담당부서 : 정보보호팀 (전화)02-560-1346 (팩스)02-560-1107 (이메일)bokprivacy@bok.or.kr<br></li>
</ul></li> 
<li>② 정보주체께서는 한국은행의 서비스(또는 사업)를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호 담당부서로 문의하실 수 있습니다.</li> 
</ul>
<h2>제11조 (추가적인 이용&middot;제공 판단기준)</h2>
<p>한국은행은 「개인정보 보호법」 제15조제3항 및 제17조제4항에 따라 「개인정보 보호법 시행령」 제14조의2에 따른 사항을 고려하여 정보주체의 동의 없이 개인정보를 추가적으로 이용&middot;제공할 수 있습니다.<br>
 이에 따라 한국은행은 정보주체의 동의 없이 추가적인 이용&middot;제공을 하기 위해서 다음 각 호 사항을 고려하였습니다.<br></p>
<ul> 
<li>1. 개인정보를 추가적으로 이용&middot;제공하려는 목적이 당초 수집 목적과 관련성이 있는지 여부</li> 
<li>2. 개인정보를 수집한 정황 또는 처리 관행에 비추어 볼 때 추가적인 이용&middot;제공에 대한 예측 가능성이 있는지 여부</li> 
<li>3. 개인정보의 추가적인 이용&middot;제공이 정보주체의 이익을 부당하게 침해하는지 여부</li> 
<li>4. 가명처리 또는 암호화 등 안정성 확보에 필요한 조치를 하였는지 여부</li> 
<li><br></li> 
</ul>
<h2>제12조(개인정보 열람청구)</h2>
<p>정보주체는 「개인정보 보호법」 제35조에 따른 개인정보의 열람 청구를 아래의 부서에서 할 수 있습니다. 한국은행은 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.</p>
<ul> 
<li>1. 개인정보 열람청구 접수&middot;처리 부서 : 정보보호팀</li> 
<li>2. 연락처 : (전화)02-560-1341 (팩스)02-560-1107 (이메일) bokprivacy@bok.or.kr</li> 
<li><br></li> 
</ul>
<h2>제13조(권익침해 구제방법)</h2>
<p>정보주체는 개인정보침해로 인한 구제를 받기 위하여 한국인터넷진흥원 개인정보 침해신고센터, 개인정보분쟁조정위원회 등에 분쟁 해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.</p>
<div class="table"> 
<table> 
<caption>권익침해 구제방법</caption> 
<tbody> 
<tr> 
<th class="NamoSE_border_show">개인정보 침해신고센터<br>
 (한국인터넷진흥원 운영)</th> 
<td>
<ul> 
<li>소관업무 :개인정보 침해사실 신고, 상담 신청</li> 
<li>홈페이지 :<a href="http://privacy.kisa.or.kr/">http://privacy.kisa.or.kr</a></li> 
<li>전화 :(국번 없이) 118</li> 
<li>주소 :(58324) 전남 나주시 진흥길 9(빛가람동 301-2) 3층 개인정보침해신고센터</li> 
</ul> </td> 
</tr> 
<tr> 
<th class="NamoSE_border_show" scope="row">개인정보 분쟁조정위원회</th> 
<td>
<ul> 
<li>소관업무 :개인정보 분쟁조정신청, 집단분쟁조정 (민사적 해결)</li> 
<li>홈페이지 :<a href="http://www.kopico.go.kr/">http://www.kopico.go.kr</a></li> 
<li>전화 :(국번 없이) 1833-6972</li> 
<li>주소 :(03171)서울특별시 종로구 세종대로 209 정부서울청사 4층</li> 
</ul> </td> 
</tr> 
<tr> 
<th class="NamoSE_border_show" scope="row">대검찰청</th> 
<td>
<ul> 
<li>홈페이지 :<a href="http://www.spo.go.kr/">http://www.spo.go.kr</a></li> 
<li>전화 : (국번 없이) 1301</li> 
</ul> </td> 
</tr> 
<tr> 
<th class="NamoSE_border_show" scope="row">경찰청</th> 
<td>
<ul> 
<li>홈페이지 :<a href="http://cyberbureau.police.go.kr/">http://cyberbureau.police.go.kr</a></li> 
<li>전화 :(국번 없이) 182</li> 
</ul> </td> 
</tr> 
</tbody> 
</table> </div>
<p><br></p>
<p>「개인정보 보호법」 제35조(개인정보의 열람), 제36조(개인정보의 정정&middot;삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.</p>
<p><br></p>
<p>※ 행정심판에 대해 자세한 사항은 중앙행정심판위원회(www.simpan.go.kr) 홈페이지를 참고하시기 바랍니다.</p>
<p><br></p>
<h2>제14조(개인정보 처리방침 변경)</h2>
<ul class="referList"> 
<li>① 이 개인정보 처리방침은 2022. 4. 29.부터 적용됩니다.</li> 
<li>② 이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다.</li> 
<ul class="list"> 
<li>2020.05.17 ~ 2022.04.28. 적용 <a href="/static/view/popup/200235_popup7.html" class="b-pop b-go xs" data-size="900, 600, yes" target="_blank" title="새창열림">바로가기</a></li> 
<li>2020.04.03 ~ 2021.05.16. 적용 <a href="/static/view/popup/200235_popup6.html" class="b-pop b-go xs" data-size="900, 600, yes" target="_blank" title="새창열림">바로가기</a></li> 
<li>2018.03.13 ~ 2020.04.02. 적용 <a href="/static/view/popup/200235_popup5.html" class="b-pop b-go xs" data-size="900, 600, yes" target="_blank" title="새창열림">바로가기</a></li> 
<li>2016.09.01 ~ 2018.03.12. 적용 <a href="/static/view/popup/200235_popup4.html" class="b-pop b-go xs" data-size="900, 600, yes" target="_blank" title="새창열림">바로가기</a></li> 
<li>2015.08.01 ~ 2016.08.31. 적용 <a href="/static/view/popup/200235_popup1.html" class="b-pop b-go xs" data-size="900, 600, yes" target="_blank" title="새창열림">바로가기</a></li> 
<li>2012.04.01 ~ 2015.07.31. 적용 <a href="/static/view/popup/200235_popup2.html" class="b-pop b-go xs" data-size="900, 600, yes" target="_blank" title="새창열림">바로가기</a></li> 
<li>2012.04.01 이전 적용 <a href="/static/view/popup/200235_popup3.html" class="b-pop b-go xs" data-size="900, 600, yes" target="_blank" title="새창열림">바로가기</a></li> 
</ul> 
</ul>
</body>
</html>