#wrap {
	position: relative;	
	padding-top: $m-header-height;
	@include breakpoint($lg){
		padding-top: $header-height;
	}
}


// #main-container {
// 	> .content {
// 		width: 1405px;
// 		max-width: 100%;
// 		margin: 0 auto;
// 		&.wild-content {
// 			width: 100%;
// 		}
// 	}
// }

body.gnbOver {
	&::before {
		content: "";
		display: inline-block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
	}
}

.container {
	width: 100%;
	max-width: $pc-wide;
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	//@include breakpoint(min-width 1720px) {
	@include breakpoint(min-width 1480px) {
		margin-left: auto;
		margin-right: auto;
	}
	@include breakpoint($sm){
		margin: 0;
	}
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	//background-color: $point;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #E6E6E6;
	.container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		//height: $header-height;
		width: 100%;
		//max-width: 1920px;
		max-width: 1824px;		
		margin: 0 auto;
		padding: 0 10px;
		@include breakpoint($smd){
			padding-left: 10px;
			padding-right: 10px;
		}
	}	
	.globalHeader {	
		display: none;	
		@include breakpoint($lg){
			display: block;
			.container {
				display: flex;
				justify-content: space-between;
				max-width: 1824px;
				//max-width: 1920px;
				border-bottom: 1px solid #E6E6E6;
				height: 50px;
				line-height: 50px;
				@include breakpoint($smd){
					padding-left: 48px;
					padding-right: 48px;
				}
				ul {
					//max-width: calc(1920px - 192px);
					display: flex;
					flex-direction: row;
					flex-grow: 1;
					//border-bottom: 1px solid rgba(255, 255, 255, 0.2);					
					li {
						& + li {
							&::before {
								content: "";
								display: inline-block;
								vertical-align: middle;
								width: 1px;
								height: 14px;
								//background-color: rgba(255, 255, 255, 0.2);
								background-color: rgba(0, 85, 150, 0.3);
							}
						}
					}
					a {
						//color: #fff;
						//color: #004274;
						color: $color-point;
						display: inline-block;
						font-size: 15px;
						font-weight: 500;
						padding: 0 9px;		
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}			
		}
	}
	.logo {
		display: inline-block;
		vertical-align: middle;
		a {
			display: block;
			background: url(/static/eng/img/common/logo.png) 50% no-repeat;
			width: 208px;
			height: 52px;
			@include breakpoint($sm){
				background-position: 0 50%;
			}
		}
	}
	.g-info {
		display: flex;
		align-items: center;
		.global {
			display: none;
		}		
		@include breakpoint($lg){
			.global {
				display: flex;
				align-items: center;
				ul {
					display: flex;
					align-items: center;
					white-space: nowrap;
					li {
						// a {
						// 	color: $black;
						// }
						//로그인후
						.userInfoOpBxSet {
							padding: 3px 0;
							position: relative;
							.userInfoOpener {
								border-radius: 30px;
								//background: #fff;
								display: inline-block;
								padding: 1px 10px;
								//color: $point;
								font-size: 14px;
							}
							.userInfoOpBx {
								display: none;
								width: 280px;
								position: absolute;
								top: 37px;
								left: -100%;
								margin-left: -80px;
								border: 1px solid #3B63C4;
								border-radius: 5px;
								padding: 24px;
								box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
								background-color: #fff;
								z-index: 99;
								&.on {
									display: block;
								}
								.userInfoSnsBx {
									display: flex;
									//justify-content: space-between;
									align-items: center;
									.infoTxts {
										margin-left: 14px;
										line-height: 1.2;
										strong {
											font-weight: 500;
										}
									}
									i {
										text-align: center;
										display: inline-block;
										width: 64px;
										height: 64px;
										line-height: 64px;
										border-radius: 50%;
										background-color: #B1C1E7;
										&::before {
											@include font-ico('\e7fd');
											font-size: 35px;
											color: #fff;
											margin-top: 14px;
										}
									}
								}
								.myLogoutBx {
									margin-top: 15px;
									display: flex;
									justify-content: space-between;
									a {
										text-align: center;
										width: calc(50% - 2px);
										display: block;
										color: #fff;
										font-size: 14px;
										font-weight: 300;
										border-radius: 4px;
										padding: 4px;
										line-height: initial;
										&.mypg {
											background-color: $color-point;
											&::before {
												content: "";
												display: inline-block;
												vertical-align: middle;
												width: 21px;
												height: 20px;
												background: url(/static/eng/img/ico/ico-person_edit.png);
												margin-right: 4px;
											}
										}
										&.logout {
											background-color: #4D4D4D;
											&::before {
												@include font-ico-outline('\e9ba');
												font-size: 18px;
												margin-right: 4px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.toggle-set {
		display: flex;
		align-items: center;
		.all-nav-toggle {
			width: 48px;
			height: 48px;
			margin: 0 20px;
			&::before {
				@include font-ico-outline('\e5d2');
				color: $color-point;
				font-size: 39px;
			}
			@include breakpoint($smd){
				// display: none;
				position: absolute;
				top: 0;
				right: 60px;
				width: 60px;
				height: 60px;
				margin: 0;
			}
		}
		> .search {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			z-index: 9;
			background-color: $color-point;
			&::before  {
				@include font-ico-outline("\e8b6");
				color: #fff;
				font-size: rem(24);
			}
			&:focus {
				@include focus;
			}
		}	
	}
}

//게시판일 경우 비주얼 영역 예외처리
.bd-body {
	.hgroup {
		//@include hide();
		font-size: rem(20);
	}
	.navigation {
		.sub-_visual {
			div {
				padding-top: 48px;
				h1 {
					font-weight: 600;
				}
			}
		}
	}
	#main-container h2 {
		color: $black;
	}
	.bd-view {		
		@include breakpoint($lg){
			margin-top: -156px;
		}
		.subject {
			width: 100%;
			@include ellipsis();
			margin-bottom: 0 !important;
		}
		.dataInfoSet .keyword a {
			background-color: #fff;
		}
	}
}

// 일반형 게시판 상세 페이지일 경우
.bd-view_wrap {
	.hgroup {
		border-bottom: none;
		padding-bottom: 0;
		margin: 40px 0 0;
		@include breakpoint($sm){
			margin: 0;
			padding: 0 0 15px;
		}
		h1 {
			color: $point;
			font-size: rem(20);
			font-weight: 700;
			@include breakpoint($sm){
				text-align: left;
				margin: 0 10px;				
			}
		}
	}
}
// 블로그형
.bd-blog_wrap {
	.hgroup {
		border-bottom: none;
		padding-bottom: 0;
		margin: 40px 0 0;
	}
}
#content {
	margin-top: 36px;
	@include breakpoint($sm){
		margin-top: 20px;
	}
	.hgroup { //기존 소스 삭제
		display: none;
	}
}

// .hgroup {
// 	position: relative;
// 	display: flex;
// 	justify-content: space-between;
// 	margin: 50px 0 30px;
// 	border-bottom: 2px solid #222;
// 	padding-bottom: 30px;
// 	@include breakpoint($sm){
// 		margin: 0 10px 15px;
// 		padding-bottom: 0;
// 	}
// 	h1 {
// 		display: block;
// 		font-size: rem(48);
// 		color: $point;
// 		font-weight: 600;
// 		font-family: 'Spoqa Han Sans Neo Bold';
// 		width: calc(100% - 140px);
// 		@include breakpoint($sm){
// 			width: 100%;
// 			font-size: rem(36);
// 			text-align: center;
// 			padding: 20px 0 18px;
// 		}
// 	}
// }
.page-toolbar {	
	position: relative;
	display: flex;
	align-items: center;
	@include breakpoint($smd){
		display: none;
	}
	.sns-toggle {
		width: 60px;
		height: 60px;
		border: 1px solid #666;
		border-radius: 50%;
		&::before {
			@include font-ico('\e80d');
			font-size: 26px;
			color: #666;
		}
	}
	.sns-wrap {	
		display: none;		
		&.active {
			display: block;
			width: 48px;
			position: absolute;
			top: 12px;
			left: 0;
			z-index: 99;
			.sns-wrap__set {
				width: 48px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				border-radius: 30px;
				border: 1px solid #666;
				background-color: #fff;
				padding: 10px 0;
				button {
					width: 48px;
					height: 36px;
					margin: 0 auto;	
					& + button {
						margin-top: 7px;
					}
					&::before {
						content: "";
						display: inline-block;
						width: 36px;
						height: 36px;
						background-position: 50%;
						background-repeat: no-repeat;
					}
					&.close {
						height: 30px;
						&::before {
							@include font-ico-outline('\e5cd');
							font-size: 26px;
						}
					}
				}
			}
		}
	}
	.page-print {	
		width: 60px;
		height: 60px;
		background: url(/static/eng/img/ico/ico-print.svg) 50% no-repeat;
		margin-left: 6px;
		margin-right: 10px;
	}
	.page-rss {	
		width: 60px;
		height: 60px;
		&::before {
			@include font-ico-outline('\e0e5');
			font-size: 40px;
			color: #666;
		}
	}
}

#main-container {
	position: relative;
	clear: both;
	width: $pc-wide;
	max-width: 100%;
	//min-height: calc(100vh - 246px - 196px - 80px);
	@include clearfix();
	// > main {
	// 	@include breakpoint($lg){
	// 		float: right;
	// 		width: per(1336px, $pc-wide);
	// 		border-left: 1px solid $bd-color;
	// 		padding-left: 34px;
	// 	}
	// }
	@include breakpoint($sm){
		padding: 0 10px;
	}
	@include breakpoint($lg){
		.lnb-nav + .content,
		.sh-db + .content {
			float: right;
			//border-left: 1px solid $bd-color;
			padding-left: 35px;
		}
		.lnb-nav + .content {
			//width: per(1165px, $pc-wide);
			position: relative;
			width: calc(100% - 240px - 35px);
		}
		.sh-db + .content {
			//width: per(1441px, $pc-wide);
			position: relative;
			//width: per(1200px, $pc-wide);
			width: calc(100% - 204px - 35px);
		}
	}	
}

/* 전체메뉴 */
.total-nav {
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	// right: 0;
	// bottom: 0;
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0,0.7);
	z-index: 100;
	// overflow: auto !important;
	display: none;
	&.in {
		&::before {
			background: none !important;
		}
	}
	.modal-dialog {
		overflow: hidden;
		max-width: 1600px;
		max-height: calc(100vh - 160px);
		@include breakpoint($sm) {
			max-height: calc(100vh - 40px);
		}
	}
	.modal-dialog,
	.modal-content {
		width: 100%;
		// min-width: 100vh;
		// min-height: 100vh;
		height: 100%;
		background-color: #fff;
		border: 0;
		border-radius: 0;
	}
	// .container {
	// 	max-width: 1680px !important;   
	// 	margin: 0 auto;
	// 	padding: 0 10px !important;
	// }
	.modal-header {
		background: #F6F6F6;
		padding: 24px 38px;
		border-radius: 0;
		.modal-title {
			display: flex;
			align-items: center;
			gap: 0 24px;
			color: $color-point;
		}
		.totalnav-logo {
			display: flex;
			position: relative;
			width: 160px;
			height: 52px;
			background: url(/static/eng/img/common/logo-totalNav.png) center center no-repeat;
			margin-right: 24px;
			&::before {
				content: "";
				position: absolute;
				display: block;
				width: 1px;
				height: 36px;
				background: $color-point;
				top: 50%;
				right: -24px;
				transform: translateY(-50%);
			}
		}
		.close {
			position: absolute;
			top: 0;
			right: 10px;
			width: 48px;
			height: 48px;
			&::before {
				content: "\e5cd";
				font-family: "Material Icons Outlined";
				font-weight: normal;
				font-style: normal;
				display: inline-block;
				line-height: 1;
				vertical-align: text-bottom;
				text-transform: none;
				letter-spacing: normal;
				word-wrap: normal;
				white-space: nowrap;
				-webkit-font-smoothing: antialiased;
				text-rendering: optimizeLegibility;
				-moz-osx-font-smoothing: grayscale;
				font-feature-settings: "liga";
				font-size: 40px;
				color: #000;
			}
		}
		.keyword-set {
			width: 320px;
			margin-right: 88px;
			display: flex;
			align-items: center;
			background-color: #fff;
			border: 1px solid #e5e5e5;
			border-radius: 4px;
			@include breakpoint($sm){
				width: 100%;
				margin-top: 4px;
				//flex-basis: calc(100% - 100px - 2px);
			}
			.keyword {
				width: calc(100% - 24px - 8px);	
				input[type=text] {
					width: 100%;
					border: 0;
					height: 48px;
					padding: 10px 16px;
					color: #1a1a1a;
					@include breakpoint($sm){
						padding: 5px 16px;
						height: 40px;
					}
				}
			}		
			.search {
				width: 48px;
				height: 48px;
				text-align: center;
				// @include breakpoint($sm){
				// 	width: 40px;
				// 	height: 40px;
				// }
				&::before {
					@include font-ico-outline('\e8b6');
					font-size: 26px;
					color: #222;
				}
			}
		}
	}
	.modal-body {
		padding: 50px 0;
		.container {
			max-width: 1680px;
			align-items: stretch !important;
			justify-content: flex-start !important;
			flex-wrap: wrap;
			gap: 0 30px;
		}
		.highlight {
			display: inline-block;
			padding: 0 2px;
			margin-right: 2px;
			background: #FFE100;
		}
		.dp1 {
			flex: 1;
			> li {
				font-size: rem(28);
				font-weight: 500;
				> a {
					color: #333333;
					@include breakpoint($sm) {
						display: none;
					}
				}
				> a.m-dp1 {
					display: none;
					@include breakpoint($sm) {
						display: inline-block;
					}
				}
			}
		}
		.dp2 {
			margin-top: 24px;
			> li {
				font-size: rem(20);
				padding: 6px 0;
				> a {
					color: #26447D;
				}
			}
		}
		.dp3 {
			margin-top: 6px;
			> li {
				position: relative;
				font-size: rem(18);
				padding: 4px 0 4px 4px;
				&::before {
					content: "";
					display: inline-block;
					position: absolute;
					top: 16px;
					left: 4px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: #3E7CC8;
				}
				> a {
					display: inline-flex;
					align-items: flex-start;
					padding-left: 16px;
					color: #4D4D4D;
				}
				&.dropdown {
					padding: 4px 28px 4px 4px;
					> a {
						position: relative;
						// display: inline-flex;
						align-items: center;
						color: #4d4d4d;
						i {
							position: absolute;
							top: 4px;
							right: -25px;
							display: inline-block;
							width: 20px;
							height: 20px; 
							margin-left: 8px;
							// transform: translateY(4px);
							background: url(/static/eng/img/ico/ico-dropdown-down.png);
						}
					}
					&.on {
						> a  {
							color: $color-point;
							i {
								background: url(/static/eng/img/ico/ico-dropdown-up.png);
							}
						}
						> .dp4 {
							display: block;
						}
					}
				}
				
			}
		}
		.dp4 {
			display: none;
			> li {
				position: relative;
				font-size: rem(16);
				padding: 4px 0 4px 16px;
				&::before {
					content: "- ";
					display: inline-block;
					margin-right: 4px;
					font-size: rem(16);
					
				}
				> a {
					color: #4D4D4D;
					font-weight: 400;
				}
			}
			
		}
	}

	// display: none;
	// @include breakpoint($lg){
	// 	&.active {
	// 		display: block;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		width: 100%;
	// 		z-index: 99;
	// 		background-color: rgba(0, 0, 0, 0.6);
	// 		section {
	// 			display: flex;
	// 			justify-content: center;
	// 			align-items: center;
	// 			height: 100vh;
	// 			> div { //임시
	// 				position: relative;
	// 				padding: 30px;
	// 				background-color: #fff;
	// 				.nav {
	// 					> ul {
	// 						display: flex;
	// 						flex-wrap: wrap;
	// 						flex-direction: row;
	// 						width: 1000px;
	// 						max-width: 100%;
	// 						margin: 0 auto;
	// 						> li {
	// 							width: calc(100% / 5);
	// 						}
	// 						strong {
	// 							display: none;
	// 						}
	// 					}
	// 					.depth4 {
	// 						display: none;
	// 					}
	// 				}
	// 			}
	// 		}
	// 		button {
	// 			position: absolute;
	// 			top: 0;
	// 			right: -40px;
	// 			&::before {
	// 				color: #fff;
	// 				font-size: 30px;
	// 			}
	// 		}
	// 	}
	// }
	// .e {
	// 	display: none;
	// }
}
// .total-nav.active {
// 	display: block !important;
// 	opacity: 1 !important;
// }
.total-nav.in {
	display: flex !important;
	padding: 0 10px !important;
}
@include breakpoint($smd) {
	.total-nav {
		// overflow: auto !important;
		.modal-dialog,
		.modal-content {
			min-width: auto;
		}
		.modal-header {
			padding: 20px 0;
		}
		.modal-body {
			padding:  30px 0;
			.container {
				display: grid !important;
				grid-template-columns: repeat(3, 1fr);
				flex-wrap: wrap;
				gap: 16px 0;
				.dp1 {
					//width: calc(33.33% - 30px);	
					flex: none;
				}
			}
		}
		
	}
}
@include breakpoint($sm) {	
	.total-nav {
		.modal-header {
			.totalnav-logo {
				width: 140px;
				height: 45.5px;
				background-size: contain;
			}
			.modal-title {
				font-size: rem(24);
			}
		}
		.container {
			flex-direction: column;
			align-items: flex-start !important;
			form {
				width: 100%;
				margin-top: 10px;
			}
		}
		.keyword-set {
			width: 100%;
			margin-top: 4px;
			input[type=text] {
				padding: 5px 16px;
				height: 40px;
			}
		}
		.modal-body {
			.container {
				grid-template-columns: repeat(1, 1fr);
			}
			.dp1 > li{
				font-size: rem(24);
			}
			.dp2 {
				margin-top: 10px;
				margin-bottom: 40px;
				> li {
					font-size: rem(20);
				}
			}
			.dp3 > li {
				font-size: rem(18);
			}
		}
		
	}
}

// 전체메뉴 모바일
.total-nav {
	&.m-total-nav {
		.dp1 {
			> li {
				&.on {
					> a > span {
						&::before {
							background: url(/static/eng/img/ico/ico-dropdown-up.png);
						}
					}
					.dp2 {
						display: block;
					}
				}
				> a > span {
					position: relative;
					&::before {
						content: "";
						position: absolute;
						top: 4px;
						right: -25px;
						display: inline-block;
						width: 20px;
						height: 20px;
						margin-left: 8px;
						background: url(/static/eng/img/ico/ico-dropdown-down.png);
					}
				}
			}
			.dp2 {
				display: none;
			}
		}
	}
}



.goTop {
	//.gnb-stiky & {
	//	bottom: 50px;
	//}
	position: fixed;
	bottom: 190px;
	right: 30px;
	z-index: 9;
	a {
		display: block;
		width: 40px;
		height: 40px;
		background-image: url(/static/eng/img/common/btn_top.png);
		background-size: 40px 40px;
		@include breakpoint($lg){
			width: 48px;
			height: 48px;
			background-size: 48px 48px;
		}
	}	
}

//만족도
.admin-set {	
	clear: both;
	width: 100%;
	padding-top: 60px;
	@include breakpoint($smd){
		padding-top: 20px;
	}
	.satisfact {
		position: relative;		
		display: flex;
		border-radius: 8px;
		border: 1px solid #BFBFBF;
		@include breakpoint($smd){
			display: block;
		}
		.title {
			text-align: center;
			width: 242px;
			background-color: #FAFAFA;
			border-radius: 8px 0 0 8px;
			height: 64px;
			line-height: 64px;
			margin-bottom: 0;
			@include breakpoint($smd){
				width: 100%;
				text-align: left;
				height: 32px;
				line-height: 32px;
				padding: 0 18px;
				border-radius: 8px 8px 0 0;
				border-bottom: 1px solid #BFBFBF;
			}
			&::before {
				content: "";
				display: inline-block;
				vertical-align: text-bottom;
				width: 22px;
				height: 22px;
				background: url(/static/eng/img/common/ico_edit_square.png) 50% no-repeat;
				margin-right: 8px;
				margin-bottom: 1px;
				@include breakpoint($sm){
					width: 15px;
					height: 15px;
					background-size: 15px;
				}
			}
		}
		.radio-group {
			display: flex;
			align-items: center;
			padding: 20px 30px;
			@include breakpoint($smd){
				display: block;
				padding: 10px 3px;
			}
			label {
				@include breakpoint($sm){
					&:first-child {
						margin-left: 14px;
					}
				}
				& + label {
					margin-left: 14px;
				}
			}
			input[type=radio] {	
				& + i + span {
					color: #4D4D4D;
					margin-left: 10px;
				}
				&:checked + i {
					& + span {
						font-weight: 500;
						color: $point;
						text-decoration: underline;
					}
				}
			}
			@include breakpoint($smd){
				label {
					width: 100%;
					margin: 3px 0;
				}
			}
		}
		button {
			position: absolute;
			top: 50%;
			right: 20px;
			margin-top: -16px;
			color: #fff;
			background-color: $point;
			border-radius: 4px;
			padding: 4px 14px;
			@include breakpoint($smd){
				top: auto;
				bottom: 10px;
			}
			&::before {
				@include font-ico-outline('\e5ca');
				font-size: 18px;
				color: #fff;
				margin-right: 5px;
				margin-bottom: 2px;
			}
			&:focus {
				outline: dashed 1px $black;
				outline-offset: 2px;
			}
		}
	}
	.info {
		margin-top: 10px;
		color: $black;
		dl {
			display: flex;
			justify-content: right;
			@include breakpoint($smd){
				justify-content: left;
			}
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 15px;
				height: 15px;
				background: url(/static/eng/img/ico/ico-call.png);
				margin: 5px 10px 0 0;
			}
			dt {
				&::after {
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: 1px;
					height: 14px;
					background-color: $black;
					margin: 0 14px;
				}
			}
			dd {
				&:last-child {
					margin-left: 12px;
				}
			}
		}
	}
}

//내가 본 콘텐츠
.my_memo {
	position: fixed;
	bottom: 250px;  //임시 위치
	right: 30px;
	z-index: 9;
	width: 200px;
	.btn {
		float: right;
		width: 40px;
		height: 40px;
		border: 1px solid #131547;
		border-radius: 50%;
		background-color: #fff;
		@include breakpoint($lg){
			width: 48px;
			height: 48px;
		}
		&::before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 40px;
			height: 40px;
			background: url(/static/eng/img/ico/ico-overview.png) 50% no-repeat;
			background-size: 17px 18px;
			@include breakpoint($lg){
				width: 48px;
				height: 48px;
				background-size: 19px 20px;
			}
		}
	}
	.top {
		margin-bottom: 10px;
		h2 {
			color: $black;
			font-size: rem(14) !important;
			font-weight: 400;
			display: block;
			padding-bottom: 10px;
			margin-bottom: 10px !important;
			border-bottom: 1px solid #BFBFBF;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 9;
			width: 30px;
			height: 30px;
			&::before {
				@include font-ico-outline("\e5cd");
				font-size: 20px;
				color: #354052;
			}
		}
	}
	.swiper {
		display: none;
		position: absolute;
		bottom: 52px;
		right: 0;
		z-index: 9;
		width: 100%;
		padding: 16px;
		background-color: #fff;
		border: 1px solid #131547;
		border-radius: 8px;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
		overflow: inherit;

		margin-left: auto;
		margin-right: auto;
		&.active {
		 	display: block;
		}
		.swiper_body {
			overflow: hidden;			
			.swiper-wrapper {
				width: 100%;
				max-height: 300px;
				margin-left: auto;
				margin-right: auto;
			}
			.swiper-slide {
				display: block;
				text-align: left;
				margin-bottom: 7px;
				span {
					display: block;
					&.i {
						color: #3B63C4;
						font-size: 12px;
					}
					&.txt {
						display: block;
						color: #333;
						font-size: 14px;
						height: 38px;
						@include line-clamp(2);
					}
				}
				&:focus {
					outline-offset: -1px;
				}
			}
		}
		.ctrl {
			width: 100%;
			text-align: center;
			margin-top: 4px;
			button {
				width: 30px;
				i {
					&::before {
						font-size: 22px;
						color: #1C1B1F;
					}
				}
			}
			&-prev {
				&::before {
					@include font-ico-outline('\e314');
				}
			}
			&-next {
				&::before {
					@include font-ico-outline('\e315');
				}
			}
			.swiper-pagination {
				position: static;
				width: auto;
				display: inline-block;
				vertical-align: middle;
				color: #808080;
				font-size: rem(14);
				&-current {
					color: $black;
				}
			}
		}
		.b-close {
			position: absolute;
			bottom: -53px;
			right: 0;
			z-index: 1;
			min-width: 40px;
			width: 40px;
			height: 40px;
			border: 1px solid #131547;
			border-radius: 50%;
			background: $point;
			@include breakpoint($lg){
				min-width: 48px;
				width: 48px;
				height: 48px;
			}
			&::before {
				@include font-ico("\e5cd");
				font-size: 24px;
				color: #fff;
				line-height: 38px;
				@include breakpoint($lg){
					line-height: 46px;
				}
			}
			&:focus {
				outline: 1px dashed #000;
				outline-offset: 2px;
			}
		}
	}
}

@mixin reference {
	dl {
		dt {
			color: $black;
			font-size: rem(18);
			font-weight: 500;
			margin-bottom: 6px;
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 20px;
				height: 20px;
			}
		}
	}
	.more {
		position: absolute;
		top: -3px;
		right: 0;
		z-index: 9;
		@include breakpoint($lg){
			top: 3px;
		}
		a {
			&::before {
				content: "";
				display: inline-block;
				width: 36px;
				height: 36px;
				background: url(/static/eng/img/submain/more.png);
			}
		}
	}
	// .more {
	// 	width: 100%;
	// 	text-align: center;
	// 	margin-top: 14px;
	// 	a {
	// 		color: #3B63C4;
	// 		&::before {
	// 			@include font-ico-outline('\e5cf');
	// 			font-size: 20px;
	// 			color: #3B63C4;
	// 			margin-right: 4px;
	// 		}
	// 	}
	// }
}

[class^=reference-] {
	position: relative;
	&:first-child {
		margin-top: 0;
		padding-top: 0;
	}
	& + [class^=reference-] {
		border-top: 1px solid #DCE2F1;
	}
}
.reference {	
	clear: both;
	margin-top: 30px;
	padding: 50px 120px;
	background-color: #F2F6FA;
	@include breakpoint($smd){
		padding: 16px;
		margin: 30px -10px 0;
	}
	&-data {
		@include reference();
		dl {
			dt {
				font-weight: 500;
				color: #222;
				margin-bottom: 20px;
				&::before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					background: url(/static/eng/img/ico/ico-export_notes.svg);
					margin: 0 6px 0 0;
				}
			}
			dd {
				@include breakpoint($sm){
					margin-right: -10px;
				}
				ul {
					display: flex;
					flex-wrap: wrap;
					margin: -12px -12px 0;
					@include breakpoint($smd){
						margin: -12px 0 0 -5px;
					}
					li {
						width: calc(100% / 4);
						padding: 12px;
						@include breakpoint($smd){
							width: 100%;
							padding: 3px 5px;
						}
					}
				}
				a {
					display: block;
					color: $black;
					background-color: #fff;
					border-radius: 8px;
					padding: 15px 15px;		
					@include breakpoint($smd){
						padding: 8px 12px;
						font-size: 12px;
					}			
					i {
						&::before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 24px;
							height: 24px;
							@include breakpoint($smd){
								width: 18px;
								height: 18px;
								background-size: cover;
							}
						}
						&.m {
							&::before {
								background-image: url(/static/eng/img/ico/ico_LinkedData1.svg);
							}
						}
						&.c {
							&::before {
								background-image: url(/static/eng/img/ico/ico_LinkedData2.svg);
							}
						}
						&.h {
							&::before {
								background-image: url(/static/eng/img/ico/ico_LinkedData3.svg);
							}
						}
					}
				}
			}
		}
		.lnb-nav & {
			border-top: 1px solid #E5E5E5;
			padding-top: 26px;
			margin-top: 28px;
			dl {
				dd {
					ul {
						margin: 0;
						li {
							width: 100%;
							padding: 0;
							a {
								width: 100%;
								display: block;
								padding: 7px 8px;
								background-color: #F2F6FA;
								border-radius: 8px;
								@include ellipsis;
								i {
									margin-right: 5px;
								}
							}
						}
					}
				}
			}
		}
	}
	&-news {
		margin-top: 20px;
		padding-top: 30px;		
		@include reference();		
		dl {
			position: relative;
			dt {
				&::before {	
					width: 21px;
					height: 19px;	
					background: url(/static/eng/img/ico/ico-data.svg);
					margin: 0 6px 0 0;					
				}
			}
			dd {
				@include breakpoint($smd){
					width: calc(100%  + 16px);
					overflow-x: auto;
					overflow-y: hidden;
				}
				ul {
					@include breakpoint($smd){
						width: max-content;
					}
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					margin: 0 -12px;
					li {
						width: calc(100% / 4);
						padding: 12px;
						@include breakpoint($smd){
							width: 270px;
						}
						a {
							display: block;
							span {
								display: block;
								&.t1 {
									color: $black;
									margin-bottom: 8px;
								}
								&.t2 {
									color: #666;
									font-size: rem(14);
								}
								&.t {
									color: #3B63C4;
									font-size: rem(14);
									margin-bottom: 4px;
								}
								&.title {
									max-height: 78px;
									@include line-clamp(3);
								}
								&.date {
									color: #666;
									font-size: rem(14);
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
	&-media {
		//border-top: 1px solid #DCE2F1;
		@include reference();
		margin-top: 25px;
		padding-top: 30px;				
		dl {
			dt {
				&::before {
					@include font-ico-outline('\e8a7');
					font-size: 22px;
					margin: 0 8px 4px 0;
				}
			}
			dd {
				@include breakpoint($smd){
					width: calc(100%  + 16px);
					overflow-x: auto;
					overflow-y: hidden;
				}			
				ul {
					padding-top: 12px;
					display: flex;
					flex-wrap: wrap;
					margin: -12px -12px 0;
					@include breakpoint($smd){
						width: max-content;
					}					
					li {
						width: calc(100% / 4);
						padding: 12px;
						@include breakpoint($smd){
							width: 270px;
						}
						a {							
							display: block;
							span {
								display: block;
								&.img {
									position: relative;
									padding-top: 62%;
									background-position: 50%;
									background-size: cover;
									background-repeat: no-repeat;
									border-radius: 8px;
									margin-bottom: 15px;
									&.media {
										&::before {
											content: "";
											display: inline-block;
											width: 40px;
											height: 40px;
											background-image: url(/static/eng/img/ico/ico-play.svg);
											position: absolute;
											top: 50%;
											left: 50%;
											margin-left: -20px;
											margin-top: -20px;
										}
									}
								}
								&.t {
									color: #3B63C4;
									font-size: rem(14);
								}
								&.tit {
									color: $black;
									@include line-clamp(2);
									height: 52px;
									margin: 5px 0 10px;
								}
								&.date {
									color: #666;
								}
							}
						}
					}
				}
			}
		}
	}
}


.search_wrap {
	display: none;
	&.active {
		display: block;
		position: fixed;
		top: 0;
		//top: -33px;
		left: 0;
		z-index: 99;
		width: 100%;
		background-color: #fff;
		//background-color: rgba(255, 255, 255, 0.9);
		padding: 80px 10px;
		backdrop-filter: blur(15px);
	}
	form {
		width: 720px;
		max-width: 100%;
		margin: 0 auto;
	}
	.search_wrap_input {
		position: relative;
		display: flex;
		justify-content: space-between;
		border: 4px solid $color-point;
		border-radius: 50px;
		background-color: #fff;
		padding: 15px 15px;
		.twitter-typeahead {
			width: 100%;
		}
		.search_keyword {
			border: 0;
			width: calc(100% - 70px);
			height: 40px;
			padding: 0 15px;
			&:focus {
				box-shadow: 0 0 5px #008fd4;
				outline: none;
			}
		}
		.btn_search {
			width: 60px;
			&::before {
				@include font-ico-outline("\e8b6");
				font-size: 30px;
				color: $color-point;
			}			
		}
		.tt-menu,
		.dqAuto {
			position: absolute;
			top: 74px;
			left: 0;
			z-index: 1;
			border: 1px solid #BDBCBC;
			border-width: 0 1px 1px;
			border-radius: 0 0 8px 8px;
			padding: 15px;
			background-color: #fff;
			margin: 0 30px;
			width: calc(100% - 60px);
			.autoList {
				max-height: 180px;
				overflow-y: auto;
				li {
					a {
						font-size: 16px;
						display: block;
						padding: 3px 8px;
						&:hover {
							background-color: #EBF3F7;
						}
					}
				}
			}
			.bottom {
				display: flex;
				justify-content: right;
				margin-top: 15px;
				background-color: #FAFAFA;
				padding: 8px;
				.btnClose {
					font-size: 14px;
					color: #6D6E72;
					&::before {
						@include font-ico('\e5c9');
						font-size: 21px;
						color: #6D6E72;
						margin-right: 3px;
					}
				}
			}
		}
	}
	.search_close {
		position: absolute;
		top: 25px;
		right: 25px;
		&::before {
			@include font-ico-outline('\e5cd');
			font-size: 40px;
			color: $black;
		}
	}
}

.content {
	margin-bottom: 30px;
	p {
		margin-bottom: 12px;
	}	
}



sup {
	color: $color-point;
    //top: 0;
	//font-size: 100%;
	//vertical-align: middle;	
	.table & {
		vertical-align: super;
		font-size: 75%;
		color: #39A0FF;
		top: 2px;
	}
}


// visibillity
.visible-xs, 
.visible-sm, 
.visible-md, 
.visible-lg { 
	display: none !important; 
}
.xs-block, 
.sm-block, 
.md-block { 
	display: inline; 
}

@include breakpoint($md) {
	//.visible-lg { display: inline-block !important; }
	.hidden-lg { display: none !important; }
	.visible-md {
		display: block !important;
	}
}
@include breakpoint($smd) {
	.hidden-smd { display: none !important; }
}
@include breakpoint($sm) {
	//.visible-sm { display: inline-block !important; }
	.hidden-sm { display: none !important; }

	.visible-sm {
		display: inline-block !important;
	}
	//.sm-block{display: inline-block !important;}
}

.help {
	&::before {
		@include font-ico-outline('\e88e');
	}
}
.help2 {
	color: $red;
	margin-top: 10px;
	margin-bottom: 5px !important;
	&::before {
		@include font-ico-outline('\e88e');
		font-size: 23px;
		margin: 0 5px 0 0;
	}
}
span.help3 {
	display: inline-block;
}
.help3 {
	display: block;
	position: relative;
	padding-left: 30px;
	color: #4D4D4D;
	font-size: rem(16);
	margin-top: 10px;
	margin-bottom: 5px !important;
	&::before {
		@include font-ico-outline('\e88e');
		font-size: 24px;
		margin-right: 8px;
		color: #4D4D4D;
		position: absolute;
		top: 1px;
		left: 0;
	}
	&.red {
		&::before {
			@include font-ico-outline('\e000');
			color: $red;
			margin-top: -1px;
		}
	}
}

//로딩바
.loading {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 600px;
	background: #fff;
	@include breakpoint($sm) {
		height: 400px;
	}
	// @include breakpoint($smd) {
	// 	height: 600px;
	// }
	.row {
		height: 100%;
		align-items: center;
		//justify-content: center;
		flex-direction: column;
		padding: 100px 0;
		@include breakpoint($sm) {
			padding: 30px 0;
		}
		p {
			font-size: rem(24) !important;
			color: #4d4d4d;
			@include breakpoint($sm) {
				font-size: rem(18) !important;
			}
			span {
				animation: dotOpacity 0.8s linear;
				animation-iteration-count: infinite;
				&:first-of-type {
					animation-delay: 1s;
				}
				&:nth-of-type(2) {
					animation-delay: 0.5s;
				}
				&:nth-of-type(3) {
					animation-delay: 0s;
				}
			}
		}
	}
}
@keyframes dotOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


// @include breakpoint($xs) {
// 	.visible-xs { display: inline-block !important; }
// 	.hidden-xs { display: none !important; }
// 	.xs-block{display: inline-block !important; width: 100%; }

// } 